/****** Object:  Table [dbo].[TB_M_WORKING_CALENDAR]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_WORKING_CALENDAR](
	[WORKING_CD] [int] NOT NULL,
	[WORKING_DATE] [date] NULL,
	[WORKING_FLAG] [bit] NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[WORKING_VARIABLE] [varchar](10) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[TUKAR_HARI] [bit] NULL,
 CONSTRAINT [PK_TB_M_WORKING_CALENDAR] PRIMARY KEY CLUSTERED 
(
	[WORKING_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
