/****** Object:  Table [dbo].[TB_R_CLOSING_ATTENDANCE_ATTACHMENT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_CLOSING_ATTENDANCE_ATTACHMENT](
	[ATTACHMENT_CD] [varchar](50) NOT NULL,
	[CLOSING_ATTENDANCE_CD] [varchar](20) NOT NULL,
	[DATE] [date] NULL,
	[TITLE] [varchar](255) NOT NULL,
	[FILENAME] [varchar](255) NOT NULL,
	[URL] [varchar](255) NULL,
	[NOREG] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_R_CLO__DB3E30BE51BE458D] PRIMARY KEY CLUSTERED 
(
	[ATTACHMENT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_CLOSING_ATTENDANCE_ATTACHMENT] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
