/****** Object:  Table [dbo].[TB_M_CONSULTANT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_CONSULTANT](
	[CONSULTANT_CD] [varchar](20) NOT NULL,
	[CONSULTANT_NAME] [varchar](50) NULL,
	[PROVINCE_CD] [varchar](20) NULL,
	[CITY_CD] [varchar](20) NULL,
	[DISTRICT_CD] [varchar](20) NULL,
	[VILLAGE_CD] [varchar](20) NULL,
	[ADDRESS] [varchar](150) NULL,
	[CP_NAME] [varchar](50) NULL,
	[CP_PHONE] [varchar](15) NULL,
	[EMAIL] [varchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_DT] [date] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [date] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_M_CON__45E9A769868C1024] PRIMARY KEY CLUSTERED 
(
	[CONSULTANT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_CONSULTANT]  WITH CHECK ADD  CONSTRAINT [FK__TB_M_CONS__CITY___5CA1C101] FOREIGN KEY([CITY_CD])
REFERENCES [dbo].[TB_M_CITY] ([CITY_CD])
GO
ALTER TABLE [dbo].[TB_M_CONSULTANT] CHECK CONSTRAINT [FK__TB_M_CONS__CITY___5CA1C101]
GO
ALTER TABLE [dbo].[TB_M_CONSULTANT]  WITH CHECK ADD  CONSTRAINT [FK__TB_M_CONS__DISTR__5D95E53A] FOREIGN KEY([DISTRICT_CD])
REFERENCES [dbo].[TB_M_DISTRICT] ([DISTRICT_CD])
GO
ALTER TABLE [dbo].[TB_M_CONSULTANT] CHECK CONSTRAINT [FK__TB_M_CONS__DISTR__5D95E53A]
GO
ALTER TABLE [dbo].[TB_M_CONSULTANT]  WITH CHECK ADD  CONSTRAINT [FK__TB_M_CONS__PROVI__5E8A0973] FOREIGN KEY([PROVINCE_CD])
REFERENCES [dbo].[TB_M_PROVINCE] ([PROVINCE_CD])
GO
ALTER TABLE [dbo].[TB_M_CONSULTANT] CHECK CONSTRAINT [FK__TB_M_CONS__PROVI__5E8A0973]
GO
ALTER TABLE [dbo].[TB_M_CONSULTANT]  WITH CHECK ADD  CONSTRAINT [FK__TB_M_CONS__VILLA__5F7E2DAC] FOREIGN KEY([VILLAGE_CD])
REFERENCES [dbo].[TB_M_VILLAGE] ([VILLAGE_CD])
GO
ALTER TABLE [dbo].[TB_M_CONSULTANT] CHECK CONSTRAINT [FK__TB_M_CONS__VILLA__5F7E2DAC]
GO
