/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_STORE_DOCUMENT]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_STORE_DOCUMENT]
    @PRF_DOC_CD VARCHAR(20),
    @REGISTRATION_NUMBER NVARCHAR(20),
    @DOC_TYPE VARCHAR(20),
    @DOC_NAME VARCHAR(255),
    @DOC_PATH VARCHAR(MAX),
    @FILE_NAME VARCHAR(255),
    @DOC_REMARK VARCHAR(255),
    @CREATED_BY VARCHAR(20),
    @MODE VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentTime DATETIME = GETDATE();

    BEGIN TRY
        IF @MODE = 'ADD'
        BEGIN
            -- Logic for INSERT (ADD mode)
            
            DECLARE @NEW_DOC_CD VARCHAR(20);
            DECLARE @TodayDate VARCHAR(8);
            DECLARE @LastIncrement INT;

            -- Get today's date in DDMMYYYY format.
            SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

            -- Find the last increment number for today's date.
            SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(PRF_DOC_CD, 4) AS INT)), 0)
            FROM [dbo].[TB_M_PROFILE_DOCUMENT]
            WHERE PRF_DOC_CD LIKE 'DOC-' + @TodayDate + '%';

            -- Add 1 for the next increment.
            SET @LastIncrement = @LastIncrement + 1;

            -- Format the new PRF_DOC_CD.
            SET @NEW_DOC_CD = 'DOC-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement AS VARCHAR(4)), 4);
            
            INSERT INTO [dbo].[TB_M_PROFILE_DOCUMENT]
            (
                PRF_DOC_CD,
                REGISTRATION_NUMBER,
                DOC_TYPE,
                DOC_NAME,
                DOC_REMARK,
                FILE_NAME,
                URL,
                CREATED_BY,
                CREATED_DT
            )
            VALUES
            (
                @NEW_DOC_CD,
                @REGISTRATION_NUMBER,
                @DOC_TYPE,
                @DOC_NAME,
                @DOC_REMARK,
                @FILE_NAME,
                @DOC_PATH,
                @CREATED_BY,
                @CurrentTime
            );

            SELECT 'true' AS status, 'Success storing new data.' AS message;
        END
        ELSE IF @MODE = 'EDIT'
        BEGIN
            -- Logic for UPDATE (EDIT mode)
            UPDATE [dbo].[TB_M_PROFILE_DOCUMENT]
            SET
                DOC_TYPE = @DOC_TYPE,
                DOC_NAME = @DOC_NAME,
                URL = @DOC_PATH,
                DOC_REMARK = @DOC_REMARK,
                FILE_NAME = @FILE_NAME,
                UPDATED_BY = @CREATED_BY,
                UPDATED_DT = @CurrentTime
            WHERE
                PRF_DOC_CD = @PRF_DOC_CD;

            SELECT 'true' AS status, 'Success updating data.' AS message;

        END
        ELSE
        BEGIN
            SELECT 'false' AS status, 'Invalid mode. Use "ADD" or "EDIT".' AS message;
        END
    END TRY
    BEGIN CATCH
        SELECT 'false' AS status, ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
