/****** Object:  StoredProcedure [dbo].[SP_ADMIN_DASHBOARD_END_DATE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_DASHBOARD_END_DATE]
    @DIVISION_CD     AS VARCHAR(20) = NULL,
    @DEPARTMENT_CD   AS VARCHAR(20) = NULL,
    @PLANT_CD        AS VARCHAR(20) = NULL,
    @PERIOD_DT       AS VARCHAR(30) = NULL
AS 
BEGIN
    SET NOCOUNT ON;

    DECLARE @REFERENCE_DATE DATE = NULL;

    IF @REFERENCE_DATE IS NULL 
        SET @REFERENCE_DATE = CAST(GETDATE() AS DATE);

    WITH RANGE_LIST AS (
        SELECT '<=30_DAYS' AS RANGE_GROUP
        UNION ALL SELECT '31_60_DAYS'
        UNION ALL SELECT '>60_DAYS'
        UNION ALL SELECT 'NO_END_DATE'
    ),
    FILTERED AS (
        SELECT tmp.*
        FROM TB_M_PROFILE tmp
        LEFT JOIN TB_R_ORG_ASSIGNMENT troa 
            ON troa.REGISTRATION_NUMBER = tmp.REGISTRATION_NUMBER
        WHERE 
            (@DIVISION_CD   IS NULL OR troa.DIVISION_ID   = @DIVISION_CD)
            AND (@DEPARTMENT_CD IS NULL OR troa.DEPARTMENT_ID = @DEPARTMENT_CD)
            AND (@PLANT_CD   IS NULL OR troa.MAIN_LOCATION = @PLANT_CD)
    ),
    SUMMARY AS (
        SELECT 
            CASE 
                WHEN f.CONTRACT_END IS NULL THEN 'NO_END_DATE'
                WHEN DATEDIFF(DAY, @REFERENCE_DATE, f.CONTRACT_END) > 60 THEN '>60_DAYS'
                WHEN DATEDIFF(DAY, @REFERENCE_DATE, f.CONTRACT_END) BETWEEN 31 AND 60 THEN '31_60_DAYS'
                WHEN DATEDIFF(DAY, @REFERENCE_DATE, f.CONTRACT_END) <= 30 THEN '<=30_DAYS'
            END AS RANGE_GROUP,
            COUNT(*) AS TOTAL
        FROM FILTERED f
        GROUP BY 
            CASE 
                WHEN f.CONTRACT_END IS NULL THEN 'NO_END_DATE'
                WHEN DATEDIFF(DAY, @REFERENCE_DATE, f.CONTRACT_END) > 60 THEN '>60_DAYS'
                WHEN DATEDIFF(DAY, @REFERENCE_DATE, f.CONTRACT_END) BETWEEN 31 AND 60 THEN '31_60_DAYS'
                WHEN DATEDIFF(DAY, @REFERENCE_DATE, f.CONTRACT_END) <= 30 THEN '<=30_DAYS'
            END
    )

    SELECT 
        rl.RANGE_GROUP,
        COALESCE(s.TOTAL, 0) AS TOTAL
    FROM RANGE_LIST rl
    LEFT JOIN SUMMARY s ON rl.RANGE_GROUP = s.RANGE_GROUP
    ORDER BY 
        CASE rl.RANGE_GROUP
            WHEN '<=30_DAYS' THEN 1
            WHEN '31_60_DAYS' THEN 2
            WHEN '>60_DAYS' THEN 3
            WHEN 'NO_END_DATE' THEN 4
        END;
END
GO
