/****** Object:  Table [dbo].[TB_M_ASSESSMENT_D]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_ASSESSMENT_D](
	[ASSESSMENT_D_CD] [varchar](20) NOT NULL,
	[ASSESSMENT_H_CD] [varchar](20) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_DT] [date] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [date] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_M_ASS__DA890A67C6F99EF3] PRIMARY KEY CLUSTERED 
(
	[ASSESSMENT_D_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_ASSESSMENT_D]  WITH CHECK ADD  CONSTRAINT [FK__TB_M_ASSE__ASSES__44FF419A] FOREIGN KEY([ASSESSMENT_H_CD])
REFERENCES [dbo].[TB_M_ASSESSMENT_H] ([ASSESSMENT_H_CD])
GO
ALTER TABLE [dbo].[TB_M_ASSESSMENT_D] CHECK CONSTRAINT [FK__TB_M_ASSE__ASSES__44FF419A]
GO
