/****** Object:  Table [dbo].[TB_M_MONTHLY_OT_LIMIT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_MONTHLY_OT_LIMIT](
	[MONTHLY_OT_LIMIT_CD] [varchar](20) NOT NULL,
	[UNIT_CD] [varchar](20) NULL,
	[MONTHLY_OT_LIMIT] [int] NULL,
	[VALID_FROM] [date] NULL,
	[VALID_TO] [date] NULL,
	[CREATED_DT] [date] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [date] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_M_MON__23B9FD972E75B07B] PRIMARY KEY CLUSTERED 
(
	[MONTHLY_OT_LIMIT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
