/****** Object:  StoredProcedure [dbo].[SP_MY_PROFILE_GET_RECRUITMENT_STAGE]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MY_PROFILE_GET_RECRUITMENT_STAGE]
    @REGISTRATION_NUMBER nvarchar(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        SM.SYSTEM_CD AS RECRUITMENT_PROCESS_CD,
        SM.SYSTEM_VALUE AS RECRUITMENT_PROCESS,
        SYS_REC_STATUS.SYSTEM_CD  AS RECRUITMENT_STATUS_CD,
        SYS_REC_STATUS.SYSTEM_VALUE AS RECRUITMENT_STATUS,
        
        
        SYS_COPY.SYSTEM_VALUE AS COPY_WRITING
    FROM
        [dbo].[TB_M_SYSTEM_MASTER] SM 
    LEFT JOIN 
        (
            SELECT 
                ROW_NUMBER() OVER (
                    PARTITION BY 
                        T.NOREG, 
                        T.REC_PROCESS 
                    ORDER BY 
                        T.REC_STATUS DESC,
                        T.CREATED_DT DESC  
                ) AS ROW_NUMBER,
                T.* 
            FROM 
                [dbo].[TB_R_PROFILE_STATUS] T
            WHERE 
                T.NOREG = @REGISTRATION_NUMBER
        ) AS PS_LATEST
        ON PS_LATEST.REC_PROCESS = SM.SYSTEM_CD 
        AND PS_LATEST.ROW_NUMBER = 1
    LEFT JOIN TB_M_PROFILE P 
        ON PS_LATEST.NOREG = P.REGISTRATION_NUMBER

    LEFT JOIN TB_M_SYSTEM_MASTER SYS_REC_STATUS 
        ON PS_LATEST.REC_STATUS = SYS_REC_STATUS.SYSTEM_CD
        AND SYS_REC_STATUS.SYSTEM_TYPE = 'RECRUITMENT_STATUS'

    -- LEFT JOIN ke Copywriting
    LEFT JOIN TB_M_SYSTEM_MASTER SYS_COPY 
        ON SYS_COPY.SYSTEM_TYPE = 'RECRUITMENT_COPY'
        AND SYS_COPY.SYSTEM_CD = 
            CASE SM.SYSTEM_CD
                WHEN '1' THEN 'PSYCHO'
                WHEN '2' THEN 'MCU'
                WHEN '3 & Interview' THEN 'S&I' 
                WHEN '4' THEN 'PLACE'
                WHEN '5' THEN 'VOC'
                ELSE '' 
            END + '_' + 
            CASE SYS_REC_STATUS.SYSTEM_CD
                WHEN '1' THEN 'WAITING'
                WHEN '2' THEN 'SCHEDULED'
                WHEN '3' THEN 'PASSED'
                WHEN '4' THEN 'FAILED'
                ELSE '' 
            END
            
    WHERE 
        SM.SYSTEM_TYPE = 'RECRUITMENT_PROCESS'
        AND SM.IS_ACTIVE = 1 
        AND SM.IS_DELETED = 0
    ORDER BY 
    SM.SYSTEM_SEQUENCE ASC;
END;
GO
