/****** Object:  StoredProcedure [dbo].[SP_ADMIN_MP_SUMMARY_CONTRACT_STATUS]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_MP_SUMMARY_CONTRACT_STATUS]
    @DEPARTMENT_ID NVARCHAR(50),
    @PLANT_CD NVARCHAR(50),
    @SECTION_CD NVARCHAR(50),
    @TERM NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);
    SET @SQL = 'SELECT
      SUM(CASE WHEN DATEDIFF(day, GETDATE(), CONTRACT_END) > 60 THEN 1 ELSE 0 END) AS MORE_60_DAYS,
      SUM(CASE WHEN DATEDIFF(day, GETDATE(), CONTRACT_END) BETWEEN 30 AND 60 THEN 1 ELSE 0 END) AS BETWEEN_30_60_DAYS,
      SUM(CASE WHEN DATEDIFF(day, GETDATE(), CONTRACT_END) < 30 THEN 1 ELSE 0 END) AS LESS_30_DAYS,
      SUM(CASE WHEN PROFILE_STATUS = ''1'' THEN 1 ELSE 0 END) AS TOTAL_RECRUITMENT,
      SUM(CASE WHEN PROFILE_STATUS = ''2'' AND GETDATE() BETWEEN CONTRACT_START AND CONTRACT_END THEN 1 ELSE 0 END) AS TOTAL_ACTIVE,
      SUM(CASE WHEN PROFILE_STATUS = ''3'' THEN 1 ELSE 0 END) AS TOTAL_TERMINATE,
      SUM(CASE WHEN PROFILE_STATUS = ''4'' THEN 1 ELSE 0 END) AS TOTAL_END_OF_CONTRACT
    FROM
        TB_M_PROFILE P 
        LEFT JOIN TB_R_ORG_ASSIGNMENT OA ON P.REGISTRATION_NUMBER = OA.REGISTRATION_NUMBER AND GETDATE() BETWEEN OA.VALID_FROM AND OA.VALID_TO
        LEFT JOIN TB_M_PLANT PL ON OA.MAIN_LOCATION = PL.PLANT_CD
      WHERE 1=1 '
    IF @DEPARTMENT_ID IS NOT NULL AND @DEPARTMENT_ID <> ''
      SET @SQL = @SQL + ' AND OA.DEPARTMENT_ID = @DEPARTMENT_ID'
      
    IF @PLANT_CD IS NOT NULL AND @PLANT_CD <> ''
      SET @SQL = @SQL + ' AND OA.MAIN_LOCATION = @PLANT_CD'
      
    IF @SECTION_CD IS NOT NULL AND @SECTION_CD <> ''
      SET @SQL = @SQL + ' AND OA.SECTION_ID = @SECTION_CD'
  
    IF @TERM IS NOT NULL AND @TERM <> ''
      SET @SQL = @SQL + ' AND (
        OA.DEPARTMENT LIKE ''%'' + @TERM + ''%'' OR
        PL.MAIN_LOCATION LIKE ''%'' + @TERM + ''%'' OR
        OA.DIVISION LIKE ''%'' + @TERM + ''%'' OR
        OA.LINE LIKE ''%'' + @TERM + ''%'' 
      )
    '
    
    EXECUTE sp_executesql @SQL,
        N'@DEPARTMENT_ID NVARCHAR(50), @PLANT_CD NVARCHAR(50), @SECTION_CD NVARCHAR(50), @TERM NVARCHAR(MAX)',
        @DEPARTMENT_ID = @DEPARTMENT_ID,
        @PLANT_CD = @PLANT_CD,
        @SECTION_CD = @SECTION_CD,
        @TERM = @TERM;
      
END;
GO
