/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_DELETE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_DELETE]
    @PLACEMENT_SCHEDULE_CD AS VARCHAR(20),
    @USERNAME AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @RowsAffected_Header INT;

        UPDATE [dbo].[TB_R_PLACEMENT_SCHEDULE]
        SET
            IS_DELETED = 1,
            DELETED_BY = @USERNAME,
            DELETED_DT = GETDATE()
        WHERE
            PLACEMENT_SCHEDULE_CD = @PLACEMENT_SCHEDULE_CD;

        SET @RowsAffected_Header = @@ROWCOUNT;

        IF @RowsAffected_Header > 0
        BEGIN
        
        SELECT
          'true' AS status,
          'Success delete data.' AS message;
      END
      ELSE
      BEGIN    
        SELECT
          'false' AS status,
          'Failed to delete data. Placement Schedule Code not found or already deleted.' AS message;
        END
    END TRY
    BEGIN CATCH
        SELECT
              'false' AS status,
              'Internal server error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
