/****** Object:  StoredProcedure [dbo].[SP_AUTH_CHECK_IF_URL_GRANTED]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_CHECK_IF_URL_GRANTED]
    @USERNAME AS VARCHAR(100),
    @URL AS VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
--     DECLARE @USER_CD VARCHAR(50) = (SELECT USER_CD FROM TB_M_USERS WHERE USERNAME = @USERNAME AND COALESCE(IS_DELETED, '0') = '0' AND COALESCE(IS_ACTIVE, '0') = '1' AND GETDATE() BETWEEN VALID_FROM AND VALID_TO);
--     SELECT COUNT(1) 
--       FROM TB_R_USER_ROLES R 
--       INNER JOIN TB_M_ROLES_AUTH RA ON R.ROLE_CD = RA.ROLE_CD
--       INNER JOIN TB_M_FUNCTION_FEATURE FF ON RA.FEATURE_CD = FF.FEATURE_CD
--     WHERE R.USER_CD = @USER_CD
--     AND FF.FEATURE_ACTION =  REPLACE(@URL, '/VocationWebApi', '')
    
    -- bypas
    SELECT COUNT(1)
END
GO
