/****** Object:  Table [dbo].[TB_R_CLOSING_ATTENDANCE_EXTRA_STUDY_SUMMARY]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_CLOSING_ATTENDANCE_EXTRA_STUDY_SUMMARY](
	[EXTRA_STUDY_SUMMARY_CD] [varchar](50) NOT NULL,
	[REGISTRATION_NUMBER] [nvarchar](20) NOT NULL,
	[PERIOD] [varchar](10) NULL,
	[TOTAL_ESH_WEEKDAY] [decimal](5, 2) NULL,
	[TOTAL_ESH_WEEKEND] [decimal](5, 2) NULL,
	[TOTAL_CUMMULATIVE_ESH] [decimal](5, 2) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[CLOSING_ATTENDANCE_CD] [varchar](50) NULL,
 CONSTRAINT [PK_TB_T_EXTRA_STUDY_SUMMARY] PRIMARY KEY CLUSTERED 
(
	[EXTRA_STUDY_SUMMARY_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
