/****** Object:  Table [dbo].[TB_M_VILLAGE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_VILLAGE](
	[VILLAGE_CD] [varchar](20) NOT NULL,
	[DISTRICT_CD] [varchar](20) NULL,
	[VILLAGE_NAME] [varchar](255) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[IS_DELETED] [bit] NULL,
	[DELETED_DT] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_M_VIL__8E2BB74D095E1964] PRIMARY KEY CLUSTERED 
(
	[VILLAGE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_VILLAGE] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[TB_M_VILLAGE]  WITH CHECK ADD  CONSTRAINT [FK__TB_M_VILL__DISTR__498EEC8D] FOREIGN KEY([DISTRICT_CD])
REFERENCES [dbo].[TB_M_DISTRICT] ([DISTRICT_CD])
GO
ALTER TABLE [dbo].[TB_M_VILLAGE] CHECK CONSTRAINT [FK__TB_M_VILL__DISTR__498EEC8D]
GO
