/****** Object:  Table [dbo].[TB_M_EDUCATION_MAJOR]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_EDUCATION_MAJOR](
	[EDUCATION_CD] [varchar](2) NOT NULL,
	[MAJOR_CD] [varchar](5) NOT NULL,
	[MAJOR_NAME] [varchar](50) NOT NULL,
	[CREATED_DT] [date] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[UPDATED_BY] [date] NULL,
	[UPDATED_DT] [varchar](50) NULL,
 CONSTRAINT [PK_TB_M_EDUCATION_MAJOR] PRIMARY KEY CLUSTERED 
(
	[EDUCATION_CD] ASC,
	[MAJOR_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
