/****** Object:  Table [dbo].[TB_M_SHIFT_CICO]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_SHIFT_CICO](
	[SHIFT_ID] [varchar](5) NOT NULL,
	[WORKING_VARIABLE] [varchar](10) NOT NULL,
	[CLOCK_IN] [time](7) NULL,
	[CLOCK_OUT] [time](7) NULL,
	[NIGHT] [int] NULL,
	[AREA_ID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [varchar](80) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](80) NULL,
	[UPDATED_DT] [datetime] NULL,
	[break_start] [time](7) NULL,
	[break_end] [time](7) NULL,
 CONSTRAINT [PK_TB_M_SHIFT_CICO] PRIMARY KEY CLUSTERED 
(
	[SHIFT_ID] ASC,
	[WORKING_VARIABLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
