/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ROTATION_REQUEST_GET_DETAIL_APPROVAL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ROTATION_REQUEST_GET_DETAIL_APPROVAL]
    @TRANSFER_CD VARCHAR(50)
AS 
BEGIN
    SET NOCOUNT ON;

    SELECT 
        APPROVAL_LEVEL,
        APPROVAL_NOREG,
        APPROVAL_NAME,
        APPROVAL_DATE,
        APPROVAL_SEQ,
        APPROVAL_TYPE,
        APPROVAL_STATUS
    FROM 
        [dbo].[TB_R_VOC_TRANSFER_APPROVAL] AA
    WHERE 
        AA.TRANSFER_CD = @TRANSFER_CD;
END;
GO
