/****** Object:  StoredProcedure [dbo].[SP_MASTER_ATTRIBUTE_GET_INQUIRY]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ATTRIBUTE_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'VOCATIONAL_CENTER_NAME',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @ATTRIBUTE_NAME AS VARCHAR(30) = NULL,
    @ATTRIBUTE_VALUE AS VARCHAR(30) = NULL,
    @IsActive AS BIT = '1',
    @TERM AS VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('ATTRIBUTE_NAME', 'ATTRIBUTE_VALUE', 'IS_ACTIVE')
    BEGIN
        SET @OrderBy = 'ATTRIBUTE_NAME';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);
    
    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
            ATTRIBUTE_CD,
            ATTRIBUTE_NAME,
            ATTRIBUTE_VALUE,
            IS_ACTIVE
        FROM
            TB_M_ATTRIBUTES 
        WHERE
            COALESCE(IS_DELETED, 0) = 0 ';

    IF @ATTRIBUTE_NAME IS NOT NULL AND @ATTRIBUTE_NAME <> ''
        SET @SQL = @SQL + ' AND ATTRIBUTE_NAME = @ATTRIBUTE_NAME';

    IF @ATTRIBUTE_VALUE IS NOT NULL AND @ATTRIBUTE_VALUE <> ''
        SET @SQL = @SQL + ' AND ATTRIBUTE_VALUE = @ATTRIBUTE_VALUE';

    IF @IsActive IS NOT NULL
        SET @SQL = @SQL + ' AND IS_ACTIVE = @IsActive';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (ATTRIBUTE_NAME LIKE ''%'' + @TERM + ''%'' OR ATTRIBUTE_VALUE LIKE ''%'' + @TERM + ''%'')';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';
    
    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @ATTRIBUTE_NAME VARCHAR(100), @ATTRIBUTE_VALUE VARCHAR(100), @IsActive BIT, @TERM VARCHAR(100)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
        @ATTRIBUTE_NAME = @ATTRIBUTE_NAME,
        @ATTRIBUTE_VALUE = @ATTRIBUTE_VALUE,
        @IsActive = @IsActive,
        @TERM = @TERM;
END;
GO
