/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ROTATION_REQ_GET_DETAIL_PLACEMENT]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ROTATION_REQ_GET_DETAIL_PLACEMENT]
    @NOREG AS VARCHAR(20) = NULL
AS 
BEGIN
    SET NOCOUNT ON;

	SELECT
	    tmp.FULL_NAME AS EMPLOYEE_NAME,
	    troa.MAIN_LOCATION AS MAIN_LOCATION_ID,
	    troa.DEPARTMENT_ID,
	    troa.SECTION_ID,
	    troa.LINE_ID,
	    troa.GROUP_ID,
	    troa.LABOR_TYPE AS VOCATION_ID
	FROM TB_R_ORG_ASSIGNMENT troa 
	INNER JOIN TB_M_PROFILE tmp ON tmp.REGISTRATION_NUMBER = troa.REGISTRATION_NUMBER
    WHERE
        tmp.REGISTRATION_NUMBER = @NOREG;
END;
GO
