/****** Object:  Table [dbo].[TB_M_USERS]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_USERS](
	[USER_CD] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](150) NOT NULL,
	[PASSWORD] [nvarchar](max) NOT NULL,
	[FULL_NAME] [nvarchar](100) NULL,
	[NOREG] [nvarchar](15) NULL,
	[PHONE] [nvarchar](15) NULL,
	[NIK] [nvarchar](16) NULL,
	[EMAIL] [nvarchar](150) NULL,
	[VALID_FROM] [date] NULL,
	[VALID_TO] [date] NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [nvarchar](150) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [nvarchar](150) NULL,
	[UPDATED_DT] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[DELETED_BY] [nvarchar](150) NULL,
	[DELETED_DT] [datetime] NULL,
 CONSTRAINT [PK__TB_M_USE__F3BE34B2E03E47C5] PRIMARY KEY CLUSTERED 
(
	[USER_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_USERS] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
