/****** Object:  StoredProcedure [dbo].[SP_MASTER_VOCATIONAL_CENTER_DELETE]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_VOCATIONAL_CENTER_DELETE]
    @VOCATIONAL_CENTER_CD AS VARCHAR(20),
    @USER_ID AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON; -- Improves performance by suppressing message counts

    DECLARE @RowsAffected INT; -- Variable to store the number of rows updated

    -- Perform the UPDATE operation
    UPDATE [dbo].[TB_M_VOCATIONAL_CENTER]
    SET
        IS_DELETED = 1,             -- Set the status to inactive
        DELETED_BY = @USER_ID,     -- Record who made the change
        DELETED_DT = GETDATE()     -- Record when the change was made
    WHERE
        VOCATIONAL_CENTER_CD = @VOCATIONAL_CENTER_CD
        AND COALESCE(IS_DELETED, 0) = 0
        ;    -- Identify the specific record to update

    -- Check how many rows were affected by the UPDATE statement
    SET @RowsAffected = @@ROWCOUNT;

    -- Return success or failure message based on the update result
    IF @RowsAffected > 0
    BEGIN
        -- If one or more rows were updated, it's a success
        SELECT
            'true' AS status,
            'Success delete data.' AS message;
    END
    ELSE
    BEGIN
        -- If no rows were updated, it means the SYSTEM_ID was not found
        -- or the record was already inactive.
        SELECT
            'false' AS status,
            'Failed to delete data. Vocatioanl Center Code not found or already inactive.' AS message;
    END;

END;
GO
