/****** Object:  StoredProcedure [dbo].[SP_MASTER_ROLE_GET_DETAIL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ROLE_GET_DETAIL]
    @ROLE_CD AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ROLE_CD, ROLE_NAME, SM.SYSTEM_VALUE AS ROLE_TYPE, ROLE_LEVEL, CONVERT(VARCHAR, STATUS) AS STATUS
    FROM TB_M_ROLES R
    INNER JOIN TB_M_SYSTEM_MASTER SM ON R.ROLE_LEVEL = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = 'LEVEL'
    WHERE ROLE_CD = @ROLE_CD AND R.IS_DELETED = 0;

END;
GO
