/****** Object:  Table [dbo].[TB_R_USER_DEVICES]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_USER_DEVICES](
	[USER_DEVICE_CD] [nvarchar](50) NOT NULL,
	[USER_CD] [nvarchar](50) NULL,
	[DEVICE_ID] [nvarchar](255) NULL,
	[APP_VERSION] [nvarchar](255) NULL,
	[OS_VERSION] [nvarchar](255) NULL,
	[OTP] [nvarchar](8) NULL,
	[JWT_TOKEN] [nvarchar](max) NULL,
	[FORGET_PASSWORD_TOKEN] [nvarchar](max) NULL,
	[LAST_LOGIN] [datetime] NULL,
	[CREATED_BY] [nvarchar](150) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [nvarchar](150) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK__TB_R_USE__4FFF9B6B2F590DD4] PRIMARY KEY CLUSTERED 
(
	[USER_DEVICE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
