/****** Object:  StoredProcedure [dbo].[SP_ADMIN_DASHBOARD_RECRUITMENT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_DASHBOARD_RECRUITMENT]

AS 
BEGIN
	SET NOCOUNT ON;

	DECLARE @cols       nvarchar(max);
	DECLARE @totalExpr  nvarchar(max);
	
	;WITH status_list AS (
	    SELECT DISTINCT COALESCE(tmsm3.SYSTEM_VALUE, 'N/A') AS REC_STATUS
	    FROM TB_M_PROFILE tmp
	    LEFT JOIN TB_M_SYSTEM_MASTER tmsm3
	      ON tmsm3.SYSTEM_CD   = tmp.RECRUITMENT_STATUS
	     AND tmsm3.SYSTEM_TYPE = 'RECRUITMENT_STATUS'
	)
	SELECT
	    @cols = STRING_AGG(QUOTENAME(REC_STATUS), ','),
	    @totalExpr = STRING_AGG('ISNULL(' + QUOTENAME(REC_STATUS) + ',0)', ' + ')
	FROM status_list;

	-- Guard: kalau @cols NULL (tidak ada data status), pakai N/A
	IF (@cols IS NULL OR LTRIM(RTRIM(@cols)) = '')
	BEGIN
	    SET @cols = '[N/A]';
	    SET @totalExpr = 'ISNULL([N/A],0)';
	END
	
	-- 2) Bangun SQL dinamis PIVOT
	DECLARE @sql nvarchar(max) = N'
	WITH base AS (
	    SELECT
	        tmsm.SYSTEM_CD           AS PROFILE_STATUS_CD,
	        tmsm.SYSTEM_VALUE        AS PROFILE_STATUS,
	        tmsm.SYSTEM_SEQUENCE     AS PROFILE_STATUS_SEQ,
	
	        tmsm2.SYSTEM_CD          AS REC_PROCESS_CD,
	        COALESCE(tmsm2.SYSTEM_VALUE, ''N/A'')       AS REC_PROCESS,
	        COALESCE(tmsm2.SYSTEM_SEQUENCE, 9999)       AS REC_PROCESS_SEQ,
	
	        COALESCE(tmsm3.SYSTEM_VALUE, ''N/A'')       AS REC_STATUS,
	        COUNT(DISTINCT tmp.REGISTRATION_NUMBER)     AS TOTAL_REC_STATUS
	    FROM TB_M_PROFILE tmp 
	    LEFT JOIN TB_M_SYSTEM_MASTER tmsm  
	        ON tmsm.SYSTEM_CD   = tmp.PROFILE_STATUS 
	       AND tmsm.SYSTEM_TYPE = ''PROFILE_STATUS''
	    LEFT JOIN TB_M_SYSTEM_MASTER tmsm2 
	        ON tmsm2.SYSTEM_CD   = tmp.RECRUITMENT_PROCESS 
	       AND tmsm2.SYSTEM_TYPE = ''RECRUITMENT_PROCESS''
	    LEFT JOIN TB_M_SYSTEM_MASTER tmsm3 
	        ON tmsm3.SYSTEM_CD   = tmp.RECRUITMENT_STATUS 
	       AND tmsm3.SYSTEM_TYPE = ''RECRUITMENT_STATUS''
	    GROUP BY 
	        tmsm.SYSTEM_CD, tmsm.SYSTEM_VALUE, tmsm.SYSTEM_SEQUENCE,
	        tmsm2.SYSTEM_CD, tmsm2.SYSTEM_VALUE, tmsm2.SYSTEM_SEQUENCE,
	        tmsm3.SYSTEM_VALUE
	),
	src AS (
	    SELECT 
	        PROFILE_STATUS_CD,
	        PROFILE_STATUS,
	        PROFILE_STATUS_SEQ,
	        REC_PROCESS_CD,
	        REC_PROCESS,
	        REC_PROCESS_SEQ,
	        REC_STATUS,
	        TOTAL_REC_STATUS
	    FROM base
	),
	pvt AS (
	    SELECT
	        PROFILE_STATUS_CD,
	        PROFILE_STATUS,
	        PROFILE_STATUS_SEQ,
	        REC_PROCESS_CD,
	        REC_PROCESS,
	        REC_PROCESS_SEQ, ' + @cols + N'
	    FROM src
	    PIVOT (
	        SUM(TOTAL_REC_STATUS)
	        FOR REC_STATUS IN (' + @cols + N')
	    ) p
	)
	SELECT
	    PROFILE_STATUS_CD,
	    PROFILE_STATUS,
	    REC_PROCESS_CD,
	    REC_PROCESS,
	    ' + @totalExpr + N' AS Total, ' + @cols + N'
	FROM pvt
	ORDER BY PROFILE_STATUS_SEQ, REC_PROCESS_SEQ;';
	
	EXEC sp_executesql @sql;
END
GO
