/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_FEEDBACK]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_FEEDBACK]
    @PLACEMENT_SCHEDULE_CD VARCHAR(20)
AS
BEGIN
    SELECT 
        CAA.APPROVER_POSITION AS [POSITION],
        AA.FEEDBACK,
        AA.CREATED_DT AS CREATED_DATE,
        U.FULL_NAME,
        UD.DIRECTORATE,
        UD.DIVISION,
        UD.DEPARTMENT,
        UD.[SECTION],
        UD.LINE,
        UD.[GROUP]
    FROM 
        [dbo].[TB_R_PLACEMENT_SCHEDULE_FEEDBACK] AA
    INNER JOIN TB_M_USER_DETAIL UD ON AA.NOREG = UD.NOREG
    INNER JOIN TB_M_USERS U ON UD.NOREG = U.NOREG
    INNER JOIN TB_R_PLACEMENT_SCHEDULE_APPROVAL CAA ON AA.NOREG = CAA.APPROVER_NOREG AND AA.PLACEMENT_SCHEDULE_CD = CAA.PLACEMENT_SCHEDULE_CD
    WHERE 
        AA.PLACEMENT_SCHEDULE_CD = @PLACEMENT_SCHEDULE_CD
    ORDER BY AA.CREATED_DT DESC;
END;
GO
