/****** Object:  StoredProcedure [dbo].[SP_MASTER_APPROVALMATRIX_STORE]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_APPROVALMATRIX_STORE]
	@TABLEAPPROVALMATRIX   [dbo].[APPROVAL_MATRIX]   readonly,  
	@MODE AS VARCHAR(10) = '',
	@USER_ID AS VARCHAR(50) = ''-- New parameter for CREATED_BY/UPDATED_BY
AS
BEGIN
    SET NOCOUNT ON; -- Improves performance by suppressing message counts

    -- Declare variables for converted values
    DECLARE @IS_ACTIVE_BIT AS BIT;
	DECLARE @EXISTING_COUNT AS INT;


	 
		DECLARE  @APPROVAL_MATRIX_CD VARCHAR(20)
		DECLARE @PURPOSE_CD AS VARCHAR(100)
		DECLARE @BRANCH_CD AS VARCHAR(100)
		DECLARE @ORG_NAME AS VARCHAR(100)
		DECLARE @COORDINATOR_ID AS VARCHAR(100)
		DECLARE @REQUESTOR_ROLE AS VARCHAR(100)
		DECLARE @DESCRIPTION varchar(250)
		DECLARE @APPROVAL_TYPE  varchar(50)
		DECLARE @APPROVAL_SEQ int
		DECLARE @MIN_VALUE decimal(18,2)
		DECLARE @MAX_VALUE decimal(18,2)
		DECLARE @APPROVER_ROLE varchar(150)
		DECLARE @APPROVAL_POSITION varchar(150)
		DECLARE @COORDINATOR_NAME varchar(150)
		DECLARE @IS_MANDATORY BIT
		DECLARE @IS_FINAL_APPROVAL BIT
		DECLARE @IS_SPECIAL_APPROVAL BIT
		DECLARE @VALID_FROM DATETIME
		DECLARE @VALID_TO DATETIME
        -- Convert @IS_ACTIVE to BIT. Handles '0' or '1' string input.
        --SET @IS_ACTIVE_BIT = CAST(@IS_ACTIVE AS BIT);
		DECLARE CURSORS CURSOR LOCAL FOR
		SELECT DISTINCT APPROVAL_MATRIX_CD,PURPOSE_CD,BRANCH_CD,ORG_NAME,COORDINATOR_ID,REQUESTOR_ROLE FROM @TABLEAPPROVALMATRIX 
		OPEN CURSORS

		FETCH NEXT FROM CURSORS 
		INTO @APPROVAL_MATRIX_CD,@PURPOSE_CD,@BRANCH_CD,@ORG_NAME,@COORDINATOR_ID,@REQUESTOR_ROLE

		WHILE @@FETCH_STATUS = 0
		BEGIN
			
			SELECT @EXISTING_COUNT = COUNT(1)
            FROM [dbo].[TB_M_APPROVAL_MATRIX]
            WHERE [PURPOSE_CD] = @PURPOSE_CD and [BRANCH_CD] = @BRANCH_CD and [ORG_NAME] = @ORG_NAME and [COORDINATOR_ID] = @COORDINATOR_ID AND [REQUESTOR_ROLE] = @REQUESTOR_ROLE AND APPROVAL_MATRIX_CD <> @APPROVAL_MATRIX_CD;

            IF @EXISTING_COUNT > 0
            BEGIN
                -- Warning: Data already exists
                SELECT 'false' AS status, 'Data ' + @PURPOSE_CD + ','+ @BRANCH_CD +','+ @ORG_NAME +','+ @COORDINATOR_ID +','+ @REQUESTOR_ROLE + ' already exists.' AS message;
				GOTO AKHIR
            END
		FETCH NEXT FROM CURSORS
		INTO @APPROVAL_MATRIX_CD,@PURPOSE_CD,@BRANCH_CD,@ORG_NAME,@COORDINATOR_ID,@REQUESTOR_ROLE
		END
		CLOSE CURSORS
		DEALLOCATE CURSORS


    
		
		IF (@MODE = 'Add' OR @MODE = 'Edit')
		BEGIN
			BEGIN TRY
				BEGIN TRANSACTION
				--IF @MODE = 'Add'
				--BEGIN
					declare @i int = 0
					DECLARE CURSORS1 CURSOR LOCAL FOR
					SELECT [PURPOSE_CD],[BRANCH_CD],[DESCRIPTION],[ORG_NAME],[APPROVAL_TYPE],[APPROVAL_SEQ],[MIN_VALUE],[MAX_VALUE]
					,[APPROVER_ROLE],[APPROVAL_POSITION],[REQUESTOR_ROLE],[COORDINATOR_ID],[COORDINATOR_NAME],[IS_MANDATORY],[IS_FINAL_APPROVAL],[IS_SPECIAL_APPROVAL],
					[VALID_FROM],[VALID_TO] FROM @TABLEAPPROVALMATRIX WHERE MODE = 'ADD'
					OPEN CURSORS1

					FETCH NEXT FROM CURSORS1 
					INTO @PURPOSE_CD,@BRANCH_CD,@DESCRIPTION,@ORG_NAME,@APPROVAL_TYPE,@APPROVAL_SEQ,@MIN_VALUE,@MAX_VALUE,@APPROVER_ROLE,@APPROVAL_POSITION,@REQUESTOR_ROLE,@COORDINATOR_ID,@COORDINATOR_NAME,@IS_MANDATORY,
					@IS_FINAL_APPROVAL,@IS_SPECIAL_APPROVAL,@VALID_FROM,@VALID_TO

					WHILE @@FETCH_STATUS = 0
					BEGIN
						DECLARE @LAST as VARCHAR(6)
						DECLARE @MIDDLEFORMAT as VARCHAR(6)
						--SET @i = @i+1;
						SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
						SET @LAST = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(APPROVAL_MATRIX_CD,6) AS int)),0)+(@i+1) AS VARCHAR(6)),6) FROM TB_M_APPROVAL_MATRIX WHERE APPROVAL_MATRIX_CD LIKE '%AM-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2) + '%')
						-- Insert statement
						--print 'AM-'+  @MIDDLEFORMAT +'-'+@LAST
						INSERT INTO TB_M_APPROVAL_MATRIX
						VALUES
						('AM-'+  @MIDDLEFORMAT +'-'+@LAST,@PURPOSE_CD,@BRANCH_CD,@DESCRIPTION,@ORG_NAME,@APPROVAL_TYPE,@APPROVAL_SEQ,@MIN_VALUE,@MAX_VALUE
						,@APPROVER_ROLE,@APPROVAL_POSITION,@REQUESTOR_ROLE,@COORDINATOR_ID,@COORDINATOR_NAME,@IS_MANDATORY,@IS_FINAL_APPROVAL,@IS_SPECIAL_APPROVAL,
						@VALID_FROM,@VALID_TO,'1','0',@USER_ID,GETDATE(),NULL,NULL,NULL,NULL) --FROM @TABLEAPPROVALMATRIX  --WHERE MODE = 'ADD'
						
					FETCH NEXT FROM CURSORS1
					INTO @PURPOSE_CD,@BRANCH_CD,@DESCRIPTION,@ORG_NAME,@APPROVAL_TYPE,@APPROVAL_SEQ,@MIN_VALUE,@MAX_VALUE,@APPROVER_ROLE,@APPROVAL_POSITION,@REQUESTOR_ROLE,@COORDINATOR_ID,@COORDINATOR_NAME,@IS_MANDATORY,
					@IS_FINAL_APPROVAL,@IS_SPECIAL_APPROVAL,@VALID_FROM,@VALID_TO
					END
					CLOSE CURSORS1
					DEALLOCATE CURSORS1
					

					
				--END
				--ELSE IF @MODE = 'Edit'
				--BEGIN 
					UPDATE A
					SET
						A.PURPOSE_CD = B.PURPOSE_CD,
						A.BRANCH_CD = B.BRANCH_CD,
						A.DESCRIPTION = B.DESCRIPTION,
						A.ORG_NAME = B.ORG_NAME,
						A.APPROVAL_TYPE = B.APPROVAL_TYPE,
						A.APPROVAL_SEQ = B.APPROVAL_SEQ,
						A.MIN_VALUE = B.MIN_VALUE,
						A.MAX_VALUE = B.MAX_VALUE,
						A.APPROVER_ROLE = B.APPROVER_ROLE,
						A.APPROVAL_POSITION = B.APPROVAL_POSITION,
						A.REQUESTOR_ROLE = B.REQUESTOR_ROLE,
						A.COORDINATOR_ID = B.COORDINATOR_ID,
						A.COORDINATOR_NAME = B.COORDINATOR_NAME,
						A.IS_MANDATORY = B.IS_MANDATORY,
						A.IS_FINAL_APPROVAL = B.IS_FINAL_APPROVAL,
						A.IS_SPECIAL_APPROVAL = B.IS_SPECIAL_APPROVAL,
						A.VALID_FROM = B.VALID_FROM,
						A.VALID_TO = B.VALID_TO,
						A.IS_ACTIVE = B.IS_ACTIVE,
						A.IS_DELETED = B.IS_DELETED
					FROM
						TB_M_APPROVAL_MATRIX A 
					INNER JOIN
						@TABLEAPPROVALMATRIX B ON A.APPROVAL_MATRIX_CD = B.APPROVAL_MATRIX_CD
					WHERE
					B.MODE = 'EDIT'

					--INSERT INTO TB_M_APPROVAL_MATRIX
					--SELECT [APPROVAL_MATRIX_CD],[PURPOSE_CD],[BRANCH_CD],[DESCRIPTION],[ORG_NAME],[APPROVAL_TYPE],[APPROVAL_SEQ],[MIN_VALUE],[MAX_VALUE]
					--,[APPROVER_ROLE],[APPROVAL_POSITION],[REQUESTOR_ROLE],[COORDINATOR_ID],[COORDINATOR_NAME],[IS_MANDATORY],[IS_FINAL_APPROVAL],[IS_SPECIAL_APPROVAL],
					--[VALID_FROM],[VALID_TO],IS_ACTIVE,CREATED_BY = @USER_ID, CREATED_DT = GETDATE(),NULL,NULL,NULL,NULL FROM @TABLEAPPROVALMATRIX WHERE MODE = 'ADD'
				--END
				COMMIT TRANSACTION
				SELECT 'true' AS status, 'Success storing new data.' AS message;

			END TRY
			BEGIN CATCH
				ROLLBACK TRANSACTION
				-- Error handling
				SELECT 'false' AS status, ERROR_MESSAGE() AS message;
			END CATCH
		END
		ELSE
		BEGIN
			-- Invalid MODE
			SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
		END
            -- Check if SYSTEM_TYPE and SYSTEM_CD already exist       
    
AKHIR:
END;
GO
