/****** Object:  Table [dbo].[TB_R_POSITION_REPLACEMENT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_POSITION_REPLACEMENT](
	[REPLACEMENT_CD] [varchar](50) NOT NULL,
	[REPLACEMENT_TYPE] [varchar](50) NULL,
	[REF_REQUEST_CD] [varchar](50) NULL,
	[REF_SCHEDULE_CD] [varchar](50) NULL,
	[REPLACEMENT_CATEGORY] [varchar](50) NULL,
	[DIRECTORATE_CD] [varchar](50) NULL,
	[DIVISION_CD] [varchar](50) NULL,
	[DEPARTMENT_CD] [varchar](50) NULL,
	[SECTION_CD] [varchar](50) NULL,
	[LINE_CD] [varchar](50) NULL,
	[GROUP_CD] [varchar](50) NULL,
	[PLANT_CD] [varchar](50) NULL,
	[POS_CATEGORY] [varchar](50) NULL,
	[VOCATION_TYPE] [varchar](50) NULL,
	[NOREG_EXISTING] [varchar](50) NULL,
	[IS_CONTINUE] [varchar](50) NULL,
	[GENDER] [varchar](50) NULL,
	[NOREG_REPLACEMENT] [varchar](50) NULL,
	[REPLACEMENT_CONFIRMATION] [varchar](50) NULL,
	[REMARK] [nvarchar](255) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[REQUEST_TYPE] [varchar](50) NULL,
 CONSTRAINT [PK__TB_R_POS__44913E02E698D986] PRIMARY KEY CLUSTERED 
(
	[REPLACEMENT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
