/****** Object:  StoredProcedure [dbo].[SP_ADMIN_MP_SUMMARY_GET_INQUIRY_copy1]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_MP_SUMMARY_GET_INQUIRY_copy1]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'ORG_ID',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @DEPARTMENT_ID AS NVARCHAR(50) = NULL,
    @PLANT_CD AS NVARCHAR(50) = NULL,
    @SECTION_CD AS NVARCHAR(50) = NULL,
    @TERM AS NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('ORG_ID', 'COM', 'DIR', 'DIV', 'PLANT', 'DEP', 'SEC', 'LIN', 'TOTAL_DATA', 'MORE_60_DAYS', 'BETWEEN_30_60_DAYS', 'LESS_30_DAYS', 'TOTAL_RECRUITMENT', 'TOTAL_ACTIVE', 'TOTAL_TERMINATE', 'TOTAL_END_OF_CONTRACT', 'ADDITIONAL', 'PRODUCTION', 'TRAINING')
    BEGIN
        SET @OrderBy = 'ORG_ID';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @Offset INT = @PAGE;

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
            MOR.ORG_ID,
            MOR.COM,
            MOR.DIR,
            MOR.DIV,
--             MOR.PLANT,
            P.MAIN_LOCATION AS PLANT,
            MOR.DEP,
            MOR.SEC,
            MOR.LIN,
            COUNT(MOA.REGISTRATION_NUMBER) AS TOTAL_DATA,
            SUMMARY_CONTRACT.MORE_60_DAYS,
            SUMMARY_CONTRACT.BETWEEN_30_60_DAYS,
            SUMMARY_CONTRACT.LESS_30_DAYS,
            SUMMARY_CONTRACT.TOTAL_RECRUITMENT,
            SUMMARY_CONTRACT.TOTAL_ACTIVE,
            SUMMARY_CONTRACT.TOTAL_TERMINATE,
            SUMMARY_CONTRACT.TOTAL_END_OF_CONTRACT,
            SUMMARY_LABOR.ADDITIONAL,
            SUMMARY_LABOR.PRODUCTION,
            SUMMARY_LABOR.TRAINING
        FROM
            TB_M_ORG_RANK MOR
						LEFT JOIN TB_M_PLANT P ON MOR.PLANT = P.PLANT_CD
            LEFT JOIN TB_R_ORG_ASSIGNMENT MOA ON COALESCE(MOR.DIR_ID, ''-'') + COALESCE(MOR.DIV_ID, ''-'') + COALESCE(MOR.DEP_ID, ''-'') + COALESCE(MOR.SEC_ID, ''-'') + COALESCE(MOR.LIN_ID, ''-'') + COALESCE(MOR.PLANT, ''-'') = COALESCE(MOA.DIRECTORATE_ID, ''-'') + COALESCE(MOA.DIVISION_ID, ''-'') + COALESCE(MOA.DEPARTMENT_ID, ''-'') + COALESCE(MOA.SECTION_ID, ''-'') + COALESCE(MOA.LINE_ID, ''-'') + COALESCE(MOA.MAIN_LOCATION, ''-'')
            AND GETDATE() BETWEEN MOA.VALID_FROM AND MOA.VALID_TO
            LEFT JOIN (
                SELECT
                    SUM(CASE WHEN DATEDIFF(DAY, GETDATE(), CONTRACT_END) > 60 THEN 1 ELSE 0 END) AS MORE_60_DAYS,
                    SUM(CASE WHEN DATEDIFF(DAY, GETDATE(), CONTRACT_END) BETWEEN 30 AND 60 THEN 1 ELSE 0 END) AS BETWEEN_30_60_DAYS,
                    SUM(CASE WHEN DATEDIFF(DAY, GETDATE(), CONTRACT_END) < 30 THEN 1 ELSE 0 END) AS LESS_30_DAYS,
                    SUM(CASE WHEN PROFILE_STATUS = ''1'' THEN 1 ELSE 0 END) AS TOTAL_RECRUITMENT,
                    SUM(CASE WHEN PROFILE_STATUS = ''2'' AND GETDATE() BETWEEN CONTRACT_START AND CONTRACT_END THEN 1 ELSE 0 END) AS TOTAL_ACTIVE,
                    SUM(CASE WHEN PROFILE_STATUS = ''3'' THEN 1 ELSE 0 END) AS TOTAL_TERMINATE,
                    SUM(CASE WHEN PROFILE_STATUS = ''4'' THEN 1 ELSE 0 END) AS TOTAL_END_OF_CONTRACT,
                    OA.DIRECTORATE_ID,
                    OA.DIVISION_ID,
                    OA.DEPARTMENT_ID,
                    OA.SECTION_ID,
                    OA.LINE_ID,
                    OA.MAIN_LOCATION
                FROM
                    TB_M_PROFILE P
                    INNER JOIN TB_R_ORG_ASSIGNMENT OA ON P.REGISTRATION_NUMBER = OA.REGISTRATION_NUMBER
                    AND GETDATE() BETWEEN OA.VALID_FROM AND OA.VALID_TO
                    LEFT JOIN TB_M_PLANT PL ON OA.MAIN_LOCATION = PL.PLANT_CD
                GROUP BY
                    OA.DIRECTORATE_ID,
                    OA.DIVISION_ID,
                    OA.DEPARTMENT_ID,
                    OA.SECTION_ID,
                    OA.LINE_ID,
                    OA.MAIN_LOCATION
            ) AS SUMMARY_CONTRACT ON COALESCE(MOR.DIR_ID, ''-'') + COALESCE(MOR.DIV_ID, ''-'') + COALESCE(MOR.DEP_ID, ''-'') + COALESCE(MOR.SEC_ID, ''-'') + COALESCE(MOR.LIN_ID, ''-'') + COALESCE(MOR.PLANT, ''-'') = COALESCE(SUMMARY_CONTRACT.DIRECTORATE_ID, ''-'') + COALESCE(SUMMARY_CONTRACT.DIVISION_ID, ''-'') + COALESCE(SUMMARY_CONTRACT.DEPARTMENT_ID, ''-'') + COALESCE(SUMMARY_CONTRACT.SECTION_ID, ''-'') + COALESCE(SUMMARY_CONTRACT.LINE_ID, ''-'') + COALESCE(SUMMARY_CONTRACT.MAIN_LOCATION, ''-'')
            LEFT JOIN (
                SELECT
                    SUM(CASE WHEN LT.LABOR_CD = ''LT-250821-000003'' THEN 1 ELSE 0 END) AS ADDITIONAL,
                    SUM(CASE WHEN LT.LABOR_CD = ''LT-250821-000001'' THEN 1 ELSE 0 END) AS TRAINING,
                    SUM(CASE WHEN LT.LABOR_CD = ''LT-250821-000002'' THEN 1 ELSE 0 END) AS PRODUCTION,
                    OA.DIRECTORATE_ID,
                    OA.DIVISION_ID,
                    OA.DEPARTMENT_ID,
                    OA.SECTION_ID,
                    OA.LINE_ID,
                    OA.MAIN_LOCATION
                FROM
                    TB_R_ORG_ASSIGNMENT OA
                    LEFT JOIN TB_M_SYSTEM_MASTER SM ON SM.SYSTEM_CD = OA.POS_CATEGORY AND SM.SYSTEM_TYPE = ''POS_CATEGORY''
                    LEFT JOIN TB_M_LABOR_TYPE LT ON LT.LABOR_CD = OA.LABOR_TYPE
                    LEFT JOIN TB_M_PLANT PL ON PL.MAIN_LOCATION = OA.MAIN_LOCATION
                WHERE
                    1 = 1
                GROUP BY
                    OA.DIRECTORATE_ID,
                    OA.DIVISION_ID,
                    OA.DEPARTMENT_ID,
                    OA.SECTION_ID,
                    OA.LINE_ID,
                    OA.MAIN_LOCATION
            ) SUMMARY_LABOR ON COALESCE(MOR.DIR_ID, ''-'') + COALESCE(MOR.DIV_ID, ''-'') + COALESCE(MOR.DEP_ID, ''-'') + COALESCE(MOR.SEC_ID, ''-'') + COALESCE(MOR.LIN_ID, ''-'') + COALESCE(MOR.PLANT, ''-'') = COALESCE(SUMMARY_LABOR.DIRECTORATE_ID, ''-'') + COALESCE(SUMMARY_LABOR.DIVISION_ID, ''-'') + COALESCE(SUMMARY_LABOR.DEPARTMENT_ID, ''-'') + COALESCE(SUMMARY_LABOR.SECTION_ID, ''-'') + COALESCE(SUMMARY_LABOR.LINE_ID, ''-'') + COALESCE(SUMMARY_LABOR.MAIN_LOCATION, ''-'')
        WHERE
            1 = 1 AND MOR.DIV IS NOT NULL AND GRU IS NULL AND LIN IS NOT NULL
    ';

    IF @DEPARTMENT_ID IS NOT NULL AND @DEPARTMENT_ID <> ''
        SET @SQL = @SQL + ' AND MOR.DEP_ID = @DEPARTMENT_ID';
    
    IF @PLANT_CD IS NOT NULL AND @PLANT_CD <> ''
        SET @SQL = @SQL + ' AND MOR.PLANT = @PLANT_CD';

    IF @SECTION_CD IS NOT NULL AND @SECTION_CD <> ''
        SET @SQL = @SQL + ' AND MOR.SEC_ID = @SECTION_CD';
    
    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (
                MOR.DEP LIKE ''%'' + @TERM + ''%'' OR
                MOR.PLANT LIKE ''%'' + @TERM + ''%'' OR
                MOR.DIV LIKE ''%'' + @TERM + ''%'' OR
                MOR.LIN LIKE ''%'' + @TERM + ''%''
            )
        ';

    SET @SQL = @SQL + '
        GROUP BY
            MOR.ORG_ID,
            MOR.COM,
            MOR.DIR,
            MOR.DIV,
            MOR.PLANT,
            MOR.DEP,
            MOR.SEC,
            MOR.LIN,
            SUMMARY_CONTRACT.MORE_60_DAYS,
            SUMMARY_CONTRACT.BETWEEN_30_60_DAYS,
            SUMMARY_CONTRACT.LESS_30_DAYS,
            SUMMARY_CONTRACT.TOTAL_RECRUITMENT,
            SUMMARY_CONTRACT.TOTAL_ACTIVE,
            SUMMARY_CONTRACT.TOTAL_TERMINATE,
            SUMMARY_CONTRACT.TOTAL_END_OF_CONTRACT,
            SUMMARY_LABOR.ADDITIONAL,
            SUMMARY_LABOR.PRODUCTION,
            SUMMARY_LABOR.TRAINING,
						P.MAIN_LOCATION
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
    ';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @DEPARTMENT_ID NVARCHAR(50), @PLANT_CD NVARCHAR(50), @SECTION_CD NVARCHAR(50), @TERM NVARCHAR(MAX)',
        @Offset = @Offset,
        @PageSize = @PageSize,
        @DEPARTMENT_ID = @DEPARTMENT_ID,
        @PLANT_CD = @PLANT_CD,
        @SECTION_CD = @SECTION_CD,
        @TERM = @TERM;
END;
GO
