/****** Object:  Table [dbo].[TB_R_VOC_TRANSFER_STATUS_LOG]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_VOC_TRANSFER_STATUS_LOG](
	[LOG_CD] [varchar](36) NOT NULL,
	[TRANSFER_CD] [varchar](36) NOT NULL,
	[OLD_STATUS] [varchar](20) NULL,
	[NEW_STATUS] [varchar](20) NOT NULL,
	[ACTION_BY] [varchar](50) NOT NULL,
	[ACTION_DATE] [datetime] NULL,
	[REMARKS] [nvarchar](500) NULL,
 CONSTRAINT [PK__TB_R_VOC__4364D8C54EB451EF] PRIMARY KEY CLUSTERED 
(
	[LOG_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_VOC_TRANSFER_STATUS_LOG] ADD  DEFAULT (getdate()) FOR [ACTION_DATE]
GO
ALTER TABLE [dbo].[TB_R_VOC_TRANSFER_STATUS_LOG]  WITH CHECK ADD  CONSTRAINT [FK_STATUS_LOG] FOREIGN KEY([TRANSFER_CD])
REFERENCES [dbo].[TB_R_VOC_TRANSFER_H] ([TRANSFER_CD])
GO
ALTER TABLE [dbo].[TB_R_VOC_TRANSFER_STATUS_LOG] CHECK CONSTRAINT [FK_STATUS_LOG]
GO
