/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GROUP_LIST_STORE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GROUP_LIST_STORE]
    @PLACEMENT_REQUEST_CD AS VARCHAR(50),
    @USERNAME AS VARCHAR(50) = 'SYSTEM'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @VOCATION_END_DT_FROM AS VARCHAR(20);
		DECLARE @VOCATION_END_DT_TO AS VARCHAR(20);

		DECLARE @New_Replacement_CD VARCHAR(50);
		DECLARE @TodayDateFormatted VARCHAR(6); -- YYMMDD format
		DECLARE @LastIncrement INT;
		DECLARE @Prefix VARCHAR(5) = 'PLR';

		IF NOT EXISTS (SELECT 1 FROM TB_R_PLACEMENT_REQUEST WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD)
		BEGIN
				SELECT 'false' AS status, 'Failed. Placement Request Code not found.' AS message;
				RETURN;
		END

		SELECT 
				@VOCATION_END_DT_FROM = VOCATION_END_DT_FROM, 
				@VOCATION_END_DT_TO = VOCATION_END_DT_TO 
		FROM TB_R_PLACEMENT_REQUEST 
		WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD;

		SET @TodayDateFormatted = FORMAT(GETDATE(), 'yyMMdd');

		SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(REPLACEMENT_CD, 6) AS INT)), 0)
		FROM [dbo].[TB_R_POSITION_REPLACEMENT]
		WHERE REPLACEMENT_CD LIKE @Prefix + '-' + @TodayDateFormatted + '-%';

		SET @LastIncrement = @LastIncrement + 1;

    BEGIN TRANSACTION;

    BEGIN TRY
				DELETE FROM TB_R_POSITION_REPLACEMENT WHERE REF_REQUEST_CD = @PLACEMENT_REQUEST_CD;
				
				IF OBJECT_ID('tempdb..#UnpivotedCounts') IS NOT NULL
						DROP TABLE #UnpivotedCounts;
				IF OBJECT_ID('tempdb..#GeneratedRows') IS NOT NULL
						DROP TABLE #GeneratedRows;

				SELECT
						GROUP_CD,
						MALE_MANPOWER AS QTY,
						'M' AS GENDER,
						VOCATION_TYPE
				INTO #UnpivotedCounts 
				FROM TB_R_PLACEMENT_REQUEST_GROUP_LIST
				WHERE MALE_MANPOWER > 0 AND PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD
				UNION ALL
				SELECT
						GROUP_CD,
						FEMALE_MANPOWER AS QTY,
						'F' AS GENDER, 
						VOCATION_TYPE
				FROM TB_R_PLACEMENT_REQUEST_GROUP_LIST
				WHERE FEMALE_MANPOWER > 0 AND PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD;

				DECLARE @MaxQty INT = (SELECT ISNULL(MAX(QTY), 0) FROM #UnpivotedCounts);

				WITH Numbers AS (
						SELECT 1 AS n
						UNION ALL
						SELECT n + 1
						FROM Numbers
						WHERE n < @MaxQty
				)
				SELECT
						uc.GROUP_CD,
						uc.GENDER,
						uc.VOCATION_TYPE
				INTO #GeneratedRows
				FROM #UnpivotedCounts uc
						JOIN Numbers n ON n.n <= uc.QTY 
				OPTION (MAXRECURSION 0); 

				INSERT INTO TB_R_POSITION_REPLACEMENT (
            REPLACEMENT_CD,
            REPLACEMENT_TYPE,
            REF_REQUEST_CD,
            REF_SCHEDULE_CD,
            REQUEST_TYPE,
            REPLACEMENT_CATEGORY,
            DIRECTORATE_CD,
            DIVISION_CD,
            DEPARTMENT_CD,
            SECTION_CD,
            LINE_CD,
            GROUP_CD,
            PLANT_CD,
            POS_CATEGORY,
            VOCATION_TYPE,
            NOREG_EXISTING,
            IS_CONTINUE,
            GENDER,
            CREATED_DT,
            CREATED_BY
        )
				SELECT
						@Prefix + '-' + @TodayDateFormatted + '-' + RIGHT('000000' + CAST(@LastIncrement + ROW_NUMBER() OVER (ORDER BY GR.GROUP_CD, GR.GENDER) - 1 AS VARCHAR(6)), 6)  AS REPLACEMENT_CD,
						'PLACEMENT_REQUEST' AS REPLACEMENT_TYPE,
						PR.PLACEMENT_REQUEST_CD AS REF_REQUEST_CD,
						PR.PLACEMENT_SCHEDULE_CD AS REF_SCHEDULE_CD,
						PR.REQUEST_TYPE,
						PR.CAUSE_CATEGORY AS REPLACEMENT_CATEGORY,
						ORG.DIR_ID AS DIRECTORATE_CD,
						ORG.DIV_ID AS DIVISION_CD,
						ORG.DEP_ID AS DEPARTMENT_CD,
						ORG.SEC_ID AS SECTION_CD,
						ORG.LIN_ID AS LINE_CD,
						ORG.GRU_ID AS GROUP_CD,
						ORG.PLANT AS PLANT_CD,
						CASE WHEN GR.VOCATION_TYPE = 'PS-20251016-0001' OR GR.VOCATION_TYPE = 'PS-20251016-0002' THEN '1' ELSE '2' END AS POS_CATEGORY,
						GR.VOCATION_TYPE,
						NULL AS NOREG_EXISTING,
						NULL AS IS_CONTINUE,
						GR.GENDER,
						GETDATE() AS CREATED_DT,
						@USERNAME
						
				FROM #GeneratedRows GR
				LEFT JOIN TB_M_ORG_RANK ORG ON GR.GROUP_CD = ORG.GRU_ID
				LEFT JOIN TB_R_PLACEMENT_REQUEST PR ON PR.PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD;
        
        COMMIT TRANSACTION;
        
        SELECT 'true' AS status,'Data successfully stored in Vocation List.' AS message;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END
GO
