/****** Object:  UserDefinedTableType [dbo].[APPROVAL_MATRIX]    Script Date: 21/10/2025 09:14:25 ******/
CREATE TYPE [dbo].[APPROVAL_MATRIX] AS TABLE(
	[APPROVAL_MATRIX_CD] [varchar](20) NOT NULL,
	[PURPOSE_CD] [varchar](100) NULL,
	[BRANCH_CD] [varchar](20) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[ORG_NAME] [varchar](250) NULL,
	[APPROVAL_TYPE] [varchar](50) NULL,
	[APPROVAL_SEQ] [int] NULL,
	[MIN_VALUE] [decimal](18, 2) NULL,
	[MAX_VALUE] [decimal](18, 2) NULL,
	[APPROVER_ROLE] [varchar](150) NULL,
	[APPROVAL_POSITION] [varchar](150) NULL,
	[REQUESTOR_ROLE] [varchar](150) NULL,
	[COORDINATOR_ID] [varchar](20) NULL,
	[COORDINATOR_NAME] [varchar](150) NULL,
	[IS_MANDATORY] [bit] NULL,
	[IS_FINAL_APPROVAL] [bit] NULL,
	[IS_SPECIAL_APPROVAL] [bit] NULL,
	[VALID_FROM] [datetime] NULL,
	[VALID_TO] [datetime] NULL,
	[IS_ACTIVE] [varchar](1) NULL,
	[IS_DELETED] [varchar](1) NULL,
	[MODE] [varchar](10) NULL
)
GO
