/****** Object:  StoredProcedure [dbo].[SP_MASTER_SCHOOL_MAJOR_GET_DETAIL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_SCHOOL_MAJOR_GET_DETAIL]
    @SCHOOL_CD AS VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      SCHOOL_MAJOR_CD,
      SCHOOL_CD,
      MAJOR_NAME,
      CREATED_DT,
      CREATED_BY,
      UPDATED_DT,
      UPDATED_BY
    FROM
      TB_M_SCHOOL_MAJOR 
    WHERE
      SCHOOL_CD = @SCHOOL_CD;
END;
GO
