/****** Object:  StoredProcedure [dbo].[SP_SHARED_LOCATION_PLANT_GET_COMBOBOX]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SHARED_LOCATION_PLANT_GET_COMBOBOX]
    @TERM AS VARCHAR(MAX)
AS 
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        tmp.PLANT_CD AS id,
        tmp.MAIN_LOCATION AS text 
    FROM TB_M_PLANT tmp
    WHERE tmp.MAIN_LOCATION LIKE '%' + @TERM + '%'
        AND IS_ACTIVE = 1 
    ORDER BY tmp.MAIN_LOCATION ASC;
END;
GO
