/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_GET_ORG_RANK_OPTION]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_GET_ORG_RANK_OPTION]
    @parent_id INT,
    @type VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    IF @type = 'com'
    BEGIN
        SELECT DISTINCT ORG_ID AS id, ORG_TITLE AS text
        FROM [dbo].[TB_M_ORG_RANK]
        WHERE LEVEL_ID = 1; -- Asumsi 'com' adalah level tertinggi
    END
    ELSE IF @type = 'dir'
    BEGIN
        SELECT DIR_ID AS id, DIR AS text
        FROM [dbo].[TB_M_ORG_RANK]
        WHERE 
--         ORG_PARENT = @parent_id AND 
        DIR IS NOT NULL
        GROUP BY DIR_ID, DIR;
    END
    ELSE IF @type = 'div'
    BEGIN
        IF @parent_id <> '' BEGIN
          SELECT DIV_ID AS id, DIV AS text
          FROM [dbo].[TB_M_ORG_RANK]
          WHERE ORG_PARENT = @parent_id AND DIV IS NOT NULL
          GROUP BY DIV_ID, DIV;
        END ELSE BEGIN
          SELECT DIV_ID AS id, DIV AS text
          FROM [dbo].[TB_M_ORG_RANK]
          WHERE DIV IS NOT NULL
          GROUP BY DIV_ID, DIV;

        END
    END
    ELSE IF @type = 'dep'
    BEGIN
        IF @parent_id <> '' BEGIN
          SELECT DEP_ID AS id, DEP AS text
          FROM [dbo].[TB_M_ORG_RANK]
          WHERE ORG_PARENT = @parent_id AND DEP IS NOT NULL
          GROUP BY DEP_ID, DEP;
        END ELSE BEGIN
          SELECT DEP_ID AS id, DEP AS text
          FROM [dbo].[TB_M_ORG_RANK]
          WHERE DEP IS NOT NULL
          GROUP BY DEP_ID, DEP;
        END
    END
    ELSE IF @type = 'sec'
    BEGIN
        SELECT SEC_ID AS id, SEC AS text
        FROM [dbo].[TB_M_ORG_RANK]
        WHERE ORG_PARENT = @parent_id AND SEC IS NOT NULL
        GROUP BY SEC_ID, SEC;
    END
    ELSE IF @type = 'lin'
    BEGIN
        SELECT LIN_ID AS id, LIN AS text
        FROM [dbo].[TB_M_ORG_RANK]
        WHERE ORG_PARENT = @parent_id AND LIN IS NOT NULL
        GROUP BY LIN_ID, LIN;
    END
    ELSE IF @type = 'gru'
    BEGIN
        SELECT GRU_ID AS id, GRU AS text
        FROM [dbo].[TB_M_ORG_RANK]
        WHERE ORG_PARENT = @parent_id AND GRU IS NOT NULL
        GROUP BY GRU_ID, GRU;
    END
    ELSE
    BEGIN
        -- Menangani kasus jika 'type' tidak valid atau tidak ditemukan
        SELECT NULL AS id, 'Invalid type' AS text WHERE 1=0;
    END
END
GO
