/****** Object:  StoredProcedure [dbo].[SP_MASTER_VOCATIONAL_CENTERL_STORE]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_VOCATIONAL_CENTERL_STORE]
    @VOCATIONAL_CENTER_CD AS VARCHAR(20) = NULL,
    @NAME AS VARCHAR(150),
    @PROVINCE_CD AS VARCHAR(20),
    @CITY_CD AS VARCHAR(20),
    @DISTRICT_CD AS VARCHAR(20),
    @VILLAGE_CD AS VARCHAR(20),
    @ADDRESS AS VARCHAR(150),
    @CP_NAME AS VARCHAR(50),
    @CP_PHONE AS VARCHAR(15),
    @EMAIL AS VARCHAR(50),
    @IS_ACTIVE AS BIT,
    @MODE AS VARCHAR(10),
    @USER_ID AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Logika untuk mode 'Add'
        IF @MODE = 'Add'
        BEGIN
           -- Generate VOCATIONAL_CENTER_CD baru
            DECLARE @New_VOCATIONAL_CENTER_CD VARCHAR(50);
            DECLARE @TodayDate VARCHAR(8);
            DECLARE @LastIncrement INT;

            -- Ambil tanggal hari ini dalam format DDMMYYYY
            SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

            -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
            SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(VOCATIONAL_CENTER_CD, 4) AS INT)), 0)
            FROM [dbo].[TB_M_VOCATIONAL_CENTER]
            WHERE VOCATIONAL_CENTER_CD LIKE 'VC-' + @TodayDate + '%';

            -- Tambahkan 1 untuk mendapatkan nomor urut berikutnya
            SET @LastIncrement = @LastIncrement + 1;

            -- Format SCHOOL_CD baru
            SET @New_VOCATIONAL_CENTER_CD = 'VC-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement AS VARCHAR(4)), 4);
            
            -- Insert data ke tabel TB_M_SCHOOL
            INSERT INTO [dbo].[TB_M_VOCATIONAL_CENTER] (
                VOCATIONAL_CENTER_CD, NAME, PROVINCE_CD, CITY_CD,
                DISTRICT_CD, VILLAGE_CD, ADDRESS, CP_NAME, CP_PHONE,
                EMAIL, IS_ACTIVE, IS_DELETED, CREATED_BY, CREATED_DT
            )
            VALUES (
                @New_VOCATIONAL_CENTER_CD, @NAME, @PROVINCE_CD, @CITY_CD,
                @DISTRICT_CD, @VILLAGE_CD, @ADDRESS, @CP_NAME, @CP_PHONE,
                @EMAIL, @IS_ACTIVE, 0, @USER_ID, GETDATE()
            );
            
            SELECT 'true' AS status, 'Success storing new data.' AS message;
        END

        -- Logika untuk mode 'Edit'
        ELSE IF @MODE = 'Edit'
        BEGIN
            -- Cek apakah data sekolah yang akan diupdate ada dan belum dihapus secara soft-delete
            IF EXISTS (SELECT 1 FROM [dbo].[TB_M_VOCATIONAL_CENTER] WHERE VOCATIONAL_CENTER_CD = @VOCATIONAL_CENTER_CD AND IS_DELETED = 0)
            BEGIN
                UPDATE [dbo].[TB_M_VOCATIONAL_CENTER]
                SET
                    NAME = @NAME,
                    PROVINCE_CD = @PROVINCE_CD,
                    CITY_CD = @CITY_CD,
                    DISTRICT_CD = @DISTRICT_CD,
                    VILLAGE_CD = @VILLAGE_CD,
                    ADDRESS = @ADDRESS,
                    CP_NAME = @CP_NAME,
                    CP_PHONE = @CP_PHONE,
                    EMAIL = @EMAIL,
                    IS_ACTIVE = @IS_ACTIVE,
                    UPDATED_BY = @USER_ID,
                    UPDATED_DT = GETDATE()
                WHERE
                    VOCATIONAL_CENTER_CD = @VOCATIONAL_CENTER_CD;

                SELECT 'true' AS status, 'Success updating data.' AS message;
            END
            ELSE
            BEGIN
                SELECT 'false' AS status, 'No active record found with the provided School Code for update.' AS message;
            END
        END
        ELSE
        BEGIN
            -- Kembalikan pesan gagal
            SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
        END
    END TRY
    BEGIN CATCH
        
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
