/****** Object:  Table [dbo].[TB_R_PROGRESS_TRACKING]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_PROGRESS_TRACKING](
	[PROGRESS_CD] [varchar](50) NOT NULL,
	[REFERENCE_CD] [varchar](50) NULL,
	[MODULE_NAME] [varchar](100) NOT NULL,
	[PERIOD] [varchar](10) NOT NULL,
	[CUT_OFF_FROM] [date] NOT NULL,
	[CUT_OFF_TO] [date] NOT NULL,
	[STATUS] [varchar](20) NOT NULL,
	[CURRENT_STEP] [int] NOT NULL,
	[TOTAL_STEPS] [int] NOT NULL,
	[REMARKS] [nvarchar](500) NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK__TB_R_PRO__EC26AEA075FBB5DE] PRIMARY KEY CLUSTERED 
(
	[PROGRESS_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_PROGRESS_TRACKING] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
