/****** Object:  StoredProcedure [dbo].[SP_MASTER_ROLE_GET_MENU]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ROLE_GET_MENU]
AS
BEGIN
    SET NOCOUNT ON;

    -- Get all distinct function codes associated with the user's roles,
    -- including their parent function codes if they exist.
    WITH UserAccessibleFunctions AS (
        SELECT
            ra.FUNCTION_CD
        FROM
            TB_R_USER_ROLES ur
        INNER JOIN
            TB_M_ROLES_AUTH ra ON ur.ROLE_CD = ra.ROLE_CD

        UNION

        SELECT
            f.FUNCTION_PARENT_CD
        FROM
            TB_R_USER_ROLES ur
        INNER JOIN
            TB_M_ROLES_AUTH ra ON ur.ROLE_CD = ra.ROLE_CD
        INNER JOIN
            TB_M_FUNCTION f ON ra.FUNCTION_CD = f.FUNCTION_CD
        WHERE COALESCE(f.IS_DELETED, 0) = 0
    )
    -- Select the distinct parent menu functions that are active
    -- and order them by their display order.
    SELECT DISTINCT
        f.*
    FROM
        TB_M_FUNCTION f
    LEFT JOIN
        UserAccessibleFunctions uaf ON f.FUNCTION_CD = uaf.FUNCTION_CD
    WHERE
        COALESCE(f.FUNCTION_ACTIVE, '1') = '1'
        AND  COALESCE(f.IS_DELETED, 0) = 0
--         AND f.FUNCTION_PARENT_CD IS NULL
    ORDER BY
        f.FUNCTION_CD ASC, f.FUNCTION_ORDER ASC;

END;
GO
