/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_GET_INQUIRY_20251016]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_GET_INQUIRY_20251016]
    @PAGE AS INT = 0,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'ISSUED_DATE',
    @OrderDirection AS VARCHAR(5) = 'DESC',
    @PERIOD varchar(10),
    @TERM NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('CLOSING_ATTENDANCE_CD', 'PERIOD', 'CUT_OFF_FROM', 'CUT_OFF_TO', 'STATUS', 'STATUS_NM', 'TOTAL_EMPLOYEE', 'TOTAL_WORKING_DAYS', 'TOTAL_CUMMULATIVE_ESH', 'ISSUED_BY', 'ISSUED_DATE')
    BEGIN
        SET @OrderBy = 'ISSUED_DATE';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'DESC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
      SELECT 
        CLOSING_ATTENDANCE_CD,
        CLOSING_ATTENDANCE_PERIOD AS PERIOD,
        CUT_OFF_FROM,
        CUT_OFF_TO,
        STATUS,
        SM.SYSTEM_VALUE AS STATUS_NM,
        TOTAL_EMPLOYEE,
        TOTAL_WORKING_DAYS,
        TOTAL_EXTRA_STUDY_HOURS AS TOTAL_CUMMULATIVE_ESH,
        U.FULL_NAME AS ISSUED_BY,
        COALESCE(UPDATED_DATE, CREATED_DATE) AS ISSUED_DATE
        
        
      FROM TB_R_CLOSING_ATTENDANCE CA
      LEFT JOIN TB_M_USERS U ON U.USERNAME = COALESCE(CA.UPDATED_BY, CA.CREATED_BY)
      LEFT JOIN TB_M_SYSTEM_MASTER SM ON CA.STATUS = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = ''ATTENDANCE_CLOSING''
      ';
    
    IF @PERIOD IS NOT NULL AND @PERIOD <> ''
      SET @SQL = @SQL + ' CA.PERIOD = @PERIOD'
      
    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (
          CA.PERIOD LIKE ''%'' + @TERM + ''%'' OR 
          U.FULL_NAME LIKE ''%'' + @TERM + ''%'' OR
          SM.SYSTEM_VALUE LIKE ''%'' + @TERM + ''%'')';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@PERIOD DATE, @TERM NVARCHAR(MAX), @Offset INT, @PageSize INT',
        @PERIOD = @PERIOD,
        @TERM = @TERM,
        @Offset = @PAGE,
        @PageSize = @PageSize;
END
GO
