/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ROTATION_REQUEST_GET_FEEDBACK]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ROTATION_REQUEST_GET_FEEDBACK]
    @TRANSFER_CD VARCHAR(50)
AS 
BEGIN
    SET NOCOUNT ON;

    SELECT 
        FEEDBACK_BY,
        FEEDBACK_NAME,
        FEEDBACK_TEXT,
        FEEDBACK_DATE
    FROM 
        [dbo].[TB_R_VOC_TRANSFER_FEEDBACK] AA
    WHERE 
        AA.TRANSFER_CD = @TRANSFER_CD
    ORDER BY CREATED_DT DESC;
END;
GO
