/****** Object:  StoredProcedure [dbo].[SP_MASTER_MESSAGE_GET_INQUIRY]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_MESSAGE_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'SCHOOL_NAME',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @TERM AS VARCHAR(100) = NULL,
    @IS_ACTIVE AS VARCHAR(10) = NULL,
    @CHANNEL_TYPE AS VARCHAR(10) = NULL
    
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('KEY', 'DESCRIPTION', 'SUBJECT', 'CHANNEL', 'IS_ACTIVE', 'CREATED_DT')
    BEGIN
        SET @OrderBy = 'KEY';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
          MT.MESSAGE_CD,
          MT.[KEY],
          MT.DESCRIPTION,
          MT.SUBJECT,
          SM.SYSTEM_VALUE AS CHANNEL_NAME,
          CONVERT(VARCHAR, MT.IS_ACTIVE) AS IS_ACTIVE,
          MT.CREATED_DT
        FROM
            TB_M_MESSAGE_TEMPLATE MT
            INNER JOIN TB_M_SYSTEM_MASTER SM ON MT.CHANNEL = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = ''CHANNEL_TYPE'' AND SM.IS_ACTIVE = ''1''
        WHERE
            MT.IS_DELETED = ''0''';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (
          MT.[KEY] LIKE ''%'' + @TERM + ''%'' OR 
          MT.DESCRIPTION LIKE ''%'' + @TERM + ''%'' OR 
          MT.SUBJECT LIKE ''%'' + @TERM + ''%'' OR 
          SM.SYSTEM_VALUE LIKE ''%'' + @TERM + ''%'')';
          
    IF @IS_ACTIVE IS NOT NULL AND @IS_ACTIVE <> ''
        SET @SQL = @SQL + ' AND MT.IS_ACTIVE = @IS_ACTIVE';
        
    IF @CHANNEL_TYPE IS NOT NULL AND @CHANNEL_TYPE <> ''
        SET @SQL = @SQL + ' AND MT.CHANNEL = @CHANNEL_TYPE';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @TERM VARCHAR(100), @IS_ACTIVE VARCHAR(10), @CHANNEL_TYPE VARCHAR(10)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
        @TERM = @TERM,
        @IS_ACTIVE = @IS_ACTIVE,
        @CHANNEL_TYPE = @CHANNEL_TYPE;
END;
GO
