/****** Object:  Table [dbo].[TB_R_ASSESSMENT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_ASSESSMENT](
	[PRF_ASSESSMENT_CD] [varchar](20) NOT NULL,
	[REGISTRATION_NUMBER] [varchar](20) NULL,
	[ASSESSMENT_TYPE] [varchar](50) NULL,
	[ASSESSMENT_H_CD] [varchar](20) NULL,
	[ASSESSMENT_NAME] [varchar](150) NULL,
	[ASSESSMENT_DATE] [datetime] NULL,
	[ASSESSMENT_RESULT] [varchar](150) NULL,
	[ASSESSMENT_SUMMARY] [varchar](255) NULL,
	[ASSESSMENT_REMARKS] [varchar](255) NULL,
	[ASSESSMENT_EXPIRED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK__TB_R_ASS__702190FC498C77D8] PRIMARY KEY CLUSTERED 
(
	[PRF_ASSESSMENT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
