/****** Object:  StoredProcedure [dbo].[SP_MASTER_MENU_FEATURE_GET_DETAIL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_MENU_FEATURE_GET_DETAIL]
    @FUNCTION_CD AS VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      FEATURE_CD,
      FUNCTION_CD,
      FEATURE_NAME,
      FEATURE_DESCRIPTION,
      FEATURE_ACTIVE,
      FEATURE_ELEMENT_ID,
      FEATURE_ELEMENT_TYPE,
      FEATURE_ELEMENT_ICON,
      FEATURE_ACTION,
      CREATED_BY,
      CREATED_DT,
      UPDATED_BY,
      UPDATED_DT

    FROM
      TB_M_FUNCTION_FEATURE 
    WHERE
      FUNCTION_CD = @FUNCTION_CD;
END;
GO
