/****** Object:  Table [dbo].[TB_M_JOB]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_JOB](
	[JOB_ID] [int] NOT NULL,
	[JOB_NAME] [varchar](50) NULL,
	[MODULE_ID] [int] NULL,
	[JOB_TEXT] [varchar](max) NULL,
	[CREATED_BY] [varchar](64) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](64) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_M_JOB] PRIMARY KEY CLUSTERED 
(
	[JOB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
