/****** Object:  Table [dbo].[TB_M_SHIFT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_SHIFT](
	[SHIFT_CD] [varchar](20) NOT NULL,
	[SHIFT_KEY] [varchar](15) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[WORKING_HOUR] [int] NULL,
	[AREA] [varchar](50) NULL,
	[CLOCK_IN] [time](7) NULL,
	[CLOCK_OUT] [time](7) NULL,
	[DATE] [date] NULL,
	[PERIOD] [varchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_M_SHI__EF7E50409343AF68] PRIMARY KEY CLUSTERED 
(
	[SHIFT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
