/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ESH_APPROVE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ESH_APPROVE]
    @ATTENDANCE_CD VARCHAR(50),
    @FILE_NAME VARCHAR(MAX),
    @FILE_PATH VARCHAR(MAX),
    @APPROVER VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Ensures the transaction is rolled back on any error

    BEGIN TRY
        -- Start the transaction
        BEGIN TRANSACTION;
				
				DECLARE @APPROVAL_SEQ INT;
				DECLARE @TOTAL_APPROVED INT;
				DECLARE @TOTAL_APPROVAL INT;
				DECLARE @PENDING_APPROVAL INT;
				DECLARE @NOREG VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @APPROVER);
				
				SELECT 
					@APPROVAL_SEQ = APPROVAL_SEQ 
				FROM TB_R_EXTRA_STUDY_APPROVAL 
					WHERE ATTENDANCE_CD = @ATTENDANCE_CD 
					AND APPROVAL_NOREG = @NOREG;
				
				SELECT 
					@PENDING_APPROVAL = COUNT(1) 
				FROM TB_R_EXTRA_STUDY_APPROVAL 
				WHERE 
					ATTENDANCE_CD = @ATTENDANCE_CD 
					AND APPROVAL_SEQ < @APPROVAL_SEQ 
					AND APPROVAL_STATUS = 0;
				
				IF @PENDING_APPROVAL > 0 BEGIN
					SELECT 'false' AS status, 'Approval requires sequential order.' AS message;
					RETURN;
				END
				
				SELECT @TOTAL_APPROVED = SUM(COALESCE(APPROVAL_STATUS, 0)), @TOTAL_APPROVAL = COUNT(1)
				FROM TB_R_EXTRA_STUDY_APPROVAL 
				WHERE 
					ATTENDANCE_CD = @ATTENDANCE_CD;

        DECLARE @ESH_CD VARCHAR(50) = (SELECT EXTRA_STUDY_CD FROM TB_R_EXTRA_STUDY WHERE ATTENDANCE_CD = @ATTENDANCE_CD);
        DECLARE @RowsAffected INT;
        
        -- UPDATE statement
        UPDATE TB_R_EXTRA_STUDY_APPROVAL
        SET 
            APPROVAL_DATE = GETDATE(),
            APPROVAL_STATUS = '1',
            UPDATED_BY = @APPROVER,
            UPDATED_DT = GETDATE()
        WHERE 
            ATTENDANCE_CD = @ATTENDANCE_CD AND APPROVAL_NOREG = @NOREG;
            
        -- Check if the UPDATE was successful
        SET @RowsAffected = @@ROWCOUNT;
				
				IF ((@TOTAL_APPROVED + 1) = @TOTAL_APPROVAL) BEGIN
        
          UPDATE TB_R_EXTRA_STUDY SET 
            STATUS = '3',
            UPDATED_BY = @APPROVER,
            UPDATED_DT = GETDATE() 
          WHERE ATTENDANCE_CD = @ATTENDANCE_CD;
          
        END

        -- Insert attachment data if available
        IF (@FILE_PATH IS NOT NULL AND @FILE_PATH <> '') AND (@FILE_NAME IS NOT NULL AND @FILE_NAME <> '')
        BEGIN
            INSERT INTO TB_R_EXTRA_STUDY_ATTACHMENT (
                ATTACHMENT_CD,
                EXTRA_STUDY_CD,
                FILE_NAME,
                FILE_PATH,
                DESCRIPTION,
                CREATED_DT,
                CREATED_BY,
                ATTENDANCE_CD
            )
            SELECT
                @ATTENDANCE_CD + '-' + CONVERT(VARCHAR, (SELECT ISNULL(COUNT(1), 0) + 1 FROM TB_R_EXTRA_STUDY_ATTACHMENT WHERE ATTENDANCE_CD = @ATTENDANCE_CD)),
                @ESH_CD,
                @FILE_NAME,
                @FILE_PATH,
                'ATTACHMENT_APPROVED_ESH',
                GETDATE(),
                @APPROVER,
                @ATTENDANCE_CD
            FROM TB_R_ATTENDANCE 
            WHERE ATTENDANCE_CD = @ATTENDANCE_CD;
        END;

        IF @RowsAffected > 0
        BEGIN
            -- Commit the transaction if the update was successful
            COMMIT TRANSACTION;
            SELECT 'true' AS status, 'Success approve data.' AS message, @ESH_CD as id;
        END
        ELSE
        BEGIN
            -- Rollback the transaction if no rows were updated
            ROLLBACK TRANSACTION;
            SELECT 'false' AS status, 'Error: No data found to be approved.' AS message;
        END

    END TRY
    BEGIN CATCH
        -- Check if a transaction is active and roll it back
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Return a general error message from the CATCH block
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
