/****** Object:  StoredProcedure [dbo].[SP_MASTER_SCHOOL_DELETE]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_SCHOOL_DELETE]
    @SCHOOL_CD AS VARCHAR(50),
    @USER_ID AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @RowsAffected_Header INT;

        UPDATE [dbo].[TB_M_SCHOOL]
        SET
            IS_DELETED = 1,
            DELETED_BY = @USER_ID,
            DELETED_DT = GETDATE()
        WHERE
            SCHOOL_CD = @SCHOOL_CD;

        SET @RowsAffected_Header = @@ROWCOUNT;

        IF @RowsAffected_Header > 0
        BEGIN
        
        SELECT
          'true' AS status,
          'Success delete data.' AS message;
      END
      ELSE
      BEGIN    
        SELECT
          'false' AS status,
          'Failed to delete data. School Code not found or already deleted.' AS message;
        END
    END TRY
    BEGIN CATCH
        SELECT
              'false' AS status,
              'Internal server error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
