/****** Object:  StoredProcedure [dbo].[SP_MASTER_MESSAGE_GET_DETAIL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_MESSAGE_GET_DETAIL]
    @MESSAGE_CD AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
      MT.MESSAGE_CD,
      MT.[KEY],
      MT.DESCRIPTION,
      MT.CHANNEL,
      SM.SYSTEM_VALUE AS CHANNEL_NAME,
      MT.SUBJECT,
      MT.HEADER,
      MT.BODY,
      MT.FOOTER,
      CONVERT(VARCHAR, MT.IS_ACTIVE) AS IS_ACTIVE  
    FROM TB_M_MESSAGE_TEMPLATE MT
    INNER JOIN TB_M_SYSTEM_MASTER SM ON SM.SYSTEM_CD = MT.CHANNEL AND SM.SYSTEM_TYPE = 'CHANNEL_TYPE' AND SM.IS_ACTIVE = '1'
    WHERE 
      MT.MESSAGE_CD = @MESSAGE_CD OR MT.[KEY] = @MESSAGE_CD
      AND MT.IS_DELETED = '0';
END;
GO
