/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERS_GET_USER_TYPE_OPTION]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERS_GET_USER_TYPE_OPTION]
    @USERNAME AS VARCHAR(100) 
AS
BEGIN
  SET NOCOUNT ON;
  
  DECLARE @USER_CD VARCHAR(50) = (SELECT USER_CD FROM TB_M_USERS WHERE USERNAME = @USERNAME)
  DECLARE @IS_SUPER_ADMIN INT = (SELECT COUNT(1) FROM TB_R_USER_ROLES WHERE USER_CD = @USER_CD AND ROLE_CD = 'SPR_ADM')
  
  SELECT
      SYSTEM_CD AS id,
      SYSTEM_VALUE AS text
  FROM TB_M_SYSTEM_MASTER
  WHERE
      SYSTEM_TYPE = 'USER_TYPE'
      AND (@IS_SUPER_ADMIN > 0 OR SYSTEM_CD <> '1')
  ORDER BY
      SYSTEM_SEQUENCE;
END
GO
