/****** Object:  StoredProcedure [dbo].[SP_COMMON_GET_APPROVAL_MATRIX]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_COMMON_GET_APPROVAL_MATRIX]
  @PURPOSE_CD AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

   SELECT
      APPROVAL_MATRIX_CD,
      APPROVAL_SEQ,
      APPROVER_ROLE,
      APPROVAL_POSITION from [dbo].[TB_M_APPROVAL_MATRIX]
    WHERE
      PURPOSE_CD = @PURPOSE_CD
      AND COALESCE(IS_ACTIVE, '1') = '1'
      AND COALESCE(IS_DELETED, '0') = '0'
    ORDER BY
      APPROVAL_SEQ ASC
END;
GO
