/****** Object:  StoredProcedure [dbo].[SP_MASTER_SYSTEM_GET_DETAIL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_SYSTEM_GET_DETAIL]
    @SYSTEM_ID AS VARCHAR(50) = NULL,
    @SYSTEM_TYPE AS VARCHAR(50) = NULL,
    @SYSTEM_CD AS VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON; 
    
    IF @SYSTEM_ID IS NOT NULL AND @SYSTEM_ID <> '' BEGIN
      SELECT TOP 1
        SYSTEM_ID,
        SYSTEM_TYPE,
        SYSTEM_CD,
        SYSTEM_VALUE,
        SYSTEM_REMARK,
        SYSTEM_SEQUENCE,
        CONVERT(VARCHAR, IS_ACTIVE) AS IS_ACTIVE,
        CREATED_BY,
        CREATED_DT,
        UPDATED_BY,
        UPDATED_DT
      FROM 
          TB_M_SYSTEM_MASTER
      WHERE 
          COALESCE(IS_DELETED, '0') = '0' AND SYSTEM_ID = @SYSTEM_ID
    END ELSE BEGIN
      SELECT TOP 1
        SYSTEM_ID,
        SYSTEM_TYPE,
        SYSTEM_CD,
        SYSTEM_VALUE,
        SYSTEM_REMARK,
        SYSTEM_SEQUENCE,
        CONVERT(VARCHAR, IS_ACTIVE) AS IS_ACTIVE,
        CREATED_BY,
        CREATED_DT,
        UPDATED_BY,
        UPDATED_DT
      FROM 
          TB_M_SYSTEM_MASTER
      WHERE 
          COALESCE(IS_DELETED, '0') = '0'
          AND SYSTEM_CD = @SYSTEM_CD
          AND SYSTEM_TYPE = @SYSTEM_TYPE
    END     
END;
GO
