/****** Object:  StoredProcedure [dbo].[SP_MASTER_LABORTYPE_STORE]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_LABORTYPE_STORE]
    @LABOR_CD AS VARCHAR(20) = '',
    @LABOR_TYPE AS VARCHAR(3) = '',
    @CATEGORY AS VARCHAR(3) = '',
    @DESCRIPTION AS VARCHAR(255) = '',
    @IS_ACTIVE AS VARCHAR(1) = '',        -- Input as VARCHAR, convert to BIT (expecting '0' or '1')
	@MODE AS VARCHAR(10) = '',
	@USER_ID AS VARCHAR(50) = ''-- New parameter for CREATED_BY/UPDATED_BY
AS
BEGIN
    SET NOCOUNT ON; -- Improves performance by suppressing message counts

    -- Declare variables for converted values
    DECLARE @IS_ACTIVE_BIT AS BIT;
	DECLARE @EXISTING_COUNT AS INT;

    BEGIN TRY
        -- Convert @IS_ACTIVE to BIT. Handles '0' or '1' string input.
        SET @IS_ACTIVE_BIT = CAST(@IS_ACTIVE AS BIT);


        IF @MODE = 'Add'
        BEGIN
            -- Check if SYSTEM_TYPE and SYSTEM_CD already exist
            SELECT @EXISTING_COUNT = COUNT(1)
            FROM TB_M_LABOR_TYPE
            WHERE LABOR_TYPE = @LABOR_TYPE and CATEGORY = @CATEGORY;

            IF @EXISTING_COUNT > 0
            BEGIN
                -- Warning: Data already exists
                SELECT 'false' AS status, 'Data with Labor Type and Category already exists.' AS message;
            END
            ELSE
            BEGIN
				DECLARE @LAST as VARCHAR(6)
				DECLARE @MIDDLEFORMAT as VARCHAR(6)
				SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
				SET @LAST = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(LABOR_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_LABOR_TYPE WHERE LABOR_CD LIKE '%LT-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2) + '%')
                -- Insert statement
                INSERT INTO TB_M_LABOR_TYPE(
                    [LABOR_CD],
                    [LABOR_TYPE],
                    [CATEGORY],
                    [DESCRIPTION],
                    [IS_ACTIVE],
                    [IS_DELETED],
                    CREATED_BY,
                    CREATED_DT,
                    UPDATED_BY,    -- Set to NULL on creation
                    UPDATED_DT     -- Set to NULL on creation
                )
                VALUES (
                    'LT-'+  @MIDDLEFORMAT +'-'+@LAST,
                    @LABOR_TYPE,
                    @CATEGORY,
                    @DESCRIPTION,
                    @IS_ACTIVE_BIT,
                    '0',
                    @USER_ID,
                    GETDATE(),
                    NULL,
                    NULL
                );

                SELECT 'true' AS status, 'Success storing new data.' AS message;
            END
        END
        ELSE IF @MODE = 'Edit'
        BEGIN 
			SELECT @EXISTING_COUNT = COUNT(1)
            FROM TB_M_LABOR_TYPE
            WHERE LABOR_TYPE = @LABOR_TYPE and CATEGORY = @CATEGORY AND LABOR_CD <> @LABOR_CD;
            IF @EXISTING_COUNT > 0
            BEGIN
                -- Warning: Data already exists for another record
                SELECT 'false' AS status, 'Data with Labor Type and Category already exists for another record.' AS message;
            END
            ELSE
            BEGIN
                -- Update statement with SYSTEM_ID
                UPDATE TB_M_LABOR_TYPE
                SET
                    LABOR_TYPE = @LABOR_TYPE,
                    CATEGORY = @CATEGORY,
                    DESCRIPTION = @DESCRIPTION,
                    IS_ACTIVE = @IS_ACTIVE_BIT,
                    UPDATED_BY = @USER_ID,
                    UPDATED_DT = GETDATE()
                WHERE LABOR_CD = @LABOR_CD;

                -- Check if any row was actually updated
                IF @@ROWCOUNT = 0
                BEGIN
                    SELECT 'false' AS status, 'No record found with the provided Labor Code for update.' AS message;
                END
                ELSE
                BEGIN
                    SELECT 'true' AS status, 'Success updating data.' AS message;
                END
            END
        END
        ELSE
        BEGIN
            -- Invalid MODE
            SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
        END

    END TRY
    BEGIN CATCH
        -- Error handling
        SELECT 'false' AS status, ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
