/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ATTENDANCE_APPROVE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ATTENDANCE_APPROVE]
    @ATTENDANCE_CD VARCHAR(50),
    @APPROVER VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @NOREG VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @APPROVER);
        DECLARE @RowsAffected INT;
        
        UPDATE TB_R_ATTENDANCE_APPROVAL
        SET 
            APPROVED_DT = GETDATE(),
            APPROVAL_STATUS = '1',
            UPDATED_BY = @APPROVER,
            UPDATED_DT = GETDATE()
        WHERE 
            ATTENDANCE_CD = @ATTENDANCE_CD AND APPROVER_NOREG = @NOREG;

        -- Check the number of rows affected by the UPDATE statement
        SET @RowsAffected = @@ROWCOUNT;

        IF @RowsAffected > 0
        BEGIN
            -- Return success message if at least one row was updated
            SELECT 'true' AS status, 'Success approve data.' AS message;
        END
        ELSE
        BEGIN
            -- Return a specific error message if no rows were updated
            SELECT 'false' AS status, 'Error: No data found to be approved.' AS message;
        END
    END TRY
    BEGIN CATCH
        -- Return a general error message from the CATCH block
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
