/****** Object:  StoredProcedure [dbo].[SP_MASTER_ROLE_DELETE]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ROLE_DELETE]
    @ROLE_CD AS VARCHAR(50),
    @USER_ID AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- The BEGIN TRY block handles potential errors during execution.
    BEGIN TRY
        -- Start a transaction. All subsequent changes will be committed or rolled back together.
        BEGIN TRANSACTION;

        -- Perform the soft-delete UPDATE operation on the main roles table
        UPDATE [dbo].[TB_M_ROLES]
        SET
            IS_DELETED = 1,
            DELETED_BY = @USER_ID,
            DELETED_DT = GETDATE()
        WHERE
            ROLE_CD = @ROLE_CD
            AND COALESCE(IS_DELETED, 0) = 0;

        -- Check if the UPDATE statement affected any rows.
        -- If no rows were found, we will roll back the transaction and return a failure message.
        IF @@ROWCOUNT = 0
        BEGIN
            -- Rollback the transaction because the role was not found or already deleted.
            ROLLBACK TRANSACTION;

            -- Return the failure message and exit the procedure.
            SELECT
                'false' AS status,
                'Failed to delete data. ROLE_CD not found or already inactive.' AS message;

            RETURN; -- Exit the procedure
        END;

        -- If the UPDATE was successful, proceed to delete the associated permissions.
--         DELETE FROM TB_M_ROLES_AUTH WHERE ROLE_CD = @ROLE_CD;

        -- If all statements succeeded, commit the transaction to make the changes permanent.
        COMMIT TRANSACTION;

        -- Return the success message.
        SELECT
            'true' AS status,
            'Success delete data.' AS message;

    END TRY
    BEGIN CATCH
        -- This block executes if any error occurs in the TRY block.

        -- Check if a transaction is active. If so, roll it back.
        -- This is a critical step to prevent partial updates.
        IF XACT_STATE() <> 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        -- Return a generic failure message to the caller.
        SELECT
            'false' AS status,
            'An error occurred. The transaction was rolled back.' AS message;

        -- Re-throw the error to provide more details about the failure.
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);

    END CATCH;
END;
GO
