/****** Object:  StoredProcedure [dbo].[SP_MASTER_ATTRIBUTE_STORE]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ATTRIBUTE_STORE]
      @ATTRIBUTE_CD AS VARCHAR(20) = NULL,
      @ATTRIBUTE_NAME AS VARCHAR(100),
      @ATTRIBUTE_VALUE AS VARCHAR(100),
      @DESCRIPTION AS VARCHAR(255),
      @IS_ACTIVE AS BIT,
      @MODE AS VARCHAR(10),
      @USER_ID AS VARCHAR(50)
  AS
  BEGIN 
      SET NOCOUNT ON;
      -- Logika untuk mode 'Add'
      IF @MODE = 'Add'
      BEGIN
         -- Generate SCHOOL_CD baru
          DECLARE @New_ATT_CD VARCHAR(50);
          DECLARE @TodayDate VARCHAR(8);
          DECLARE @LastIncrement INT;

          -- Ambil tanggal hari ini dalam format DDMMYYYY
          SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

          -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
          SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(ATTRIBUTE_CD, 3) AS INT)), 0)
          FROM [dbo].[TB_M_ATTRIBUTES]
          WHERE ATTRIBUTE_CD LIKE 'ATT-' + @TodayDate + '%';

          -- Tambahkan 1 untuk mendapatkan nomor urut berikutnya
          SET @LastIncrement = @LastIncrement + 1;

          -- Format SCHOOL_CD baru
          SET @New_ATT_CD = 'ATT-' + @TodayDate + '-' + RIGHT('000' + CAST(@LastIncrement AS VARCHAR(3)), 3);
          
          -- Insert data ke tabel TB_M_SCHOOL
          INSERT INTO [dbo].[TB_M_ATTRIBUTES] (
              ATTRIBUTE_CD, ATTRIBUTE_NAME, ATTRIBUTE_VALUE, DESCRIPTION, IS_ACTIVE, CREATED_BY, CREATED_DT
          )
          VALUES (
              @New_ATT_CD, @ATTRIBUTE_NAME, @ATTRIBUTE_VALUE, @DESCRIPTION, @IS_ACTIVE, @USER_ID, GETDATE()
          );

          SELECT 'true' AS status, 'Success storing new data.' AS message;
      END
      -- Logika untuk mode 'Edit'
      ELSE IF @MODE = 'Edit'
      BEGIN
          -- Cek apakah data sekolah yang akan diupdate ada dan belum dihapus secara soft-delete
          IF EXISTS (SELECT 1 FROM [dbo].[TB_M_ATTRIBUTES] WHERE ATTRIBUTE_CD = @ATTRIBUTE_CD AND COALESCE(IS_DELETED, 0) = 0)
          BEGIN
              UPDATE [dbo].[TB_M_ATTRIBUTES]
              SET
                  ATTRIBUTE_NAME = @ATTRIBUTE_NAME,
                  ATTRIBUTE_VALUE = @ATTRIBUTE_VALUE,
                  DESCRIPTION = @DESCRIPTION,
                  IS_ACTIVE = @IS_ACTIVE,
                  UPDATED_BY = @USER_ID,
                  UPDATED_DT = GETDATE()
              WHERE
                  ATTRIBUTE_CD = @ATTRIBUTE_CD;
                  
              SELECT 'true' AS status, 'Success updating data.' AS message;
          END
          ELSE
          BEGIN
              SELECT 'false' AS status, 'No active record found with the provided School Code for update.' AS message;
          END
      END
      ELSE BEGIN
          SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
      END
  END
GO
