/****** Object:  StoredProcedure [dbo].[SP_MASTER_ORGRANK_GET_DETAIL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ORGRANK_GET_DETAIL]
    @ORG_RANK_CD AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
      ORG_RANK_CD, 
          ORG_TITLE,
          LEVEL_NAME,
		  PLANT = C.MAIN_LOCATION,
          UNIT_CODE, 
         STEP, 
          COM, 
          DIR, 
          DIV, 
          DEP, 
          SEC, 
          LIN, 
          GRU 
    FROM [dbo].[TB_M_ORG_RANK] A
	LEFT JOIN  TB_M_PLANT C ON C.PLANT_CD = A.PLANT
	 LEFT JOIN [dbo].[TB_M_ORG_LEVEL] B ON A.LEVEL_ID = B.LEVEL_ID
    WHERE 
      [ORG_RANK_CD] = @ORG_RANK_CD
      --AND IS_DELETED = '0';
END;
GO
