/****** Object:  StoredProcedure [dbo].[SP_MASTER_MENU_DELETE]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_MENU_DELETE]
    @FUNCTION_CD AS VARCHAR(50),
    @USER_ID AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;

    BEGIN TRY
        DECLARE @RowsAffected_Header INT;

        UPDATE [dbo].[TB_M_FUNCTION]
        SET
            IS_DELETED = 1,
            DELETED_BY = @USER_ID,
            DELETED_DT = GETDATE()
        WHERE
            FUNCTION_CD = @FUNCTION_CD
            AND COALESCE(IS_DELETED, 0) = 0;
            
       SET @RowsAffected_Header = @@ROWCOUNT;
        
        DELETE FROM TB_M_ROLES_AUTH WHERE FUNCTION_CD = @FUNCTION_CD

       

        IF @RowsAffected_Header > 0
        BEGIN
        
            COMMIT TRANSACTION;
            SELECT
              'true' AS status,
              'Success delete data.' AS message;
        END
        ELSE
        BEGIN
            ROLLBACK TRANSACTION;
            
            SELECT
              'false' AS status,
              'Failed to delete data. Function Code not found or already inactive.' AS message;
        END
    END TRY
    BEGIN CATCH
        -- Jika terjadi error, rollback semua perubahan
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        
        SELECT
              'false' AS status,
              'Internal server error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
