/****** Object:  StoredProcedure [dbo].[SP_MASTER_SYSTEM_GET_COMBOBOX]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_SYSTEM_GET_COMBOBOX]
    @SYSTEM_TYPE AS VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @SYSTEM_TYPE = 'BANK' BEGIN
      SELECT distinct HOUSE_STREET AS id, HOUSE_STREET as text FROM [dbo].[TB_M_BANK_KEY]
    END ELSE BEGIN
    
      SELECT 
        SYSTEM_CD AS id, 
        SYSTEM_VALUE AS text 
      FROM TB_M_SYSTEM_MASTER 
        WHERE SYSTEM_TYPE = @SYSTEM_TYPE 
        AND IS_ACTIVE = 1 
        AND COALESCE(IS_DELETED, '0') = '0' 
      ORDER BY SYSTEM_SEQUENCE ASC;
      
  END
    
    
END
GO
