/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_STORE_START_PROCESS]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_STORE_START_PROCESS]
	@FILENAME NVARCHAR(250),
	@USER_ID NVARCHAR(20)

AS

BEGIN
	DECLARE @LASTDOC as VARCHAR(6)
	DECLARE @MIDDLEFORMATDOC as VARCHAR(6)
	DECLARE @HISTORY_UPLOAD_CD VARCHAR(50)

	SET @MIDDLEFORMATDOC = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
	SET @LASTDOC = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT([HISTORY_UPLOAD_CD],6) AS int)),0)+1 AS VARCHAR(6)),6) FROM [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] WHERE [HISTORY_UPLOAD_CD] LIKE '%HU-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')
	SET @HISTORY_UPLOAD_CD = 'HU-'+  @MIDDLEFORMATDOC +'-'+@LASTDOC

	INSERT INTO [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE]([HISTORY_UPLOAD_CD],[DOCUMENT_NAME],[STATUS],TOTAL_DATA,[TOTAL_DATA_SUCCESS_VALIDATION], [TOTAL_DATA_FAILED_VALIDATION],[UPLOAD_DATE],[UPLOAD_BY])
	VALUES
	(@HISTORY_UPLOAD_CD,@FILENAME,'PROCESSING',NULL,NULL,NULL, GETDATE(),@USER_ID) 


	SELECT 'true' AS status, 'Success storing new data.' AS message;
END
GO
