/****** Object:  StoredProcedure [dbo].[SP_AUTH_RESET_PASSWORD]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_RESET_PASSWORD]
    @TOKEN AS VARCHAR(100),
    @PASSWORD AS VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    -- Deklarasi variabel untuk menyimpan informasi user
    DECLARE @USER_CD_FROM_TOKEN AS NVARCHAR(50);
    DECLARE @USERNAME_FROM_TOKEN AS NVARCHAR(150);
    DECLARE @RowsAffectedPasswordUpdate INT;

    BEGIN TRY
        -- Mulai transaksi
        BEGIN TRANSACTION;

        -- 1. Ambil USER_CD dan USERNAME berdasarkan token.
        -- Ini juga berfungsi sebagai validasi awal token.
        SELECT TOP 1
            @USER_CD_FROM_TOKEN = UD.USER_CD,
            @USERNAME_FROM_TOKEN = U.USERNAME
        FROM
            TB_R_USER_DEVICES AS UD
        INNER JOIN
            TB_M_USERS AS U ON UD.USER_CD = U.USER_CD
        WHERE
            UD.FORGET_PASSWORD_TOKEN = @TOKEN
            AND UD.FORGET_PASSWORD_TOKEN IS NOT NULL;

        -- Jika token tidak valid atau tidak ditemukan user terkait
        IF @USER_CD_FROM_TOKEN IS NULL
        BEGIN
            -- Rollback transaksi jika token tidak valid
            ROLLBACK TRANSACTION;
            SELECT 'false' AS status, 'Invalid or expired token.' AS message;
            RETURN; -- Keluar dari SP
        END

        -- 2. Update password di TB_M_USERS
        UPDATE U
        SET
            U.PASSWORD = HASHBYTES('SHA2_256', @PASSWORD),
            U.UPDATED_DT = GETDATE(),
            U.UPDATED_BY = ISNULL(@USERNAME_FROM_TOKEN, 'System')
        FROM
            TB_M_USERS AS U
        WHERE
            U.USER_CD = @USER_CD_FROM_TOKEN;

        SET @RowsAffectedPasswordUpdate = @@ROWCOUNT; -- Dapatkan jumlah baris yang terpengaruh oleh update password

        -- Jika update password tidak berhasil (misalnya user_cd tidak ditemukan, padahal sebelumnya ditemukan)
        -- Meskipun ini jarang terjadi setelah validasi awal, ini adalah safety net.
        IF @RowsAffectedPasswordUpdate = 0
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 'false' AS status, 'Failed to update user password. Please try again.' AS message;
            RETURN;
        END

        -- 3. Hapus atau nonaktifkan token di TB_R_USER_DEVICES
        UPDATE TB_R_USER_DEVICES
        SET
            FORGET_PASSWORD_TOKEN = NULL,
            UPDATED_BY = ISNULL(@USERNAME_FROM_TOKEN, 'System'),
            UPDATED_DT = GETDATE()
        WHERE
            USER_CD = @USER_CD_FROM_TOKEN
            AND FORGET_PASSWORD_TOKEN = @TOKEN;

        -- Jika kedua operasi berhasil, COMMIT transaksi
        COMMIT TRANSACTION;
        SELECT 'true' AS status, 'Reset password successfully!' AS message;

    END TRY
    BEGIN CATCH
        -- Jika terjadi error, ROLLBACK transaksi untuk membatalkan semua perubahan
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        SELECT 'false' AS status, 'Failed to reset password: ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
