/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_CREATE_FEEDBACK]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_CREATE_FEEDBACK]
    @CLOSING_ATTENDANCE_CD VARCHAR(20),
    @FEEDBACK NVARCHAR(MAX),
    @CREATED_BY NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
    
    DECLARE @NOREG AS VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @CREATED_BY);
    
    
    INSERT INTO TB_R_CLOSING_ATTENDANCE_FEEDBACK (
      ATTENDANCE_FEEDBACK_CD, 
      CLOSING_ATTENDANCE_CD, 
      FEEDBACK, 
      NOREG, 
      CREATED_BY, 
      CREATED_DATE
    ) VALUES (
      CONVERT(VARCHAR(50), NEWID()), 
      @CLOSING_ATTENDANCE_CD, 
      @FEEDBACK, 
      @NOREG, 
      @CREATED_BY, 
      GETDATE()
    )
    SELECT 'true' AS status, 'Success storing data.' AS message;
    END TRY
    BEGIN CATCH
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
