/****** Object:  Table [dbo].[TB_R_CLOSING_ATTENDANCE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_CLOSING_ATTENDANCE](
	[CLOSING_ATTENDANCE_CD] [varchar](20) NOT NULL,
	[CLOSING_ATTENDANCE_DATE] [date] NULL,
	[CLOSING_ATTENDANCE_PERIOD] [date] NULL,
	[CUT_OFF_FROM] [date] NULL,
	[CUT_OFF_TO] [date] NULL,
	[TOTAL_EMPLOYEE] [int] NULL,
	[TOTAL_WORKING_DAYS] [int] NULL,
	[TOTAL_HOLIDAYS] [int] NULL,
	[TOTAL_EXTRA_STUDY_HOURS] [decimal](10, 2) NULL,
	[STATUS] [varchar](20) NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[TOTAL_RESIGN] [int] NULL,
	[TOTAL_NEW_VOCATION] [int] NULL,
 CONSTRAINT [PK__TB_R_CLO__86AC720E14E09D80] PRIMARY KEY CLUSTERED 
(
	[CLOSING_ATTENDANCE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_CLOSING_ATTENDANCE] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Payroll Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_CLOSING_ATTENDANCE', @level2type=N'COLUMN',@level2name=N'CLOSING_ATTENDANCE_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Closing Date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_CLOSING_ATTENDANCE', @level2type=N'COLUMN',@level2name=N'CLOSING_ATTENDANCE_PERIOD'
GO
