/****** Object:  Table [dbo].[TB_R_PLACEMENT_REQUEST_APPROVAL]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_PLACEMENT_REQUEST_APPROVAL](
	[PLACEMENT_REQUEST_APPROVAL_CD] [varchar](20) NOT NULL,
	[PLACEMENT_REQUEST_CD] [varchar](20) NULL,
	[APPROVAL_MATRIX_CD] [varchar](20) NULL,
	[APPROVER_POSITION] [varchar](100) NULL,
	[APPROVER_SEQUENCE] [int] NULL,
	[APPROVER_NOREG] [varchar](20) NULL,
	[APPROVAL_STATUS] [varchar](50) NULL,
	[APPROVED_DT] [datetime] NULL,
	[REMARK] [nvarchar](255) NULL,
	[OTP_APPROVAL] [varchar](6) NULL,
	[OTP_APPROVAL_CONFIRMATION] [varchar](6) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_R_PLA__04BE4F7336C64215] PRIMARY KEY CLUSTERED 
(
	[PLACEMENT_REQUEST_APPROVAL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
