/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GET_DETAIL]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GET_DETAIL]
    @PLACEMENT_REQUEST_CD AS VARCHAR(50) = NULL 
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
			PR.PLACEMENT_REQUEST_CD,
			PS.PLACEMENT_SCHEDULE_CD,
			SYS1.SYSTEM_VALUE + ' ' + PS.PERIOD_NAME AS PERIOD_NAME,
			SYS2.SYSTEM_VALUE AS REQUEST_TYPE,
			SYS2.SYSTEM_CD AS REQUEST_TYPE_CD,
			SYS3.SYSTEM_VALUE AS CAUSE_CATEGORY,
			SYS3.SYSTEM_CD AS CAUSE_CATEGORY_CD,
			ORG.ORG_TITLE,
			CONVERT(VARCHAR, PR.VOCATION_END_DT_FROM, 126) AS VOCATION_END_DT_FROM,
			CONVERT(VARCHAR, PR.VOCATION_END_DT_TO) AS VOCATION_END_DT_TO,
			PR.REMARKS
			
		FROM
			TB_R_PLACEMENT_REQUEST PR
			INNER JOIN TB_R_PLACEMENT_SCHEDULE PS ON PR.PLACEMENT_SCHEDULE_CD = PS.PLACEMENT_SCHEDULE_CD
			LEFT JOIN TB_M_SYSTEM_MASTER SYS1 ON PS.PERIOD_WEEK = SYS1.SYSTEM_CD AND SYS1.SYSTEM_TYPE = 'WEEK'
			LEFT JOIN TB_M_SYSTEM_MASTER SYS2 ON PR.REQUEST_TYPE = SYS2.SYSTEM_CD AND SYS2.SYSTEM_TYPE = 'REQUEST_TYPE'
			LEFT JOIN TB_M_SYSTEM_MASTER SYS3 ON PR.CAUSE_CATEGORY = SYS3.SYSTEM_CD AND SYS3.SYSTEM_TYPE = 'CAUSE_CATEGORY'
			INNER JOIN TB_M_ORG_RANK ORG ON PR.DEPARTMENT_CD = ORG.ORG_RANK_CD
		WHERE PR.PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD
END;
GO
