/****** Object:  Table [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE](
	[NIK] [nvarchar](16) NOT NULL,
	[FULL_NAME] [nvarchar](100) NULL,
	[CATEGORY] [varchar](150) NULL,
	[PHONE] [nvarchar](15) NOT NULL,
	[EMAIL] [nvarchar](150) NULL,
	[LEVEL] [varchar](20) NULL,
	[BATCH] [varchar](10) NULL,
	[LATEST_PROCESS_RECRUITMENT] [nvarchar](50) NULL,
	[LATEST_TEST_DATE] [varchar](50) NULL,
	[TEST_RESULT] [varchar](150) NULL,
	[RESULT_SUMMARY] [varchar](255) NULL,
	[HISTORY_UPLOAD_CD] [varchar](50) NULL,
	[IS_SUCCESS_VALIDATE] [bit] NULL,
	[REMARKS_ISSUE_VALIDATE] [varchar](1000) NULL,
	[IS_SUCCESS_UPLOAD] [bit] NULL,
	[REMARKS_ISSUE_UPLOAD] [varchar](1000) NULL
) ON [PRIMARY]
GO
