/****** Object:  Table [dbo].[TB_M_SCHOOL]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_SCHOOL](
	[SCHOOL_CD] [varchar](20) NOT NULL,
	[VOCATIONAL_CENTER_CD] [varchar](20) NULL,
	[NAME] [varchar](150) NULL,
	[PROVINCE_CD] [varchar](20) NULL,
	[CITY_CD] [varchar](20) NULL,
	[DISTRICT_CD] [varchar](20) NULL,
	[VILLAGE_CD] [varchar](20) NULL,
	[ADDRESS] [varchar](150) NULL,
	[MAJORITY] [varchar](50) NULL,
	[CP_NAME] [varchar](50) NULL,
	[CP_PHONE] [varchar](15) NULL,
	[EMAIL] [varchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[IS_DELETED] [bit] NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETED_DT] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_M_SCH__6C2CF07F2B5B06C5] PRIMARY KEY CLUSTERED 
(
	[SCHOOL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_SCHOOL] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[TB_M_SCHOOL] ADD  DEFAULT ('') FOR [DELETED_DT]
GO
