/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GET_TOTAL_MP]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GET_TOTAL_MP]
    @REQUEST_TYPE AS VARCHAR(50),
		@VOCATION_END_DT_FROM VARCHAR(50),
		@VOCATION_END_DT_TO VARCHAR(50),
    @USERNAME AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
		
		DECLARE @DEPARTMENT_CD VARCHAR(10) = (SELECT DEP_ID FROM TB_M_USERS U INNER JOIN TB_M_USER_DETAIL UD ON U.USER_CD = UD.USER_CD WHERE U.USERNAME = @USERNAME)
		
		SELECT
			SUM (CASE WHEN ISNULL(LABOR_TYPE, '') <> '' THEN 1 ELSE 0 END) AS TOTAL,
			SUM (CASE WHEN LABOR_TYPE = 'LT-250821-000001' THEN 1 ELSE 0 END) AS PRODUCTION,
			SUM (CASE WHEN LABOR_TYPE = 'LT-250821-000002' THEN 1 ELSE 0 END) AS TRAINING,
			SUM (CASE WHEN LABOR_TYPE = 'LT-250821-000003' THEN 1 ELSE 0 END) AS OTHER 
		FROM
			TB_R_ORG_ASSIGNMENT ORG 
		WHERE ORG.DEPARTMENT_ID = @DEPARTMENT_CD
		AND @VOCATION_END_DT_TO BETWEEN VALID_FROM AND VALID_TO
END;
GO
