/****** Object:  Table [dbo].[TB_R_ATTENDANCE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_ATTENDANCE](
	[ATTENDANCE_CD] [varchar](20) NOT NULL,
	[REGISTRATION_NUMBER] [varchar](20) NULL,
	[ATTENDANCE_DATE] [date] NULL,
	[SHIFT_CD] [varchar](20) NULL,
	[SHIFT_CLOCK_IN] [time](7) NULL,
	[SHIFT_CLOCK_OUT] [time](7) NULL,
	[CLOCK_IN_TIME] [time](7) NULL,
	[CLOCK_OUT_TIME] [time](7) NULL,
	[ATTENDANCE_STATUS] [varchar](20) NULL,
	[CLOCK_IN_CD] [varchar](20) NULL,
	[CLOCK_OUT_CD] [varchar](20) NULL,
	[CLOCK_IN_CORRECTION_TIME] [time](7) NULL,
	[CLOCK_OUT_CORRECTION_TIME] [time](7) NULL,
	[CLOCK_IN_CORRECTION_CD] [varchar](20) NULL,
	[CLOCK_OUT_CORRECTION_CD] [varchar](20) NULL,
	[REASON] [varchar](255) NULL,
	[WORK_HOURS] [int] NULL,
	[EXCESS_WORK_HOURS] [int] NULL,
	[SOURCE_DATA] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[CLOSING_ATTENDANCE_CD] [varchar](50) NULL,
	[STATUS] [varchar](10) NULL,
 CONSTRAINT [PK__TB_R_ATT__12E689A33091CCF9] PRIMARY KEY CLUSTERED 
(
	[ATTENDANCE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
