/****** Object:  Table [dbo].[TB_M_PROFILE_COMMUNICATION]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_PROFILE_COMMUNICATION](
	[COMMUNICATION_CD] [nvarchar](50) NOT NULL,
	[REGISTRATION_NUMBER] [nvarchar](20) NOT NULL,
	[COMMUNICATION_TYPE] [nvarchar](20) NULL,
	[COMMUNICATION_VALUE] [varchar](100) NULL,
	[COMMUNICATION_REMARKS] [varchar](255) NULL,
	[VALID_FROM] [datetime] NULL,
	[VALID_TO] [datetime] NULL,
 CONSTRAINT [PK_TB_M_PROFILE_COMMUNICATION] PRIMARY KEY CLUSTERED 
(
	[COMMUNICATION_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
