/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_CREATE_WITH_STEPPER]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_CREATE_WITH_STEPPER]
    @CLOSING_PERIOD NVARCHAR(7),
    @CUT_OFF_FROM NVARCHAR(50),
    @CUT_OFF_TO NVARCHAR(50),
    @QUERY NVARCHAR(max),
    @CREATED_BY NVARCHAR(50),
    @CLOSING_ATTENDANCE_CD AS VARCHAR(50) = '',
    @MODE AS VARCHAR(10) = 'ADD'
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (
        SELECT 1
        FROM TB_R_CLOSING_ATTENDANCE
        WHERE
            CUT_OFF_FROM <= @CUT_OFF_TO
            AND CUT_OFF_TO >= @CUT_OFF_FROM
    )
    BEGIN
        SELECT 'false' AS status, 'Attendance Closing for the specified period already exists.' AS message;
        RETURN;
    END
    
    BEGIN TRANSACTION;

    BEGIN TRY
    
    -- INSERT TB_R_CLOSING_ATTENDANCE (HEADER)
    DECLARE @New_CD_Att VARCHAR(50);
    DECLARE @TodayDate VARCHAR(8);
    DECLARE @LastIncrement INT;
    SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');
    
    IF @MODE = 'ADD' BEGIN
      
      SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(CLOSING_ATTENDANCE_CD, 3) AS INT)), 0)
      FROM [dbo].[TB_R_CLOSING_ATTENDANCE]
      WHERE CLOSING_ATTENDANCE_CD LIKE 'CA-' + @TodayDate + '%';

      SET @LastIncrement = @LastIncrement + 1;
      SET @New_CD_Att = 'CA-' + @TodayDate + '-' + RIGHT('000' + CAST(@LastIncrement AS VARCHAR(3)), 3);
      
      
    END ELSE BEGIN
      SET @New_CD_Att = @CLOSING_ATTENDANCE_CD
      
      DELETE FROM TB_R_PROGRESS_TRACKING WHERE REFERENCE_CD = @New_CD_Att AND CURRENT_STEP > 1;
      DELETE FROM TB_R_CLOSING_ATTENDANCE_APPROVAL WHERE CLOSING_ATTENDANCE_CD = @New_CD_Att;
      DELETE FROM TB_R_CLOSING_ATTENDANCE_ATTACHMENT WHERE CLOSING_ATTENDANCE_CD = @New_CD_Att;
      DELETE FROM TB_R_CLOSING_ATTENDANCE_EXTRA_STUDY_SUMMARY WHERE CLOSING_ATTENDANCE_CD = @New_CD_Att;
      DELETE FROM TB_R_CLOSING_ATTENDANCE_FEEDBACK WHERE CLOSING_ATTENDANCE_CD = @New_CD_Att;
      DELETE FROM TB_R_CLOSING_ATTENDANCE_SUMMARY WHERE CLOSING_ATTENDANCE_CD = @New_CD_Att;
    END
    
    DECLARE @PAYROLL_DATE VARCHAR(10) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'PAYROLL_DATE' AND SYSTEM_TYPE = 'PAYROLL')
    DECLARE @CUT_OFF_DATE VARCHAR(10) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'CUT_OFF_DATE' AND SYSTEM_TYPE = 'PAYROLL')

    DECLARE @TOTAL_MP INT = (SELECT COUNT(DISTINCT AT1.REGISTRATION_NUMBER) FROM TB_R_ATTENDANCE AT1 WHERE AT1.ATTENDANCE_DATE BETWEEN @CUT_OFF_FROM AND @CUT_OFF_TO);
    
    DECLARE @NET_WORKING_DAYS INT;
    DECLARE @NET_HOLIDAY_DAYS INT;

    SELECT
        @NET_WORKING_DAYS = SUM(CASE WHEN WORKING_FLAG = '1' THEN 1 ELSE 0 END),
        @NET_HOLIDAY_DAYS = SUM(CASE WHEN WORKING_FLAG = '0' THEN 1 ELSE 0 END)
    FROM TB_M_WORKING_CALENDAR
    WHERE WORKING_DATE BETWEEN @CUT_OFF_FROM AND @CUT_OFF_TO;
    
    DECLARE @TOTAL_ESH DECIMAL(10, 2);

    SELECT @TOTAL_ESH = ISNULL(SUM(DATEDIFF(second, ISNULL(ESH_IN, '00:00:00'), ISNULL(ESH_OUT, '00:00:00'))) / 3600.0, 0)
    FROM TB_R_EXTRA_STUDY
    WHERE [DATE] BETWEEN @CUT_OFF_FROM AND @CUT_OFF_TO;
    
    IF @MODE = 'ADD' BEGIN
      INSERT INTO TB_R_CLOSING_ATTENDANCE (
        CLOSING_ATTENDANCE_CD, 
        CLOSING_ATTENDANCE_DATE, 
        CLOSING_ATTENDANCE_PERIOD, 
        CUT_OFF_FROM, 
        CUT_OFF_TO, 
        TOTAL_EMPLOYEE, 
        TOTAL_WORKING_DAYS, 
        TOTAL_HOLIDAYS, 
        TOTAL_EXTRA_STUDY_HOURS, 
        STATUS, 
        CREATED_BY,
        CREATED_DATE
      ) VALUES (
        @New_CD_Att,
        @CLOSING_PERIOD + '-' + @PAYROLL_DATE,
        @CLOSING_PERIOD,
        @CUT_OFF_FROM,
        @CUT_OFF_TO,
        @TOTAL_MP,
        @NET_WORKING_DAYS,
        @NET_HOLIDAY_DAYS,
        @TOTAL_ESH,
        '2',
        @CREATED_BY,
        GETDATE()
      )
    END ELSE BEGIN
      UPDATE TB_R_CLOSING_ATTENDANCE
        SET CLOSING_ATTENDANCE_DATE = @CLOSING_PERIOD + '-' + @PAYROLL_DATE,
        CLOSING_ATTENDANCE_PERIOD = @CLOSING_PERIOD, 
        CUT_OFF_FROM = @CUT_OFF_FROM, 
        CUT_OFF_TO = @CUT_OFF_TO, 
        TOTAL_EMPLOYEE = @TOTAL_MP, 
        TOTAL_WORKING_DAYS = @NET_WORKING_DAYS, 
        TOTAL_HOLIDAYS = @NET_HOLIDAY_DAYS, 
        TOTAL_EXTRA_STUDY_HOURS = @TOTAL_ESH, 
        STATUS = '1', 
        UPDATED_BY = @CREATED_BY,
        UPDATED_DATE = GETDATE()
      WHERE CLOSING_ATTENDANCE_CD = @New_CD_Att
    END
    
    --END TB_R_CLOSING_ATTENDANCE
    
    -- INSERT TB_R_PROGRESS_TRACKING for Progress Tracking
    
    DECLARE @New_CD VARCHAR(50);
    
    SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(PROGRESS_CD, 3) AS INT)), 0)
    FROM [dbo].[TB_R_PROGRESS_TRACKING]
    WHERE PROGRESS_CD LIKE 'PT-' + @TodayDate + '%';

    SET @LastIncrement = @LastIncrement + 1;
    SET @New_CD = 'PT-' + @TodayDate + '-' + RIGHT('000' + CAST(@LastIncrement AS VARCHAR(3)), 3);
    
    INSERT INTO TB_R_PROGRESS_TRACKING (
        PROGRESS_CD, REFERENCE_CD, MODULE_NAME, PERIOD, CUT_OFF_FROM, CUT_OFF_TO, STATUS, CURRENT_STEP, TOTAL_STEPS, REMARKS, CREATED_BY, CREATED_DT
    )
    VALUES (
        @New_CD, @New_CD_Att, 'ATTENDANCE_CLOSING', @CLOSING_PERIOD, @CUT_OFF_FROM, @CUT_OFF_TO, '1', 1, 4, NULL, @CREATED_BY, GETDATE()
    );
    
    IF @MODE = 'ADD' BEGIN
    
      SET @LastIncrement = @LastIncrement + 2;
      SET @New_CD = 'PT-' + @TodayDate + '-' + RIGHT('000' + CAST(@LastIncrement AS VARCHAR(3)), 3);
    
      INSERT INTO TB_R_PROGRESS_TRACKING (
        PROGRESS_CD, REFERENCE_CD, MODULE_NAME, PERIOD, CUT_OFF_FROM, CUT_OFF_TO, STATUS, CURRENT_STEP, TOTAL_STEPS, REMARKS, CREATED_BY, CREATED_DT
    )
    VALUES (
        @New_CD, @New_CD_Att, 'ATTENDANCE_CLOSING', @CLOSING_PERIOD, @CUT_OFF_FROM, @CUT_OFF_TO, '1', 2, 4, NULL, @CREATED_BY, GETDATE()
    );
    END
    
    -- END TB_R_PROGRESS_TRACKING
    
    -- INSERT TB_R_CLOSING_ATTENDANCE_SUMMARY Summary Attendance
    
    DECLARE @ATT_STATUS_PRESENT VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'PRESENT' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_ABSENT VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'ABSENT' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_CONDITIONAL VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'CONDITIONAL' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_LATE VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'LATE' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_LEAVE_EARLY VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'LEAVE_EARLY' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_SICK VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'SICK' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = 'SELECT
          CONVERT(VARCHAR(50), NEWID()),
          A.REGISTRATION_NUMBER,
          @PERIOD AS PERIOD,
          T4.WORKING_DAYS AS TOTAL_WORKING_DAYS,
          SUM(CASE WHEN A.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_PRESENT, ',', ''',''') + ''')
                   OR (A.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_CONDITIONAL, ',', ''',''') + ''') AND A.CLOCK_IN_TIME IS NOT NULL AND A.CLOCK_OUT_TIME IS NOT NULL OR A.CLOCK_IN_TIME IS NOT NULL AND A.CLOCK_OUT_TIME IS NOT NULL AND A.ATTENDANCE_STATUS IS NULL)
                   THEN 1 ELSE 0 END) AS PRESENT_DAYS,
          SUM(CASE WHEN A.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_SICK, ',', ''',''') + ''')THEN 1 ELSE 0 END) AS SICK_DAYS,
          SUM(CASE WHEN A.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_ABSENT, ',', ''',''') + ''')
                   OR (A.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_CONDITIONAL, ',', ''',''') + ''') AND A.CLOCK_IN_TIME IS NULL AND A.CLOCK_OUT_TIME IS NULL)
                   THEN 1 ELSE 0 END) AS LEAVE_DAYS,
          SUM(CASE WHEN A.ATTENDANCE_STATUS IS NULL AND A.CLOCK_IN_TIME IS NULL AND A.CLOCK_OUT_TIME IS NULL THEN 1 ELSE 0 END) AS ABSENT_DAYS,         
          SUM(CASE WHEN A.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_LATE, ',', ''',''') + ''') THEN 1 ELSE 0 END) AS LATE_COUNT,
          SUM(CASE WHEN A.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_LEAVE_EARLY, ',', ''',''') + ''') THEN 1 ELSE 0 END) AS EARLY_LEAVE_COUNT,
          @CREATED_BY AS CREATED_BY,
          GETDATE() AS CREATED_DT,
          @CLOSING_ATTENDANCE_CD AS CLOSING_ATTENDANCE_CD
          
      FROM
          TB_R_ATTENDANCE AS A
      INNER JOIN
              (SELECT
                  REGISTRATION_NUMBER,
                  COUNT(WORKING_FLAG) AS WORKING_DAYS
              FROM
                  TB_M_WORKING_CALENDAR T3
              LEFT JOIN
                  TB_R_ATTENDANCE T1 ON T3.WORKING_DATE = T1.ATTENDANCE_DATE
              WHERE
                  T3.WORKING_DATE >= @CUT_OFF_FROM
                  AND T3.WORKING_DATE <= @CUT_OFF_TO
                  AND T3.WORKING_FLAG = 1
              GROUP BY
                  REGISTRATION_NUMBER) AS T4 ON A.REGISTRATION_NUMBER = T4.REGISTRATION_NUMBER
      WHERE A.ATTENDANCE_DATE BETWEEN @CUT_OFF_FROM AND @CUT_OFF_TO
      GROUP BY A.REGISTRATION_NUMBER, T4.WORKING_DAYS;'
          
      
      INSERT INTO TB_R_CLOSING_ATTENDANCE_SUMMARY (ATT_SUMMARY_CD, REGISTRATION_NUMBER, PERIOD, TOTAL_WORKING_DAYS, PRESENT_DAYS, SICK_DAYS, LEAVE_DAYS, ABSENT_DAYS, LATE_COUNT, EARLY_LEAVE_COUNT, CREATED_BY, CREATED_DT, CLOSING_ATTENDANCE_CD)
      EXECUTE sp_executesql @SQL,
      N'@CUT_OFF_FROM NVARCHAR(50), @CUT_OFF_TO NVARCHAR(50), @PERIOD NVARCHAR(50), @CLOSING_ATTENDANCE_CD NVARCHAR(50), @CREATED_BY NVARCHAR(50)',
      @CUT_OFF_FROM = @CUT_OFF_FROM,
      @CUT_OFF_TO = @CUT_OFF_TO,
      @PERIOD = @CLOSING_PERIOD,
      @CLOSING_ATTENDANCE_CD = @New_CD_Att,
      @CREATED_BY = @CREATED_BY;
    
    -- END TB_R_CLOSING_ATTENDANCE_SUMMARY
    
    -- INSERT TB_R_CLOSING_ATTENDANCE_EXTRA_STUDY_SUMMARY
    
    SET @SQL = '
        SELECT
          CONVERT(VARCHAR(50), NEWID()),
          ES.REGISTRATION_NUMBER,
          @PERIOD AS PERIOD,
          ISNULL(SUM(CASE WHEN WC.WORKING_FLAG = 1 THEN DATEDIFF(second, ISNULL(ESH_IN, ''00:00:00''), ISNULL(ESH_OUT, ''00:00:00'')) ELSE 0 END) /  3600.0, 0) AS TOTAL_ESH_WEEKDAY,
          ISNULL(SUM(CASE WHEN WC.WORKING_FLAG = 0 THEN DATEDIFF(second, ISNULL(ESH_IN, ''00:00:00''), ISNULL(ESH_OUT, ''00:00:00'')) ELSE 0 END) /  3600.0, 0) AS TOTAL_ESH_WEEKEND,
          ISNULL(SUM(DATEDIFF(second, ISNULL(ESH_IN, ''00:00:00''), ISNULL(ESH_OUT, ''00:00:00''))) /  3600.0, 0) AS TOTAL_CUMMULATIVE_ESH,
          @CREATED_BY AS CREATED_BY,
          GETDATE(),
          NULL,
          NULL,
          @CLOSING_ATTENDANCE_CD AS PROGRESS_CD
        FROM
          TB_R_EXTRA_STUDY ES
          LEFT JOIN TB_M_WORKING_CALENDAR WC ON WC.WORKING_DATE = ES.[DATE]
        WHERE ES.[DATE] >= @CUT_OFF_FROM AND ES.[DATE] <= @CUT_OFF_TO
        GROUP BY ES.REGISTRATION_NUMBER
      ';

      
      INSERT INTO TB_R_CLOSING_ATTENDANCE_EXTRA_STUDY_SUMMARY (EXTRA_STUDY_SUMMARY_CD, REGISTRATION_NUMBER, PERIOD, TOTAL_ESH_WEEKDAY, TOTAL_ESH_WEEKEND, TOTAL_CUMMULATIVE_ESH, CREATED_BY, CREATED_DT, UPDATED_BY, UPDATED_DT, CLOSING_ATTENDANCE_CD)
      EXECUTE sp_executesql @SQL,
      N'@CUT_OFF_FROM NVARCHAR(50), @CUT_OFF_TO NVARCHAR(50), @PERIOD NVARCHAR(50), @CLOSING_ATTENDANCE_CD NVARCHAR(50), @CREATED_BY NVARCHAR(50)',
      @CUT_OFF_FROM = @CUT_OFF_FROM,
      @CUT_OFF_TO = @CUT_OFF_TO,
      @PERIOD = @CLOSING_PERIOD,
      @CLOSING_ATTENDANCE_CD = @New_CD_Att,
      @CREATED_BY = @CREATED_BY;
      
    -- END TB_R_CLOSING_ATTENDANCE_EXTRA_STUDY_SUMMARY
   
    
    -- INSERT TB_R_CLOSING_ATTENDANCE_APPROVAL Approval
    IF OBJECT_ID('tempdb..#TempApproverAttClosing') IS NOT NULL
      BEGIN
          DROP TABLE #TempApproverAttClosing;
      END
      
    CREATE TABLE #TempApproverAttClosing (
        APPROVER_SEQUENCE INT,
        APPROVER_NOREG VARCHAR(50),
        APPROVER_POSITION VARCHAR(50)
    );
        
    IF @QUERY IS NOT NULL AND @QUERY <> ''
    BEGIN
        DECLARE @fullQuery NVARCHAR(MAX) =  @QUERY;
        EXEC sp_executesql @fullQuery;
    END;
    
    INSERT INTO TB_R_CLOSING_ATTENDANCE_APPROVAL (
          APPROVAL_CD,
          CLOSING_ATTENDANCE_CD,
          APPROVAL_DATA_SUMMARY,
          APPROVAL_LEVEL,
          APPROVAL_NAME,
          APPROVAL_NOREG,
          APPROVAL_DATE,
          APPROVAL_SEQ,
          APPROVAL_TYPE,
          APPROVAL_STATUS,
          CREATED_BY,
          CREATED_DT
        )
        SELECT
            @New_CD_Att + '-' + CAST(APPROVER_SEQUENCE AS VARCHAR),
            @New_CD_Att,
            NULL,
            APPROVER_POSITION,
            FULL_NAME,
            u.NOREG,
            NULL,
            APPROVER_SEQUENCE,
            APPROVAL_TYPE,
            '0',
            @CREATED_BY,
            GETDATE()
        FROM #TempApproverAttClosing temp
        INNER JOIN TB_M_APPROVAL_MATRIX am ON temp.APPROVER_POSITION = am.APPROVAL_POSITION AND am.PURPOSE_CD = 'ATTENDANCE_CLOSING' 
        INNER JOIN TB_M_USER_DETAIL ud ON temp.APPROVER_NOREG = ud.NOREG
        INNER JOIN TB_M_USERS u ON ud.NOREG = u.NOREG
    -- END TB_R_CLOSING_ATTENDANCE_APPROVAL
    
    COMMIT TRANSACTION;
    SELECT 'true' AS status, 'Success storing data.' AS message, @New_CD_Att as id;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
