/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_DELETE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_DELETE]
    @PLACEMENT_REQUEST_CD AS VARCHAR(20),
    @USERNAME AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @STATUS VARCHAR(1) = (SELECT REQUEST_APPROVAL_STATUS FROM TB_R_PLACEMENT_REQUEST WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD);
    
    IF(@STATUS = '3')
    BEGIN
      SELECT
        'false' AS status,
        'Cannot delete data, Data already approved.' AS message;
        RETURN;
    END

    BEGIN TRY
        DECLARE @RowsAffected_Header INT;

        UPDATE [dbo].[TB_R_PLACEMENT_REQUEST]
        SET
            IS_DELETED = 1,
            DELETED_BY = @USERNAME,
            DELETED_DT = GETDATE()
        WHERE
            PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD;

        SET @RowsAffected_Header = @@ROWCOUNT;

        IF @RowsAffected_Header > 0
        BEGIN
        
        SELECT
          'true' AS status,
          'Success delete data.' AS message;
      END
      ELSE
      BEGIN    
        SELECT
          'false' AS status,
          'Failed to delete data. Placement Request Code not found or already deleted.' AS message;
        END
    END TRY
    BEGIN CATCH
        SELECT
              'false' AS status,
              'Internal server error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
