/****** Object:  StoredProcedure [dbo].[SP_MASTER_APPROVALMATRIX_GET_DETAIL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_APPROVALMATRIX_GET_DETAIL]
    @APPROVAL_MATRIX_CD AS VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
      [APPROVAL_MATRIX_CD]
      ,[PURPOSE_CD]
      ,[BRANCH_CD]
      ,[DESCRIPTION]
      ,[ORG_NAME]
      ,[APPROVAL_TYPE]
      ,[APPROVAL_SEQ]
      ,[MIN_VALUE]
      ,[MAX_VALUE]
      ,[APPROVER_ROLE]
      ,[APPROVAL_POSITION]
      ,[REQUESTOR_ROLE]
      ,[COORDINATOR_ID]
      ,[COORDINATOR_NAME]
      ,[IS_MANDATORY]
      ,[IS_FINAL_APPROVAL]
      ,[IS_SPECIAL_APPROVAL]
      ,[VALID_FROM]
      ,[VALID_TO]
	  ,IS_ACTIVE
    FROM [dbo].[TB_M_APPROVAL_MATRIX]
    WHERE 
      [APPROVAL_MATRIX_CD] = @APPROVAL_MATRIX_CD
      --AND IS_DELETED = '0';
END;
GO
