/****** Object:  StoredProcedure [dbo].[SP_MASTER_ROLE_GET_AUTHORIZATION]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ROLE_GET_AUTHORIZATION]
@ROLE_CD AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON; -- Suppress the message indicating the number of rows affected

    -- Retrieve all function features (authorizations) associated with the user's roles.
    SELECT DISTINCT
        ff.*, CASE WHEN ra.ROLE_CD IS NULL THEN 0 ELSE 1 END as IS_GRANTED -- Select all columns from the TB_M_FUNCTION_FEATURE table
    FROM
        TB_M_FUNCTION_FEATURE ff 
    LEFT JOIN
        TB_M_ROLES_AUTH ra ON ff.FUNCTION_CD = ra.FUNCTION_CD
                          AND ff.FEATURE_CD = ra.FEATURE_CD 
                          AND ra.ROLE_CD = @ROLE_CD
END;
GO
