/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_GET_INQUIRY]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'FULL_NAME',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @REC_PROCESS AS nVARCHAR(50) = '',
	@LEVEL AS VARCHAR(50) = '',
    @FILTER AS VARCHAR(100) = ''
AS
BEGIN
    SET NOCOUNT ON;

    IF isnull(@OrderBy,'') = ''
		set @OrderBy = 'FULL_NAME'
    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT 
            [USER_CD]
            ,[USERNAME]
            ,A.FULL_NAME
            ,BATCH = C.RECRUITMENT_BATCH
            ,LEVEL_CD = B.EDUCATION_LEVEL
            ,LEVEL = B.EDUCATION_LEVEL_DESC
            ,[EMAIL]
            ,[PHONE]
            ,STATUS_CD = C.RECRUITMENT_STATUS
            ,STATUS = C.RECRUITMENT_STATUS_DESC
            ,STEP_CD = C.RECRUITMENT_PROCESS
            ,STEP = C.RECRUITMENT_PROCESS_DESC
            
        FROM [dbo].[TB_M_USERS] A 
            INNER JOIN [dbo].[TB_M_PROFILE] C 
            ON C.REGISTRATION_NUMBER = A.NOREG  
            LEFT JOIN [dbo].[TB_M_PROFILE_EDU] B 
            ON A.NOREG = B.REGISTRATION_NUMBER
        WHERE 
            ISNULL(A.IS_ACTIVE,''1'') = ''1''';

    IF @FILTER IS NOT NULL AND @FILTER <> ''
        SET @SQL = @SQL + ' AND (
          A.FULL_NAME LIKE ''%'' + @FILTER + ''%'' OR 
		  C.RECRUITMENT_BATCH LIKE ''%'' + @FILTER + ''%'' OR 
		  B.EDUCATION_LEVEL LIKE ''%'' + @FILTER + ''%'' OR 
		  EMAIL LIKE ''%'' + @FILTER + ''%'' OR 
		  PHONE LIKE ''%'' + @FILTER + ''%'' OR  
		  C.RECRUITMENT_STATUS LIKE ''%'' + @FILTER + ''%''  OR 
		  C.RECRUITMENT_PROCESS LIKE ''%'' + @FILTER + ''%''  
        )';
        
    IF @REC_PROCESS IS NOT NULL AND @REC_PROCESS <> ''
      SET @SQL = @SQL + ' AND C.RECRUITMENT_PROCESS = @REC_PROCESS ';
	IF @LEVEL IS NOT NULL AND @LEVEL <> ''
      SET @SQL = @SQL + ' AND B.EDUCATION_LEVEL = @LEVEL ';
	--IF @REQUESTERROLE IS NOT NULL AND @REQUESTERROLE <> ''
 --     SET @SQL = @SQL + ' AND [REQUESTOR_ROLE] = @REQUESTERROLE ';
    
    --IF @STATUS IS NOT NULL AND @STATUS <> ''
    --  SET @SQL = @SQL + ' AND ISNULL(A.IS_ACTIVE,1) = @STATUS';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT,@REC_PROCESS nVARCHAR(50),@LEVEL VARCHAR(50), @FILTER AS VARCHAR(100)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
		@REC_PROCESS = @REC_PROCESS,
		@LEVEL = @LEVEL,
        @FILTER = @FILTER;

		print @OrderBy
END;
GO
