/****** Object:  StoredProcedure [dbo].[SP_AUTH_UPDATE_PASSWORD]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_UPDATE_PASSWORD]
    @USERNAME AS VARCHAR(100),
    @OLD_PASSWORD AS VARCHAR(500),
    @NEW_PASSWORD AS VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @RowsAffected INT; -- Deklarasi variabel untuk menyimpan jumlah baris yang terpengaruh
    
    BEGIN TRY
        UPDATE TB_M_USERS
          SET PASSWORD = HASHBYTES('SHA2_256', CONVERT(VARCHAR, @NEW_PASSWORD)) 
        WHERE 
          USERNAME = @USERNAME 
          AND PASSWORD = HASHBYTES('SHA2_256', CONVERT(VARCHAR, @OLD_PASSWORD));
        
        SET @RowsAffected = @@ROWCOUNT; -- Dapatkan jumlah baris yang terpengaruh oleh UPDATE
        
        IF @RowsAffected > 0
        BEGIN
            SELECT 'true' AS status, 'Success reset password!' AS message;
        END
        ELSE
        BEGIN
            -- Jika tidak ada baris yang terpengaruh, berarti kombinasi username/password lama salah
            SELECT 'false' AS status, 'Invalid old password or username.' AS message;
        END
    END TRY 
    BEGIN CATCH 
        SELECT 'false' AS status, 'Failed Reset Password: ' + ERROR_MESSAGE() AS message;
    END CATCH
END
GO
