/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ATTENDANCE_CREATE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ATTENDANCE_CREATE]
    @ATTENDANCE_CD VARCHAR(20),
    @ATTENDANCE_STATUS VARCHAR(20),
    @REMARK VARCHAR(255),
    @CLOCK_IN_CORRECTION_TIME TIME,
    @CLOCK_OUT_CORRECTION_TIME TIME,
    @FILE_PATH VARCHAR(255),
    @FILE_NAME VARCHAR(255),
    @CREATED_BY VARCHAR(50),
    @QUERY NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Mendeklarasikan tabel sementara untuk menyimpan data dari @QUERY
        CREATE TABLE #TempApprover (
            APPROVER_SEQUENCE INT,
            APPROVER_NOREG VARCHAR(50),
            APPROVER_POSITION VARCHAR(50)
        );
        
        DECLARE @REGISTRATION_NUMBER VARCHAR(50) = (SELECT REGISTRATION_NUMBER FROM TB_R_ATTENDANCE WHERE ATTENDANCE_CD = @ATTENDANCE_CD)
        -- Memasukkan data dari string @QUERY ke tabel sementara
        IF @QUERY IS NOT NULL AND @QUERY <> ''
        BEGIN
            DECLARE @fullQuery NVARCHAR(MAX) =  @QUERY;
--             DECLARE @fullQuery NVARCHAR(MAX) = 'INSERT INTO #TempAttendance ([ATTENDANCE_CD], [REGISTRATION_NUMBER], [APPROVER_SEQUENCE], [APPROVER_NOREG], [APPROVER_POSITION], [APPROVAL_STATUS], [CREATED_BY], [CREATED_DT]) VALUES ' + @QUERY;
            EXEC sp_executesql @fullQuery;
        END;

        -- Update TB_R_ATTENDANCE
        UPDATE TB_R_ATTENDANCE
        SET
            ATTENDANCE_STATUS = @ATTENDANCE_STATUS,
            REASON = @REMARK,
            CLOCK_IN_CORRECTION_TIME = @CLOCK_IN_CORRECTION_TIME,
            CLOCK_OUT_CORRECTION_TIME = @CLOCK_OUT_CORRECTION_TIME,
            UPDATED_DT = GETDATE(),
            UPDATED_BY = @CREATED_BY
        WHERE
            ATTENDANCE_CD = @ATTENDANCE_CD;

        -- Insert ke TB_R_ATTENDANCE_APPROVAL dengan validasi NOREG di TB_R_USERS_DETAIL
        INSERT INTO TB_R_ATTENDANCE_APPROVAL (
            ATTENDANCE_APPROVAL_CD,
            ATTENDANCE_CD,
            REGISTRATION_NUMBER,
            APPROVER_SEQUENCE,
            APPROVER_NOREG,
            APPROVER_POSITION,
            APPROVAL_STATUS,
            REMARKS,
            CREATED_DT,
            CREATED_BY
        )
        SELECT
            @ATTENDANCE_CD + '-' + CAST(APPROVER_SEQUENCE AS VARCHAR),
            @ATTENDANCE_CD,
            @REGISTRATION_NUMBER,
            APPROVER_SEQUENCE,
            u.NOREG,
            APPROVER_POSITION,
            '0',
            @REMARK,
            GETDATE(),
            @CREATED_BY
        FROM #TempApprover temp
        INNER JOIN TB_M_APPROVAL_MATRIX am ON temp.APPROVER_POSITION = am.APPROVAL_POSITION AND (am.PURPOSE_CD = 'EXTRA_STUDY_HOUR' OR am.PURPOSE_CD = 'EXTRA_STUDY_HOUR_MONTHLLY')
        INNER JOIN TB_M_USER_DETAIL ud ON temp.APPROVER_NOREG = ud.NOREG
        INNER JOIN TB_M_USERS u ON ud.NOREG = u.NOREG
            
        -- Insert ke TB_R_ATTENDANCE_ATTACHMENT
        IF @FILE_PATH IS NOT NULL AND @FILE_NAME IS NOT NULL
        BEGIN
            INSERT INTO TB_R_ATTENDANCE_ATTACHMENT (
                ATTACHMENT_ID,
                ATTENDANCE_CD,
                REGISTRATION_NUMBER,
                DATE,
                TITLE,
                FILENAME,
                URL,
                CREATED_DT,
                CREATED_BY
            )
            SELECT
                ATTENDANCE_CD + '-' + CONVERT(VARCHAR, (SELECT COUNT(1) + 1 FROM TB_R_ATTENDANCE_ATTACHMENT WHERE ATTENDANCE_CD = @ATTENDANCE_CD)),
                @ATTENDANCE_CD,
                REGISTRATION_NUMBER,
                ATTENDANCE_DATE,
                'Lampiran Kehadiran',
                @FILE_NAME,
                @FILE_PATH,
                GETDATE(),
                @CREATED_BY
            FROM
                TB_R_ATTENDANCE
            WHERE
                ATTENDANCE_CD = @ATTENDANCE_CD;
        END;

        -- Membersihkan tabel sementara
        DROP TABLE #TempApprover;

        COMMIT TRANSACTION;
        SELECT 'true' AS status, 'Success create data.' AS message;

    END TRY
    BEGIN CATCH
        -- Jika ada error, rollback transaction
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Mengembalikan pesan error
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
        
        -- Membersihkan tabel sementara jika terjadi error
        IF OBJECT_ID('tempdb..#TempApprover') IS NOT NULL
        BEGIN
            DROP TABLE #TempApprover;
        END
    END CATCH
END;
GO
