/****** Object:  Table [dbo].[TB_R_ATTENDANCE_ATTACHMENT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_ATTENDANCE_ATTACHMENT](
	[ATTACHMENT_ID] [varchar](50) NOT NULL,
	[ATTENDANCE_CD] [varchar](20) NULL,
	[REGISTRATION_NUMBER] [varchar](50) NULL,
	[DATE] [date] NULL,
	[TITLE] [varchar](255) NULL,
	[FILENAME] [varchar](255) NULL,
	[URL] [varchar](255) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_R_ATT__DAC9187702D67F25] PRIMARY KEY CLUSTERED 
(
	[ATTACHMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
