/****** Object:  StoredProcedure [dbo].[SP_MASTER_PAYROLL_COMPONENT_GET_INQUIRY_DETAIL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_PAYROLL_COMPONENT_GET_INQUIRY_DETAIL]
    @HEADER AS VARCHAR(MAX) = NULL,
    @EMPLOYEE_TYPE AS VARCHAR(100) = NULL,
    @EMPLOYEE_CLASS AS VARCHAR(100) = NULL,
    @EMPLOYEE_LEVEL AS VARCHAR(100) = NULL,
    @COMPONENT_TYPE AS VARCHAR(100) = NULL,
    @FREQUENTLY AS VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;


    DECLARE @SQL NVARCHAR(MAX);
    IF(@HEADER IS NOT NULL AND @HEADER <> '()' AND @HEADER <> '') BEGIN

    SET @SQL = '
            SELECT
              LT.LABOR_TYPE AS EMPLOYEE_TYPE,
              C.CLASS AS EMPLOYEE_CLASS,
              OP.POSITION_DESC AS EMPLOYEE_LEVEL,
              CONVERT(VARCHAR, OP.POSITION_LEVEL) AS EMPLOYEE_LEVEL_CD,
              CONVERT(VARCHAR, VALID_FROM, 126) AS VALID_FROM,
              CONVERT(VARCHAR, VALID_TO, 126) AS VALID_TO,
              PC.SEQUENCE,
              SYS_COMP.SYSTEM_VALUE AS COMPONENT_TYPE_NAME,
              COMPONENT_CD,
              COMPONENT_NAME,
              MASKING_NAME,
              COMPONENT_AMOUNT,
              COMPONENT_PERCENTAGE,
              COMPONENT_FREQUENTLY AS COMPONENT_FREQUENTLY_CD,
              SYS_FREQ.SYSTEM_VALUE AS COMPONENT_FREQUENTLY,
              FORMULA,
              CONVERT(VARCHAR, IS_TAXABLE) AS IS_TAXABLE,
              CONVERT(VARCHAR, IS_VISIBLE_ON_SLIP) AS IS_VISIBLE_ON_SLIP
            FROM
                TB_M_PAYROLL_COMPONENT PC
                LEFT JOIN TB_M_LABOR_TYPE LT ON PC.LABOR_CD = LT.LABOR_CD
                LEFT JOIN TB_M_CLASS C ON PC.EMPLOYEE_CLASS = C.CLASS_CD
                LEFT JOIN TB_M_ORG_POSITION OP ON OP.POSITION_LEVEL = PC.LEVEL_CD
                LEFT JOIN TB_M_SYSTEM_MASTER SYS_COMP ON SYS_COMP.SYSTEM_CD = PC.COMPONENT_TYPE AND SYS_COMP.SYSTEM_TYPE = ''COMPONENT_TYPE''
                LEFT JOIN TB_M_SYSTEM_MASTER SYS_FREQ ON SYS_FREQ.SYSTEM_CD = PC.COMPONENT_FREQUENTLY AND SYS_FREQ.SYSTEM_TYPE = ''PAYROLL_FREQUENT''
            WHERE
              1 = 1
              AND COALESCE(PC.IS_DELETED, ''0'') = ''0''
              AND CONVERT (VARCHAR (MAX), HashBytes (''MD5'', PC.LABOR_CD + PC.EMPLOYEE_CLASS + PC.LEVEL_CD + CONVERT (VARCHAR, PC.VALID_FROM, 126) + CONVERT (VARCHAR, PC.VALID_TO, 126)), 2) IN ' + @HEADER; 
                
    IF @EMPLOYEE_TYPE IS NOT NULL AND @EMPLOYEE_TYPE <> ''
        SET @SQL = @SQL + ' AND LT.LABOR_CD = @EMPLOYEE_TYPE';
        
    IF @EMPLOYEE_CLASS IS NOT NULL AND @EMPLOYEE_CLASS <> ''
        SET @SQL = @SQL + ' AND C.CLASS_CD = @EMPLOYEE_CLASS';
    
    IF @EMPLOYEE_LEVEL IS NOT NULL AND @EMPLOYEE_LEVEL <> ''
        SET @SQL = @SQL + ' AND OP.POSITION_LEVEL = @EMPLOYEE_LEVEL';
        
    IF @COMPONENT_TYPE IS NOT NULL AND @COMPONENT_TYPE <> ''
        SET @SQL = @SQL + ' AND SYS_COMP.SYSTEM_CD = @COMPONENT_TYPE';
        
    IF @FREQUENTLY IS NOT NULL AND @FREQUENTLY <> ''
        SET @SQL = @SQL + ' AND SYS_FREQ.SYSTEM_CD = @FREQUENTLY';
        
    SET @SQL = @SQL + ' ORDER BY PC.SEQUENCE ASC'; 

    EXECUTE sp_executesql @SQL,
        N'@EMPLOYEE_TYPE VARCHAR(100), @EMPLOYEE_CLASS VARCHAR(100), @EMPLOYEE_LEVEL VARCHAR(100), @COMPONENT_TYPE VARCHAR(100), @FREQUENTLY VARCHAR(100)',
        @EMPLOYEE_TYPE = @EMPLOYEE_TYPE,
        @EMPLOYEE_CLASS = @EMPLOYEE_CLASS,
        @EMPLOYEE_LEVEL = @EMPLOYEE_LEVEL,
        @COMPONENT_TYPE = @COMPONENT_TYPE,
        @FREQUENTLY = @FREQUENTLY;
        END ELSE BEGIN
        SELECT * FROM TB_M_PAYROLL_COMPONENT WHERE 1=1
        END
END;
GO
