/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_GET_DOCUMENT]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_GET_DOCUMENT]
    @PRF_DOC_CD AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      PRF_DOC_CD,
      REGISTRATION_NUMBER,
      DOC_TYPE,
      DOC_NAME,
      URL,
      DOC_REMARK,
      FILE_NAME,
      COALESCE(UPDATED_DT, CREATED_DT) AS LAST_MODIFIED
    FROM
      TB_M_PROFILE_DOCUMENT
    WHERE PRF_DOC_CD = @PRF_DOC_CD
END;
GO
