/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_GET_DETAIL_ESH_TOTAL_PERSON]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_GET_DETAIL_ESH_TOTAL_PERSON]
    @CLOSING_ATTENDANCE_CD NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
		
		
		DECLARE @PERIOD_FROM VARCHAR(15);
    DECLARE @PERIOD_TO VARCHAR(15);
		
		SELECT
        @PERIOD_FROM = CONVERT(VARCHAR, CUT_OFF_FROM, 126), -- yyyy-MM-ddThh:mm:ss.mmm
        @PERIOD_TO = CONVERT(VARCHAR, CUT_OFF_TO, 126)
    FROM TB_R_CLOSING_ATTENDANCE
    WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
    
		WITH ExtraStudyCalculated AS (
    -- 1. Hitung total ESH dalam MENIT per record, menangani crossing midnight.
    SELECT
        T.REGISTRATION_NUMBER,
        T.DATE,
        CAST(T.DATE AS DATETIME) + CAST(T.ESH_IN AS DATETIME) AS ESH_START_DATETIME,
        DATEADD(
            DAY,
            CASE WHEN T.ESH_OUT < T.ESH_IN THEN 1 ELSE 0 END,
            CAST(T.DATE AS DATETIME) + CAST(T.ESH_OUT AS DATETIME)
        ) AS ESH_END_DATETIME
    FROM
        TB_R_EXTRA_STUDY T
				INNER JOIN TB_R_ATTENDANCE A ON T.ATTENDANCE_CD = A.ATTENDANCE_CD
    WHERE
        T.STATUS = '3'
				AND A.CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD
				AND A.ATTENDANCE_DATE BETWEEN @PERIOD_FROM AND @PERIOD_TO
),
ExtraStudyTotalHours AS (
    -- 2. Hitung durasi dalam JAM desimal per record.
    SELECT
        REGISTRATION_NUMBER,
        CONVERT(VARCHAR(7), DATE, 120) AS ESH_MONTH_YEAR, 
        CAST(DATEDIFF(MINUTE, ESH_START_DATETIME, ESH_END_DATETIME) AS DECIMAL(10, 2)) / 60.0 AS ESH_DURATION_HOURS
    FROM
        ExtraStudyCalculated
),
ExtraStudySummary AS (
    -- 3. Hitung total ESH per Vocation/REGISTRATION_NUMBER per bulan.
    SELECT
        ESH_MONTH_YEAR,
        REGISTRATION_NUMBER,
        CAST(SUM(ESH_DURATION_HOURS) AS DECIMAL(10, 2)) AS TOTAL_ESH_HOURS
    FROM
        ExtraStudyTotalHours
    GROUP BY
        ESH_MONTH_YEAR,
        REGISTRATION_NUMBER
),
-- 4. Membuat Tally Table/Ranges yang akan digunakan sebagai dasar (base)
TallyRanges AS (
    SELECT 
        R.RangeStart, R.RangeEnd, R.RangeName 
    FROM 
    (
        VALUES
            (0.1, 1.0, '<1 Hours'),
            (1.0, 20.0, '1 - 20 Hours'),
            (20.0, 40.0, '21 - 40 Hours'),
            (40.0, 60.0, '41 - 60 Hours'),
            (60.0, 70.0, '61 - 70 Hours'),
            (70.0, 1000000.0, '>70 Hours')
    ) AS R (RangeStart, RangeEnd, RangeName)
)
SELECT
--     S_Months.ESH_MONTH_YEAR, -- Menggunakan alias S_Months yang benar
    R.RangeName AS ESH_RANGE,
    COUNT(People.REGISTRATION_NUMBER) AS PERSONS
FROM
    TallyRanges R
-- CROSS JOIN 
--     (SELECT DISTINCT ESH_MONTH_YEAR FROM ExtraStudySummary) AS S_Months -- Alias yang benar adalah S_Months
LEFT JOIN 
    ExtraStudySummary People ON People.TOTAL_ESH_HOURS >= R.RangeStart 
                                AND People.TOTAL_ESH_HOURS < R.RangeEnd
GROUP BY
--     S_Months.ESH_MONTH_YEAR, -- PERBAIKAN: Menggunakan S_Months
    R.RangeName,
    R.RangeStart
ORDER BY
--     S_Months.ESH_MONTH_YEAR, -- PERBAIKAN: Menggunakan S_Months
    R.RangeStart;
			
END;
GO
