/****** Object:  Table [dbo].[TB_R_PLACEMENT_REQUEST_FEEDBACK]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_PLACEMENT_REQUEST_FEEDBACK](
	[PLACEMENT_REQUEST_FEEDBACK_CD] [varchar](50) NOT NULL,
	[PLACEMENT_REQUEST_CD] [varchar](20) NULL,
	[PARENT_FEEDBACK_CD] [varchar](20) NULL,
	[NOREG] [varchar](20) NULL,
	[FEEDBACK] [nvarchar](max) NULL,
	[TAGGED_NOREG] [varchar](20) NULL,
	[ATTACHMENT] [nvarchar](max) NULL,
	[STATUS] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_R_PLA__29411D3C6124F0F8] PRIMARY KEY CLUSTERED 
(
	[PLACEMENT_REQUEST_FEEDBACK_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
