/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_REQUEST_APPROVAL]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_REQUEST_APPROVAL]
    @PLACEMENT_SCHEDULE_CD AS VARCHAR(20) = NULL,
    @QUERY AS NVARCHAR(MAX),
    @USER_ID AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @STATUS INT = COALESCE((SELECT SCHEDULE_APPROVAL_STATUS FROM TB_R_PLACEMENT_SCHEDULE WHERE PLACEMENT_SCHEDULE_CD = @PLACEMENT_SCHEDULE_CD) , 0);
    IF @STATUS > 0 BEGIN
        SELECT 'false' AS status, 'The approval request has been sent.' AS message, @PLACEMENT_SCHEDULE_CD AS id;
        RETURN;
    END
    
    BEGIN TRANSACTION;
    
    
    
    BEGIN TRY
        IF OBJECT_ID('tempdb..#TempApprover') IS NOT NULL
        BEGIN
            DROP TABLE #TempApprover;
        END
        
        CREATE TABLE #TempApprover (
            APPROVER_SEQUENCE INT,
            APPROVER_NOREG VARCHAR(50),
            APPROVER_POSITION VARCHAR(50)
        );
        
        -- Execute dynamic query for temp table population
        IF @QUERY IS NOT NULL AND @QUERY <> ''
        BEGIN
            EXEC sp_executesql @QUERY;
        END;
        
        INSERT INTO TB_R_PLACEMENT_SCHEDULE_APPROVAL (
            PLACEMENT_SCHEDULE_APPROVAL_CD,
            PLACEMENT_SCHEDULE_CD,
            APPROVAL_MATRIX_CD,
            APPROVER_POSITION,
            APPROVER_SEQUENCE,
            APPROVER_NOREG,
            APPROVAL_STATUS,
            APPROVED_DT,
            REMARK,
            CREATED_DT,
            CREATED_BY
        )
        SELECT
            @PLACEMENT_SCHEDULE_CD + '-' + CAST(temp.APPROVER_SEQUENCE AS VARCHAR),
            @PLACEMENT_SCHEDULE_CD,
            am.APPROVAL_MATRIX_CD,
            am.APPROVAL_POSITION,
            temp.APPROVER_SEQUENCE,
            u.NOREG,
            '0',
            NULL,
            NULL,
            GETDATE(),
            @USER_ID
        FROM #TempApprover temp
        INNER JOIN TB_M_APPROVAL_MATRIX am ON temp.APPROVER_POSITION = am.APPROVAL_POSITION AND am.PURPOSE_CD = 'PLACEMENT_SCHEDULE'
        INNER JOIN TB_M_USER_DETAIL ud ON temp.APPROVER_NOREG = ud.NOREG
        INNER JOIN TB_M_USERS u ON ud.NOREG = u.NOREG
        
        UPDATE TB_R_PLACEMENT_SCHEDULE SET SCHEDULE_APPROVAL_STATUS = '2' WHERE PLACEMENT_SCHEDULE_CD = @PLACEMENT_SCHEDULE_CD

        -- Drop temp table
        DROP TABLE #TempApprover;
        
        COMMIT TRANSACTION;
        SELECT 'true' AS status, 'Success request approval.' AS message, @PLACEMENT_SCHEDULE_CD AS id;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
        
        IF OBJECT_ID('tempdb..#TempApprover') IS NOT NULL
        BEGIN
            DROP TABLE #TempApprover;
        END
    END CATCH
END
GO
