/****** Object:  StoredProcedure [dbo].[SP_COMMON_GENERATE_LOG]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_COMMON_GENERATE_LOG]
    @PROCESS_ID AS VARCHAR(20),
    @FUNCT_ID AS VARCHAR(50),
    @LOCATION AS VARCHAR(55),
    @MSG_TYPE VARCHAR(4),
    @MSG_TEXT VARCHAR(MAX),
    @FINISH_FLG VARCHAR(1),
    @CREATED_BY VARCHAR(70),
    @CATCH_ONLY VARCHAR(1) = '0'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @PROCESS_STATUS AS VARCHAR(1);
    DECLARE @SEQ_NO AS INT;
    DECLARE @CURRENT_DT AS DATETIME = GETDATE();

    BEGIN TRY
        -- Start Transaction, but only if one isn't already active.
        IF @@TRANCOUNT = 0
            BEGIN TRANSACTION;

        
        IF @CATCH_ONLY = '1' BEGIN
            INSERT INTO TB_R_LOG_H (PROCESS_ID, FUNCTION_CD, PROCESS_STS, PROCESS_START_DT, PROCESS_END_DT, CREATED_BY, CREATED_DT)
            VALUES (@PROCESS_ID, @FUNCT_ID, '3', @CURRENT_DT, @CURRENT_DT, @CREATED_BY, @CURRENT_DT);
            
            INSERT INTO TB_R_LOG_D (PROCESS_ID, SEQ_NO, MSG_TYPE, MSG, LOCATION, PROCESS_DT, CREATED_BY, CREATED_DT)
            VALUES (@PROCESS_ID, 1, @MSG_TYPE, @MSG_TEXT, @LOCATION, @CURRENT_DT, @CREATED_BY, @CURRENT_DT);
            
            IF @@TRANCOUNT > 0
            COMMIT TRANSACTION;
            RETURN
        END
        
        -- == Cek dan sisipkan log header jika belum ada ==
        IF NOT EXISTS (SELECT 1 FROM TB_R_LOG_H WHERE PROCESS_ID = @PROCESS_ID)
        BEGIN
            SET @MSG_TYPE = 'INFO';
            SET @MSG_TEXT = 'Starting process ' + @LOCATION;
            
            INSERT INTO TB_R_LOG_H (PROCESS_ID, FUNCTION_CD, PROCESS_STS, PROCESS_START_DT, CREATED_BY, CREATED_DT)
            VALUES (@PROCESS_ID, @FUNCT_ID, '1', @CURRENT_DT, @CREATED_BY, @CURRENT_DT);
        END

        -- == Tentukan status proses berdasarkan MSG_TYPE ==
        IF @MSG_TYPE = 'ERR'
            SET @PROCESS_STATUS = '3'; -- Error
        ELSE
            SET @PROCESS_STATUS = '1'; -- Default (In Progress)

        -- == Update header log jika FINISH_FLG = '1' ==
        IF @FINISH_FLG = '1'
        BEGIN
            -- Ambil status terakhir, jika ada.
            SELECT @PROCESS_STATUS = PROCESS_STS FROM TB_R_LOG_H WHERE PROCESS_ID = @PROCESS_ID;
            
            -- Tentukan status akhir
            IF @PROCESS_STATUS = '1' -- Jika sebelumnya In Progress
            BEGIN
                SET @PROCESS_STATUS = '2'; -- Selesai sukses
                -- Set pesan default jika belum ada pesan error
                IF @MSG_TYPE <> 'ERR'
                BEGIN
                    SET @MSG_TYPE = 'INFO';
                    SET @MSG_TEXT = 'Finish successfully';
                END
            END
            ELSE IF @PROCESS_STATUS = '3' -- Jika sebelumnya Error
            BEGIN
                SET @MSG_TYPE = 'INFO';
                SET @MSG_TEXT = 'Finish with error';
            END
            ELSE IF @PROCESS_STATUS = '4'
            BEGIN
                SET @MSG_TYPE = 'INFO';
                SET @MSG_TEXT = 'Finish with warning';
            END

            UPDATE TB_R_LOG_H
            SET
                PROCESS_STS = @PROCESS_STATUS,
                PROCESS_END_DT = @CURRENT_DT,
                CHANGED_BY = @CREATED_BY,
                CHANGED_DT = @CURRENT_DT
            WHERE PROCESS_ID = @PROCESS_ID;
        END
        ELSE -- Jika tidak finish, hanya update status jika ada perubahan
        BEGIN
            UPDATE TB_R_LOG_H
            SET
                PROCESS_STS = @PROCESS_STATUS,
                CHANGED_BY = @CREATED_BY,
                CHANGED_DT = @CURRENT_DT
            WHERE PROCESS_ID = @PROCESS_ID AND PROCESS_STS <> '3';
        END

        -- == Tambahkan detail log ==
        SELECT @SEQ_NO = ISNULL(MAX(SEQ_NO), 0) + 1 FROM TB_R_LOG_D WHERE PROCESS_ID = @PROCESS_ID;

        INSERT INTO TB_R_LOG_D (PROCESS_ID, SEQ_NO, MSG_TYPE, MSG, LOCATION, PROCESS_DT, CREATED_BY, CREATED_DT)
        VALUES (@PROCESS_ID, @SEQ_NO, @MSG_TYPE, @MSG_TEXT, @LOCATION, @CURRENT_DT, @CREATED_BY, @CURRENT_DT);

        -- Commit jika transaksi dimulai di sini
        IF @@TRANCOUNT > 0
            COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        -- Rollback jika transaksi dimulai di sini
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Log atau tangani error
        DECLARE @ErrorMessage AS NVARCHAR(4000);
        DECLARE @ErrorSeverity AS INT;
        DECLARE @ErrorState AS INT;

        SELECT
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Raise the original error to the caller
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END;
GO
