/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_RESET_ATTENDANCE]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_RESET_ATTENDANCE]
    @CLOSING_ATTENDANCE_CD VARCHAR(20),
    @CREATED_BY VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsAffected INT;
    
    BEGIN TRANSACTION;
    BEGIN TRY

        -- Melakukan UPDATE dan menyimpan jumlah baris yang terpengaruh
        UPDATE TB_R_CLOSING_ATTENDANCE
        SET 
            CLOSING_ATTENDANCE_DATE = NULL,
            CLOSING_ATTENDANCE_PERIOD = NULL,
            CUT_OFF_FROM = NULL,
            CUT_OFF_TO = NULL,
            TOTAL_EMPLOYEE = NULL,
            TOTAL_WORKING_DAYS = NULL,
            TOTAL_HOLIDAYS = NULL,
            TOTAL_EXTRA_STUDY_HOURS = NULL,
            STATUS = '1',
            UPDATED_DATE = GETDATE(),
            UPDATED_BY = @CREATED_BY
        WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
        SET @RowsAffected = @@ROWCOUNT;
        
        DELETE FROM TB_R_PROGRESS_TRACKING WHERE REFERENCE_CD = @CLOSING_ATTENDANCE_CD AND CURRENT_STEP > 1;
        DELETE FROM TB_R_CLOSING_ATTENDANCE_APPROVAL WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
        DELETE FROM TB_R_CLOSING_ATTENDANCE_ATTACHMENT WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
        DELETE FROM TB_R_CLOSING_ATTENDANCE_EXTRA_STUDY_SUMMARY WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
        DELETE FROM TB_R_CLOSING_ATTENDANCE_FEEDBACK WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
        DELETE FROM TB_R_CLOSING_ATTENDANCE_SUMMARY WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
        -- Mendapatkan jumlah baris yang di-update
        
        -- Jika ada baris yang di-update, lakukan COMMIT
        IF @RowsAffected > 0
        BEGIN
            COMMIT TRANSACTION;
            -- Mengembalikan respons sukses
            SELECT 'true' AS status, 'Success reset attendance data.' AS message;
        END
        ELSE
        BEGIN
            ROLLBACK TRANSACTION;
            -- Jika tidak ada baris yang di-update, batalkan transaksi dan kembalikan pesan kesalahan
            -- Mengembalikan respons gagal
            SELECT 'false' AS status, 'No attendance data was found or updated with the provided code.' AS message;
        END

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;
        -- Mengembalikan pesan kesalahan dari sistem
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
