/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_STORE_TERMINATE_PERIOD]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_STORE_TERMINATE_PERIOD]
    @REGISTRATION_NUMBER NVARCHAR(20),
    @TERMINATE_DATE VARCHAR(20),
    @DOC_PATH VARCHAR(255),
    @FILE_NAME VARCHAR(255),
    @REMARK VARCHAR(MAX),
    @CREATED_BY VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @NEW_DOC_CD VARCHAR(20);
        DECLARE @TodayDate VARCHAR(8);
        DECLARE @LastIncrement INT;

        -- Get today's date in DDMMYYYY format.
        SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

        -- Find the last increment number for today's date.
        SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(PRF_DOC_CD, 4) AS INT)), 0)
        FROM [dbo].[TB_M_PROFILE_DOCUMENT]
        WHERE PRF_DOC_CD LIKE 'DOC-' + @TodayDate + '%';

        -- Add 1 for the next increment.
        SET @LastIncrement = @LastIncrement + 1;

        -- Format the new PRF_DOC_CD.
        SET @NEW_DOC_CD = 'DOC-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement AS VARCHAR(4)), 4);
        
        INSERT INTO [dbo].[TB_M_PROFILE_DOCUMENT]
        (
            PRF_DOC_CD,
            REGISTRATION_NUMBER,
            DOC_TYPE,
            DOC_NAME,
            DOC_REMARK,
            FILE_NAME,
            URL,
            CREATED_BY,
            CREATED_DT
        )
        VALUES
        (
            @NEW_DOC_CD,
            @REGISTRATION_NUMBER,
            'Terminate Period',
            'Terminate Period ' + @TERMINATE_DATE,
            @REMARK,
            @FILE_NAME,
            @DOC_PATH,
            @CREATED_BY,
            GETDATE()
        );
        
        UPDATE TB_M_PROFILE
            SET CONTRACT_END = @TERMINATE_DATE
        WHERE REGISTRATION_NUMBER = @REGISTRATION_NUMBER;

        COMMIT TRANSACTION;

        SELECT 'true' AS status, 'Success storing new data.' AS message;
        
    END TRY
    BEGIN CATCH
        -- Check if a transaction is active before rolling back
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Reraise the error or return a custom error message
        -- Here, we return the error message
        SELECT 'false' AS status, 'Internal Server Error ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
