/****** Object:  StoredProcedure [dbo].[SP_MASTER_VOCATION_ORGANIZATION_STRUCTURE_GET_DETAIL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_VOCATION_ORGANIZATION_STRUCTURE_GET_DETAIL]
    @REGNO AS VARCHAR(50)
AS


SELECT STEP = 0, ORG_PARENT = C.ORG_PARENT, ORG_ID= B.GROUP_ID, ORG_TITLE = 'VOCATION', LEVEL_ID = 100, NOREG =  A.REGISTRATION_NUMBER, EDITNAME = A.FULL_NAME, GENDER, 
JOB_CODE = NULL, JOB_TITLE =  B.POS_CATEGORY + ' - ' + B.LABOR_TYPE, POSITION_ABBR= NULL,POSITION_CODE= NULL,POSITION_TITLE= NULL,POSITION_LEVEL= NULL,POSITION_LEVEL_ID= 100, BATCH = RECRUITMENT_BATCH,CLASS= NULL,
CLASS_LEVEL= NULL,STATUS= 'VOCATION',LABOR_TYPE= B.LABOR_TYPE,MAIN_LOCATION,MIN_LEVEL_ID= NULL,B.VALID_FROM,B.VALID_TO,DIRECTORATE,DIVISION,DEPARTMENT,SECTION,LINE,GROUP_NAME,POS FROM [dbo].[TB_M_PROFILE] A
INNER JOIN [dbo].[TB_R_ORG_ASSIGNMENT] B on A.REGISTRATION_NUMBER = B.REGISTRATION_NUMBER
INNER JOIN [dbo].[TB_M_ORG_RANK] C on B.GROUP_ID = C.ORG_ID
WHERE A.REGISTRATION_NUMBER = @REGNO
GO
