/****** Object:  StoredProcedure [dbo].[SP_MASTER_SYSTEM_GET_INQUIRY]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_SYSTEM_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'CREATED_DT',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @TERM AS VARCHAR(100) = NULL,
    @IS_ACTIVE AS VARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('SYSTEM_TYPE', 'SYSTEM_CD', 'SYSTEM_VALUE', 'SYSTEM_SEQUENCE', 'SYSTEM_REMARK', 'IS_ACTIVE', 'CREATED_DT')
    BEGIN
        SET @OrderBy = 'CREATED_DT';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
          SYSTEM_ID,
          SYSTEM_TYPE,
          SYSTEM_CD,
          SYSTEM_VALUE,
          SYSTEM_REMARK,
          SYSTEM_SEQUENCE,
          CONVERT(VARCHAR, IS_ACTIVE) AS IS_ACTIVE,
          CREATED_DT
        FROM
            TB_M_SYSTEM_MASTER
        WHERE
            1 = 1 AND COALESCE(IS_DELETED, ''0'') = ''0''';
    
    IF @IS_ACTIVE IS NOT NULL AND @IS_ACTIVE <> ''
        SET @SQL = @SQL + ' AND IS_ACTIVE = @IS_ACTIVE';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (
          SYSTEM_TYPE LIKE ''%'' + @TERM + ''%'' OR 
          SYSTEM_CD LIKE ''%'' + @TERM + ''%'' OR 
          SYSTEM_VALUE LIKE ''%'' + @TERM + ''%'' OR 
          SYSTEM_REMARK LIKE ''%'' + @TERM + ''%'')';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @TERM VARCHAR(100), @IS_ACTIVE VARCHAR(10)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
        @TERM = @TERM,
        @IS_ACTIVE = @IS_ACTIVE;
END;
GO
