/****** Object:  StoredProcedure [dbo].[SP_MASTER_SCHOOL_GET_COMBOBOX]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_SCHOOL_GET_COMBOBOX]
    @TERM AS VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
      SCHOOL_CD AS id, 
      NAME AS text 
    FROM TB_M_SCHOOL
      WHERE NAME LIKE '%' + @TERM + '%'
      AND IS_ACTIVE = 1 
      AND COALESCE(IS_DELETED, 0) = 0
    ORDER BY NAME ASC;
END
GO
