/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_STORE_BY_UPLOAD_EXCEL_bu]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_STORE_BY_UPLOAD_EXCEL_bu]
	@json NVARCHAR(MAX),
	@FILENAME NVARCHAR(250),
	@USER_ID NVARCHAR(20)

AS

BEGIN
	--DECLARE @LAST as VARCHAR(6)
	--DECLARE @MIDDLEFORMAT as VARCHAR(6)
	--SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))

	--DELETE FROM [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] WHERE NIK IN
	--(SELECT 
	--NIK
	--FROM OPENJSON(@json) WITH (
	--	FULL_NAME nvarchar(100) '$.FULL_NAME',
	--	NIK nvarchar(16) '$.NIK',
	--	PHONE nvarchar(15) '$.PHONE',
	--	EMAIL nvarchar(150) '$.EMAIL',
	--	[LEVEL] varchar(20) '$.ACADEMIC_LEVEL',
	--	BATCH INT '$.BATCH',
	--	LATEST_PROCESS_RECRUITMENT nvarchar(50) '$.LATEST_RECRUITMENT_PROCESS',
	--	LATEST_TEST_DATE varchar(50) '$.LATEST_TEST_DATE',
	--	TEST_RESULT varchar(150) '$.TEST_RESULT',
	--	RESULT_SUMMARY varchar(255) '$.RESULT_SUMMARY',
	--	REMARKS_ISSUE_VALIDATE varchar(1000) '$.RESULT_VALIDATE' --AS JSON
	--))

	IF OBJECT_ID('TEMPDB..#tmpdata') IS NOT NULL DROP TABLE #tmpdata

	--SET @LAST = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(ID,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_D_UPLOAD_VOCATION_CANDIDATE WHERE ID LIKE '%' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')
	--INSERT INTO [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] ([FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE])
	SELECT 
	*, IS_SUCCESS_VALIDATE = case when ISNULL(REMARKS_ISSUE_VALIDATE,'') <> '' then 0 else 1 end INTO #tmpdata
	FROM OPENJSON(@json) WITH (
		FULL_NAME nvarchar(100) '$.FULL_NAME',
		NIK nvarchar(16) '$.NIK',
		PHONE nvarchar(15) '$.PHONE',
		EMAIL nvarchar(150) '$.EMAIL',
		[LEVEL] varchar(20) '$.ACADEMIC_LEVEL',
		BATCH INT '$.BATCH',
		LATEST_PROCESS_RECRUITMENT nvarchar(50) '$.LATEST_RECRUITMENT_PROCESS',
		LATEST_TEST_DATE varchar(50) '$.LATEST_TEST_DATE',
		TEST_RESULT varchar(150) '$.TEST_RESULT',
		RESULT_SUMMARY varchar(255) '$.RESULT_SUMMARY',
		REMARKS_ISSUE_VALIDATE varchar(1000) '$.RESULT_VALIDATE' --AS JSON
	)

	DELETE FROM [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] WHERE NIK IN
	(SELECT 
	NIK FROM 
	#tmpdata)

	INSERT INTO TB_D_UPLOAD_VOCATION_CANDIDATE ([FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE])
	SELECT * FROM #tmpdata


	SELECT 'true' AS status, 'Success storing new data.' AS message;
END
GO
