/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ESH_GET_DETAIL_ATTACHMENT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ESH_GET_DETAIL_ATTACHMENT]
    @ATTENDANCE_CD VARCHAR(50)
AS
BEGIN
    SELECT 
      ATTACHMENT_CD AS ATTACHMENT_ID,
      ATTENDANCE_CD,
      FILE_NAME AS FILENAME,
      FILE_PATH AS URL
    FROM [dbo].[TB_R_EXTRA_STUDY_ATTACHMENT] WHERE ATTENDANCE_CD = @ATTENDANCE_CD
END;
GO
