/****** Object:  Table [dbo].[TB_M_PROVINCE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_PROVINCE](
	[PROVINCE_CD] [varchar](20) NOT NULL,
	[COUNTRY_CD] [varchar](20) NULL,
	[PROVINCE_NAME] [varchar](255) NULL,
	[CREATED_DT] [date] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [date] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[IS_DELETED] [bit] NULL,
	[DELETED_DT] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_M_PRO__33E197E700766022] PRIMARY KEY CLUSTERED 
(
	[PROVINCE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_PROVINCE] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[TB_M_PROVINCE]  WITH CHECK ADD  CONSTRAINT [FK__TB_M_PROV__COUNT__3C34F16F] FOREIGN KEY([COUNTRY_CD])
REFERENCES [dbo].[TB_M_COUNTRY] ([COUNTRY_CD])
GO
ALTER TABLE [dbo].[TB_M_PROVINCE] CHECK CONSTRAINT [FK__TB_M_PROV__COUNT__3C34F16F]
GO
