/****** Object:  StoredProcedure [dbo].[SP_MASTER_PAYROLL_COMPONENT_EDIT_ROW]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_PAYROLL_COMPONENT_EDIT_ROW]
    @COMPONENT_CD AS VARCHAR(50),
    @SEQUENCE AS INT,
    @COMPONENT_TYPE AS VARCHAR(50),
    @COMPONENT_NAME AS VARCHAR(100),
    @MASKING_NAME AS VARCHAR(255),
    @COMPONENT_FREQUENTLY AS VARCHAR(50),
    @COMPONENT_AMOUNT DECIMAL(18,2),
    @COMPONENT_PERCENTAGE DECIMAL(5,2),
    @IS_TAXABLE VARCHAR(1),
    @IS_VISIBLE_ON_SLIP VARCHAR(1),
    @FORMULA VARCHAR(MAX),
    @USER_ID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
      IF EXISTS (SELECT 1 FROM [dbo].[TB_M_PAYROLL_COMPONENT] WHERE COMPONENT_CD = @COMPONENT_CD AND COALESCE(IS_DELETED, 0) = 0)
      BEGIN
          UPDATE [dbo].[TB_M_PAYROLL_COMPONENT]
          SET 
              SEQUENCE = @SEQUENCE,
              COMPONENT_TYPE = @COMPONENT_TYPE,
              COMPONENT_NAME = @COMPONENT_NAME,
              MASKING_NAME = @MASKING_NAME,
              COMPONENT_FREQUENTLY = @COMPONENT_FREQUENTLY,
              COMPONENT_AMOUNT = @COMPONENT_AMOUNT,
              COMPONENT_PERCENTAGE = @COMPONENT_PERCENTAGE,
              IS_TAXABLE = @IS_TAXABLE,
              IS_VISIBLE_ON_SLIP = @IS_VISIBLE_ON_SLIP,
              FORMULA = @FORMULA,
              UPDATED_BY = @USER_ID,
              UPDATED_DT = GETDATE()
          WHERE 
              COMPONENT_CD = @COMPONENT_CD;
          SELECT 'true' AS status, 'Success updating data.' AS message;
      END
      ELSE
      BEGIN
          SELECT 'false' AS status, 'No active record found with the provided Component Code for update.' AS message;
      END
    END TRY
    BEGIN CATCH
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
