/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_GET_DETAIL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_GET_DETAIL]
    @ATTENDANCE_CLOSING_CD AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

		SELECT
			CLOSING_ATTENDANCE_CD,
			CLOSING_ATTENDANCE_DATE AS PAYMENT_SCHEDULE,
			CUT_OFF_FROM AS PERIOD_FROM,
			CUT_OFF_TO AS PERIOD_TO,
			TOTAL_WORKING_DAYS,
			TOTAL_EMPLOYEE,
			TOTAL_EXTRA_STUDY_HOURS,
			TOTAL_RESIGN, 
			TOTAL_NEW_VOCATION,
			TOTAL_EXTRA_STUDY_HOURS
			
		FROM
			[dbo].[TB_R_CLOSING_ATTENDANCE] 
		WHERE
			CLOSING_ATTENDANCE_CD = @ATTENDANCE_CLOSING_CD
END
GO
