/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GROUP_LIST_INQUIRY]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GROUP_LIST_INQUIRY]
    @PAGE AS INT = 0, -- Digunakan sebagai OFFSET untuk pagination (dimulai dari 0)
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'ORG_ID', -- Default disesuaikan dengan pengelompokan
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @TERM AS VARCHAR(100) = NULL,
    @PLACEMENT_REQUEST_CD AS VARCHAR(50),
    @SECTION_ID AS VARCHAR(50) = NULL,
    @LINE_ID AS VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
		
		DECLARE @DEPARTMENT_ID VARCHAR(15) = (SELECT DEPARTMENT_CD FROM TB_R_PLACEMENT_REQUEST WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD)
    
    -- Validasi dan penyesuaian OrderBy
    IF @OrderBy NOT IN ('ORG_ID', 'SEC', 'LIN', 'GRU', 'MP_ON_PROD_MALE', 'MP_ON_TRAINING_MALE', 'MP_OTHER_MALE')
    BEGIN
        SET @OrderBy = 'ORG_ID';
    END

    -- Validasi dan penyesuaian OrderDirection
    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END
    
    -- Inisialisasi Dynamic SQL
    DECLARE @SQL NVARCHAR(MAX);
    
    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
            ORG.ORG_ID,
            ORG.[SEC],
            ORG.[LIN],
            ORG.[GRU],
            -- Manpower On Production (LT-250821-000001)
            SUM(CASE WHEN TR.VOCATION_TYPE = ''LT-250821-000001'' THEN TR.MALE_MANPOWER ELSE 0 END) AS MP_ON_PROD_MALE,
            SUM(CASE WHEN TR.VOCATION_TYPE = ''LT-250821-000001'' THEN TR.FEMALE_MANPOWER ELSE 0 END) AS MP_ON_PROD_FEMALE,
            -- Manpower On Training (LT-250821-000002)
            SUM(CASE WHEN TR.VOCATION_TYPE = ''LT-250821-000002'' THEN TR.MALE_MANPOWER ELSE 0 END) AS MP_ON_TRAINING_MALE,
            SUM(CASE WHEN TR.VOCATION_TYPE = ''LT-250821-000002'' THEN TR.FEMALE_MANPOWER ELSE 0 END) AS MP_ON_TRAINING_FEMALE,
            -- Manpower Other (LT-250821-000003)
            SUM(CASE WHEN TR.VOCATION_TYPE = ''LT-250821-000003'' THEN TR.MALE_MANPOWER ELSE 0 END) AS MP_OTHER_MALE,
            SUM(CASE WHEN TR.VOCATION_TYPE = ''LT-250821-000003'' THEN TR.FEMALE_MANPOWER ELSE 0 END) AS MP_OTHER_FEMALE
            
        FROM
            TB_M_ORG_RANK ORG
        LEFT JOIN TB_R_PLACEMENT_REQUEST_GROUP_LIST TR 
            ON ORG.ORG_ID = TR.GROUP_CD AND TR.PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD
        WHERE
            CONVERT(VARCHAR, ORG.DEP_ID) = ''974''-- @DEPARTMENT_ID
            AND ORG.GRU_ID IS NOT NULL 
    ';

    -- Dynamic Filtering berdasarkan parameter input
    
    -- Filter SECTION_ID
    IF @SECTION_ID IS NOT NULL AND @SECTION_ID <> ''
        SET @SQL = @SQL + ' AND ORG.SEC_ID = @SECTION_ID';
    
    -- Filter LINE_ID
    IF @LINE_ID IS NOT NULL AND @LINE_ID <> ''
        SET @SQL = @SQL + ' AND ORG.LIN_ID = @LINE_ID';
    
    -- Filter TERM (search)
    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' 
            AND (
                ORG.SEC LIKE ''%'' + @TERM + ''%'' OR
                ORG.LIN LIKE ''%'' + @TERM + ''%'' OR
                ORG.GRU LIKE ''%'' + @TERM + ''%''
            )';

    -- Klausa GROUP BY (Harus di luar Dynamic Filtering)
    SET @SQL = @SQL + '
        GROUP BY
            ORG.ORG_ID,
            ORG.[SEC],
            ORG.[LIN],
            ORG.[GRU]
    )';

    -- Final SELECT statement dengan Pagination
    SET @SQL = @SQL + '
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        T1.*,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults T1
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    -- Execute Dynamic SQL
    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @TERM VARCHAR(100), @PLACEMENT_REQUEST_CD VARCHAR(50), @DEPARTMENT_ID VARCHAR(15), @SECTION_ID INT, @LINE_ID INT',
        @Offset = @PAGE,
        @PageSize = @PageSize,
        @TERM = @TERM,
        @PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD,
        @DEPARTMENT_ID = @DEPARTMENT_ID,
        @SECTION_ID = @SECTION_ID,
        @LINE_ID = @LINE_ID;
END;
GO
