/****** Object:  StoredProcedure [dbo].[SP_MASTER_EDUCATION_MAJOR_OPTION]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_EDUCATION_MAJOR_OPTION]
@EDUCATION_CD AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        MAJOR_CD AS id,
        MAJOR_NAME as text
    FROM
        TB_M_EDUCATION_MAJOR
        WHERE EDUCATION_CD = @EDUCATION_CD
END
GO
