/****** Object:  StoredProcedure [dbo].[SP_AUTH_CHECK_IF_EMAIL_EXISTS]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_CHECK_IF_EMAIL_EXISTS]
    @EMAIL AS VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
      COUNT(1) 
    FROM TB_M_USERS 
    WHERE EMAIL = @EMAIL 
    AND COALESCE(IS_DELETED, '0') = '0' 
    AND COALESCE(IS_ACTIVE, '0') = '1'
    AND GETDATE() BETWEEN VALID_FROM AND VALID_TO; 
END
GO
