/****** Object:  StoredProcedure [dbo].[SP_ADMIN_MP_SUMMARY_LABOR_TYPE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_MP_SUMMARY_LABOR_TYPE]
    @DEPARTMENT_ID NVARCHAR(50),
    @PLANT_CD NVARCHAR(50),
    @SECTION_CD NVARCHAR(50),
    @TERM NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);
    SET @SQL = ' 
        SELECT COUNT (OA.REGISTRATION_NUMBER) AS TOTAL,
					LT.DESCRIPTION AS [TYPE],
					LT.LABOR_CD AS [TYPE_ID] 
				FROM
					TB_M_LABOR_TYPE LT
					LEFT JOIN TB_R_ORG_ASSIGNMENT OA ON LT.LABOR_CD = OA.LABOR_TYPE AND GETDATE() BETWEEN VALID_FROM AND VALID_TO '
		
		IF @DEPARTMENT_ID IS NOT NULL AND @DEPARTMENT_ID <> ''
      SET @SQL = @SQL + ' AND OA.DEPARTMENT_ID = @DEPARTMENT_ID'
      
    IF @PLANT_CD IS NOT NULL AND @PLANT_CD <> ''
      SET @SQL = @SQL + ' AND OA.MAIN_LOCATION = @PLANT_CD'
      
    IF @SECTION_CD IS NOT NULL AND @SECTION_CD <> ''
      SET @SQL = @SQL + ' AND OA.SECTION_ID = @SECTION_CD'
  
    IF @TERM IS NOT NULL AND @TERM <> ''
      SET @SQL = @SQL + ' AND (
        OA.DEPARTMENT LIKE ''%'' + @TERM + ''%'' OR\
        OA.DIVISION LIKE ''%'' + @TERM + ''%'' OR
        OA.LINE LIKE ''%'' + @TERM + ''%'' 
      )
    '
		
		SET @SQL = @SQL + ' LEFT JOIN TB_M_PLANT PL ON PL.MAIN_LOCATION = OA.MAIN_LOCATION
				
      
      WHERE 1=1 '
      
    
      
    SET @SQL = @SQL + ' GROUP BY POS_CATEGORY, LT.LABOR_TYPE, LT.DESCRIPTION, LT.LABOR_CD, OA.LABOR_TYPE ';
      
    
    EXECUTE sp_executesql @SQL,
        N'@DEPARTMENT_ID NVARCHAR(50), @PLANT_CD NVARCHAR(50), @SECTION_CD NVARCHAR(50), @TERM NVARCHAR(MAX)',
        @DEPARTMENT_ID = @DEPARTMENT_ID,
        @PLANT_CD = @PLANT_CD,
        @SECTION_CD = @SECTION_CD,
        @TERM = @TERM;
      
END;
GO
