/****** Object:  Table [dbo].[TB_M_ATTRIBUTES]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_ATTRIBUTES](
	[ATTRIBUTE_CD] [nvarchar](50) NOT NULL,
	[ATTRIBUTE_NAME] [nvarchar](100) NOT NULL,
	[ATTRIBUTE_VALUE] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](255) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[DELETED_DT] [datetime] NULL,
 CONSTRAINT [PK__TB_M_ATT__8920C8CCE78E144F] PRIMARY KEY CLUSTERED 
(
	[ATTRIBUTE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_AttributeNameValue] UNIQUE NONCLUSTERED 
(
	[ATTRIBUTE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_ATTRIBUTES] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TB_M_ATTRIBUTES] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
