/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ROTATION_REQ_GET_DETAIL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ROTATION_REQ_GET_DETAIL]
	@TRANSFER_CD VARCHAR(36) = NULL
AS 
BEGIN
	SET NOCOUNT ON;

	SELECT
		trvth.NOREG ,
		trvth.EMPLOYEE_NAME ,
		trvtd.LOCATION_ID_FROM ,
		trvtd.DEPARTMENT_ID_FROM ,
		trvtd.SECTION_ID_FROM ,
		trvtd.LINE_ID_FROM ,
		trvtd.GROUP_ID_FROM ,
		trvth.VOCATION_TYPE_FROM ,
		trvth.ROTATION_TYPE ,
		trvth.EFFECTIVE_DATE_FROM ,
		trvth.EFFECTIVE_DATE_TO ,
		trvtd.LOCATION_ID_TO ,
		trvtd.DEPARTMENT_ID_TO ,
		trvtd.SECTION_ID_TO ,
		trvtd.LINE_ID_TO ,
		trvtd.GROUP_ID_TO ,
		trvth.VOCATION_TYPE AS VOCATION_TYPE_TO,
		trvth.REASON 
	FROM TB_R_VOC_TRANSFER_H trvth
	INNER JOIN TB_R_VOC_TRANSFER_D trvtd ON trvth.TRANSFER_CD = trvtd.TRANSFER_CD
	WHERE 
		trvth.TRANSFER_CD = @TRANSFER_CD;
END
GO
