/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ROTATION_REQ_GET_INQUIRY]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ROTATION_REQ_GET_INQUIRY]
    @START AS INT = 1,
    @SIZE AS INT = 10,
    @ORDER AS VARCHAR(50) = 'FULL_NAME',
    @ORDER_DIR AS VARCHAR(5) = 'ASC',
    @REQUEST_DT AS VARCHAR(30) = NULL,
    @ROTATION_TYPE AS VARCHAR(30) = NULL,
    @IS_ACTIVE AS BIT = NULL,
    @TERM AS VARCHAR(100) = NULL

AS 
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
    	SELECT 
			vth.TRANSFER_CD,
		    vth.REQUEST_DATE, 
			vth.EMPLOYEE_NAME,
			vth.NOREG, 
			vth.ROTATION_TYPE,
		    vth.REASON, 
			COALESCE(
				(SELECT TOP 1 mu.FULL_NAME 
				FROM TB_R_VOC_TRANSFER_APPROVAL trvta
				INNER JOIN TB_M_USERS mu ON mu.NOREG = trvta.APPROVAL_NOREG
				WHERE trvta.TRANSFER_CD = vth.TRANSFER_CD AND trvta.APPROVAL_STATUS = ''1''
				ORDER BY trvta.APPROVAL_DATE DESC),
				''-''
			) AS LAST_APPROVALS,
			vtd.LOCATION_FROM AS TRANSFER_FROM, 
			vtd.LOCATION_TO AS TRANSFER_TO, 
			CONVERT(VARCHAR, vth.STATUS) AS IS_ACTIVE
		FROM TB_R_VOC_TRANSFER_H vth
		INNER JOIN TB_R_VOC_TRANSFER_D vtd ON vtd.TRANSFER_CD = vth.TRANSFER_CD 
		WHERE
            COALESCE(vth.IS_DELETED, 0) = 0';
    
    IF @IS_ACTIVE IS NOT NULL
        SET @SQL = @SQL + ' AND vth.STATUS = @IS_ACTIVE';
    
    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@ORDER) + ' ' + @ORDER_DIR + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@ORDER) + ' ' + @ORDER_DIR + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';
    
    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @IS_ACTIVE BIT, @TERM VARCHAR(100)',
        @Offset = @START,
        @FetchNext = @SIZE,
        @IS_ACTIVE = @IS_ACTIVE,
        @TERM = @TERM;
END;
GO
