/****** Object:  StoredProcedure [dbo].[SP_AUTH_STORE_DEVICE_INFO]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_STORE_DEVICE_INFO]
    @ID AS VARCHAR(100), -- Input parameter: Can be either a Username or Email to identify the user.
    @DEVICE_ID AS VARCHAR(255), 
    @APP_VERSION AS VARCHAR(255), 
    @OS_VERSION AS VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @USER_CD VARCHAR(50) = (SELECT USER_CD FROM TB_M_USERS WHERE USERNAME = @ID OR EMAIL = @ID);
    DECLARE @USERNAME VARCHAR(150) = (SELECT USERNAME FROM TB_M_USERS WHERE USERNAME = @ID OR EMAIL = @ID);
    DECLARE @DEVICE_EXIST INT = (SELECT COUNT(1) FROM TB_R_USER_DEVICES WHERE USER_CD = @USER_CD AND DEVICE_ID = @DEVICE_ID);
    DECLARE @IS_FIRST_TIME_LOGIN INT = (SELECT COUNT(1) FROM TB_R_USER_DEVICES WHERE USER_CD = @USER_CD AND LAST_LOGIN IS NOT NULL);
    
    -- Logic to insert device information if the device is not already registered for the user.
    IF (@DEVICE_EXIST = 0) BEGIN
      
      INSERT INTO TB_R_USER_DEVICES (
        USER_DEVICE_CD,
        USER_CD,
        DEVICE_ID,
        APP_VERSION,
        OS_VERSION,
        CREATED_BY,
        CREATED_DT
      ) VALUES (
        NEWID(),
        @USER_CD,
        @DEVICE_ID,
        @APP_VERSION,
        @OS_VERSION,
        @USERNAME,
        GETDATE()
      )
      
    END 

    SELECT USERNAME, CASE WHEN @IS_FIRST_TIME_LOGIN = 0 THEN 'true' ELSE 'false' END AS IS_FIRST_TIME_LOGIN
    FROM TB_M_USERS WHERE USERNAME = @USERNAME;
    
END
GO
