/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_PLACEMENT_REQUEST_INQUIRY]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_PLACEMENT_REQUEST_INQUIRY]
    @START AS INT = 0,
    @SIZE AS INT = 10,
    @OrderBy AS VARCHAR(100) = 'CREATED_DT',
    @OrderDirection AS VARCHAR(5) = 'DESC',
    @PLACEMENT_SCHEDULE_CD AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN (
        'PLACEMENT_SCHEDULE_CD', 'PLACEMENT_REQUEST_CD', 'CREATED_DT', 'PERIOD_WEEK', 
        'PERIOD_NAME', 'REQUEST_TYPE_NAME', 'ORG_TITLE', 'REQUEST_APPROVAL_STATUS_NAME'
    )
    BEGIN
        SET @OrderBy = 'CREATED_DT';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'DESC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
            PS.PLACEMENT_SCHEDULE_CD,
            PR.PLACEMENT_REQUEST_CD,
            PR.CREATED_DT,
            SM.SYSTEM_VALUE AS PERIOD_WEEK,
            PS.PERIOD_NAME,
            SM2.SYSTEM_CD AS REQUEST_TYPE,
            SM2.SYSTEM_VALUE AS REQUEST_TYPE_NAME,
            ORG.ORG_RANK_CD AS DEPARTMENT_CD,
            ORG.ORG_TITLE AS DEPARTMENT_NAME,
            ISNULL(PR.QTY_JOB_POS_ON_PRODUCTION, 0) + ISNULL(PR.QTY_JOB_POS_ON_TRAINING, 0) + ISNULL(PR.QTY_JOB_POS_OTHER, 0) AS MP_NEEDS,
            SM3.SYSTEM_CD AS REQUEST_APPROVAL_STATUS_CD,
            SM3.SYSTEM_VALUE AS REQUEST_APPROVAL_STATUS_NAME
        FROM
            TB_R_PLACEMENT_REQUEST PR
            LEFT JOIN TB_R_PLACEMENT_SCHEDULE PS ON PR.PLACEMENT_SCHEDULE_CD = PS.PLACEMENT_SCHEDULE_CD
            LEFT JOIN TB_M_SYSTEM_MASTER SM ON PS.PERIOD_WEEK = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = ''WEEK''
            LEFT JOIN TB_M_SYSTEM_MASTER SM2 ON PR.REQUEST_TYPE = SM2.SYSTEM_CD AND SM2.SYSTEM_TYPE = ''REQUEST_TYPE''
            LEFT JOIN TB_M_ORG_RANK ORG ON PR.DEPARTMENT_CD = ORG.ORG_RANK_CD
            LEFT JOIN TB_M_SYSTEM_MASTER SM3 ON PR.REQUEST_APPROVAL_STATUS = SM3.SYSTEM_CD AND SM3.SYSTEM_TYPE = ''PLACEMENT_APPROVAL''
        WHERE
            1 = 1 AND PR.PLACEMENT_SCHEDULE_CD = @PLACEMENT_SCHEDULE_CD';

    -- 5. Menambahkan Paginasi dan Output Akhir
    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        PLACEMENT_SCHEDULE_CD,
        PLACEMENT_REQUEST_CD,
        CREATED_DT,
        PERIOD_WEEK,
        PERIOD_NAME,
        REQUEST_TYPE,
        REQUEST_TYPE_NAME,
        DEPARTMENT_CD,
        DEPARTMENT_NAME,
        MP_NEEDS,
        REQUEST_APPROVAL_STATUS_CD,
        REQUEST_APPROVAL_STATUS_NAME,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @START ROWS
    FETCH NEXT @SIZE ROWS ONLY;';

    -- 6. Eksekusi Dynamic SQL
    EXECUTE sp_executesql @SQL,
        N'@START INT, 
          @SIZE INT, 
          @PLACEMENT_SCHEDULE_CD VARCHAR(50)',
        @START = @START,
        @SIZE = @SIZE,
        @PLACEMENT_SCHEDULE_CD = @PLACEMENT_SCHEDULE_CD;
END
GO
