/****** Object:  UserDefinedTableType [dbo].[USERMANAGEMENT_VOCATION_CANDIDATE1]    Script Date: 21/10/2025 09:14:25 ******/
CREATE TYPE [dbo].[USERMANAGEMENT_VOCATION_CANDIDATE1] AS TABLE(
	[USER_CD] [varchar](50) NOT NULL,
	[FULL_NAME] [nvarchar](100) NULL,
	[NIK] [nvarchar](16) NULL,
	[PHONE] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](150) NULL,
	[LEVEL] [nvarchar](20) NULL,
	[BATCH] [nvarchar](10) NULL,
	[LATEST_PROCESS_RECRUITMENT] [nvarchar](50) NULL,
	[LATEST_TEST_DATE] [datetime] NULL,
	[TEST_RESULT] [nvarchar](150) NULL,
	[RESULT_SUMMARY] [nvarchar](255) NULL,
	[VALID_FROM] [datetime] NULL,
	[VALID_TO] [datetime] NULL,
	[IS_ACTIVE] [varchar](1) NULL,
	[MODE] [varchar](10) NULL
)
GO
