/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ESH_CREATE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ESH_CREATE]
    @ATTENDANCE_CD VARCHAR(20),
    @REMARK VARCHAR(255),
    @ESH_TRAINING_AMOUNT VARCHAR(20),
    @ESH_PRODUCTION_AMOUNT VARCHAR(20),
    @ESH_IN VARCHAR(50),
    @ESH_OUT VARCHAR(50),
    @FILE_PATH VARCHAR(255),
    @FILE_NAME VARCHAR(255),
    @CREATED_BY VARCHAR(50),
    @QUERY NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Generate a unique code for EXTRA_STUDY
        DECLARE @New_ESH_CD VARCHAR(50);
        DECLARE @TodayDate VARCHAR(8);
        DECLARE @LastIncrement INT;

        SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');
        SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(EXTRA_STUDY_CD, 4) AS INT)), 0)
        FROM [dbo].[TB_R_EXTRA_STUDY]
        WHERE EXTRA_STUDY_CD LIKE 'ESH-' + @TodayDate + '%';
        
        SET @LastIncrement = @LastIncrement + 1;
        SET @New_ESH_CD = 'ESH-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement AS VARCHAR(4)), 4);
    
        -- Handle temporary table cleanup
        IF OBJECT_ID('tempdb..#TempApprover') IS NOT NULL
        BEGIN
            DROP TABLE #TempApprover;
        END
        
        CREATE TABLE #TempApprover (
            APPROVER_SEQUENCE INT,
            APPROVER_NOREG VARCHAR(50),
            APPROVER_POSITION VARCHAR(50)
        );
        
        -- Execute dynamic query for temp table population
        IF @QUERY IS NOT NULL AND @QUERY <> ''
        BEGIN
            EXEC sp_executesql @QUERY;
        END;
        
        -- Declare variables with appropriate data types
        DECLARE @REGISTRATION_NUMBER VARCHAR(50);
        DECLARE @DATE DATE; -- Use DATE type for dates
        DECLARE @SHIFT_CD VARCHAR(50);
        DECLARE @SHIFT_CLOCK_IN TIME;
        DECLARE @SHIFT_CLOCK_OUT TIME;
        DECLARE @DAY_TYPE VARCHAR(50);
        
        -- Get attendance details
        SELECT
            @REGISTRATION_NUMBER = REGISTRATION_NUMBER,
            @DATE = CAST(ATTENDANCE_DATE AS DATE), -- Corrected: Use CAST to convert to DATE
            @SHIFT_CD = SHIFT_CD,
            @SHIFT_CLOCK_IN = SHIFT_CLOCK_IN,
            @SHIFT_CLOCK_OUT = SHIFT_CLOCK_OUT
        FROM TB_R_ATTENDANCE
        WHERE ATTENDANCE_CD = @ATTENDANCE_CD;
        
        IF EXISTS (
            SELECT 1
            FROM [dbo].[TB_R_EXTRA_STUDY]
            WHERE [REGISTRATION_NUMBER] = @REGISTRATION_NUMBER
              AND [DATE] = @DATE
        )
        BEGIN
            IF @@TRANCOUNT > 0
            BEGIN
                ROLLBACK TRANSACTION;
            END
            SELECT 'false' AS status, 'Failed. Extra Study data for registration ' + @REGISTRATION_NUMBER + ' on ' + CONVERT(VARCHAR(10), @DATE, 120) + ' already exists.'

            RETURN; -- Keluar dari SP
        END
        
        -- Get working day type
        SELECT @DAY_TYPE = WORKING_FLAG
        FROM TB_M_WORKING_CALENDAR
        WHERE WORKING_DATE = @DATE; -- This now uses a DATE type, avoiding conversion errors
        
        -- Insert into TB_R_EXTRA_STUDY
        INSERT INTO [dbo].[TB_R_EXTRA_STUDY] (
          [EXTRA_STUDY_CD],
          [REGISTRATION_NUMBER],
          [DATE],
          [SHIFT_CD],
          [SHIFT_CLOCK_IN],
          [SHIFT_CLOCK_OUT],
          [ESH_IN],
          [ESH_OUT],
          [ESH_PRODUCTION_AMOUNT],
          [EXTRA_STUDY_TYPE],
          [CREATED_DT],
          [CREATED_BY],
          [ESH_TRAINING_AMOUNT],
          [ATTENDANCE_CD],
          [STATUS]
         ) VALUES (
            @New_ESH_CD,
            @REGISTRATION_NUMBER,
            @DATE,
            @SHIFT_CD,
            @SHIFT_CLOCK_IN,
            @SHIFT_CLOCK_OUT,
            @ESH_IN,
            @ESH_OUT,
            @ESH_PRODUCTION_AMOUNT,
            @DAY_TYPE,
            GETDATE(),
            @CREATED_BY,
            @ESH_TRAINING_AMOUNT,
            @ATTENDANCE_CD,
            '0'
         );
          
        -- Insert attachment data if available
        IF (@FILE_PATH IS NOT NULL AND @FILE_PATH <> '') AND (@FILE_NAME IS NOT NULL AND @FILE_NAME <> '')
        BEGIN
            INSERT INTO TB_R_EXTRA_STUDY_ATTACHMENT (
                ATTACHMENT_CD,
                EXTRA_STUDY_CD,
                FILE_NAME,
                FILE_PATH,
                DESCRIPTION,
                CREATED_DT,
                CREATED_BY,
                ATTENDANCE_CD
            )
            SELECT
                @ATTENDANCE_CD + '-' + CONVERT(VARCHAR, (SELECT ISNULL(COUNT(1), 0) + 1 FROM TB_R_EXTRA_STUDY_ATTACHMENT WHERE ATTENDANCE_CD = @ATTENDANCE_CD)),
                @New_ESH_CD,
                @FILE_NAME,
                @FILE_PATH,
                'ATTACHMENT_ESH',
                GETDATE(),
                @CREATED_BY,
                @ATTENDANCE_CD
            FROM TB_R_ATTENDANCE -- This FROM clause is not needed and can be removed
            WHERE ATTENDANCE_CD = @ATTENDANCE_CD;
        END;
        
        -- Declare variables for total hours
        DECLARE @REG_NO VARCHAR(50) = (SELECT TOP 1 REGISTRATION_NUMBER FROM TB_R_ATTENDANCE WHERE ATTENDANCE_CD = @ATTENDANCE_CD);
        DECLARE @ESH INT = DATEDIFF(HOUR, CAST(@ESH_IN AS TIME), CAST(@ESH_OUT AS TIME)); -- Corrected: DATEDIFF and CAST
        DECLARE @ESH_MONTH INT = (SELECT SUM(DATEDIFF(HOUR, ISNULL(ESH_IN, '00:00:00'), ISNULL(ESH_OUT, '00:00:00')))
                                  FROM TB_R_EXTRA_STUDY
                                  WHERE [DATE] >= DATEADD(month, DATEDIFF(month, 0, GETDATE()), 0)
                                  AND [DATE] < DATEADD(month, DATEDIFF(month, 0, GETDATE()) + 1, 0)
                                  AND REGISTRATION_NUMBER = @REG_NO);
        
        -- Insert into TB_R_EXTRA_STUDY_APPROVAL
        INSERT INTO TB_R_EXTRA_STUDY_APPROVAL (
            EXTRA_STUDY_APPROVAL_CD,
            EXTRA_STUDY_CD,
            APPROVAL_LEVEL,
            APPROVAL_NAME,
            APPROVAL_DATE,
            APPROVAL_SEQ,
            APPROVAL_TYPE,
            APPROVAL_STATUS,
            COMMENTS,
            CREATED_BY,
            CREATED_DT,
            DAY_TYPE,
            APPROVAL_NOREG,
            ATTENDANCE_CD
        )
        SELECT
            @ATTENDANCE_CD + '-' + CAST(APPROVER_SEQUENCE AS VARCHAR),
            @New_ESH_CD,
            APPROVER_POSITION,
            FULL_NAME,
            NULL,
            APPROVER_SEQUENCE,
            am.APPROVAL_TYPE,
            '0',
            NULL,
            @CREATED_BY,
            GETDATE(),
            @DAY_TYPE,
            u.NOREG,
            @ATTENDANCE_CD
        FROM #TempApprover temp
        INNER JOIN TB_M_APPROVAL_MATRIX am ON temp.APPROVER_POSITION = am.APPROVAL_POSITION AND (am.PURPOSE_CD = 'EXTRA_STUDY_HOUR' OR am.PURPOSE_CD = 'EXTRA_STUDY_HOUR_MONTHLLY')
        INNER JOIN TB_M_USER_DETAIL ud ON temp.APPROVER_NOREG = ud.NOREG
        INNER JOIN TB_M_USERS u ON ud.NOREG = u.NOREG
        WHERE am.MIN_VALUE <= @ESH OR am.MIN_VALUE <= @ESH_MONTH; -- Added `am.` to MIN_VALUE for clarity

        -- Drop temp table
        DROP TABLE #TempApprover;

        COMMIT TRANSACTION;
        SELECT 'true' AS status, 'Success create data.' AS message, @New_ESH_CD AS id;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
        
        IF OBJECT_ID('tempdb..#TempApprover') IS NOT NULL
        BEGIN
            DROP TABLE #TempApprover;
        END
    END CATCH
END;
GO
