/****** Object:  StoredProcedure [dbo].[SP_ADMIN_DASHBOARD_TREND_AVERAGE_ESH]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_DASHBOARD_TREND_AVERAGE_ESH]
    @DIVISION_CD     AS VARCHAR(20) = NULL,
    @DEPARTMENT_CD   AS VARCHAR(20) = NULL,
    @PLANT_CD        AS VARCHAR(20) = NULL,
    @PERIOD_DT       AS VARCHAR(30) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH FILTERED_ESH AS (
        SELECT tres.*
        FROM TB_R_EXTRA_STUDY tres
        LEFT JOIN TB_R_ORG_ASSIGNMENT troa 
            ON troa.REGISTRATION_NUMBER = tres.REGISTRATION_NUMBER
        WHERE
            tres.ESH_IN IS NOT NULL
            AND tres.ESH_OUT IS NOT NULL
            AND (@DIVISION_CD   IS NULL OR troa.DIVISION_ID   = @DIVISION_CD)
            AND (@DEPARTMENT_CD IS NULL OR troa.DEPARTMENT_ID = @DEPARTMENT_CD)
            AND (@PLANT_CD      IS NULL OR troa.MAIN_LOCATION = @PLANT_CD)
    )
    SELECT
        FORMAT(f.[DATE], 'yyyy-MM') AS YEAR_MONTH,
        CAST(AVG(DATEDIFF(MINUTE, f.ESH_IN, f.ESH_OUT)) / 60.0 AS DECIMAL(10,2)) AS AVG_HOURS
    FROM FILTERED_ESH f
    GROUP BY FORMAT(f.[DATE], 'yyyy-MM')
    ORDER BY YEAR_MONTH;
END
GO
