/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_STORE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_STORE]
    @PLACEMENT_REQUEST_CD AS VARCHAR(50),
    @PLACEMENT_SCHEDULE_CD AS VARCHAR(50),
    @CAUSE_CATEGORY AS VARCHAR(50),
    @REQUEST_TYPE AS VARCHAR(50),
    @VOCATION_END_DT_FROM AS VARCHAR(50),
    @VOCATION_END_DT_TO AS VARCHAR(50),
    @REMARKS AS VARCHAR(255),
    @USERNAME AS VARCHAR(50),
    @MODE AS VARCHAR(50) 
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DEPARTMENT_CD VARCHAR(50); 
    DECLARE @QTY_JOB_POS_ON_PRODUCTION INT;
    DECLARE @QTY_JOB_POS_ON_TRAINING INT;
    DECLARE @QTY_JOB_POS_OTHER INT;
    DECLARE @PROGRESS_TRACK VARCHAR(10);
    
    SET @DEPARTMENT_CD = (
        SELECT TOP 1 UD.DEP_ID 
        FROM TB_M_USERS U 
        INNER JOIN TB_M_USER_DETAIL UD ON U.USER_CD = UD.USER_CD 
        WHERE U.USERNAME = @USERNAME
    );

    BEGIN TRANSACTION;

    BEGIN TRY
        
        IF @REQUEST_TYPE = '1'
        BEGIN
            SET @PROGRESS_TRACK = '2A'
            
            SELECT
                @QTY_JOB_POS_ON_PRODUCTION = SUM(ON_PROD),
                @QTY_JOB_POS_ON_TRAINING = SUM(ON_TRAINING), 
                @QTY_JOB_POS_OTHER = SUM(ON_OTHERS)
            FROM
            (
                SELECT
                    ORG.ORG_RANK_CD,
                    SUM (CASE WHEN POS.VOCATION_TYPE = 'LT-250821-000001' THEN MALE_MANPOWER + FEMALE_MANPOWER ELSE 0 END) AS ON_PROD,
                    SUM (CASE WHEN POS.VOCATION_TYPE = 'LT-250821-000002' THEN MALE_MANPOWER + FEMALE_MANPOWER ELSE 0 END) AS ON_TRAINING,
                    SUM (CASE WHEN POS.VOCATION_TYPE = 'LT-250821-000003' THEN MALE_MANPOWER + FEMALE_MANPOWER ELSE 0 END) AS ON_OTHERS
                FROM
                    TB_M_ORG_RANK ORG
                LEFT JOIN TB_M_ORG_POS POS ON ORG.ORG_RANK_CD = POS.ORG_RANK_CD
                WHERE ORG.DEP_ID = @DEPARTMENT_CD 
                GROUP BY
                ORG.ORG_RANK_CD
            ) AS TBL
            
        END ELSE BEGIN
						SELECT
                @QTY_JOB_POS_ON_PRODUCTION = SUM(ON_PROD),
                @QTY_JOB_POS_ON_TRAINING = SUM(ON_TRAINING), 
                @QTY_JOB_POS_OTHER = SUM(ON_OTHERS)
            FROM
            (
                SELECT
                    ORG.ORG_RANK_CD,
                    SUM (CASE WHEN POS.VOCATION_TYPE = 'LT-250821-000001' THEN MALE_MANPOWER + FEMALE_MANPOWER ELSE 0 END) AS ON_PROD,
                    SUM (CASE WHEN POS.VOCATION_TYPE = 'LT-250821-000002' THEN MALE_MANPOWER + FEMALE_MANPOWER ELSE 0 END) AS ON_TRAINING,
                    SUM (CASE WHEN POS.VOCATION_TYPE = 'LT-250821-000003' THEN MALE_MANPOWER + FEMALE_MANPOWER ELSE 0 END) AS ON_OTHERS
                FROM
                    TB_M_ORG_RANK ORG
                LEFT JOIN TB_M_ORG_POS POS ON ORG.ORG_RANK_CD = POS.ORG_RANK_CD
                WHERE ORG.DEP_ID = @DEPARTMENT_CD 
                GROUP BY
                ORG.ORG_RANK_CD
            ) AS TBL
				
            SET @PROGRESS_TRACK = '2B'
        END
        
        -- Logika untuk mode 'Add'
        IF @MODE = 'Add'
        BEGIN
                
            DECLARE @SCHEDULE_EXIST INT = (
                SELECT COUNT(1) 
                FROM TB_R_PLACEMENT_REQUEST
                WHERE PLACEMENT_SCHEDULE_CD = @PLACEMENT_SCHEDULE_CD
            );

            IF @SCHEDULE_EXIST > 0 
            BEGIN
                ROLLBACK TRANSACTION;
                SELECT 'false' AS status, 'Failed store data, request with schedule code already exist.' AS message;
                RETURN; 
            END
                
            DECLARE @New_CD VARCHAR(50);
            DECLARE @TodayDate VARCHAR(8);
            DECLARE @LastIncrement INT;

            -- Ambil tanggal hari ini dalam format DDMMYYYY
            SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

            -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
            SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(PLACEMENT_REQUEST_CD, 4) AS INT)), 0)
            FROM [dbo].[TB_R_PLACEMENT_REQUEST] -- Menggunakan TB_R_PLACEMENT_REQUEST sesuai definisi Anda
            WHERE PLACEMENT_REQUEST_CD LIKE 'PR-' + @TodayDate + '%';

            SET @LastIncrement = @LastIncrement + 1;
            SET @New_CD = 'PR-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement AS VARCHAR(4)), 4);
                
            INSERT INTO TB_R_PLACEMENT_REQUEST ( -- Menggunakan TB_R_PLACEMENT_REQUEST sesuai definisi Anda
                PLACEMENT_REQUEST_CD,
                PLACEMENT_SCHEDULE_CD,
                DEPARTMENT_CD,
                REQUEST_PERIOD,
                CAUSE_CATEGORY,
                REQUEST_TYPE,
                VOCATION_END_DT_FROM,
                VOCATION_END_DT_TO,
                QTY_JOB_POS_ON_PRODUCTION,
                QTY_JOB_POS_ON_TRAINING,
                QTY_JOB_POS_OTHER,
                REMARKS,
                REQUEST_APPROVAL_STATUS,
                CREATED_DT, -- Kolom untuk GETDATE()
                CREATED_BY,
                PROGRES_TRACKING_CD
            ) VALUES (
                @New_CD,
                @PLACEMENT_SCHEDULE_CD,
                @DEPARTMENT_CD,
                GETDATE(), 
                @CAUSE_CATEGORY,
                @REQUEST_TYPE,
                @VOCATION_END_DT_FROM,
                @VOCATION_END_DT_TO,
                @QTY_JOB_POS_ON_PRODUCTION,
                @QTY_JOB_POS_ON_TRAINING,
                @QTY_JOB_POS_OTHER,
                @REMARKS,
                '1', -- submited
                GETDATE(),
                @USERNAME,
								@PROGRESS_TRACK
            )

            COMMIT TRANSACTION;
            SELECT 'true' AS status, 'Success storing new data.' AS message;
        END

        -- Logika untuk mode 'Edit'
        ELSE IF @MODE = 'Edit'
        BEGIN
            -- Cek apakah data yang akan diupdate ada dan belum dihapus secara soft-delete
            IF EXISTS (SELECT 1 FROM [dbo].[TB_R_PLACEMENT_REQUEST] WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD AND COALESCE(IS_DELETED, '0') = '0') -- IS_DELETED asumsikan VARCHAR '0'/'1'
            BEGIN
                UPDATE [dbo].[TB_R_PLACEMENT_REQUEST]
                SET
                    PLACEMENT_SCHEDULE_CD = @PLACEMENT_SCHEDULE_CD,
                    DEPARTMENT_CD = @DEPARTMENT_CD,
                    CAUSE_CATEGORY = @CAUSE_CATEGORY,
                    REQUEST_TYPE = @REQUEST_TYPE,
                    VOCATION_END_DT_FROM = @VOCATION_END_DT_FROM,
                    VOCATION_END_DT_TO = @VOCATION_END_DT_TO,
                    QTY_JOB_POS_ON_PRODUCTION = @QTY_JOB_POS_ON_PRODUCTION,
                    QTY_JOB_POS_ON_TRAINING = @QTY_JOB_POS_ON_TRAINING,
                    QTY_JOB_POS_OTHER = @QTY_JOB_POS_OTHER,
                    REMARKS = @REMARKS,
                    UPDATED_DT = GETDATE(), 
                    UPDATED_BY = @USERNAME,
                    PROGRES_TRACKING_CD = @PROGRESS_TRACK
                WHERE
                    PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD;
                        
                COMMIT TRANSACTION;
                SELECT 'true' AS status, 'Success updating data.' AS message;
            END
            ELSE
            BEGIN
                ROLLBACK TRANSACTION;
                -- Pesan error yang lebih tepat
                SELECT 'false' AS status, 'No active record found with the provided Placement Request Code for update.' AS message;
            END
        END
        ELSE
        BEGIN
            -- Jika MODE tidak valid, rollback transaksi
            ROLLBACK TRANSACTION;

            -- Kembalikan pesan gagal
            SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
        END
    END TRY
    BEGIN CATCH
        -- Jika terjadi error, rollback semua perubahan
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
