/****** Object:  StoredProcedure [dbo].[SP_MASTER_ORGRANKPOSCRITERIA_GET_INQUIRY]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ORGRANKPOSCRITERIA_GET_INQUIRY]

@ORG_RANK_CD AS VARCHAR(50)


as

SELECT  ROW_NUMBER() OVER (ORDER BY POS_CRITERIA_CD ASC) AS NO,        
        POS_CRITERIA_CD,
        ORG_RANK_CD,
        A.ORG_POS_CD,
        CRITERIA_NAME,
        CRITERIA_VALUE
FROM [dbo].[TB_M_ORG_POS_CRITERIA] A
INNER JOIN [dbo].[TB_M_ORG_POS] B ON A.ORG_POS_CD = B.ORG_POS_CD
WHERE ORG_RANK_CD = @ORG_RANK_CD
GO
