/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERS_STORE]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERS_STORE]
    @USER_CD AS VARCHAR(50) = NULL,
    @USER_TYPE AS VARCHAR(MAX) = NULL,
    @PASSWORD AS VARCHAR(MAX) = NULL,
    @NOREG AS VARCHAR(15),
    @FULL_NAME AS VARCHAR(100),
    @PHONE AS VARCHAR(15),
    @NIK AS VARCHAR(16),
    @EMAIL AS VARCHAR(150),
    @BRANCH AS VARCHAR(100),
    @DIRECTORATE AS VARCHAR(100),
    @DIVISION AS VARCHAR(100),
    @DEPARTMENT AS VARCHAR(100),
    @SECTION AS VARCHAR(100),
    @GROUP AS VARCHAR(100),
    @LINE AS VARCHAR(100),
    @POSITION AS VARCHAR(100),
    @ROLE_LIST AS NVARCHAR(MAX),
    @ATTRIBUTE_LIST AS NVARCHAR(MAX),
    @USER_ID AS VARCHAR(50),
    @MODE AS VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @HASHED_PASSWORD VARBINARY(32);
    SET @HASHED_PASSWORD = HASHBYTES('SHA2_256', @PASSWORD);

    BEGIN TRANSACTION;

    BEGIN TRY
    
        IF @MODE = 'Add'
        BEGIN
            DECLARE @NEW_USER_CD VARCHAR(50);
            DECLARE @TodayDate VARCHAR(8);
            DECLARE @LastIncrement INT;

            -- Ambil tanggal hari ini dalam format DDMMYYYY
            SET @TodayDate = FORMAT(GETDATE(), 'yyMMdd');

            -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
            SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(USER_CD, 6) AS INT)), 0)
            FROM [dbo].[TB_M_USERS]
            WHERE USER_CD LIKE 'V-' + @TodayDate + '%';

            SET @LastIncrement = @LastIncrement + 1;

            SET @NEW_USER_CD = 'V-' + @TodayDate + '-' + RIGHT('000000' + CAST(@LastIncrement AS VARCHAR(6)), 6);
            INSERT INTO [dbo].[TB_M_USERS] (
                USER_CD, USERNAME, PASSWORD, FULL_NAME, NOREG, PHONE, NIK, EMAIL,
                IS_ACTIVE, IS_DELETED, CREATED_BY, CREATED_DT, VALID_FROM, VALID_TO
            )
            VALUES (
                @NEW_USER_CD, @NOREG, @HASHED_PASSWORD, @FULL_NAME, @NOREG, @PHONE, @NIK, @EMAIL,
                1, 0, @USER_ID, GETDATE(), GETDATE(), '9999-12-31'
            );
            
            
            IF(@USER_TYPE = '1' OR @USER_TYPE = '2') BEGIN
              INSERT INTO [dbo].[TB_M_USER_DETAIL] (
                  USER_DETAIL_CD, USER_CD, NOREG, DIRECTORATE, DEPARTMENT, DIVISION,
                  SECTION, [GROUP], LINE, POSITION, BRANCH, CREATED_BY, CREATED_DT
              )
              VALUES (
                  NEWID(), @NEW_USER_CD, @NOREG, @DIRECTORATE, @DEPARTMENT, @DIVISION,
                  @SECTION, @GROUP, @LINE, @POSITION, @BRANCH, @USER_ID, GETDATE()
              );
            END

            IF @ROLE_LIST IS NOT NULL AND @ROLE_LIST <> ''
            BEGIN
                DECLARE @ROLE_SQL NVARCHAR(MAX) = REPLACE(@ROLE_LIST, '[USER_CD]', @NEW_USER_CD);
                SET @ROLE_SQL = REPLACE(@ROLE_SQL, '[CREATED_BY]', @USER_ID);
                EXEC sp_executesql @ROLE_SQL;
            END

            IF @ATTRIBUTE_LIST IS NOT NULL AND @ATTRIBUTE_LIST <> ''
            BEGIN
                DECLARE @ATTRIBUTE_SQL NVARCHAR(MAX) = REPLACE(@ATTRIBUTE_LIST, '[USER_CD]', @NEW_USER_CD);
                SET @ATTRIBUTE_SQL = REPLACE(@ATTRIBUTE_SQL, '[CREATED_BY]', @USER_ID);
                EXEC sp_executesql @ATTRIBUTE_SQL;
            END

            COMMIT TRANSACTION;
            SELECT 'true' AS status, 'Success storing new data.' AS message;
        END
        
        ELSE IF @MODE = 'Edit'
        BEGIN
            -- Update ke TB_M_USERS
            UPDATE [dbo].[TB_M_USERS]
            SET
                USERNAME = @NOREG,
                FULL_NAME = @FULL_NAME,
                NOREG = @NOREG,
                PHONE = @PHONE,
                NIK = @NIK,
                EMAIL = @EMAIL,
                UPDATED_BY = @USER_ID,
                UPDATED_DT = GETDATE()
            WHERE
                USER_CD = @USER_CD;

            -- GANTI DARI MERGE JADI UPDATE LANGSUNG
            UPDATE [dbo].[TB_M_USER_DETAIL]
            SET
                NOREG = @NOREG,
                DIRECTORATE = @DIRECTORATE,
                DEPARTMENT = @DEPARTMENT,
                DIVISION = @DIVISION,
                SECTION = @SECTION,
                [GROUP] = @GROUP,
                LINE = @LINE,
                POSITION = @POSITION,
                BRANCH = @BRANCH,
                UPDATED_BY = @USER_ID,
                UPDATED_DT = GETDATE()
            WHERE
                USER_CD = @USER_CD;

            -- Bagian untuk ROLE dan ATTRIBUTE (tetap menggunakan MERGE karena ini adalah cara terbaik untuk sinkronisasi)
            IF @ROLE_LIST IS NOT NULL AND @ROLE_LIST <> ''
            BEGIN
                DROP TABLE IF EXISTS #TempRoles;
                CREATE TABLE #TempRoles (ROLE_CD NVARCHAR(50), USER_CD NVARCHAR(50), CREATED_BY NVARCHAR(50), CREATED_DT DATETIME);
                
                DECLARE @ROLE_SQL_TEMP NVARCHAR(MAX) = REPLACE(@ROLE_LIST, 'TB_R_USER_ROLES', '#TempRoles');
                SET @ROLE_SQL_TEMP = REPLACE(@ROLE_SQL_TEMP, '[USER_CD]', @USER_CD);
                EXEC sp_executesql @ROLE_SQL_TEMP;
                
                MERGE INTO TB_R_USER_ROLES AS target
                USING #TempRoles AS source ON (target.USER_CD = source.USER_CD AND target.ROLE_CD = source.ROLE_CD)
                WHEN NOT MATCHED BY target THEN
                    INSERT (USER_CD, ROLE_CD, CREATED_BY, CREATED_DT)
                    VALUES (@USER_CD, source.ROLE_CD, @USER_ID, GETDATE())
                WHEN NOT MATCHED BY source AND target.USER_CD = @USER_CD THEN
                    DELETE;
            END
            ELSE
            BEGIN
                DELETE FROM TB_R_USER_ROLES WHERE USER_CD = @USER_CD;
            END

            IF @ATTRIBUTE_LIST IS NOT NULL AND @ATTRIBUTE_LIST <> ''
            BEGIN
                DROP TABLE IF EXISTS #TempAttributes;
                CREATE TABLE #TempAttributes (USER_ATTRIBUTE_CD NVARCHAR(50), USER_CD NVARCHAR(50), ATTRIBUTE_CD NVARCHAR(50), ASSIGNED_DATE DATETIME, CREATED_BY NVARCHAR(50), CREATED_DT DATETIME);
                
                DECLARE @ATTRIBUTE_SQL_TEMP NVARCHAR(MAX) = REPLACE(@ATTRIBUTE_LIST, 'TB_R_USER_ATTRIBUTES', '#TempAttributes');
                SET @ATTRIBUTE_SQL_TEMP = REPLACE(@ATTRIBUTE_SQL_TEMP, '[USER_CD]', @USER_CD);
                SET @ATTRIBUTE_SQL_TEMP = REPLACE(@ATTRIBUTE_SQL_TEMP, '[CREATED_BY]', @USER_ID);
                EXEC sp_executesql @ATTRIBUTE_SQL_TEMP;
                
                MERGE INTO TB_R_USER_ATTRIBUTES AS target
                USING #TempAttributes AS source ON (target.USER_CD = source.USER_CD AND target.ATTRIBUTE_CD = source.ATTRIBUTE_CD)
                WHEN NOT MATCHED BY target THEN
                    INSERT (USER_ATTRIBUTE_CD, USER_CD, ATTRIBUTE_CD, ASSIGNED_DATE, CREATED_BY, CREATED_DT)
                    VALUES (NEWID(), @USER_CD, source.ATTRIBUTE_CD, GETDATE(), @USER_ID, GETDATE())
                WHEN NOT MATCHED BY source AND target.USER_CD = @USER_CD THEN
                    DELETE;
            END
            ELSE
            BEGIN
                DELETE FROM TB_R_USER_ATTRIBUTES WHERE USER_CD = @USER_CD;
            END

            COMMIT TRANSACTION;
            SELECT 'true' AS status, 'Success updating data.' AS message;
        END

        ELSE
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
        END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
