/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL_BANK]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL_BANK]
    @REGISTRATION_NUMBER AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      PRF_BANK_ACCOUNT_CD,
      REGISTRATION_NUMBER,
      ACCOUNT_HOLDER_NAME,
      BANK_CD,
      VALID_FROM,
      VALID_TO,
      BRANCH,
      BANK_KEYS,
      BANK_ACCOUNT_NUMBER

    FROM
      TB_M_PROFILE_BANK_ACCOUNT
    WHERE REGISTRATION_NUMBER = @REGISTRATION_NUMBER
END;
GO
