/****** Object:  Table [dbo].[TB_M_SCHOOL_MAJOR]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_SCHOOL_MAJOR](
	[SCHOOL_MAJOR_CD] [varchar](100) NOT NULL,
	[SCHOOL_CD] [varchar](20) NOT NULL,
	[MAJOR_NAME] [varchar](255) NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_M_SCH__17B8E6C1DE439E88] PRIMARY KEY CLUSTERED 
(
	[SCHOOL_MAJOR_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
