/****** Object:  Table [dbo].[TB_M_PROFILE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_PROFILE](
	[REGISTRATION_NUMBER] [nvarchar](20) NOT NULL,
	[CANDIDATE_NUMBER] [varchar](20) NULL,
	[FULL_NAME] [varchar](255) NULL,
	[GENDER] [varchar](10) NULL,
	[PLACE_OF_BIRTH] [varchar](100) NULL,
	[DATE_OF_BIRTH] [date] NULL,
	[AGE] [decimal](6, 2) NULL,
	[PERSONAL_ID] [varchar](25) NULL,
	[TAX_ID] [varchar](25) NULL,
	[BPJS_ID] [varchar](25) NULL,
	[BPJS_STATUS] [varchar](25) NULL,
	[RELIGION] [varchar](30) NULL,
	[SHIRT_SIZE] [varchar](10) NULL,
	[SHOE_SIZE] [decimal](6, 2) NULL,
	[MOTHER_NAME] [varchar](255) NULL,
	[MOTHER_DOB] [date] NULL,
	[RECRUITMENT_BATCH] [varchar](10) NULL,
	[CONTRACT_START] [date] NULL,
	[CONTRACT_END] [date] NULL,
	[VOCATIONAL_CENTER_CD] [varchar](20) NULL,
	[VAKSIN_1] [varchar](100) NULL,
	[VAKSIN_2] [varchar](100) NULL,
	[VAKSIN_3] [varchar](100) NULL,
	[REFFERAL_NOREG] [nvarchar](20) NULL,
	[PROFILE_STATUS] [nvarchar](50) NULL,
	[RECRUITMENT_PROCESS] [nvarchar](50) NULL,
	[RECRUITMENT_PROCESS_DESC] [nvarchar](150) NULL,
	[RECRUITMENT_STATUS] [nvarchar](50) NULL,
	[RECRUITMENT_STATUS_DESC] [nvarchar](150) NULL,
	[BLOOD_TYPE] [varchar](10) NULL,
	[HEIGHT] [decimal](6, 2) NULL,
	[WEIGHT] [decimal](6, 2) NULL,
	[CARD_NUMBER] [varchar](50) NULL,
	[FACE_ID_REFERENCE] [varchar](255) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[RESIGN_CATEGORY] [nvarchar](50) NULL,
	[RESIGN_REASON] [nvarchar](250) NULL,
	[RESIGN_ATTACHMENT] [nvarchar](max) NULL,
	[PROFILE_CATEGORY_CD] [varchar](50) NULL,
	[PROFILE_CATEGORY_NAME] [varchar](150) NULL,
 CONSTRAINT [PK_TB_M_PROFILE] PRIMARY KEY CLUSTERED 
(
	[REGISTRATION_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
