/****** Object:  Table [dbo].[TB_R_EXTRA_STUDY_ATTACHMENT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_EXTRA_STUDY_ATTACHMENT](
	[ATTACHMENT_CD] [varchar](50) NOT NULL,
	[EXTRA_STUDY_CD] [varchar](20) NOT NULL,
	[FILE_NAME] [varchar](255) NULL,
	[FILE_PATH] [varchar](500) NULL,
	[FILE_TYPE] [varchar](50) NULL,
	[FILE_SIZE] [decimal](10, 2) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[STATUS] [varchar](20) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[ATTENDANCE_CD] [varchar](20) NULL,
 CONSTRAINT [PK_TB_R_EXTRA_STUDY_ATTACHMENT] PRIMARY KEY CLUSTERED 
(
	[ATTACHMENT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
