/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ESH_GET_MONTHLY_INQUIRY]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ESH_GET_MONTHLY_INQUIRY]
    @PAGE INT = 1,
    @PageSize INT = 10,
    @OrderBy VARCHAR(50) = 'FULL_NAME',
    @OrderDirection VARCHAR(5) = 'ASC',
    @TERM VARCHAR(255) = NULL,
    @PERIOD_FROM DATE = NULL,
    @PERIOD_TO DATE = NULL,
    @SECTION_ID VARCHAR(20) = NULL,
    @DEPARTMENT_ID VARCHAR(20) = NULL,
    @LINE_ID VARCHAR(20) = NULL,
    @GROUP_ID VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate and set default values for OrderBy and OrderDirection
    IF @OrderBy NOT IN ('REGISTRATION_NUMBER', 'CANDIDATE_NUMBER', 'TOTAL_EXTRA_STUDY_HOUR', 'TOTAL_STUDY_HOUR_IN', 'TOTAL_STUDY_HOUR_HOLIDAY', 'ESH_TRAINING_AMOUNT', 'ESH_PRODUCTION_AMOUNT', 'TOTAL_STUDY_HOUR_APPROVE', 'TOTAL_STUDY_HOUR_PENDING')
    BEGIN
        SET @OrderBy = 'FULL_NAME';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    -- Set default period if not provided
    IF @PERIOD_FROM IS NULL
        SET @PERIOD_FROM = '1900-01-01'; -- Default to a very old date
    IF @PERIOD_TO IS NULL
        SET @PERIOD_TO = '9999-12-31'; -- Default to a very far future date

    DECLARE @ATT_STATUS_PRESENT VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'PRESENT' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_ABSENT VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'ABSENT' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_CONDITIONAL VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'CONDITIONAL' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @Offset INT = @PAGE;
    
    SET @SQL = '
    WITH AggregatedAttendance AS (
        SELECT
          T2.REGISTRATION_NUMBER,
          LEFT(@PERIOD_FROM, 7) AS PERIOD,
          T2.FULL_NAME,
          T2.CANDIDATE_NUMBER,
          T4.WORKING_DAYS,
          CONVERT(VARCHAR(8), DATEADD(second, SUM(DATEDIFF(SECOND, T5.ESH_IN, T5.ESH_OUT)), 0), 108) AS TOTAL_EXTRA_STUDY_HOUR,
          CONVERT(VARCHAR(8), DATEADD(second, SUM(CASE WHEN T5.EXTRA_STUDY_TYPE = ''1'' THEN DATEDIFF(SECOND, T5.ESH_IN, T5.ESH_OUT) ELSE 0 END), 0), 108) AS TOTAL_STUDY_HOUR_IN,
          CONVERT(VARCHAR(8), DATEADD(second, SUM(CASE WHEN T5.EXTRA_STUDY_TYPE = ''2'' THEN DATEDIFF(SECOND, T5.ESH_IN, T5.ESH_OUT) ELSE 0 END), 0), 108) AS TOTAL_STUDY_HOUR_HOLIDAY,
          CONVERT(VARCHAR(8), DATEADD(second, SUM(DATEDIFF(ms, ''00:00:00.000'', T5.ESH_TRAINING_AMOUNT)), 0), 108) AS ESH_TRAINING_AMOUNT,
          CONVERT(VARCHAR(8), DATEADD(second, SUM(DATEDIFF(ms, ''00:00:00.000'', T5.ESH_PRODUCTION_AMOUNT)), 0), 108) AS ESH_PRODUCTION_AMOUNT,
          CONVERT(VARCHAR(8), DATEADD(second, SUM(CASE WHEN COALESCE(T5.STATUS, 0) = ''1'' THEN DATEDIFF(SECOND, T5.ESH_IN, T5.ESH_OUT) ELSE 0 END), 0), 108) AS TOTAL_STUDY_HOUR_APPROVE,
          CONVERT(VARCHAR(8), DATEADD(second, SUM(CASE WHEN COALESCE(T5.STATUS, 0) = ''0'' THEN DATEDIFF(SECOND, T5.ESH_IN, T5.ESH_OUT) ELSE 0 END), 0), 108) AS TOTAL_STUDY_HOUR_PENDING
      FROM
          TB_R_ATTENDANCE T1
      INNER JOIN
          TB_M_PROFILE T2 ON T1.REGISTRATION_NUMBER = T2.REGISTRATION_NUMBER
      INNER JOIN 
          TB_R_ORG_ASSIGNMENT ORG ON T2.REGISTRATION_NUMBER = ORG.REGISTRATION_NUMBER AND GETDATE() BETWEEN ORG.VALID_FROM AND ORG.VALID_TO
      INNER JOIN
          (SELECT
              REGISTRATION_NUMBER,
              COUNT(WORKING_FLAG) AS WORKING_DAYS
          FROM
              TB_M_WORKING_CALENDAR T3
          LEFT JOIN
              TB_R_ATTENDANCE T1 ON T3.WORKING_DATE = T1.ATTENDANCE_DATE
          WHERE
              T3.WORKING_DATE >= @PERIOD_FROM
              AND T3.WORKING_DATE <= @PERIOD_TO
              AND T3.WORKING_FLAG = 1
          GROUP BY
              REGISTRATION_NUMBER) AS T4 ON T2.REGISTRATION_NUMBER = T4.REGISTRATION_NUMBER
        LEFT JOIN TB_R_EXTRA_STUDY T5 ON T1.ATTENDANCE_CD = T5.ATTENDANCE_CD
      WHERE
          T1.ATTENDANCE_DATE >= @PERIOD_FROM AND T1.ATTENDANCE_DATE <= @PERIOD_TO
'
            
    IF @TERM IS NOT NULL AND TRIM(@TERM) <> ''
        SET @SQL = @SQL + ' AND (T2.FULL_NAME LIKE ''%'' + @TERM_P + ''%'' OR T2.REGISTRATION_NUMBER LIKE ''%'' + @TERM_P + ''%'')';
    
    IF @DEPARTMENT_ID IS NOT NULL AND TRIM(@DEPARTMENT_ID) <> ''
        SET @SQL = @SQL + ' AND ORG.DEPARTMENT_ID = @DEPARTMENT_ID_P';
        
    IF @SECTION_ID IS NOT NULL AND TRIM(@SECTION_ID) <> ''
        SET @SQL = @SQL + ' AND ORG.SECTION_ID = @SECTION_ID_P';
        
    IF @LINE_ID IS NOT NULL AND TRIM(@LINE_ID) <> ''
        SET @SQL = @SQL + ' AND ORG.LINE_ID = @LINE_ID_P';
        
    IF @GROUP_ID IS NOT NULL AND TRIM(@GROUP_ID) <> ''
        SET @SQL = @SQL + ' AND ORG.GROUP_ID = @GROUP_ID_P';
            
            
        SET @SQL = @SQL + ' GROUP BY
            T2.REGISTRATION_NUMBER, T2.FULL_NAME, T2.CANDIDATE_NUMBER, ORG.DEPARTMENT_ID, ORG.SECTION_ID, ORG.LINE_ID, ORG.GROUP_ID, T4.WORKING_DAYS
    )
    
    
        SELECT
            ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
            Agg.*,
            COUNT(1) OVER() AS COUNT
        FROM
            AggregatedAttendance Agg
        WHERE
            1=1 ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ' OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';
    
    -- Prepare and execute the dynamic SQL
    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @TERM_P VARCHAR(255), @PERIOD_FROM DATE, @PERIOD_TO DATE, @DEPARTMENT_ID_P VARCHAR(20), @SECTION_ID_P VARCHAR(20), @LINE_ID_P VARCHAR(20), @GROUP_ID_P VARCHAR(20)' ,
        @Offset = @Offset,
        @PageSize = @PageSize,
        @TERM_P = @TERM,
        @PERIOD_FROM = @PERIOD_FROM,
        @PERIOD_TO = @PERIOD_TO,
        @DEPARTMENT_ID_P = @DEPARTMENT_ID,
        @SECTION_ID_P = @SECTION_ID,
        @LINE_ID_P = @LINE_ID,
        @GROUP_ID_P = @GROUP_ID;
END;
GO
