/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_GET_ATTACHMENT]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_GET_ATTACHMENT]
    @CLOSING_ATTENDANCE_CD VARCHAR(50)
AS
BEGIN
    SELECT *
    FROM 
        [dbo].[TB_R_CLOSING_ATTENDANCE_ATTACHMENT]
    WHERE 
        CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
END;
GO
