/****** Object:  Table [dbo].[TB_R_RECRUITMENT_GROUP]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_RECRUITMENT_GROUP](
	[RECRUITMENT_GROUP_CD] [varchar](20) NOT NULL,
	[SCHEDULE_RECRUITMENT_CD] [varchar](20) NULL,
	[SCHEDULE_RECRUITER_CD] [varchar](20) NULL,
	[PROFILE_ASSESSMENT_CD] [varchar](20) NULL,
	[REGISTRATION_NUMBER] [varchar](20) NULL,
	[ASSESSMENT_RESULT] [varchar](150) NULL,
	[ASSESSMENT_SUMMARY] [varchar](255) NULL,
	[ASSESSMENT_REMARKS] [varchar](255) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK__TB_R_REC__8CB24C07B97470B6] PRIMARY KEY CLUSTERED 
(
	[RECRUITMENT_GROUP_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
