/****** Object:  StoredProcedure [dbo].[SP_MASTER_VOCATIONAL_CENTER_GET_DETAIL]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_VOCATIONAL_CENTER_GET_DETAIL]
    @VOCATIONAL_CENTER_CD AS VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      VC.VOCATIONAL_CENTER_CD,
      VC.NAME AS VOCATIONAL_CENTER_NAME,
      VC.CP_NAME,
      VC.CP_PHONE,
      VC.EMAIL,
      VC.ADDRESS,
      CONVERT(VARCHAR, VC.IS_ACTIVE) AS IS_ACTIVE,
      VC.VOCATIONAL_CENTER_CD,
      VC.NAME AS VOCATIONAL_CENTER_NAME,
      PROV.PROVINCE_CD,
      PROV.PROVINCE_NAME,
      CITY.CITY_CD,
      CITY.CITY_NAME,
      DIST.DISTRICT_CD,
      DIST.DISTRICT_NAME,
      VIL.VILLAGE_CD,
      VIL.VILLAGE_NAME,
      (SELECT COUNT(1) FROM TB_M_SCHOOL WHERE VOCATIONAL_CENTER_CD = @VOCATIONAL_CENTER_CD) AS TOTAL_SCHOOL
    FROM
      TB_M_VOCATIONAL_CENTER VC
      LEFT JOIN TB_M_PROVINCE PROV ON VC.PROVINCE_CD = PROV.PROVINCE_CD
      LEFT JOIN TB_M_CITY CITY ON VC.CITY_CD = CITY.CITY_CD
      LEFT JOIN TB_M_DISTRICT DIST ON VC.DISTRICT_CD = DIST.DISTRICT_CD
      LEFT JOIN TB_M_VILLAGE VIL ON VC.VILLAGE_CD = VIL.VILLAGE_CD
    WHERE
      VOCATIONAL_CENTER_CD = @VOCATIONAL_CENTER_CD
      AND COALESCE(VC.IS_DELETED, 0) = 0;
END;
GO
