/****** Object:  StoredProcedure [dbo].[SP_AUTH_COUNT_GRANTED_ACCESS]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_COUNT_GRANTED_ACCESS]
    @USERNAME AS VARCHAR(50),
    @FEATURE_CD AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @USER_CD VARCHAR(50);
    SELECT @USER_CD = USER_CD FROM TB_M_USERS WHERE USERNAME = @USERNAME AND COALESCE(IS_ACTIVE, '0') = '1' AND COALESCE(IS_DELETED, '0') = '0';
    
    SELECT COUNT(1) FROM TB_R_USER_ROLES UR
    INNER JOIN TB_M_ROLES_AUTH R ON UR.ROLE_CD = R.ROLE_CD
    WHERE UR.USER_CD = @USER_CD AND R.FEATURE_CD = @FEATURE_CD
END;
GO
