/****** Object:  StoredProcedure [dbo].[SP_ADMIN_DASHBOARD_HISTORICAL_DATA]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_DASHBOARD_HISTORICAL_DATA]
    @DIVISION_CD     AS VARCHAR(20) = NULL,
    @DEPARTMENT_CD   AS VARCHAR(20) = NULL,
    @PLANT_CD        AS VARCHAR(20) = NULL,
    @PERIOD_DT       AS VARCHAR(30) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH FILTERED_PROFILE AS (
        SELECT tmp.*
        FROM TB_M_PROFILE tmp
        LEFT JOIN TB_R_ORG_ASSIGNMENT troa 
            ON troa.REGISTRATION_NUMBER = tmp.REGISTRATION_NUMBER
        WHERE
            (@DIVISION_CD   IS NULL OR troa.DIVISION_ID   = @DIVISION_CD)
            AND (@DEPARTMENT_CD IS NULL OR troa.DEPARTMENT_ID = @DEPARTMENT_CD)
            AND (@PLANT_CD   IS NULL OR troa.MAIN_LOCATION = @PLANT_CD)
    )

    SELECT
        ISNULL(FORMAT(fp.UPDATED_DT, 'yyyy-MM'), '-') AS YEAR_MONTH,
        tmsm.SYSTEM_VALUE,
        tmsm.SYSTEM_CD,
        COUNT(*) AS TOTAL
    FROM FILTERED_PROFILE fp
    INNER JOIN TB_M_SYSTEM_MASTER tmsm 
        ON tmsm.SYSTEM_CD = fp.PROFILE_STATUS
       AND tmsm.SYSTEM_TYPE = 'PROFILE_STATUS'
    GROUP BY 
        FORMAT(fp.UPDATED_DT, 'yyyy-MM'),
        tmsm.SYSTEM_VALUE,
        tmsm.SYSTEM_CD
    ORDER BY 
        YEAR_MONTH, 
        tmsm.SYSTEM_VALUE;
END
GO
