/****** Object:  Table [dbo].[TB_R_VOC_TRANSFER_D]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_VOC_TRANSFER_D](
	[TRANSFER_D_CD] [varchar](36) NOT NULL,
	[TRANSFER_CD] [varchar](36) NOT NULL,
	[LOCATION_ID_FROM] [int] NULL,
	[DEPARTMENT_ID_FROM] [int] NULL,
	[SECTION_ID_FROM] [int] NULL,
	[LINE_ID_FROM] [int] NULL,
	[GROUP_ID_FROM] [int] NULL,
	[LOCATION_FROM] [nvarchar](200) NULL,
	[DEPARTMENT_FROM] [nvarchar](200) NULL,
	[SECTION_FROM] [nvarchar](200) NULL,
	[LINE_FROM] [nvarchar](200) NULL,
	[GROUP_FROM] [nvarchar](200) NULL,
	[LOCATION_ID_TO] [int] NULL,
	[DEPARTMENT_ID_TO] [int] NULL,
	[SECTION_ID_TO] [int] NULL,
	[LINE_ID_TO] [int] NULL,
	[GROUP_ID_TO] [int] NULL,
	[LOCATION_TO] [nvarchar](200) NULL,
	[DEPARTMENT_TO] [nvarchar](200) NULL,
	[SECTION_TO] [nvarchar](200) NULL,
	[LINE_TO] [nvarchar](200) NULL,
	[GROUP_TO] [nvarchar](200) NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK__TB_R_VOC__698D44E46A7F0B34] PRIMARY KEY CLUSTERED 
(
	[TRANSFER_D_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_VOC_TRANSFER_D] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
ALTER TABLE [dbo].[TB_R_VOC_TRANSFER_D]  WITH CHECK ADD  CONSTRAINT [FK_VOC_TRANSFER_D] FOREIGN KEY([TRANSFER_CD])
REFERENCES [dbo].[TB_R_VOC_TRANSFER_H] ([TRANSFER_CD])
GO
ALTER TABLE [dbo].[TB_R_VOC_TRANSFER_D] CHECK CONSTRAINT [FK_VOC_TRANSFER_D]
GO
