/****** Object:  Table [dbo].[TB_M_ASSESSMENT_ITEM]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_ASSESSMENT_ITEM](
	[ASSESSMENT_ITEM_CD] [varchar](20) NOT NULL,
	[ASSESSMENT_D_CD] [varchar](20) NULL,
	[KEY] [varchar](50) NULL,
	[QUESTION_TEXT] [varchar](255) NULL,
	[QUESTION_TYPE] [varchar](15) NULL,
	[ANSWER_KEY] [varchar](255) NULL,
	[REMARKS] [varchar](255) NULL,
	[SEQUENCE] [int] NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_DT] [date] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [date] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_M_ASS__0C32080F9A7A68D8] PRIMARY KEY CLUSTERED 
(
	[ASSESSMENT_ITEM_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_ASSESSMENT_ITEM]  WITH CHECK ADD  CONSTRAINT [FK__TB_M_ASSE__ASSES__47DBAE45] FOREIGN KEY([ASSESSMENT_D_CD])
REFERENCES [dbo].[TB_M_ASSESSMENT_D] ([ASSESSMENT_D_CD])
GO
ALTER TABLE [dbo].[TB_M_ASSESSMENT_ITEM] CHECK CONSTRAINT [FK__TB_M_ASSE__ASSES__47DBAE45]
GO
