/****** Object:  StoredProcedure [dbo].[SP_MASTER_LOCATION_GET_INQUIRY]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_LOCATION_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = '',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @PROVINCE_CD AS VARCHAR(30) = NULL,
    @CITY_CD AS VARCHAR(30) = NULL,
    @DISTRICT_CD AS VARCHAR(30) = NULL,
    @VILLAGE_CD AS VARCHAR(30) = NULL,
    @REGION_TYPE AS VARCHAR(20) = 'all',
    @TERM AS VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validasi dan Default Nilai
    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
        SET @OrderDirection = 'ASC';
    
    SET @REGION_TYPE = LOWER(@REGION_TYPE);
    IF @REGION_TYPE NOT IN ('all', 'province', 'city', 'district', 'village')
        SET @REGION_TYPE = 'all';

    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @WhereClause NVARCHAR(MAX) = '';

    -- 1. Penentuan Kolom dan JOIN
    SET @SQL = '
        WITH PaginatedResults AS (
        SELECT
            ROW_NUMBER() OVER (ORDER BY ';

    -- Menentukan OrderBy default dan Clause WHERE awal
    IF @REGION_TYPE = 'all'
    BEGIN
        IF @OrderBy NOT IN ('COUNTRY_NAME', 'PROVINCE_NAME')
            SET @OrderBy = 'PROVINCE_NAME';
        
        SET @SQL = @SQL + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO, 
            COUNT(1) OVER() AS COUNT,
            tmp.COUNTRY_CD,
            tmp.PROVINCE_CD,
            tmc.CITY_CD,
            tmd.DISTRICT_CD,
            tmv.VILLAGE_CD,
            ''Indonesia'' AS COUNTRY_NAME,
            tmp.PROVINCE_NAME,
            tmc.CITY_NAME,
            tmd.DISTRICT_NAME,
            tmv.VILLAGE_NAME
        FROM TB_M_PROVINCE tmp
        LEFT JOIN TB_M_CITY tmc ON tmc.PROVINCE_CD = tmp.PROVINCE_CD AND tmc.IS_DELETED = 0
        LEFT JOIN TB_M_DISTRICT tmd ON tmd.CITY_CD = tmc.CITY_CD AND tmd.IS_DELETED = 0
        LEFT JOIN TB_M_VILLAGE tmv ON tmv.DISTRICT_CD = tmd.DISTRICT_CD AND tmv.IS_DELETED = 0
        WHERE tmp.IS_DELETED = 0';
        
        SET @WhereClause = ' AND tmp.PROVINCE_CD IS NOT NULL '; -- Pastikan hanya Province yang aktif
    END

    ELSE IF @REGION_TYPE = 'province'
    BEGIN
        IF @OrderBy NOT IN ('COUNTRY_NAME', 'PROVINCE_NAME')
            SET @OrderBy = 'PROVINCE_NAME';

        SET @SQL = @SQL + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO, 
            COUNT(1) OVER() AS COUNT,
            tmp.COUNTRY_CD,
            tmp.PROVINCE_CD,
            '''' AS CITY_CD,
            '''' AS DISTRICT_CD,
            '''' AS VILLAGE_CD,
            ''Indonesia'' AS COUNTRY_NAME,
            tmp.PROVINCE_NAME,
            '''' AS CITY_NAME,
            '''' AS DISTRICT_NAME,
            '''' AS VILLAGE_NAME
        FROM TB_M_PROVINCE tmp
        WHERE tmp.IS_DELETED = 0';
    END

    ELSE IF @REGION_TYPE = 'city'
    BEGIN
        IF @OrderBy NOT IN ('PROVINCE_NAME', 'CITY_NAME')
            SET @OrderBy = 'CITY_NAME';

        SET @SQL = @SQL + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO, 
            COUNT(1) OVER() AS COUNT,
            '''' AS COUNTRY_CD,
            tmp.PROVINCE_CD,
            tmc.CITY_CD,
            '''' AS DISTRICT_CD,
            '''' AS VILLAGE_CD,
            '''' AS COUNTRY_NAME,
            tmp.PROVINCE_NAME,
            tmc.CITY_NAME,
            '''' AS DISTRICT_NAME,
            '''' AS VILLAGE_NAME
        FROM TB_M_PROVINCE tmp
        INNER JOIN TB_M_CITY tmc ON tmc.PROVINCE_CD = tmp.PROVINCE_CD AND tmc.IS_DELETED = 0
        WHERE tmp.IS_DELETED = 0';
        
        SET @WhereClause = ' AND tmc.CITY_CD IS NOT NULL ';
    END

    ELSE IF @REGION_TYPE = 'district'
    BEGIN
        IF @OrderBy NOT IN ('CITY_NAME', 'DISTRICT_NAME')
            SET @OrderBy = 'DISTRICT_NAME';

        SET @SQL = @SQL + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO, 
            COUNT(1) OVER() AS COUNT,
            '''' AS COUNTRY_CD,
            '''' AS PROVINCE_CD,
            tmc.CITY_CD,
            tmd.DISTRICT_CD,
            '''' AS VILLAGE_CD,
            '''' AS COUNTRY_NAME,
            '''' AS PROVINCE_NAME,
            tmc.CITY_NAME,
            tmd.DISTRICT_NAME,
            '''' AS VILLAGE_NAME
        FROM TB_M_CITY tmc
        INNER JOIN TB_M_DISTRICT tmd ON tmd.CITY_CD = tmc.CITY_CD AND tmd.IS_DELETED = 0
        WHERE tmc.IS_DELETED = 0';
        
        SET @WhereClause = ' AND tmd.DISTRICT_CD IS NOT NULL ';
    END

    ELSE IF @REGION_TYPE = 'village'
    BEGIN
        IF @OrderBy NOT IN ('DISTRICT_NAME', 'VILLAGE_NAME')
            SET @OrderBy = 'VILLAGE_NAME';

        SET @SQL = @SQL + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO, 
            COUNT(1) OVER() AS COUNT,
            '''' AS COUNTRY_CD,
            '''' AS PROVINCE_CD,
            '''' AS CITY_CD,
            tmd.DISTRICT_CD,
            tmv.VILLAGE_CD,
            '''' AS COUNTRY_NAME,
            '''' AS PROVINCE_NAME,
            '''' AS CITY_NAME,
            tmd.DISTRICT_NAME,
            tmv.VILLAGE_NAME
        FROM TB_M_DISTRICT tmd
        INNER JOIN TB_M_VILLAGE tmv ON tmv.DISTRICT_CD = tmd.DISTRICT_CD AND tmv.IS_DELETED = 0
        WHERE tmd.IS_DELETED = 0';
        
        SET @WhereClause = ' AND tmv.VILLAGE_CD IS NOT NULL ';
    END
    
    -- 2. Tambahkan Filter Dinamis ke WHERE Clause
    
    -- Filter Kode Wilayah (hanya berlaku jika region_type tidak mencari di level yang lebih tinggi)
    IF @PROVINCE_CD IS NOT NULL AND @PROVINCE_CD <> ''
        SET @WhereClause = @WhereClause + ' AND tmp.PROVINCE_CD = @PROVINCE_CD';

    IF @CITY_CD IS NOT NULL AND @CITY_CD <> ''
    BEGIN
        IF @REGION_TYPE IN ('all', 'city', 'district', 'village')
            SET @WhereClause = @WhereClause + ' AND tmc.CITY_CD = @CITY_CD';
        ELSE IF @REGION_TYPE = 'district' OR @REGION_TYPE = 'village'
            SET @WhereClause = @WhereClause + ' AND tmc.CITY_CD = @CITY_CD'; -- Hanya untuk City join di District/Village
    END

    IF @DISTRICT_CD IS NOT NULL AND @DISTRICT_CD <> ''
    BEGIN
        IF @REGION_TYPE IN ('all', 'district', 'village')
            SET @WhereClause = @WhereClause + ' AND tmd.DISTRICT_CD = @DISTRICT_CD';
        ELSE IF @REGION_TYPE = 'village'
            SET @WhereClause = @WhereClause + ' AND tmd.DISTRICT_CD = @DISTRICT_CD'; -- Hanya untuk District join di Village
    END

    IF @VILLAGE_CD IS NOT NULL AND @VILLAGE_CD <> ''
    BEGIN
        IF @REGION_TYPE IN ('all', 'village')
            SET @WhereClause = @WhereClause + ' AND tmv.VILLAGE_CD = @VILLAGE_CD';
    END


    -- Filter Pencarian Umum (@TERM)
    IF @TERM IS NOT NULL AND @TERM <> ''
    BEGIN
        DECLARE @LikeTerm NVARCHAR(102) = '%' + @TERM + '%';
        
        IF @REGION_TYPE = 'province'
            SET @WhereClause = @WhereClause + ' AND tmp.PROVINCE_NAME LIKE @LikeTerm';
        ELSE IF @REGION_TYPE = 'city'
            SET @WhereClause = @WhereClause + ' AND (tmp.PROVINCE_NAME LIKE @LikeTerm OR tmc.CITY_NAME LIKE @LikeTerm)';
        ELSE IF @REGION_TYPE = 'district'
            SET @WhereClause = @WhereClause + ' AND (tmc.CITY_NAME LIKE @LikeTerm OR tmd.DISTRICT_NAME LIKE @LikeTerm)';
        ELSE IF @REGION_TYPE = 'village'
            SET @WhereClause = @WhereClause + ' AND (tmd.DISTRICT_NAME LIKE @LikeTerm OR tmv.VILLAGE_NAME LIKE @LikeTerm)';
        ELSE -- all
            SET @WhereClause = @WhereClause + ' AND (
                tmp.PROVINCE_NAME LIKE @LikeTerm OR
                tmc.CITY_NAME LIKE @LikeTerm OR
                tmd.DISTRICT_NAME LIKE @LikeTerm OR
                tmv.VILLAGE_NAME LIKE @LikeTerm
            )';
    END
    
    -- Gabungkan WHERE Clause ke SQL Utama
    SET @SQL = @SQL + @WhereClause + '
    )
    SELECT
		NO, 
        COUNTRY_CD,
        PROVINCE_CD,
        CITY_CD,
        DISTRICT_CD,
        VILLAGE_CD,
        COUNTRY_NAME,
        PROVINCE_NAME,
        CITY_NAME,
        DISTRICT_NAME,
        VILLAGE_NAME,
		COUNT
    FROM PaginatedResults
    ORDER BY NO
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';

    -- Menjalankan Dynamic SQL
    EXEC sp_executesql
        @SQL,
        N'@Offset INT, @FetchNext INT, @PROVINCE_CD VARCHAR(30), @CITY_CD VARCHAR(30), @DISTRICT_CD VARCHAR(30), @VILLAGE_CD VARCHAR(30), @TERM VARCHAR(100), @LikeTerm VARCHAR(102)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
        @PROVINCE_CD = @PROVINCE_CD,
        @CITY_CD = @CITY_CD,
        @DISTRICT_CD = @DISTRICT_CD,
        @VILLAGE_CD = @VILLAGE_CD,
        @TERM = @TERM,
        @LikeTerm = @LikeTerm; -- Gunakan @LikeTerm untuk LIKE

END
GO
