/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ESH_GET_DETAIL]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ESH_GET_DETAIL]
    @USERNAME VARCHAR(50),
    @ATTENDANCE_CD VARCHAR(50)
AS
BEGIN
    DECLARE @APPROVER_NOREG VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @USERNAME)
    SELECT
        A.ATTENDANCE_CD,
        A.REGISTRATION_NUMBER,
        A.SHIFT_CD,
        SP.COMMENTS AS REMARK,
        A.ATTENDANCE_DATE,
        CONVERT(VARCHAR(8), A.SHIFT_CLOCK_IN) AS SHIFT_CLOCK_IN,
        CONVERT(VARCHAR(8), A.SHIFT_CLOCK_OUT) AS SHIFT_CLOCK_OUT,
        CONVERT(VARCHAR(8), A.SHIFT_CLOCK_IN) AS SHIFT_CLOCK_IN,
        CONVERT(VARCHAR(8), A.SHIFT_CLOCK_OUT) AS SHIFT_CLOCK_OUT,
        CONVERT(VARCHAR(8), A.CLOCK_IN_TIME) AS CLOCK_IN_TIME,
        CONVERT(VARCHAR(8), A.CLOCK_OUT_TIME) AS CLOCK_OUT_TIME,
        CONVERT(VARCHAR(8), A.CLOCK_IN_CORRECTION_TIME) AS CLOCK_IN_CORRECTION_TIME,
        CONVERT(VARCHAR(8), A.CLOCK_OUT_CORRECTION_TIME) AS CLOCK_OUT_CORRECTION_TIME,
        CONVERT(VARCHAR, ES.ESH_IN) AS ESH_IN,
        CONVERT(VARCHAR, ES.ESH_OUT) AS ESH_OUT,
        CONVERT(VARCHAR(8), ES.ESH_PRODUCTION_AMOUNT) AS ESH_PRODUCTION_AMOUNT,
        CONVERT(VARCHAR(8), ES.ESH_TRAINING_AMOUNT) AS ESH_TRAINING_AMOUNT,
        CONVERT(VARCHAR, WC.WORKING_FLAG) AS WORKING_FLAG,
        WC.DESCRIPTION AS WORKING_DESC,
        WC.WORKING_VARIABLE AS WORKING_VARIABLE,
        P.FULL_NAME,
        P.CONTRACT_START,
        P.CONTRACT_END,
        P.CANDIDATE_NUMBER,
        DATEDIFF(DAY, GETDATE(), P.CONTRACT_END) AS TERMINATE_IN,
        CONVERT(VARCHAR(8), ES.ESH_PRODUCTION_AMOUNT) AS ESH_PRODUCTION_AMOUNT,
        CONVERT(VARCHAR(8), ES.ESH_TRAINING_AMOUNT) AS ESH_TRAINING_AMOUNT,
        SP.APPROVAL_STATUS,
        SYS.SYSTEM_VALUE AS APPROVAL_STATUS_NAME,
        (SELECT CONVERT(VARCHAR (8), DATEADD(SECOND, SUM(DATEDIFF(SECOND, COALESCE(ESH_IN, '00:00:00'), COALESCE(ESH_OUT, '00:00:00'))), 0), 108) FROM TB_R_EXTRA_STUDY WHERE REGISTRATION_NUMBER = P.REGISTRATION_NUMBER AND CONVERT(VARCHAR(7), [DATE] , 120) = CONVERT(VARCHAR(7), ES.[DATE], 120) ) AS CUMULATIVE_ESH_MONTHLY,
        NXT.APPROVAL_STATUS AS NEXT_APPROVAL_STATUS,
        NXT.SYSTEM_VALUE AS NEXT_APPROVAL_STATUS_NAME,
        CASE WHEN NXT.APPROVAL_STATUS = 1 THEN NULL ELSE NXT.APPROVAL_NAME END AS NEXT_APPROVER
    FROM
        TB_R_ATTENDANCE A
    LEFT JOIN TB_R_EXTRA_STUDY ES ON ES.ATTENDANCE_CD = A.ATTENDANCE_CD
    LEFT JOIN TB_M_PROFILE P ON A.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER
    LEFT JOIN TB_M_WORKING_CALENDAR WC ON A.ATTENDANCE_DATE = WC.WORKING_DATE
    LEFT JOIN TB_R_EXTRA_STUDY_APPROVAL SP ON SP.ATTENDANCE_CD = A.ATTENDANCE_CD AND SP.APPROVAL_NOREG = @APPROVER_NOREG
    LEFT JOIN TB_M_SYSTEM_MASTER SYS ON SYS.SYSTEM_CD = SP.APPROVAL_STATUS AND SYS.SYSTEM_TYPE = 'APPROVAL_STATUS'
    LEFT JOIN (
      SELECT
        EXTRA_STUDY_CD,
        ROW_NUMBER () OVER (PARTITION BY EXTRA_STUDY_CD ORDER BY APPROVAL_STATUS ASC, APPROVAL_SEQ ASC) AS RN,
        APPROVAL_SEQ,
        APPROVAL_STATUS,
        SYS2.SYSTEM_VALUE,
        APPROVAL_NAME
      FROM
        TB_R_EXTRA_STUDY_APPROVAL ESA2
        LEFT JOIN TB_M_SYSTEM_MASTER SYS2 ON ESA2.APPROVAL_STATUS = SYS2.SYSTEM_CD AND SYS2.SYSTEM_TYPE = 'APPROVAL_STATUS'
    ) AS NXT ON ES.EXTRA_STUDY_CD = NXT.EXTRA_STUDY_CD AND NXT.RN=1
    WHERE
        A.ATTENDANCE_CD = @ATTENDANCE_CD;
END;
GO
