/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ESH_GET_SEND_MAIL_CONTENT_APPROVAL]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ESH_GET_SEND_MAIL_CONTENT_APPROVAL]
    @ATTENDANCE_CD AS VARCHAR(max) = ''
AS
BEGIN
    SET NOCOUNT ON;
    
      SELECT * FROM (
        SELECT 
          ROW_NUMBER() OVER (
              PARTITION BY 
                  ES.EXTRA_STUDY_CD
              ORDER BY 
                  ESA.APPROVAL_SEQ ASC
          ) AS RN,
        'MSG-20250926085823' AS MESSAGE_CD,
        'EMAIL_TEMPLATE' AS EMAIL_TEMPLATE,
        '[Vorta] Approval Extra Study Hour Request' AS TITLE,
        ESA.APPROVAL_NOREG AS REFERENCE_CD,
        ESA.APPROVAL_NOREG,
        U.EMAIL as RECEIPT_CONTACT,
        U.NOREG as RECEIPT_NOREG,
        ES.CREATED_BY,
        CONCAT_WS(
          '---',
          U.FULL_NAME,
          U.NOREG,
          CONVERT(VARCHAR, ES.[DATE], 126),
          CONVERT(VARCHAR(8), A.CLOCK_IN_TIME, 108),
          CONVERT(VARCHAR(8), A.CLOCK_OUT_TIME, 108),
          CONVERT(VARCHAR(8), ES.ESH_IN, 108),
          CONVERT(VARCHAR(8), ES.ESH_OUT, 108),
          CONVERT(VARCHAR(8), ES.ESH_PRODUCTION_AMOUNT),
          CONVERT(VARCHAR(8), ES.ESH_TRAINING_AMOUNT),
          U2.FULL_NAME
      ) AS ALL_PARAMS_CONCATENATED
      
      FROM
        TB_R_EXTRA_STUDY_APPROVAL ESA
        INNER JOIN TB_M_USERS U ON ESA.APPROVAL_NOREG = U.NOREG
        INNER JOIN TB_R_EXTRA_STUDY ES ON ESA.EXTRA_STUDY_CD = ES.EXTRA_STUDY_CD
        INNER JOIN TB_M_USERS U2 ON ES.CREATED_BY = U2.USERNAME
        INNER JOIN TB_R_ATTENDANCE A ON A.ATTENDANCE_CD = ES.ATTENDANCE_CD
      WHERE
       ES.ATTENDANCE_CD IN (SELECT value FROM STRING_SPLIT(@ATTENDANCE_CD, ','))
        AND ESA.APPROVAL_STATUS = '0'
    ) AS TBL WHERE TBL.RN = 1
END;
GO
