/****** Object:  StoredProcedure [dbo].[SP_AUTH_GET_MENU]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_GET_MENU]
    @USERNAME AS VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Get the user code for the given username
    DECLARE @USER_CD VARCHAR(50);
    SELECT @USER_CD = USER_CD
    FROM TB_M_USERS
    WHERE USERNAME = @USERNAME
		AND COALESCE(IS_ACTIVE, '0') = '1' 
        AND COALESCE(IS_DELETED, '0') = '0' ;

    -- Get all distinct function codes associated with the user's roles,
    -- including their parent function codes if they exist.
    WITH UserAccessibleFunctions AS (
        SELECT
            ra.FUNCTION_CD
        FROM
            TB_R_USER_ROLES ur
        INNER JOIN
            TB_M_ROLES_AUTH ra ON ur.ROLE_CD = ra.ROLE_CD
        WHERE
            ur.USER_CD = @USER_CD

        UNION

        SELECT
            f.FUNCTION_PARENT_CD
        FROM
            TB_R_USER_ROLES ur
        INNER JOIN
            TB_M_ROLES_AUTH ra ON ur.ROLE_CD = ra.ROLE_CD
        INNER JOIN
            TB_M_FUNCTION f ON ra.FUNCTION_CD = f.FUNCTION_CD
        WHERE
            ur.USER_CD = @USER_CD
        AND COALESCE(f.IS_DELETED, '0') = '0'
--             AND f.FUNCTION_PARENT_CD IS NOT NULL
    )
    -- Select the distinct parent menu functions that are active
    -- and order them by their display order.
    SELECT DISTINCT
        f.*
    FROM
        TB_M_FUNCTION f
    INNER JOIN
        UserAccessibleFunctions uaf ON f.FUNCTION_CD = uaf.FUNCTION_CD
    WHERE
        f.FUNCTION_ACTIVE = '1'
--         AND f.FUNCTION_PARENT_CD IS NULL
    ORDER BY
        f.FUNCTION_CD ASC, f.FUNCTION_ORDER ASC;

END;
GO
