/****** Object:  StoredProcedure [dbo].[SP_MASTER_PAYROLL_COMPONENT_GET_EMPLOYEE_TYPE_OPTION]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_PAYROLL_COMPONENT_GET_EMPLOYEE_TYPE_OPTION]
    @TERM AS VARCHAR(100) = ''
AS
BEGIN
    SET NOCOUNT ON;

    SELECT LABOR_CD AS id, LABOR_TYPE + ' - ' + CATEGORY AS text FROM TB_M_LABOR_TYPE WHERE LABOR_TYPE LIKE '%' + @TERM + '%'
    AND COALESCE(IS_ACTIVE, '1') = '1' AND COALESCE(IS_DELETED, '0') = '0'
END;
GO
