/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GET_SEND_MAIL_CONTENT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GET_SEND_MAIL_CONTENT]
	@PLACEMENT_REQUEST_CD AS VARCHAR(max) = ''
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT * FROM (
      SELECT 
        ROW_NUMBER() OVER (
            PARTITION BY 
                AA.PLACEMENT_REQUEST_CD
            ORDER BY 
                AA.APPROVER_SEQUENCE ASC
        ) AS RN,
      'EMAIL_APPROVAL_PLACEMENT_REQUEST' AS MESSAGE_CD,
      'EMAIL_TEMPLATE' AS EMAIL_TEMPLATE,
      '[Vista] Approval Placement Request' AS TITLE,
      AA.APPROVER_NOREG AS REFERENCE_CD,
      AA.APPROVER_NOREG,
      U.EMAIL as RECEIPT_CONTACT,
      U.NOREG as RECEIPT_NOREG,
      A.CREATED_BY,
      CONCAT_WS(
          '---',
        U.FULL_NAME, --0
        U.NOREG, --1
				ORG.ORG_TITLE, --2
				SYS.SYSTEM_TYPE +' '+ A.PERIOD_NAME, --3
				CONVERT(VARCHAR(8), A.BATCH, 108), --4
				SYS2.SYSTEM_TYPE, --5
				SYS3.SYSTEM_TYPE, --6
        'google.com', --7 -- PR.PLACEMENT_REQUEST_CD,
        U2.FULL_NAME
      ) AS ALL_PARAMS_CONCATENATED
    FROM
      TB_R_PLACEMENT_REQUEST_APPROVAL AA
			INNER JOIN TB_R_PLACEMENT_REQUEST PR ON AA.PLACEMENT_REQUEST_CD = PR.PLACEMENT_REQUEST_CD
			LEFT JOIN TB_M_ORG_RANK ORG ON PR.DEPARTMENT_CD = ORG.ORG_ID
      LEFT JOIN TB_M_USERS U ON AA.APPROVER_NOREG = U.NOREG
			LEFT JOIN TB_M_USER_DETAIL UD ON U.USER_CD = UD.USER_CD
      LEFT JOIN TB_R_PLACEMENT_SCHEDULE A ON PR.PLACEMENT_SCHEDULE_CD = A.PLACEMENT_SCHEDULE_CD
			LEFT JOIN TB_M_SYSTEM_MASTER SYS ON CONVERT(VARCHAR, A.PERIOD_WEEK) = SYS.SYSTEM_CD AND SYS.SYSTEM_TYPE = 'WEEK'
			LEFT JOIN TB_M_SYSTEM_MASTER SYS2 ON PR.REQUEST_TYPE = SYS2.SYSTEM_CD AND SYS2.SYSTEM_TYPE = 'REQUEST_TYPE'
			LEFT JOIN TB_M_SYSTEM_MASTER SYS3 ON PR.CAUSE_CATEGORY = SYS3.SYSTEM_CD AND SYS3.SYSTEM_TYPE = 'CAUSE_CATEGORY'
      LEFT JOIN TB_M_USERS U2 ON A.CREATED_BY = U2.USERNAME
    WHERE
     PR.PLACEMENT_REQUEST_CD IN (SELECT value FROM STRING_SPLIT(@PLACEMENT_REQUEST_CD, ','))
      AND AA.APPROVAL_STATUS = '0'
    ) AS TBL WHERE TBL.RN = 1
END;
GO
