/****** Object:  StoredProcedure [dbo].[SP_AUTH_UPDATE_TOKEN]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_UPDATE_TOKEN]
    @USERNAME AS VARCHAR(100),
    @DEVICE_ID AS VARCHAR(255),
    @JWT_TOKEN AS VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @USER_CD VARCHAR(50) = (SELECT USER_CD FROM TB_M_USERS WHERE USERNAME = @USERNAME);
    
    UPDATE TB_R_USER_DEVICES SET
      JWT_TOKEN = NULL
    WHERE USER_CD = @USER_CD
    AND DEVICE_ID != @DEVICE_ID
    
    UPDATE TB_R_USER_DEVICES SET
      JWT_TOKEN = @JWT_TOKEN
    WHERE USER_CD = @USER_CD
    AND DEVICE_ID = @DEVICE_ID
    
    SELECT JWT_TOKEN FROM TB_R_USER_DEVICES 
    WHERE USER_CD = @USER_CD
    AND DEVICE_ID = @DEVICE_ID
END;
GO
