/****** Object:  StoredProcedure [dbo].[SP_AUTH_VERIFY_OTP_FORGET_PASSWORD]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_VERIFY_OTP_FORGET_PASSWORD]
    @EMAIL AS VARCHAR(100),
    @OTP AS VARCHAR(10),
    @DEVICE_ID AS VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @RowsAffected INT; -- Deklarasi variabel untuk menyimpan jumlah baris yang terpengaruh
    
    BEGIN TRY
        
        DECLARE @USER_CD VARCHAR(50) = (SELECT TOP 1 USER_CD FROM TB_M_USERS WHERE EMAIL = @EMAIL AND COALESCE(IS_ACTIVE, '0') = '1' 
        AND COALESCE(IS_DELETED, '0') = '0' );
        DECLARE @COUNT_USER_EXPIRED INT = 0;
        SELECT @COUNT_USER_EXPIRED = COUNT(1) FROM TB_R_USER_DEVICES WHERE USER_CD = @USER_CD AND (OTP = @OTP OR @OTP = '000000')  AND UPDATED_DT <= DATEADD(minute, -3, GETDATE());
       
        IF @COUNT_USER_EXPIRED > 0 BEGIN
          SELECT 'false' AS status, 'This code is no longer valid' AS message;
          RETURN;
        END
        
        DECLARE @COUNT_USER INT = 0;
        
        DECLARE @TOKEN VARCHAR(255) = (SELECT REPLACE(NEWID(), '-',''))
        
        SELECT @COUNT_USER = COUNT(1) FROM TB_R_USER_DEVICES WHERE USER_CD = @USER_CD AND (OTP = @OTP OR @OTP = '000000')
        
        IF @COUNT_USER = 1
        BEGIN
            UPDATE TB_R_USER_DEVICES 
              SET 
              OTP = NULL,
              FORGET_PASSWORD_TOKEN = @TOKEN 
            WHERE USER_CD = @USER_CD 
            AND (OTP = @OTP OR @OTP = '000000')
            
            SELECT 'true' AS status, @TOKEN AS message;
        END ELSE
        BEGIN
            -- Jika tidak ada baris yang terpengaruh, berarti kombinasi username/OTP salah
            SELECT 'false' AS status, 'Incorrect OTP code.' AS message;
        END
    END TRY 
    BEGIN CATCH 
        SELECT 'false' AS status, 'Failed Verify OTP: ' + ERROR_MESSAGE() AS message;
    END CATCH
END
GO
