/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ESH_GET_INQUIRY]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ESH_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'ATTENDANCE_DATE',
    @OrderDirection AS VARCHAR(5) = 'DESC',
    @TERM AS VARCHAR(100) = NULL,
    @PERIOD_FROM AS DATE = NULL,
    @PERIOD_TO AS DATE = NULL,
    @SECTION_ID AS VARCHAR(10) = NULL,
    @DEPT_ID AS VARCHAR(10) = NULL,
    @LINE_ID AS VARCHAR(10) = NULL,
    @GROUP_ID AS VARCHAR(10) = NULL,
    @USERNAME AS VARCHAR(50) = NULL
    
AS
BEGIN
    SET NOCOUNT ON;
    
    declare @APPROVER_NOREG VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @USERNAME);

    IF @OrderBy NOT IN ('ATTENDANCE_CD', 'EXTRA_STUDY_CD', 'FULL_NAME', 'REGISTRATION_NUMBER', 'CANDIDATE_NUMBER', 'ATTENDANCE_DATE', 'SHIFT_CD', 'CLOCK_IN_TIME', 'CLOCK_OUT_TIME', 'ESH_IN', 'ESH_OUT', 'WORKING_FLAG', 'WORKING_DESC', 'ESH_PRODUCTION_AMOUNT', 'ESH_TRAINING_AMOUNT', 'APPROVAL_STATUS', 'APPROVAL_STATUS_NAME', 'CUMULATIVE_ESH_MONTHLY')
    BEGIN
        SET @OrderBy = 'REGISTRATION_NUMBER';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'DESC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
          A.ATTENDANCE_CD,
          ES.EXTRA_STUDY_CD,
          P.FULL_NAME,
          P.REGISTRATION_NUMBER,
          P.CANDIDATE_NUMBER,
          A.ATTENDANCE_DATE,
          A.SHIFT_CD,
          CONVERT(VARCHAR(8), A.SHIFT_CLOCK_IN) AS SHIFT_CLOCK_IN,
          CONVERT(VARCHAR(8), A.SHIFT_CLOCK_OUT) AS SHIFT_CLOCK_OUT,
          CONVERT(VARCHAR(8), A.CLOCK_IN_TIME) AS CLOCK_IN_TIME,
          CONVERT(VARCHAR(8), A.CLOCK_OUT_TIME) AS CLOCK_OUT_TIME,
          CONVERT(VARCHAR(8), ES.ESH_IN) ESH_IN,
          CONVERT(VARCHAR(8), ES.ESH_OUT) ESH_OUT,
          CONVERT(VARCHAR, WC.WORKING_FLAG) WORKING_FLAG,
          WC.DESCRIPTION AS WORKING_DESC,
          CONVERT(VARCHAR(8), ES.ESH_PRODUCTION_AMOUNT) AS ESH_PRODUCTION_AMOUNT,
          CONVERT(VARCHAR(8), ES.ESH_TRAINING_AMOUNT) AS ESH_TRAINING_AMOUNT,
          SYS.SYSTEM_CD AS APPROVAL_STATUS,
          SYS.SYSTEM_VALUE AS APPROVAL_STATUS_NAME,
          (SELECT CONVERT(VARCHAR (8), DATEADD(SECOND, SUM(DATEDIFF(SECOND, COALESCE(ESH_IN, ''00:00:00''), COALESCE(ESH_OUT, ''00:00:00''))), 0), 108) FROM TB_R_EXTRA_STUDY WHERE REGISTRATION_NUMBER = P.REGISTRATION_NUMBER AND CONVERT(VARCHAR(7), [DATE] , 120) = CONVERT(VARCHAR(7), ES.[DATE], 120) ) AS CUMULATIVE_ESH_MONTHLY,
          NXT.APPROVAL_STATUS AS NEXT_APPROVAL_STATUS,
          NXT.SYSTEM_VALUE AS NEXT_APPROVAL_STATUS_NAME,
          CASE WHEN NXT.APPROVAL_STATUS = 1 THEN NULL ELSE NXT.APPROVAL_NAME END AS NEXT_APPROVER
        FROM
          TB_R_ATTENDANCE A
          INNER JOIN TB_M_PROFILE P ON A.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER
          LEFT JOIN TB_R_EXTRA_STUDY ES ON A.ATTENDANCE_CD = ES.ATTENDANCE_CD
          LEFT JOIN TB_R_EXTRA_STUDY_APPROVAL ESA ON ES.EXTRA_STUDY_CD = ESA.EXTRA_STUDY_CD AND ESA.APPROVAL_NOREG = @APPROVER_NOREG
          LEFT JOIN TB_M_SYSTEM_MASTER SYS ON ESA.APPROVAL_STATUS = SYS.SYSTEM_CD AND SYS.SYSTEM_TYPE = ''APPROVAL_STATUS''
          LEFT JOIN TB_M_WORKING_CALENDAR WC ON A.ATTENDANCE_DATE = WC.WORKING_DATE
          LEFT JOIN TB_R_ORG_ASSIGNMENT OA ON P.REGISTRATION_NUMBER = OA.REGISTRATION_NUMBER AND GETDATE() BETWEEN OA.VALID_FROM AND OA.VALID_TO
          LEFT JOIN (
            SELECT
              EXTRA_STUDY_CD,
              ROW_NUMBER () OVER (PARTITION BY EXTRA_STUDY_CD ORDER BY APPROVAL_STATUS ASC, APPROVAL_SEQ ASC) AS RN,
              APPROVAL_SEQ,
              APPROVAL_STATUS,
              SYS2.SYSTEM_VALUE,
              APPROVAL_NAME
            FROM
              TB_R_EXTRA_STUDY_APPROVAL ESA2
              LEFT JOIN TB_M_SYSTEM_MASTER SYS2 ON ESA2.APPROVAL_STATUS = SYS2.SYSTEM_CD AND SYS2.SYSTEM_TYPE = ''APPROVAL_STATUS''
          ) AS NXT ON ES.EXTRA_STUDY_CD = NXT.EXTRA_STUDY_CD AND NXT.RN=1

        WHERE 1=1 
   ';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (P.REGISTRATION_NUMBER LIKE ''%'' + @TERM + ''%'' OR P.FULL_NAME LIKE ''%'' + @TERM + ''%'')';
    
    IF @PERIOD_FROM IS NOT NULL AND @PERIOD_TO IS NOT NULL AND @PERIOD_FROM <> '' AND @PERIOD_TO <> ''
        SET @SQL = @SQL + ' AND A.ATTENDANCE_DATE BETWEEN @PERIOD_FROM AND @PERIOD_TO';

    IF @DEPT_ID IS NOT NULL AND @DEPT_ID <> ''
        SET @SQL = @SQL + ' AND OA.DEPARTMENT_ID = @DEPT_ID';

    IF @SECTION_ID IS NOT NULL AND @SECTION_ID <> ''
        SET @SQL = @SQL + ' AND OA.SECTION_ID = @SECTION_ID';

    IF @LINE_ID IS NOT NULL AND @LINE_ID <> ''
        SET @SQL = @SQL + ' AND OA.LINE_ID = @LINE_ID';
    
    IF @GROUP_ID IS NOT NULL AND @GROUP_ID <> ''
        SET @SQL = @SQL + ' AND OA.GROUP_ID = @GROUP_ID';

    SET @SQL = @SQL + ' 
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @TERM VARCHAR(100), @PERIOD_FROM DATE, @PERIOD_TO DATE, @SECTION_ID VARCHAR(10), @DEPT_ID VARCHAR(10), @LINE_ID VARCHAR(10), @GROUP_ID VARCHAR(10), @APPROVER_NOREG VARCHAR(20)',
        @Offset = @PAGE,
        @PageSize = @PageSize,
        @TERM = @TERM,
        @PERIOD_FROM = @PERIOD_FROM,
        @PERIOD_TO = @PERIOD_TO,
        @SECTION_ID = @SECTION_ID,
        @DEPT_ID = @DEPT_ID,
        @LINE_ID = @LINE_ID,
        @GROUP_ID = @GROUP_ID,
        @APPROVER_NOREG = @APPROVER_NOREG;
END;
GO
