/****** Object:  Table [dbo].[TB_M_ORG_POS_CRITERIA]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_ORG_POS_CRITERIA](
	[POS_CRITERIA_CD] [varchar](20) NOT NULL,
	[ORG_POS_CD] [varchar](20) NULL,
	[CRITERIA_NAME] [varchar](50) NULL,
	[CRITERIA_VALUE] [varchar](255) NULL,
	[VALID_FROM] [datetime] NULL,
	[VALID_TO] [datetime] NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_M_ORG__9463C0DD9FF84B1B] PRIMARY KEY CLUSTERED 
(
	[POS_CRITERIA_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_ORG_POS_CRITERIA]  WITH CHECK ADD  CONSTRAINT [FK__TB_M_ORG___ORG_P__59C55456] FOREIGN KEY([ORG_POS_CD])
REFERENCES [dbo].[TB_M_ORG_POS] ([ORG_POS_CD])
GO
ALTER TABLE [dbo].[TB_M_ORG_POS_CRITERIA] CHECK CONSTRAINT [FK__TB_M_ORG___ORG_P__59C55456]
GO
