/****** Object:  StoredProcedure [dbo].[SP_MASTER_ROLE_STORE]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ROLE_STORE]
    @ROLE_CD NVARCHAR(50),
    @ROLE_NAME NVARCHAR(255),
    @ROLE_TYPE NVARCHAR(50),
    @ROLE_LEVEL INT,
    @STATUS BIT,
    @FEATURE_LIST NVARCHAR(MAX), -- The dynamic SQL INSERT query for features
    @MODE NVARCHAR(10),
    @USER_ID NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;


    DECLARE @SQL_STR NVARCHAR(MAX);
    -- Use a transaction to ensure atomicity
    BEGIN TRANSACTION;
    BEGIN TRY

        -- =============================================================
        -- ADD MODE
        -- =============================================================
        IF @MODE = 'Add'
        BEGIN
--             -- Check if the role code already exists
--             IF EXISTS (SELECT 1 FROM TB_M_ROLES WHERE ROLE_CD = @ROLE_CD AND IS_DELETED = 0)
--             BEGIN
--                 -- Rollback the transaction and return an error message
--                 ROLLBACK TRANSACTION;
--                 SELECT 'false' AS status, 'Data with the provided Role Code already exists.' AS message;
--                 RETURN;
--             END
--             
            DECLARE @New_CD VARCHAR(50);
            DECLARE @TodayDate VARCHAR(8);
            DECLARE @LastIncrement INT;

            -- Ambil tanggal hari ini dalam format DDMMYYYY
            SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

            -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
            SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(ROLE_CD, 4) AS INT)), 0)
            FROM [dbo].[TB_M_ROLES]
            WHERE ROLE_CD LIKE 'R-' + @TodayDate + '%';

            -- Tambahkan 1 untuk mendapatkan nomor urut berikutnya
            SET @LastIncrement = @LastIncrement + 1;

            -- Format SCHOOL_CD baru
            SET @New_CD = 'R-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement AS VARCHAR(4)), 4);

            -- Insert new role data
            INSERT INTO TB_M_ROLES (
                ROLE_CD,
                ROLE_NAME,
                ROLE_TYPE,
                ROLE_LEVEL,
                STATUS,
                IS_DELETED,
                CREATED_BY,
                CREATED_DT,
                UPDATED_BY,
                UPDATED_DT,
                DELETED_DT
            )
            VALUES (
                @New_CD,
                @ROLE_NAME,
                @ROLE_TYPE,
                @ROLE_LEVEL,
                @STATUS,
                0, -- IS_DELETED is 0 for new records
                @USER_ID,
                GETDATE(),
                @USER_ID,
                GETDATE(),
                ''
            );

            -- Check if FEATURE_LIST is provided and not empty
            IF ISNULL(@FEATURE_LIST, '') <> ''
            BEGIN
                SET @SQL_STR = REPLACE(@FEATURE_LIST, '[ROLE_CD]',  @New_CD)
                EXEC sp_executesql @SQL_STR;
            END

            -- Commit the transaction and return success message
            COMMIT TRANSACTION;
            SELECT 'true' AS status, 'Success storing new data.' AS message;
        END

        -- =============================================================
        -- EDIT MODE
        -- =============================================================
        ELSE IF @MODE = 'Edit'
        BEGIN
            -- Check if the role code exists and is not deleted
            IF NOT EXISTS (SELECT 1 FROM TB_M_ROLES WHERE ROLE_CD = @ROLE_CD AND IS_DELETED = 0)
            BEGIN
                -- Rollback the transaction and return an error message
                ROLLBACK TRANSACTION;
                    SELECT 'false' AS status, 'No active record found with the provided Role Code for update.' AS message;
                RETURN;
            END

            -- Update existing role data
            UPDATE TB_M_ROLES
            SET
                ROLE_NAME = @ROLE_NAME,
                ROLE_TYPE = @ROLE_TYPE,
                ROLE_LEVEL = @ROLE_LEVEL,
                STATUS = @STATUS,
                UPDATED_BY = @USER_ID,
                UPDATED_DT = GETDATE()
            WHERE
                ROLE_CD = @ROLE_CD;

            -- Check if FEATURE_LIST is provided and not empty
            IF ISNULL(@FEATURE_LIST, '') <> ''
            BEGIN
                -- First, delete all existing features for this role
                DELETE FROM TB_M_ROLES_AUTH WHERE ROLE_CD = @ROLE_CD;

                -- Execute the dynamic SQL to insert the new feature list
                -- Again, a Table-Valued Parameter would be safer and more efficient
                SET @SQL_STR = REPLACE(@FEATURE_LIST, '[ROLE_CD]',  @ROLE_CD)
                EXEC sp_executesql @SQL_STR;
            END

            -- Commit the transaction and return success message
            COMMIT TRANSACTION;
            SELECT 'true' AS status, 'Success updating data.' AS message;
        END

        -- =============================================================
        -- INVALID MODE
        -- =============================================================
        ELSE
        BEGIN
            -- Rollback the transaction and return an error message for invalid mode
            ROLLBACK TRANSACTION;
            SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
        END

    END TRY
    BEGIN CATCH
        -- If an error occurred, rollback the transaction and re-throw the error
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        -- You can log the error details here if needed
        SELECT 'false' AS status, ERROR_MESSAGE() AS message;
    END CATCH
END
GO
