/****** Object:  Table [dbo].[TB_R_VOC_TRANSFER_H]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_VOC_TRANSFER_H](
	[TRANSFER_CD] [varchar](36) NOT NULL,
	[REQUEST_DATE] [datetime] NOT NULL,
	[NOREG] [varchar](50) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](200) NOT NULL,
	[ROTATION_TYPE] [varchar](50) NOT NULL,
	[REASON] [nvarchar](500) NULL,
	[EFFECTIVE_DATE_FROM] [date] NOT NULL,
	[EFFECTIVE_DATE_TO] [date] NULL,
	[STATUS] [varchar](20) NOT NULL,
	[VOCATION_TYPE] [varchar](100) NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[VOCATION_TYPE_FROM] [varchar](100) NULL,
 CONSTRAINT [PK__TB_R_VOC__627DA8EA058BD4CA] PRIMARY KEY CLUSTERED 
(
	[TRANSFER_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_VOC_TRANSFER_H] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
