/****** Object:  StoredProcedure [dbo].[SP_MASTER_LABORTYPE_GET_INQUIRY]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_LABORTYPE_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'SCHOOL_NAME',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @CATEGORY_CD AS VARCHAR(10) = NULL,
    @STATUS AS VARCHAR(1) = NULL,
    @FILTER AS VARCHAR(100) = ''
AS
BEGIN
    SET NOCOUNT ON;

    

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
          [LABOR_CD],[LABOR_TYPE],[CATEGORY],[DESCRIPTION],[IS_ACTIVE]
        FROM
            [dbo].[TB_M_LABOR_TYPE] 
        WHERE
            IS_DELETED = ''0''';

    IF @FILTER IS NOT NULL AND @FILTER <> ''
        SET @SQL = @SQL + ' AND (
          [DESCRIPTION] LIKE ''%'' + @FILTER + ''%'' 
        )';
        
    IF @CATEGORY_CD IS NOT NULL AND @CATEGORY_CD <> ''
      SET @SQL = @SQL + ' AND [CATEGORY] = @CATEGORY_CD';
    
    IF @STATUS IS NOT NULL AND @STATUS <> ''
      SET @SQL = @SQL + ' AND IS_ACTIVE = @STATUS';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @CATEGORY_CD VARCHAR(3), @STATUS BIT, @FILTER AS VARCHAR(100)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
        @CATEGORY_CD = @CATEGORY_CD,
        @STATUS = @STATUS,
        @FILTER = @FILTER;
END;
GO
