/****** Object:  Table [dbo].[TB_R_USER_ATTRIBUTES]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_USER_ATTRIBUTES](
	[USER_ATTRIBUTE_CD] [nvarchar](50) NOT NULL,
	[USER_CD] [nvarchar](50) NOT NULL,
	[ATTRIBUTE_CD] [nvarchar](50) NOT NULL,
	[ASSIGNED_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK__TB_R_USE__EFAE9C1163975EB1] PRIMARY KEY CLUSTERED 
(
	[USER_ATTRIBUTE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_UserAttribute] UNIQUE NONCLUSTERED 
(
	[USER_CD] ASC,
	[ATTRIBUTE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_USER_ATTRIBUTES] ADD  DEFAULT (getdate()) FOR [ASSIGNED_DATE]
GO
ALTER TABLE [dbo].[TB_R_USER_ATTRIBUTES]  WITH CHECK ADD  CONSTRAINT [FK_UserAttribute_Attribute] FOREIGN KEY([ATTRIBUTE_CD])
REFERENCES [dbo].[TB_M_ATTRIBUTES] ([ATTRIBUTE_CD])
GO
ALTER TABLE [dbo].[TB_R_USER_ATTRIBUTES] CHECK CONSTRAINT [FK_UserAttribute_Attribute]
GO
ALTER TABLE [dbo].[TB_R_USER_ATTRIBUTES]  WITH CHECK ADD  CONSTRAINT [FK_UserAttribute_User] FOREIGN KEY([USER_CD])
REFERENCES [dbo].[TB_M_USERS] ([USER_CD])
GO
ALTER TABLE [dbo].[TB_R_USER_ATTRIBUTES] CHECK CONSTRAINT [FK_UserAttribute_User]
GO
