/****** Object:  Table [dbo].[TB_M_ORG_RANK]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_ORG_RANK](
	[ORG_RANK_CD] [varchar](20) NOT NULL,
	[ORG_ID] [int] NULL,
	[ORG_PARENT] [int] NULL,
	[ORG_TITLE] [varchar](40) NULL,
	[LEVEL_ID] [int] NULL,
	[UNIT_CODE] [varchar](10) NULL,
	[STEP] [int] NULL,
	[COM] [varchar](150) NULL,
	[DIR] [varchar](150) NULL,
	[DIV] [varchar](150) NULL,
	[PLANT] [varchar](150) NULL,
	[DEP] [varchar](150) NULL,
	[SEC] [varchar](150) NULL,
	[LIN] [varchar](150) NULL,
	[GRU] [varchar](150) NULL,
	[DIR_ID] [int] NULL,
	[DIV_ID] [int] NULL,
	[DEP_ID] [int] NULL,
	[SEC_ID] [int] NULL,
	[LIN_ID] [int] NULL,
	[GRU_ID] [int] NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_M_ORG__260203CF963089EE] PRIMARY KEY CLUSTERED 
(
	[ORG_RANK_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_ORG_RANK] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
