/****** Object:  StoredProcedure [dbo].[SP_COMMON_GET_COMBOBOX_BANK_BRANCH]    Script Date: 21/10/2025 09:17:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_COMMON_GET_COMBOBOX_BANK_BRANCH]
    @BANK_NAME AS VARCHAR(MAX),
    @TERM AS VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT DISTINCT
      BANK_KEYS AS id, 
      BANK_NAME AS text 
    FROM TB_M_BANK_KEY
      WHERE HOUSE_STREET = @BANK_NAME;
END
GO
