/****** Object:  Table [dbo].[TB_M_PROFILE_ADDRESS]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_PROFILE_ADDRESS](
	[ADDRESS_CD] [nvarchar](20) NOT NULL,
	[REGISTRATION_NUMBER] [nvarchar](20) NOT NULL,
	[ADDRESS_TYPE] [nvarchar](20) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[RT] [varchar](10) NULL,
	[RW] [varchar](10) NULL,
	[VILLAGE] [varchar](100) NULL,
	[DISTRICT] [varchar](100) NULL,
	[CITY] [varchar](100) NULL,
	[PROVINCE] [varchar](100) NULL,
	[POSTALCODE] [varchar](100) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](255) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_M_PROFILE_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ADDRESS_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_PROFILE_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_TB_M_PROFILE_ADDRESS_PROFILE] FOREIGN KEY([REGISTRATION_NUMBER])
REFERENCES [dbo].[TB_M_PROFILE] ([REGISTRATION_NUMBER])
GO
ALTER TABLE [dbo].[TB_M_PROFILE_ADDRESS] CHECK CONSTRAINT [FK_TB_M_PROFILE_ADDRESS_PROFILE]
GO
