/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_INFORMATION_REQUEST_QTY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_INFORMATION_REQUEST_QTY]
    @PLACEMENT_SCHEDULE_CD AS VARCHAR(50),
		@TYPE AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
		IF @TYPE = 'PLACEMENT' BEGIN 
			SELECT 
				COUNT(PR.PLACEMENT_REQUEST_CD) AS TOTAL, SM.SYSTEM_VALUE AS TYPE
			FROM TB_M_SYSTEM_MASTER SM 
			LEFT JOIN TB_R_PLACEMENT_REQUEST PR ON PR.REQUEST_APPROVAL_STATUS = SM.SYSTEM_CD AND PR.PLACEMENT_SCHEDULE_CD = @PLACEMENT_SCHEDULE_CD
			WHERE SM.SYSTEM_TYPE = 'PLACEMENT_APPROVAL' 
			GROUP BY SM.SYSTEM_VALUE
		END ELSE BEGIN
			SELECT
				COUNT(PR.PLACEMENT_SCHEDULE_CD) AS TOTAL,
				SM.SYSTEM_VALUE AS TYPE 
			FROM TB_M_SYSTEM_MASTER SM 
			LEFT JOIN TB_R_PLACEMENT_REQUEST PR ON PR.REQUEST_APPROVAL_STATUS = SM.SYSTEM_CD AND PR.PLACEMENT_SCHEDULE_CD = @PLACEMENT_SCHEDULE_CD
			WHERE SM.SYSTEM_TYPE = 'CAUSE_CATEGORY' 
			GROUP BY SM.SYSTEM_VALUE
		END
END
GO
