/****** Object:  StoredProcedure [dbo].[SP_AUTH_GET_USER_API]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_GET_USER_API]
    @USERNAME AS VARCHAR(100),
    @PASSWORD AS VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP 1
      USERNAME,
      FULL_NAME AS FULLNAME
    FROM
      TB_M_USERS_API
    WHERE
      USERNAME = CONVERT (VARCHAR, @USERNAME)
      AND PASSWORD = HASHBYTES('SHA2_256', CONVERT (VARCHAR,@PASSWORD))
    
END
GO
