/****** Object:  StoredProcedure [dbo].[SP_AUTH_GET_AUTHORIZATION]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_GET_AUTHORIZATION]
    @USERNAME AS VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON; -- Suppress the message indicating the number of rows affected

    -- Declare a variable to hold the user code and retrieve it based on the provided username.
    DECLARE @USER_CD VARCHAR(100);
    SELECT @USER_CD = USER_CD
    FROM TB_M_USERS
    WHERE USERNAME = @USERNAME;

    -- Retrieve all function features (authorizations) associated with the user's roles.
    SELECT DISTINCT
        ff.* -- Select all columns from the TB_M_FUNCTION_FEATURE table
    FROM
        TB_M_FUNCTION_FEATURE ff -- Alias TB_M_FUNCTION_FEATURE as 'ff' for brevity
    INNER JOIN
        TB_M_ROLES_AUTH ra ON ff.FUNCTION_CD = ra.FUNCTION_CD
                          AND ff.FEATURE_CD = ra.FEATURE_CD -- Join on both FUNCTION_CD and FEATURE_CD
    INNER JOIN
        TB_R_USER_ROLES ur ON ra.ROLE_CD = ur.ROLE_CD -- Join with TB_R_USER_ROLES to filter by user's roles
    WHERE
        ur.USER_CD = @USER_CD; -- Filter results for the specific user

END;
GO
