/****** Object:  Table [dbo].[TB_M_ROLES_AUTH]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_ROLES_AUTH](
	[ROLE_CD] [nvarchar](50) NOT NULL,
	[FUNCTION_CD] [nvarchar](50) NOT NULL,
	[FEATURE_CD] [nvarchar](50) NOT NULL,
	[CREATED_BY] [nvarchar](150) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [nvarchar](150) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_M_ROLES_AUTH] PRIMARY KEY CLUSTERED 
(
	[ROLE_CD] ASC,
	[FUNCTION_CD] ASC,
	[FEATURE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
