/****** Object:  Table [dbo].[TB_M_MESSAGE_TEMPLATE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_MESSAGE_TEMPLATE](
	[MESSAGE_CD] [nvarchar](20) NOT NULL,
	[KEY] [nvarchar](200) NOT NULL,
	[CHANNEL] [nvarchar](20) NOT NULL,
	[SUBJECT] [nvarchar](200) NULL,
	[HEADER] [nvarchar](max) NOT NULL,
	[BODY] [nvarchar](max) NOT NULL,
	[FOOTER] [nvarchar](max) NOT NULL,
	[DESCRIPTION] [nvarchar](200) NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[IS_DELETED] [bit] NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CREATED_BY] [nvarchar](64) NOT NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [nvarchar](64) NULL,
	[DELETED_DT] [datetime] NULL,
	[DELETED_BY] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[MESSAGE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_MESSAGE_TEMPLATE] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
