/****** Object:  Table [dbo].[TB_M_DAILY_CUT_OFF]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_DAILY_CUT_OFF](
	[DAILY_CUT_OFF_CD] [varchar](20) NOT NULL,
	[DATE] [date] NULL,
	[ALLOWED_FLAG_SUBMISSION] [bit] NULL,
	[ALLOWED_FLAG_APPROVAL] [bit] NULL,
	[TRANSACTION_TYPE_SUBMISSION] [varchar](100) NULL,
	[TRANSACTION_TYPE_APPROVAL] [varchar](100) NULL,
	[REMARK] [varchar](255) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DAILY_CUT_OFF_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
