/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERS_GET_DETAIL_ROLE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERS_GET_DETAIL_ROLE]
    @USER_CD AS VARCHAR(100) 
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
    R.ROLE_CD,
    R.ROLE_NAME
  FROM
    TB_R_USER_ROLES UR
    INNER JOIN TB_M_ROLES R ON UR.ROLE_CD = R.ROLE_CD
  WHERE UR.USER_CD = @USER_CD
END;
GO
