/****** Object:  StoredProcedure [dbo].[SP_MASTER_LOCATION_STORE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_MASTER_LOCATION_STORE]
    @PROVINCE_CD     VARCHAR(20) = NULL,
    @CITY_CD         VARCHAR(20) = NULL,
    @DISTRICT_CD     VARCHAR(20) = NULL,
    @PROVINCE_NAME   NVARCHAR(150) = NULL,
    @CITY_NAME       NVARCHAR(150) = NULL,
    @DISTRICT_NAME   NVARCHAR(150) = NULL,
    @VILLAGE_NAME    NVARCHAR(150) = NULL,
    @MODE            VARCHAR(10),
    @USER_ID         VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE 
            @NEW_CD VARCHAR(50),
            @LAST_INCREMENT INT;

        -- MODE: ADD
        IF @MODE = 'Add'
        BEGIN
            -- PROVINCE MODE
            IF @PROVINCE_NAME IS NOT NULL
            BEGIN
                SELECT @LAST_INCREMENT = ISNULL(MAX(CAST(PROVINCE_CD AS INT)), 0) + 1
                FROM TB_M_PROVINCE
                WHERE ISNUMERIC(PROVINCE_CD) = 1;

                SET @NEW_CD = CAST(@LAST_INCREMENT AS VARCHAR);

                INSERT INTO TB_M_PROVINCE (
                    PROVINCE_CD, COUNTRY_CD, PROVINCE_NAME, CREATED_DT, CREATED_BY, IS_DELETED
                ) VALUES (
                    @NEW_CD, 'IDN', @PROVINCE_NAME, GETDATE(), @USER_ID, 0
                );

                SELECT 'true' AS status, 'Success storing new province data.' AS message;
                RETURN;
            END

            -- CITY MODE
            IF @CITY_NAME IS NOT NULL
            BEGIN
                SELECT TOP 1 
                    @LAST_INCREMENT = CAST(RIGHT(CITY_CD, CHARINDEX('.', REVERSE(CITY_CD)) - 1) AS INT)
                FROM TB_M_CITY
                WHERE PROVINCE_CD = @PROVINCE_CD
                ORDER BY CAST(RIGHT(CITY_CD, CHARINDEX('.', REVERSE(CITY_CD)) - 1) AS INT) DESC;

                SET @LAST_INCREMENT = ISNULL(@LAST_INCREMENT, 0) + 1;
                SET @NEW_CD = CONCAT(@PROVINCE_CD, '.', RIGHT(CONCAT('00', @LAST_INCREMENT), 2));

                INSERT INTO TB_M_CITY (
                    CITY_CD, PROVINCE_CD, CITY_NAME, CREATED_DT, CREATED_BY, IS_DELETED
                ) VALUES (
                    @NEW_CD, @PROVINCE_CD, @CITY_NAME, GETDATE(), @USER_ID, 0
                );

                SELECT 'true' AS status, 'Success storing new city data.' AS message;
                RETURN;
            END

            -- DISTRICT MODE
            IF @DISTRICT_NAME IS NOT NULL
            BEGIN
                SELECT TOP 1 
                    @LAST_INCREMENT = CAST(RIGHT(DISTRICT_CD, CHARINDEX('.', REVERSE(DISTRICT_CD)) - 1) AS INT)
                FROM TB_M_DISTRICT
                WHERE CITY_CD = @CITY_CD
                ORDER BY CAST(RIGHT(DISTRICT_CD, CHARINDEX('.', REVERSE(DISTRICT_CD)) - 1) AS INT) DESC;

                SET @LAST_INCREMENT = ISNULL(@LAST_INCREMENT, 0) + 1;
                SET @NEW_CD = CONCAT(@CITY_CD, '.', RIGHT(CONCAT('00', @LAST_INCREMENT), 2));

                INSERT INTO TB_M_DISTRICT (
                    DISTRICT_CD, CITY_CD, DISTRICT_NAME, CREATED_DT, CREATED_BY, IS_DELETED
                ) VALUES (
                    @NEW_CD, @CITY_CD, @DISTRICT_NAME, GETDATE(), @USER_ID, 0
                );

                SELECT 'true' AS status, 'Success storing new district data.' AS message;
                RETURN;
            END

            -- VILLAGE MODE
            IF @VILLAGE_NAME IS NOT NULL
            BEGIN
                SELECT TOP 1 
                    @LAST_INCREMENT = CAST(RIGHT(VILLAGE_CD, CHARINDEX('.', REVERSE(VILLAGE_CD)) - 1) AS INT)
                FROM TB_M_VILLAGE
                WHERE DISTRICT_CD = @DISTRICT_CD
                ORDER BY CAST(RIGHT(VILLAGE_CD, CHARINDEX('.', REVERSE(VILLAGE_CD)) - 1) AS INT) DESC;

                SET @LAST_INCREMENT = ISNULL(@LAST_INCREMENT, 0) + 1;
                SET @NEW_CD = CONCAT(@DISTRICT_CD, '.', RIGHT(CONCAT('00', @LAST_INCREMENT), 2));

                INSERT INTO TB_M_VILLAGE (
                    VILLAGE_CD, DISTRICT_CD, VILLAGE_NAME, CREATED_DT, CREATED_BY, IS_DELETED
                ) VALUES (
                    @NEW_CD, @DISTRICT_CD, @VILLAGE_NAME, GETDATE(), @USER_ID, 0
                );

                SELECT 'true' AS status, 'Success storing new village data.' AS message;
                RETURN;
            END
        END

        -- MODE: EDIT
        ELSE IF @MODE = 'Edit'
        BEGIN
            -- EDIT PROVINCE
            IF @PROVINCE_CD IS NOT NULL AND @PROVINCE_NAME IS NOT NULL
            BEGIN
                UPDATE TB_M_PROVINCE
                SET 
                    PROVINCE_NAME = @PROVINCE_NAME,
                    UPDATED_DT = GETDATE(),
                    UPDATED_BY = @USER_ID
                WHERE PROVINCE_CD = @PROVINCE_CD;

                SELECT 'true' AS status, 'Success updating province data.' AS message;
                RETURN;
            END

            -- EDIT CITY
            IF @CITY_CD IS NOT NULL AND @CITY_NAME IS NOT NULL
            BEGIN
                UPDATE TB_M_CITY
                SET 
                    CITY_NAME = @CITY_NAME,
                    UPDATED_DT = GETDATE(),
                    UPDATED_BY = @USER_ID
                WHERE CITY_CD = @CITY_CD;

                SELECT 'true' AS status, 'Success updating city data.' AS message;
                RETURN;
            END

            -- EDIT DISTRICT
            IF @DISTRICT_CD IS NOT NULL AND @DISTRICT_NAME IS NOT NULL
            BEGIN
                UPDATE TB_M_DISTRICT
                SET 
                    DISTRICT_NAME = @DISTRICT_NAME,
                    UPDATED_DT = GETDATE(),
                    UPDATED_BY = @USER_ID
                WHERE DISTRICT_CD = @DISTRICT_CD;

                SELECT 'true' AS status, 'Success updating district data.' AS message;
                RETURN;
            END

            -- EDIT VILLAGE
            IF @DISTRICT_CD IS NOT NULL AND @VILLAGE_NAME IS NOT NULL
            BEGIN
                UPDATE TB_M_VILLAGE
                SET 
                    VILLAGE_NAME = @VILLAGE_NAME,
                    UPDATED_DT = GETDATE(),
                    UPDATED_BY = @USER_ID
                WHERE VILLAGE_CD = @DISTRICT_CD;

                SELECT 'true' AS status, 'Success updating village data.' AS message;
                RETURN;
            END
        END

        -- MODE INVALID
        ELSE
        BEGIN
            SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
        END
    END TRY

    BEGIN CATCH
        SELECT 
            'false' AS status, 
            'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END
GO
