/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_GET_FEEDBACK]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_GET_FEEDBACK]
    @CLOSING_ATTENDANCE_CD VARCHAR(50)
AS
BEGIN
    SELECT 
        CAA.APPROVAL_LEVEL AS [POSITION],
        AA.FEEDBACK,
        AA.CREATED_DATE,
        U.FULL_NAME,
        UD.DIRECTORATE,
        UD.DIVISION,
        UD.DEPARTMENT,
        UD.[SECTION],
        UD.LINE,
        UD.[GROUP]
    FROM 
        [dbo].[TB_R_CLOSING_ATTENDANCE_FEEDBACK] AA
    INNER JOIN TB_M_USER_DETAIL UD ON AA.NOREG = UD.NOREG
    INNER JOIN TB_M_USERS U ON UD.NOREG = U.NOREG
    INNER JOIN TB_R_CLOSING_ATTENDANCE_APPROVAL CAA ON AA.NOREG = CAA.APPROVAL_NOREG AND AA.CLOSING_ATTENDANCE_CD = CAA.CLOSING_ATTENDANCE_CD
    WHERE 
        AA.CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD
    ORDER BY CREATED_DATE DESC;
END;
GO
