/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ATTENDANCE_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ATTENDANCE_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'FULL_NAME',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @TERM AS VARCHAR(100) = NULL,
    @PERIOD_FROM AS DATE = NULL,
    @PERIOD_TO AS DATE = NULL,
    @SECTION_ID AS VARCHAR(10) = NULL,
    @DEPT_ID AS VARCHAR(10) = NULL,
    @LINE_ID AS VARCHAR(10) = NULL,
    @GROUP_ID AS VARCHAR(10) = NULL,
    @ATTENDANCE_STATUS AS VARCHAR(10) = NULL,
    @USERNAME AS VARCHAR(50) = NULL
    
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @APPROVER_NOREG VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @USERNAME);

    IF @OrderBy NOT IN ('ATTENDANCE_CD', 'REGISTRATION_NUMBER', 'FULL_NAME', 'ATTENDANCE_DATE', 'SECTION', 'LINE', 'GROUP_NAME', 'POS', 'SHIFT_CD', 'CLOCK_IN_TIME', 'CLOCK_OUT_TIME', 'WORK_HOURS', 'EXCESS_WORK_HOURS', 'ATTENDANCE_STATUS', 'ATTENDANCE_STATUS_CD')
    BEGIN
        SET @OrderBy = 'REGISTRATION_NUMBER';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
            A.ATTENDANCE_CD,
            P.FULL_NAME,
            P.REGISTRATION_NUMBER,
            A.ATTENDANCE_DATE,
            OA.[SECTION],
            OA.LINE,
            OA.GROUP_NAME,
            OA.POS,
            A.SHIFT_CD,
            CONVERT(VARCHAR, A.CLOCK_IN_TIME) CLOCK_IN_TIME,
            CONVERT(VARCHAR, A.CLOCK_OUT_TIME) CLOCK_OUT_TIME,
            A.WORK_HOURS,
            A.EXCESS_WORK_HOURS,
            SYS_STS.SYSTEM_VALUE AS ATTENDANCE_STATUS,
            A.ATTENDANCE_STATUS AS ATTENDANCE_STATUS_CD,
            A.REASON,
            CONVERT(VARCHAR, A.CLOCK_IN_CORRECTION_TIME) CLOCK_IN_CORRECTION_TIME,
            CONVERT(VARCHAR, A.CLOCK_OUT_CORRECTION_TIME) CLOCK_OUT_CORRECTION_TIME,
            NXT_ATT.APPROVAL_NAME AS ATT_NEXT_APPROVER_NAME,
            NXT_ATT.APPROVAL_STATUS AS ATT_NEXT_APPROVAL_STATUS,
            NXT_ATT.SYSTEM_VALUE AS ATT_NEXT_APPROVAL_STATUS_NAME,
            SYS.SYSTEM_CD AS APPROVAL_STATUS,
            SYS.SYSTEM_VALUE AS APPROVAL_STATUS_NAME,
            CONVERT(VARCHAR (8), DATEADD(SECOND, DATEDIFF(SECOND, COALESCE(ESH_IN, ''00:00:00''), COALESCE(ESH_OUT, ''00:00:00'')), 0), 108) AS TOTAL_ESH,
						NXT.APPROVAL_NAME AS ESH_NEXT_APPROVER_NAME,
						NXT.APPROVAL_STATUS AS ESH_NEXT_APPROVAL_STATUS,
						NXT.SYSTEM_VALUE AS ESH_NEXT_APPROVAL_STATUS_NAME
        FROM
            TB_R_ATTENDANCE A
            INNER JOIN TB_R_ORG_ASSIGNMENT OA ON A.REGISTRATION_NUMBER = OA.REGISTRATION_NUMBER AND GETDATE() BETWEEN OA.VALID_FROM AND OA.VALID_TO
            INNER JOIN TB_M_PROFILE P ON A.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER
            LEFT JOIN TB_M_SYSTEM_MASTER SYS_STS ON SYS_STS.SYSTEM_CD = A.ATTENDANCE_STATUS AND SYS_STS.SYSTEM_TYPE = ''ATTENDANCE_STATUS''
            LEFT JOIN ( 
              SELECT
                ATTENDANCE_CD,
                ROW_NUMBER () OVER (PARTITION BY ATTENDANCE_CD ORDER BY APPROVAL_STATUS ASC, APPROVER_SEQUENCE ASC) AS RN,
                APPROVER_SEQUENCE,
                APPROVAL_STATUS,
                SYS2.SYSTEM_VALUE,
                U.FULL_NAME AS APPROVAL_NAME
              FROM
                TB_R_ATTENDANCE_APPROVAL AA
                LEFT JOIN TB_M_USERS U ON AA.APPROVER_NOREG = U.NOREG
                LEFT JOIN TB_M_SYSTEM_MASTER SYS2 ON AA.APPROVAL_STATUS = SYS2.SYSTEM_CD AND SYS2.SYSTEM_TYPE = ''APPROVAL_STATUS''
            ) AS NXT_ATT ON A.ATTENDANCE_CD = NXT_ATT.ATTENDANCE_CD AND NXT_ATT.RN=1
            LEFT JOIN TB_R_EXTRA_STUDY ES ON A.REGISTRATION_NUMBER = ES.REGISTRATION_NUMBER AND A.ATTENDANCE_DATE = ES.[DATE]
            LEFT JOIN TB_R_ATTENDANCE_APPROVAL AA ON AA.ATTENDANCE_CD = A.ATTENDANCE_CD AND AA.APPROVER_NOREG = @APPROVER_NOREG
            LEFT JOIN TB_M_SYSTEM_MASTER SYS ON AA.APPROVAL_STATUS = SYS.SYSTEM_CD AND SYS.SYSTEM_TYPE = ''APPROVAL_STATUS''
						LEFT JOIN (
							SELECT
								EXTRA_STUDY_CD,
								ROW_NUMBER () OVER (PARTITION BY EXTRA_STUDY_CD ORDER BY APPROVAL_STATUS ASC, APPROVAL_SEQ ASC) AS RN,
								APPROVAL_SEQ,
								APPROVAL_STATUS,
								SYS2.SYSTEM_VALUE,
								APPROVAL_NAME
							FROM
								TB_R_EXTRA_STUDY_APPROVAL ESA2
								LEFT JOIN TB_M_SYSTEM_MASTER SYS2 ON ESA2.APPROVAL_STATUS = SYS2.SYSTEM_CD AND SYS2.SYSTEM_TYPE = ''APPROVAL_STATUS''
						) AS NXT ON ES.EXTRA_STUDY_CD = NXT.EXTRA_STUDY_CD AND NXT.RN=1
        WHERE 1 = 1 ';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (P.REGISTRATION_NUMBER LIKE ''%'' + @TERM + ''%'' OR P.FULL_NAME LIKE ''%'' + @TERM + ''%'')';
    
    IF @PERIOD_FROM IS NOT NULL AND @PERIOD_TO IS NOT NULL AND @PERIOD_FROM <> '' AND @PERIOD_TO <> ''
        SET @SQL = @SQL + ' AND A.ATTENDANCE_DATE BETWEEN @PERIOD_FROM AND @PERIOD_TO';

    IF @DEPT_ID IS NOT NULL AND @DEPT_ID <> ''
        SET @SQL = @SQL + ' AND OA.DEPARTMENT_ID = @DEPT_ID';

    IF @SECTION_ID IS NOT NULL AND @SECTION_ID <> ''
        SET @SQL = @SQL + ' AND OA.SECTION_ID = @SECTION_ID';

    IF @LINE_ID IS NOT NULL AND @LINE_ID <> ''
        SET @SQL = @SQL + ' AND OA.LINE_ID = @LINE_ID';
    
    IF @GROUP_ID IS NOT NULL AND @GROUP_ID <> ''
        SET @SQL = @SQL + ' AND OA.GROUP_ID = @GROUP_ID';

    IF @ATTENDANCE_STATUS IS NOT NULL AND @ATTENDANCE_STATUS <> ''
        SET @SQL = @SQL + ' AND A.ATTENDANCE_STATUS = @ATTENDANCE_STATUS';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @TERM VARCHAR(100), @PERIOD_FROM DATE, @PERIOD_TO DATE, @SECTION_ID VARCHAR(10), @DEPT_ID VARCHAR(10), @LINE_ID VARCHAR(10), @GROUP_ID VARCHAR(10), @ATTENDANCE_STATUS VARCHAR(10), @APPROVER_NOREG VARCHAR(50)',
        @Offset = @PAGE,
        @PageSize = @PageSize,
        @TERM = @TERM,
        @PERIOD_FROM = @PERIOD_FROM,
        @PERIOD_TO = @PERIOD_TO,
        @SECTION_ID = @SECTION_ID,
        @DEPT_ID = @DEPT_ID,
        @LINE_ID = @LINE_ID,
        @GROUP_ID = @GROUP_ID,
        @ATTENDANCE_STATUS = @ATTENDANCE_STATUS,
        @APPROVER_NOREG = @APPROVER_NOREG;
END;
GO
