/****** Object:  Table [dbo].[TB_R_EXTRA_STUDY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_EXTRA_STUDY](
	[EXTRA_STUDY_CD] [varchar](20) NOT NULL,
	[REGISTRATION_NUMBER] [nvarchar](20) NOT NULL,
	[DATE] [date] NULL,
	[SHIFT_CD] [varchar](5) NULL,
	[SHIFT_CLOCK_IN] [time](7) NULL,
	[SHIFT_CLOCK_OUT] [time](7) NULL,
	[ESH_IN] [time](7) NULL,
	[ESH_OUT] [time](7) NULL,
	[EXTRA_STUDY_TYPE] [varchar](20) NULL,
	[STATUS] [varchar](20) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[ATTENDANCE_CD] [varchar](20) NULL,
	[ESH_PRODUCTION_AMOUNT] [time](7) NULL,
	[ESH_TRAINING_AMOUNT] [time](7) NULL,
 CONSTRAINT [PK__TB_R_EXT__4D6816624255C305] PRIMARY KEY CLUSTERED 
(
	[EXTRA_STUDY_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
