/****** Object:  StoredProcedure [dbo].[SP_MASTER_LABORTYPE_GET_COMBOBOX]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_LABORTYPE_GET_COMBOBOX]
	@TERM AS VARCHAR(MAX)
AS 
BEGIN
	SET NOCOUNT ON;

	SELECT 
		tmlt.LABOR_CD AS id,
		tmlt.LABOR_TYPE AS text
	FROM TB_M_LABOR_TYPE tmlt
	WHERE tmlt.LABOR_TYPE LIKE '%' + @TERM + '%'
		AND COALESCE(IS_DELETED, 0) = 0
		AND IS_ACTIVE = 1 ;
END
GO
