/****** Object:  Table [dbo].[TB_M_SYSTEM_MASTER]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_SYSTEM_MASTER](
	[SYSTEM_ID] [varchar](50) NOT NULL,
	[SYSTEM_TYPE] [varchar](20) NOT NULL,
	[SYSTEM_CD] [varchar](20) NOT NULL,
	[SYSTEM_VALUE] [nvarchar](max) NULL,
	[SYSTEM_REMARK] [varchar](255) NULL,
	[SYSTEM_SEQUENCE] [int] NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[DELETED_DT] [datetime] NULL,
 CONSTRAINT [PK__TB_M_SYSTEM_MASTER] PRIMARY KEY CLUSTERED 
(
	[SYSTEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_SYSTEM_MASTER] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[TB_M_SYSTEM_MASTER] ADD  DEFAULT ('') FOR [DELETED_DT]
GO
