/****** Object:  Table [dbo].[TB_M_PROFILE_DOCUMENT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_PROFILE_DOCUMENT](
	[PRF_DOC_CD] [varchar](20) NOT NULL,
	[REGISTRATION_NUMBER] [nvarchar](20) NOT NULL,
	[DOC_TYPE] [varchar](20) NULL,
	[DOC_NAME] [varchar](255) NULL,
	[URL] [varchar](1000) NULL,
	[CREATED_BY] [varchar](20) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[DOC_REMARK] [varchar](255) NULL,
	[FILE_NAME] [varchar](255) NULL,
 CONSTRAINT [PK_TB_M_PROFILE_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[PRF_DOC_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_PROFILE_DOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_TB_M_PROFILE_DOCUMENT_PROFILE] FOREIGN KEY([REGISTRATION_NUMBER])
REFERENCES [dbo].[TB_M_PROFILE] ([REGISTRATION_NUMBER])
GO
ALTER TABLE [dbo].[TB_M_PROFILE_DOCUMENT] CHECK CONSTRAINT [FK_TB_M_PROFILE_DOCUMENT_PROFILE]
GO
