/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_STORE_ADDRESS]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_STORE_ADDRESS]
    @ADDRESS_LIST nvarchar(max),
    @CREATED_BY varchar(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    
    BEGIN TRY
    
    
      DROP TABLE IF EXISTS #TempAddress;
      

      
      CREATE TABLE #TempAddress (
        ADDRESS_CD NVARCHAR(20),
        REGISTRATION_NUMBER NVARCHAR(20),
        ADDRESS_TYPE NVARCHAR(20),
        ADDRESS NVARCHAR(MAX),
        RT VARCHAR(10),
        RW VARCHAR(10),
        VILLAGE VARCHAR(100),
        DISTRICT VARCHAR(100),
        CITY VARCHAR(100),
        PROVINCE VARCHAR(100),
        POSTALCODE VARCHAR(100),
        CREATED_BY VARCHAR(50),
        CREATED_DT DATETIME,
        UPDATED_BY VARCHAR(255),
        UPDATED_DT DATETIME
      );
      
      EXEC sp_executesql @ADDRESS_LIST;
      
      DECLARE @REGISTRATION_NUMBER VARCHAR(50) = (SELECT TOP 1 REGISTRATION_NUMBER FROM #TempAddress);
      DECLARE @TodayDate VARCHAR(8);
      DECLARE @LastIncrement INT;

      -- Ambil tanggal hari ini dalam format DDMMYYYY
      SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

      -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
      SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(ADDRESS_CD, 4) AS INT)), 0)
      FROM [dbo].[TB_M_PROFILE_ADDRESS]
      WHERE ADDRESS_CD LIKE 'PA-' + @TodayDate + '%';



      MERGE TB_M_PROFILE_ADDRESS AS Target
      USING (
          SELECT
              ROW_NUMBER() OVER (ORDER BY ADDRESS_CD) AS RowNumber,
              ADDRESS_CD,
              REGISTRATION_NUMBER,
              ADDRESS_TYPE,
              ADDRESS,
              RT,
              RW,
              VILLAGE,
              DISTRICT,
              CITY,
              PROVINCE,
              POSTALCODE,
              CREATED_BY,
              CREATED_DT,
              UPDATED_BY,
              UPDATED_DT
          FROM
              #TempAddress
      ) AS Source
      ON (Target.ADDRESS_CD = Source.ADDRESS_CD)
      WHEN NOT MATCHED BY Target THEN
          INSERT (ADDRESS_CD, REGISTRATION_NUMBER, ADDRESS_TYPE, ADDRESS, RT, RW, VILLAGE, DISTRICT, CITY, PROVINCE, POSTALCODE, CREATED_BY, CREATED_DT)
          VALUES ('PA-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement + Source.RowNumber AS VARCHAR(4)), 4), Source.REGISTRATION_NUMBER, Source.ADDRESS_TYPE, Source.ADDRESS, Source.RT, Source.RW, Source.VILLAGE, Source.DISTRICT, Source.CITY, Source.PROVINCE, Source.POSTALCODE, Source.CREATED_BY, GETDATE())
      WHEN MATCHED THEN
          UPDATE SET 
              Target.REGISTRATION_NUMBER = Source.REGISTRATION_NUMBER,
              Target.ADDRESS_TYPE = Source.ADDRESS_TYPE,
              Target.ADDRESS = Source.ADDRESS,
              Target.RT = Source.RT,
              Target.RW = Source.RW,
              Target.VILLAGE = Source.VILLAGE,
              Target.DISTRICT = Source.DISTRICT,
              Target.CITY = Source.CITY,
              Target.PROVINCE = Source.PROVINCE,
              Target.POSTALCODE = Source.POSTALCODE,
              Target.UPDATED_BY = Source.UPDATED_BY,
              Target.UPDATED_DT = GETDATE()
      WHEN NOT MATCHED BY Source THEN
          DELETE;


      
     
      SELECT 'true' AS status, 'Success updating data.' AS message;
    
    END TRY
    BEGIN CATCH
        
        -- You can log the error details here if needed
        SELECT 'false' AS status, ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
