/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_GET_HEADER]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_GET_HEADER]
    @CLOSING_ATTENDANCE_CD AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT  
      ATT.CLOSING_ATTENDANCE_CD,
      ATT.CLOSING_ATTENDANCE_DATE,
      ATT.CLOSING_ATTENDANCE_PERIOD,
      ATT.CUT_OFF_FROM,
      ATT.CUT_OFF_TO,
      ATT.STATUS,
      SM.SYSTEM_VALUE AS STATUS_NM,
      ATT.TOTAL_EMPLOYEE,
      ATT.TOTAL_WORKING_DAYS,
      ATT.TOTAL_HOLIDAYS,
      SUM(TOTAL_CUMMULATIVE_ESH) AS TOTAL_ESH,
      PT.CURRENT_STEP,
      PT.TOTAL_STEPS AS STEP
    FROM TB_R_CLOSING_ATTENDANCE ATT
    LEFT JOIN TB_R_CLOSING_ATTENDANCE_EXTRA_STUDY_SUMMARY CAESS ON ATT.CLOSING_ATTENDANCE_CD = CAESS.CLOSING_ATTENDANCE_CD
    LEFT JOIN TB_M_SYSTEM_MASTER SM ON ATT.STATUS = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = 'ATTENDANCE_CLOSING'
    LEFT JOIN (SELECT TOP 1 REFERENCE_CD, CURRENT_STEP, TOTAL_STEPS FROM TB_R_PROGRESS_TRACKING WHERE REFERENCE_CD = @CLOSING_ATTENDANCE_CD ORDER BY CURRENT_STEP DESC) PT ON PT.REFERENCE_CD = ATT.CLOSING_ATTENDANCE_CD
    WHERE ATT.CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD
    GROUP BY 
      ATT.CLOSING_ATTENDANCE_CD,
      ATT.CLOSING_ATTENDANCE_CD,
      ATT.CLOSING_ATTENDANCE_DATE,
      ATT.CLOSING_ATTENDANCE_PERIOD,
      ATT.CUT_OFF_FROM,
      ATT.CUT_OFF_TO,
      ATT.STATUS,
      SM.SYSTEM_VALUE,
      ATT.TOTAL_EMPLOYEE,
      ATT.TOTAL_WORKING_DAYS,
      ATT.TOTAL_HOLIDAYS,
      PT.CURRENT_STEP,
      PT.TOTAL_STEPS
END;
GO
