/****** Object:  StoredProcedure [dbo].[SP_MASTER_LABORTYPE_GET_DETAIL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_LABORTYPE_GET_DETAIL]
    @LABOR_CD AS VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
      LABOR_CD,
      LABOR_TYPE,
      CATEGORY,
      DESCRIPTION,
      IS_ACTIVE  
    FROM TB_M_LABOR_TYPE 
    WHERE 
      LABOR_CD = @LABOR_CD
      AND IS_DELETED = '0';
END;
GO
