/****** Object:  StoredProcedure [dbo].[SP_MASTER_VOCATIONAL_CENTER_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_MASTER_VOCATIONAL_CENTER_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'VOCATIONAL_CENTER_NAME',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @PROVINCE_CD AS VARCHAR(30) = NULL,
    @CITY_CD AS VARCHAR(30) = NULL,
    @IsActive AS BIT = '1',
    @TERM AS VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('VOCATIONAL_CENTER_CD', 'VOCATIONAL_CENTER_NAME', 'PROVINCE_NAME', 'CITY_NAME', 'CP_NAME', 'CP_PHONE', 'IS_ACTIVE', 'CREATED_DT')
    BEGIN
        SET @OrderBy = 'CREATED_DT';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);
    
    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
            VC.VOCATIONAL_CENTER_CD,
            VC.NAME AS VOCATIONAL_CENTER_NAME,
            P.PROVINCE_NAME,
            C.CITY_NAME,
            VC.CP_NAME,
            VC.CP_PHONE,
            VC.EMAIL,
            CONVERT(VARCHAR, VC.IS_ACTIVE) AS IS_ACTIVE,
            VC.CREATED_DT
        FROM
            TB_M_VOCATIONAL_CENTER VC
            LEFT JOIN TB_M_PROVINCE P ON VC.PROVINCE_CD = P.PROVINCE_CD
            LEFT JOIN TB_M_CITY C ON VC.CITY_CD = C.CITY_CD
        WHERE
            COALESCE(VC.IS_DELETED, 0) = 0 ';

    IF @PROVINCE_CD IS NOT NULL AND @PROVINCE_CD <> ''
        SET @SQL = @SQL + ' AND VC.PROVINCE_CD = @PROVINCE_CD';

    IF @CITY_CD IS NOT NULL AND @CITY_CD <> ''
        SET @SQL = @SQL + ' AND VC.CITY_CD = @CITY_CD';

    IF @IsActive IS NOT NULL
        SET @SQL = @SQL + ' AND VC.IS_ACTIVE = @IsActive';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (VC.NAME LIKE ''%'' + @TERM + ''%'' OR VC.CP_NAME LIKE ''%'' + @TERM + ''%'' OR VC.CP_PHONE LIKE ''%'' + @TERM + ''%'')';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';
    
    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @PROVINCE_CD VARCHAR(30), @CITY_CD VARCHAR(30), @IsActive BIT, @TERM VARCHAR(100)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
        @PROVINCE_CD = @PROVINCE_CD,
        @CITY_CD = @CITY_CD,
        @IsActive = @IsActive,
        @TERM = @TERM;
END;
GO
