/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_COMBOBOX]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_COMBOBOX]
    @PAGE AS INT = 0,
    @PageSize AS INT = 10,  
    @TERM AS VARCHAR(100) = NULL              
AS
BEGIN
    SET NOCOUNT ON;

		DECLARE @OrderBy VARCHAR(50)= 'CREATED_DT';
		DECLARE @OrderDirection VARCHAR(5)= 'DESC';

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
            PRS.PLACEMENT_SCHEDULE_CD AS id,
            TMS.SYSTEM_VALUE + '' '' + PRS.PERIOD_NAME as text,
						PRS.CREATED_DT
        FROM
            TB_R_PLACEMENT_SCHEDULE PRS
            LEFT JOIN TB_M_SYSTEM_MASTER TMS
                ON CONVERT(VARCHAR, PRS.PERIOD_WEEK) = TMS.SYSTEM_CD
                AND TMS.SYSTEM_TYPE = ''WEEK''
						LEFT JOIN TB_R_PLACEMENT_REQUEST PR ON PRS.PLACEMENT_SCHEDULE_CD = PR.PLACEMENT_SCHEDULE_CD
        WHERE
            COALESCE(PRS.IS_DELETED, 0) = 0 AND PRS.SCHEDULE_APPROVAL_STATUS <> ''3'' AND PR.PLACEMENT_REQUEST_CD IS NULL';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (PRS.PLACEMENT_SCHEDULE_CD LIKE ''%'' + @TERM + ''%'' OR PRS.BATCH LIKE ''%'' + @TERM + ''%'')';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        id,
        text
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    -- Eksekusi Dynamic SQL
    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @TERM VARCHAR(100)',
        @Offset = @PAGE,
        @PageSize = @PageSize,
        @TERM = @TERM;
END
GO
