/****** Object:  Table [dbo].[TB_R_PROFILE_ASSESSMENT]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_PROFILE_ASSESSMENT](
	[PROFILE_ASSESSMENT_CD] [varchar](20) NOT NULL,
	[REGISTRATION_NUMBER] [varchar](20) NULL,
	[ASSESSMENT_TYPE] [varchar](30) NULL,
	[ASSESSMENT_H_CD] [varchar](20) NULL,
	[ASSESSMENT_NAME] [varchar](150) NULL,
	[ASSESSMENT_START_DT] [datetime] NULL,
	[ASSESSMENT_EXPIRED_DT] [datetime] NULL,
	[ASSESSMENT_ATTEMPT_DT] [datetime] NULL,
	[ASSESSMENT_RESULT] [varchar](150) NULL,
	[ASSESSMENT_SUMMARY] [varchar](255) NULL,
	[ASSESSMENT_REMARKS] [varchar](255) NULL,
	[PROVIDER_CD] [varchar](20) NULL,
	[LOCATION] [varchar](150) NULL,
	[SCHEDULE_RECRUITMENT_CD] [varchar](20) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PROFILE_ASSESSMENT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
