/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERS_GET_ROLE_OPTION]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERS_GET_ROLE_OPTION]
    @LEVEL_CD AS VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF (@LEVEL_CD <> '') BEGIN
    SELECT
        ROLE_CD AS id,
        ROLE_NAME AS text
    FROM
        TB_M_ROLES
    WHERE
        @LEVEL_CD = '1'
        OR ROLE_LEVEL = @LEVEL_CD
          ORDER BY ROLE_LEVEL ASC
     ;
        
    END ELSE BEGIN
      SELECT
        ROLE_CD AS id,
        ROLE_NAME AS text
    FROM
        TB_M_ROLES
        
        ORDER BY ROLE_LEVEL ASC
    END
END
GO
