/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_VOCATION_LIST_STORE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_VOCATION_LIST_STORE]
    @PLACEMENT_REQUEST_CD AS VARCHAR(50),
    @USERNAME AS VARCHAR(50) = 'SYSTEM'
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @VOCATION_END_DT_FROM AS VARCHAR(20);
    DECLARE @VOCATION_END_DT_TO AS VARCHAR(20);
		
    DECLARE @New_Replacement_CD VARCHAR(50);
    DECLARE @TodayDateFormatted VARCHAR(6); -- YYMMDD format
    DECLARE @LastIncrement INT;
    DECLARE @Prefix VARCHAR(5) = 'PLR';

    IF NOT EXISTS (SELECT 1 FROM TB_R_PLACEMENT_REQUEST WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD)
    BEGIN
        SELECT 'false' AS status, 'Failed. Placement Request Code not found.' AS message;
        RETURN;
    END

    SELECT 
        @VOCATION_END_DT_FROM = VOCATION_END_DT_FROM, 
        @VOCATION_END_DT_TO = VOCATION_END_DT_TO 
    FROM TB_R_PLACEMENT_REQUEST 
    WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD;

    SET @TodayDateFormatted = FORMAT(GETDATE(), 'yyMMdd');

    SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(REPLACEMENT_CD, 6) AS INT)), 0)
    FROM [dbo].[TB_R_POSITION_REPLACEMENT]
    WHERE REPLACEMENT_CD LIKE @Prefix + '-' + @TodayDateFormatted + '-%';

    SET @LastIncrement = @LastIncrement + 1;
    
    SET @New_Replacement_CD = @Prefix + '-' + @TodayDateFormatted + '-' + RIGHT('000000' + CAST(@LastIncrement AS VARCHAR(6)), 6);

    BEGIN TRANSACTION;

    BEGIN TRY
				DELETE FROM TB_R_POSITION_REPLACEMENT WHERE REF_REQUEST_CD = @PLACEMENT_REQUEST_CD;
        WITH CTE_VocationData AS
        (
            SELECT 
                PR.PLACEMENT_REQUEST_CD,
                PS.PLACEMENT_SCHEDULE_CD,
                PR.REQUEST_TYPE,
                PR.CAUSE_CATEGORY,
                OA.DIRECTORATE_ID,
                OA.DIVISION_ID,
                OA.DEPARTMENT_ID,
                OA.SECTION_ID,
                OA.LINE_ID,
                OA.GROUP_ID,
                OA.MAIN_LOCATION,
                OA.POS_CATEGORY,
                OA.LABOR_TYPE,
                P.REGISTRATION_NUMBER,
                CASE WHEN T.REGISTRATION_NUMBER IS NULL THEN '1' ELSE '0' END AS IS_CONTINUE,
                P.GENDER,
                ROW_NUMBER() OVER (ORDER BY P.REGISTRATION_NUMBER) AS RowNum 
                
            FROM TB_R_PLACEMENT_REQUEST PR 
            INNER JOIN TB_R_PLACEMENT_SCHEDULE PS 
                ON PR.PLACEMENT_SCHEDULE_CD = PS.PLACEMENT_SCHEDULE_CD
            INNER JOIN TB_M_PROFILE P 
                ON P.CONTRACT_END BETWEEN @VOCATION_END_DT_FROM AND @VOCATION_END_DT_TO
            INNER JOIN TB_R_ORG_ASSIGNMENT OA 
                ON P.REGISTRATION_NUMBER = OA.REGISTRATION_NUMBER 
                AND P.CONTRACT_END BETWEEN OA.VALID_FROM AND OA.VALID_TO 
                AND OA.DEPARTMENT_ID = PR.DEPARTMENT_CD
            LEFT JOIN TB_T_PLACEMENT_REQUEST_VOCATION_LIST T 
                ON P.REGISTRATION_NUMBER = T.REGISTRATION_NUMBER 
                AND PR.PLACEMENT_REQUEST_CD = T.PLACEMENT_REQUEST_CD
            WHERE PR.PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD
        )
        INSERT INTO TB_R_POSITION_REPLACEMENT (
            REPLACEMENT_CD,
            REPLACEMENT_TYPE,
            REF_REQUEST_CD,
            REF_SCHEDULE_CD,
            REQUEST_TYPE,
            REPLACEMENT_CATEGORY,
            DIRECTORATE_CD,
            DIVISION_CD,
            DEPARTMENT_CD,
            SECTION_CD,
            LINE_CD,
            GROUP_CD,
            PLANT_CD,
            POS_CATEGORY,
            VOCATION_TYPE,
            NOREG_EXISTING,
            IS_CONTINUE,
            GENDER,
            CREATED_DT,
            CREATED_BY
        )
        SELECT 
            @Prefix + '-' + @TodayDateFormatted + '-' + RIGHT('000000' + CAST((@LastIncrement + CTE.RowNum - 1) AS VARCHAR(6)), 6) AS REPLACEMENT_CD,
            'PLACEMENT_REQUEST' AS REPLACEMENT_TYPE,
            CTE.PLACEMENT_REQUEST_CD AS REF_REQUEST_CD,
            CTE.PLACEMENT_SCHEDULE_CD AS REF_SCHEDULE_CD,
            CTE.REQUEST_TYPE AS REQUEST_TYPE,
            CTE.CAUSE_CATEGORY AS REPLACEMENT_CATEGORY,
            CTE.DIRECTORATE_ID,
            CTE.DIVISION_ID,
            CTE.DEPARTMENT_ID,
            CTE.SECTION_ID,
            CTE.LINE_ID,
            CTE.GROUP_ID,
            CTE.MAIN_LOCATION,
            CTE.POS_CATEGORY,
            CTE.LABOR_TYPE,
            CTE.REGISTRATION_NUMBER,
            CTE.IS_CONTINUE,
            CTE.GENDER,
            GETDATE() AS CREATED_DT,
            @USERNAME AS CREATED_BY
        FROM CTE_VocationData CTE;
        
        COMMIT TRANSACTION;
        
        SELECT 'true' AS status,'Data successfully stored in Vocation List.' AS message;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END
GO
