/****** Object:  StoredProcedure [dbo].[SP_ADMIN_MP_SUMMARY_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_MP_SUMMARY_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'TOTAL_DATA',
    @OrderDirection AS VARCHAR(5) = 'DESC',
    @DEPARTMENT_ID AS NVARCHAR(50) = NULL,
    @PLANT_CD AS NVARCHAR(50) = NULL,
    @SECTION_CD AS NVARCHAR(50) = NULL,
    @TERM AS NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Parameter Validation (safe from SQL injection)
    IF @OrderBy NOT IN ('ORG_ID', 'COM', 'DIR', 'DIV', 'PLANT', 'DEP', 'SEC', 'LIN', 'TOTAL_DATA', 'MORE_60_DAYS', 'BETWEEN_30_60_DAYS', 'LESS_30_DAYS', 'TOTAL_RECRUITMENT', 'TOTAL_ACTIVE', 'TOTAL_TERMINATE', 'TOTAL_END_OF_CONTRACT', 'ADDITIONAL', 'PRODUCTION', 'TRAINING')
    BEGIN
        SET @OrderBy = 'TOTAL_DATA';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'DESC';
    END

    -- 2. Refactored dynamic SQL using CTEs for clarity and performance
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @WhereClause NVARCHAR(MAX) = N'';

    -- Build dynamic WHERE clause to apply filters early
    IF @DEPARTMENT_ID IS NOT NULL AND @DEPARTMENT_ID <> ''
        SET @WhereClause = @WhereClause + N' AND MOR.DEP_ID = @DEPARTMENT_ID';
    
    IF @PLANT_CD IS NOT NULL AND @PLANT_CD <> ''
        SET @WhereClause = @WhereClause + N' AND MOR.PLANT = @PLANT_CD';

    IF @SECTION_CD IS NOT NULL AND @SECTION_CD <> ''
        SET @WhereClause = @WhereClause + N' AND MOR.SEC_ID = @SECTION_CD';
    
    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @WhereClause = @WhereClause + N' AND (
            MOR.DEP LIKE ''%'' + @TERM + ''%'' OR
            MOR.PLANT LIKE ''%'' + @TERM + ''%'' OR
            MOR.DIV LIKE ''%'' + @TERM + ''%'' OR
            MOR.LIN LIKE ''%'' + @TERM + ''%''
        )';

    SET @SQL = N'
    WITH OrgSummaries AS (
        SELECT
            OA.DIRECTORATE_ID,
            OA.DIVISION_ID,
            OA.DEPARTMENT_ID,
            OA.SECTION_ID,
            OA.LINE_ID,
            OA.MAIN_LOCATION,
            SUM(CASE WHEN OA.LABOR_TYPE IS NOT NULL THEN 1 ELSE 0 END) AS TOTAL_DATA,
            SUM(CASE WHEN DATEDIFF(DAY, GETDATE(), P.CONTRACT_END) > 60 THEN 1 ELSE 0 END) AS MORE_60_DAYS,
            SUM(CASE WHEN DATEDIFF(DAY, GETDATE(), P.CONTRACT_END) BETWEEN 30 AND 60 THEN 1 ELSE 0 END) AS BETWEEN_30_60_DAYS,
            SUM(CASE WHEN DATEDIFF(DAY, GETDATE(), P.CONTRACT_END) < 30 THEN 1 ELSE 0 END) AS LESS_30_DAYS,
            SUM(CASE WHEN P.PROFILE_STATUS = ''1'' THEN 1 ELSE 0 END) AS TOTAL_RECRUITMENT,
            SUM(CASE WHEN P.PROFILE_STATUS = ''2'' AND GETDATE() BETWEEN P.CONTRACT_START AND P.CONTRACT_END THEN 1 ELSE 0 END) AS TOTAL_ACTIVE,
            SUM(CASE WHEN P.PROFILE_STATUS = ''3'' THEN 1 ELSE 0 END) AS TOTAL_TERMINATE,
            SUM(CASE WHEN P.PROFILE_STATUS = ''4'' THEN 1 ELSE 0 END) AS TOTAL_END_OF_CONTRACT,
            SUM(CASE WHEN OA.LABOR_TYPE = ''LT-250821-000003'' THEN 1 ELSE 0 END) AS ADDITIONAL,
            SUM(CASE WHEN OA.LABOR_TYPE = ''LT-250821-000002'' THEN 1 ELSE 0 END) AS PRODUCTION,
            SUM(CASE WHEN OA.LABOR_TYPE = ''LT-250821-000001'' THEN 1 ELSE 0 END) AS TRAINING
        FROM
            dbo.TB_R_ORG_ASSIGNMENT OA
            LEFT JOIN dbo.TB_M_PROFILE P ON OA.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER
        WHERE 
            GETDATE() BETWEEN OA.VALID_FROM AND OA.VALID_TO
        GROUP BY
            OA.DIRECTORATE_ID,
            OA.DIVISION_ID,
            OA.DEPARTMENT_ID,
            OA.SECTION_ID,
            OA.LINE_ID,
            OA.MAIN_LOCATION
    ),
    FinalResults AS (
        SELECT
            MOR.ORG_ID,
            MOR.COM,
            MOR.DIR,
            MOR.DIV,
            P.MAIN_LOCATION AS PLANT,
            MOR.DEP,
            MOR.SEC,
            MOR.LIN,
            ISNULL(S.TOTAL_DATA, 0) AS TOTAL_DATA,
            ISNULL(S.MORE_60_DAYS, 0) AS MORE_60_DAYS,
            ISNULL(S.BETWEEN_30_60_DAYS, 0) AS BETWEEN_30_60_DAYS,
            ISNULL(S.LESS_30_DAYS, 0) AS LESS_30_DAYS,
            ISNULL(S.TOTAL_RECRUITMENT, 0) AS TOTAL_RECRUITMENT,
            ISNULL(S.TOTAL_ACTIVE, 0) AS TOTAL_ACTIVE,
            ISNULL(S.TOTAL_TERMINATE, 0) AS TOTAL_TERMINATE,
            ISNULL(S.TOTAL_END_OF_CONTRACT, 0) AS TOTAL_END_OF_CONTRACT,
            ISNULL(S.ADDITIONAL, 0) AS ADDITIONAL,
            ISNULL(S.PRODUCTION, 0) AS PRODUCTION,
            ISNULL(S.TRAINING, 0) AS TRAINING,
            -- Efficiently get total row count for pagination controls
            COUNT(1) OVER() AS COUNT
        FROM
            dbo.TB_M_ORG_RANK MOR
            LEFT JOIN dbo.TB_M_PLANT P ON MOR.PLANT = P.PLANT_CD
            LEFT JOIN OrgSummaries S ON 
                ISNULL(MOR.DIR_ID, ''-'') = ISNULL(S.DIRECTORATE_ID, ''-'')
                AND ISNULL(MOR.DIV_ID, ''-'') = ISNULL(S.DIVISION_ID, ''-'')
                AND ISNULL(MOR.DEP_ID, ''-'') = ISNULL(S.DEPARTMENT_ID, ''-'')
                AND ISNULL(MOR.SEC_ID, ''-'') = ISNULL(S.SECTION_ID, ''-'')
                AND ISNULL(MOR.LIN_ID, ''-'') = ISNULL(S.LINE_ID, ''-'')
                AND ISNULL(MOR.PLANT, ''-'') = ISNULL(S.MAIN_LOCATION, ''-'')
        WHERE
            MOR.DIV IS NOT NULL AND MOR.GRU IS NULL AND MOR.LIN IS NOT NULL
            ' + @WhereClause + N'
    )
    -- Select the final page of data
    SELECT 
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *
    FROM FinalResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    -- Execute the dynamic SQL with parameters to prevent injection
    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @DEPARTMENT_ID NVARCHAR(50), @PLANT_CD NVARCHAR(50), @SECTION_CD NVARCHAR(50), @TERM NVARCHAR(MAX)',
        @Offset = @PAGE, -- Offset is now correctly set to the page number for simplicity, assuming page 1 = offset 0 in application
        @PageSize = @PageSize,
        @DEPARTMENT_ID = @DEPARTMENT_ID,
        @PLANT_CD = @PLANT_CD,
        @SECTION_CD = @SECTION_CD,
        @TERM = @TERM;
END;
GO
