/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_STORE_EDU]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_STORE_EDU]
    @EDU_LIST nvarchar(max),
    @CREATED_BY varchar(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    
    BEGIN TRY
    
    
      DROP TABLE IF EXISTS #TempEdu;
      

      
      CREATE TABLE #TempEdu (
          PROFILE_EDU_CD VARCHAR(20),
          REGISTRATION_NUMBER NVARCHAR(20),
          EDUCATION_LEVEL VARCHAR(20),
          INSTITUTE_NAME VARCHAR(255),
          COUNTRY VARCHAR(50),
          FINAL_GRADE DECIMAL(16, 2), -- Ditambahkan skala (scale) 2 untuk nilai desimal
          MAJOR VARCHAR(255),
          GRADUATION_YEAR INT,
          CREATED_BY VARCHAR(20),
          CREATED_DT DATETIME,
          MAXIMUM_GRADE DECIMAL(16, 2) -- Ditambahkan skala (scale) 2 untuk nilai desimal
      );
      
      EXEC sp_executesql @EDU_LIST;
      
      DECLARE @REGISTRATION_NUMBER VARCHAR(50) = (SELECT TOP 1 REGISTRATION_NUMBER FROM #TempEdu);
      
      
      DECLARE @TodayDate VARCHAR(8);
      DECLARE @LastIncrement INT;

      -- Ambil tanggal hari ini dalam format DDMMYYYY
      SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

      -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
      SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(PROFILE_EDU_CD, 4) AS INT)), 0)
      FROM [dbo].[TB_M_PROFILE_EDU]
      WHERE PROFILE_EDU_CD LIKE 'PA-' + @TodayDate + '%';



      MERGE TB_M_PROFILE_EDU AS Target
      USING (
          SELECT
              ROW_NUMBER() OVER (ORDER BY PROFILE_EDU_CD DESC) AS RowNumber,
              PROFILE_EDU_CD,
              REGISTRATION_NUMBER,
              EDUCATION_LEVEL,
              INSTITUTE_NAME,
              COUNTRY,
              FINAL_GRADE,
              MAJOR,
              GRADUATION_YEAR,
              CREATED_BY,
              CREATED_DT,
              MAXIMUM_GRADE 
          FROM
              #TempEdu
      ) AS Source
      ON (Target.PROFILE_EDU_CD = Source.PROFILE_EDU_CD AND Target.REGISTRATION_NUMBER = @REGISTRATION_NUMBER)
      WHEN NOT MATCHED BY Target THEN
          INSERT (PROFILE_EDU_CD, REGISTRATION_NUMBER, EDUCATION_LEVEL, INSTITUTE_NAME, COUNTRY, FINAL_GRADE, MAJOR, GRADUATION_YEAR, CREATED_BY, CREATED_DT, MAXIMUM_GRADE)
          VALUES ('PE-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement + Source.RowNumber AS VARCHAR(4)), 4), Source.REGISTRATION_NUMBER, Source.EDUCATION_LEVEL, Source.INSTITUTE_NAME, Source.COUNTRY, Source.FINAL_GRADE, Source.MAJOR, Source.GRADUATION_YEAR, Source.CREATED_BY, GETDATE(), Source.MAXIMUM_GRADE)
      WHEN MATCHED THEN
          UPDATE SET 
              Target.REGISTRATION_NUMBER = Source.REGISTRATION_NUMBER,
              Target.EDUCATION_LEVEL = Source.EDUCATION_LEVEL,
              Target.INSTITUTE_NAME = Source.INSTITUTE_NAME,
              Target.COUNTRY = Source.COUNTRY,
              Target.FINAL_GRADE = Source.FINAL_GRADE,
              Target.MAJOR = Source.MAJOR,
              Target.GRADUATION_YEAR = Source.GRADUATION_YEAR,
              Target.UPDATED_BY = Source.CREATED_BY,
              Target.UPDATED_DT = Source.CREATED_DT,
              Target.MAXIMUM_GRADE = Source.MAXIMUM_GRADE
      WHEN NOT MATCHED BY Source AND Target.REGISTRATION_NUMBER = @REGISTRATION_NUMBER THEN
          DELETE;


      
     
      SELECT 'true' AS status, 'Success updating data.' AS message;
    
    END TRY
    BEGIN CATCH
        
        -- You can log the error details here if needed
        SELECT 'false' AS status, ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
