/****** Object:  Table [dbo].[TB_M_PROFILE_FAMILY]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_PROFILE_FAMILY](
	[FAMILY_CD] [nvarchar](20) NOT NULL,
	[REGISTRATION_NUMBER] [nvarchar](20) NOT NULL,
	[TYPE] [varchar](20) NULL,
	[RELATION] [varchar](150) NULL,
	[FULL_NAME] [varchar](255) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[VILLAGE] [varchar](150) NULL,
	[DISTRICT] [varchar](150) NULL,
	[CITY] [varchar](150) NULL,
	[PROVINCE] [varchar](150) NULL,
	[POSTALCODE] [varchar](20) NULL,
	[PHONE] [varchar](20) NULL,
	[RT] [varchar](10) NULL,
	[RW] [varchar](10) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_M_PROFILE_FAMILY] PRIMARY KEY CLUSTERED 
(
	[FAMILY_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_PROFILE_FAMILY]  WITH CHECK ADD  CONSTRAINT [FK_TB_M_PROFILE_FAMILY_PROFILE] FOREIGN KEY([REGISTRATION_NUMBER])
REFERENCES [dbo].[TB_M_PROFILE] ([REGISTRATION_NUMBER])
GO
ALTER TABLE [dbo].[TB_M_PROFILE_FAMILY] CHECK CONSTRAINT [FK_TB_M_PROFILE_FAMILY_PROFILE]
GO
