/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'CREATED_DT',
    @OrderDirection AS VARCHAR(5) = 'DESC', 
    @TERM AS VARCHAR(100) = NULL,
    @REQUEST_APPROVAL_STATUS_CD AS VARCHAR(10) = NULL, 
    @DEPARTMENT_CD AS VARCHAR(10) = NULL, 
    @BATCH AS VARCHAR(20) = NULL, 
    @REQUEST_DATE_FROM AS VARCHAR(20) = NULL, 
    @REQUEST_DATE_TO AS VARCHAR(20) = NULL, 
    @REQUEST_TYPE_CD AS VARCHAR(10) = NULL 
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('PLACEMENT_REQUEST_CD', 'PLACEMENT_SCHEDULE_CD', 'REQUEST_APPROVAL_STATUS_NM', 'DEPARTMENT_NM', 'REQUEST_TYPE_NM', 'CAUSE_CATEGORY_NM', 'CREATED_DT')
    BEGIN
        SET @OrderBy = 'CREATED_DT';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'DESC'; 
    END
    
    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT DISTINCT
            PR.PLACEMENT_REQUEST_CD,
            PR.PLACEMENT_SCHEDULE_CD,
            SYS1.SYSTEM_CD AS REQUEST_APPROVAL_STATUS_CD,
            SYS1.SYSTEM_VALUE AS REQUEST_APPROVAL_STATUS_NM,
            SYS4.SYSTEM_VALUE AS PERIOD_WEEK_NAME,
            PS.PERIOD_NAME,
            PR.DEPARTMENT_CD,
            ORG.DEP AS DEPARTMENT_NM,
            SYS2.SYSTEM_CD AS REQUEST_TYPE_CD,
            SYS2.SYSTEM_VALUE AS REQUEST_TYPE_NM,
            SYS3.SYSTEM_CD AS CAUSE_CATEGORY_CD,
            SYS3.SYSTEM_VALUE AS CAUSE_CATEGORY_NM,
            PR.CREATED_DT, 
            QTY_JOB_POS_ON_PRODUCTION + QTY_JOB_POS_ON_TRAINING + QTY_JOB_POS_OTHER AS TOTAL_NEED,
						QTY_JOB_POS_ON_PRODUCTION AS TOTAL_ON_PRODUCTION,
						QTY_JOB_POS_ON_TRAINING AS TOTAL_TRAINING,
						QTY_JOB_POS_OTHER AS TOTAL_OTHER
        FROM
            TB_R_PLACEMENT_REQUEST PR
        LEFT JOIN TB_M_ORG_RANK ORG ON PR.DEPARTMENT_CD = ORG.DEP_ID
        LEFT JOIN TB_R_PLACEMENT_SCHEDULE PS ON PR.PLACEMENT_SCHEDULE_CD = PS.PLACEMENT_SCHEDULE_CD
        LEFT JOIN TB_M_SYSTEM_MASTER SYS1 ON SYS1.SYSTEM_CD = PR.REQUEST_APPROVAL_STATUS AND SYS1.SYSTEM_TYPE = ''PLACEMENT_APPROVAL''
        LEFT JOIN TB_M_SYSTEM_MASTER SYS2 ON SYS2.SYSTEM_CD = PR.REQUEST_TYPE AND SYS2.SYSTEM_TYPE = ''REQUEST_TYPE''
        LEFT JOIN TB_M_SYSTEM_MASTER SYS3 ON SYS3.SYSTEM_CD = PR.CAUSE_CATEGORY AND SYS3.SYSTEM_TYPE = ''CAUSE_CATEGORY''
        LEFT JOIN TB_M_SYSTEM_MASTER SYS4 ON SYS4.SYSTEM_CD = PS.PERIOD_WEEK AND SYS4.SYSTEM_TYPE = ''WEEK''
        WHERE
            1 = 1';
    
    IF @REQUEST_APPROVAL_STATUS_CD IS NOT NULL AND @REQUEST_APPROVAL_STATUS_CD <> ''
        SET @SQL = @SQL + ' AND SYS1.SYSTEM_CD = @REQUEST_APPROVAL_STATUS_CD';

    IF @DEPARTMENT_CD IS NOT NULL AND @DEPARTMENT_CD <> ''
        SET @SQL = @SQL + ' AND PR.DEPARTMENT_CD = @DEPARTMENT_CD';

    IF @REQUEST_TYPE_CD IS NOT NULL AND @REQUEST_TYPE_CD <> ''
        SET @SQL = @SQL + ' AND SYS2.SYSTEM_CD = @REQUEST_TYPE_CD';    
    
    IF @BATCH IS NOT NULL AND @BATCH <> ''
        SET @SQL = @SQL + ' AND PS.BATCH = @BATCH';    
        
    IF @REQUEST_DATE_FROM IS NOT NULL AND @REQUEST_DATE_FROM <> ''
        SET @SQL = @SQL + ' AND PR.REQUEST_PERIOD >= @REQUEST_DATE_FROM';
    
    IF @REQUEST_DATE_TO IS NOT NULL AND @REQUEST_DATE_TO <> ''
        SET @SQL = @SQL + ' AND PR.REQUEST_PERIOD <= @REQUEST_DATE_TO';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (
            PR.PLACEMENT_REQUEST_CD LIKE ''%'' + @TERM + ''%'' OR 
            PR.PLACEMENT_SCHEDULE_CD LIKE ''%'' + @TERM + ''%'' OR 
            ORG.DEP LIKE ''%'' + @TERM + ''%'' OR 
            SYS1.SYSTEM_VALUE LIKE ''%'' + @TERM + ''%'' OR 
            SYS2.SYSTEM_VALUE LIKE ''%'' + @TERM + ''%'')';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    -- Eksekusi Dynamic SQL
    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @TERM VARCHAR(100), @REQUEST_APPROVAL_STATUS_CD VARCHAR(10), @DEPARTMENT_CD VARCHAR(10), @REQUEST_TYPE_CD VARCHAR(10), @BATCH VARCHAR(20), @REQUEST_DATE_FROM VARCHAR(20), @REQUEST_DATE_TO VARCHAR(20)',
        @Offset = @PAGE,
        @PageSize = @PageSize,
        @TERM = @TERM,
        @REQUEST_APPROVAL_STATUS_CD = @REQUEST_APPROVAL_STATUS_CD,
        @DEPARTMENT_CD = @DEPARTMENT_CD,
        @REQUEST_TYPE_CD = @REQUEST_TYPE_CD,
        @BATCH = @BATCH,
        @REQUEST_DATE_FROM = @REQUEST_DATE_FROM, 
        @REQUEST_DATE_TO = @REQUEST_DATE_TO;
END;
GO
