/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ATTENDANCE_GET_MONTHLY_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ATTENDANCE_GET_MONTHLY_INQUIRY]
    @PAGE INT = 1,
    @PageSize INT = 10,
    @OrderBy VARCHAR(50) = 'FULL_NAME',
    @OrderDirection VARCHAR(5) = 'ASC',
    @TERM VARCHAR(255) = NULL,
    @PERIOD_FROM DATE = NULL,
    @PERIOD_TO DATE = NULL,
    @SECTION_ID VARCHAR(20) = NULL,
    @DEPARTMENT_ID VARCHAR(20) = NULL,
    @LINE_ID VARCHAR(20) = NULL,
    @GROUP_ID VARCHAR(20) = NULL,
    @ATTENDANCE_STATUS VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate and set default values for OrderBy and OrderDirection
    IF @OrderBy NOT IN ('FULL_NAME', 'REGISTRATION_NUMBER', 'WORKING_DAYS', 'PRESENT', 'ABSENT', 'UNEXCUSED', 'ATTENDANCE_PERCENTAGE', 'TOTAL_STUDY_HOURS')
    BEGIN
        SET @OrderBy = 'FULL_NAME';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    -- Set default period if not provided
    IF @PERIOD_FROM IS NULL
        SET @PERIOD_FROM = '1900-01-01'; -- Default to a very old date
    IF @PERIOD_TO IS NULL
        SET @PERIOD_TO = '9999-12-31'; -- Default to a very far future date

    DECLARE @ATT_STATUS_PRESENT VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'PRESENT' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_ABSENT VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'ABSENT' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_CONDITIONAL VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'CONDITIONAL' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @Offset INT = @PAGE;
    
    SET @SQL = '
    WITH AggregatedAttendance AS (
        SELECT
            T2.REGISTRATION_NUMBER,
            T2.FULL_NAME,
            T2.CANDIDATE_NUMBER,
            ORG.DEPARTMENT_ID,
            ORG.SECTION_ID,
            ORG.LINE_ID,
            ORG.GROUP_ID,
            T4.WORKING_DAYS,
            SUM(
							CASE WHEN 
								CONVERT(VARCHAR, WC.WORKING_FLAG) = ''1'' AND 
								T1.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_PRESENT, ',', ''',''') + '''
						) THEN 1
							 WHEN CONVERT(VARCHAR, WC.WORKING_FLAG) = ''1'' AND 
							 T1.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_CONDITIONAL, ',', ''',''') + ''') AND (T1.CLOCK_IN_TIME IS NOT NULL OR T1.CLOCK_OUT_TIME IS NOT NULL) THEN 1
                     WHEN CONVERT(VARCHAR, WC.WORKING_FLAG) = ''1'' AND T1.ATTENDANCE_STATUS IS NULL AND (T1.CLOCK_IN_TIME IS NOT NULL OR T1.CLOCK_OUT_TIME IS NOT NULL) THEN 1
                     ELSE 0 END) AS PRESENT,
            SUM(CASE WHEN CONVERT(VARCHAR, WC.WORKING_FLAG) = ''1'' AND T1.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_ABSENT, ',', ''',''') + ''') THEN 1
                     WHEN CONVERT(VARCHAR, WC.WORKING_FLAG) = ''1'' AND (T1.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_CONDITIONAL, ',', ''',''') + ''') AND T1.CLOCK_IN_TIME IS NULL AND T1.CLOCK_OUT_TIME IS NULL) THEN 1
                     ELSE 0 END) AS ABSENT,
            SUM(CASE WHEN CONVERT(VARCHAR, WC.WORKING_FLAG) = ''1'' AND T1.ATTENDANCE_STATUS IS NULL AND T1.CLOCK_IN_TIME IS NULL AND T1.CLOCK_OUT_TIME IS NULL THEN 1 ELSE 0 END) AS UNEXCUSED,
            SUM(T1.WORK_HOURS) AS TOTAL_STUDY_HOURS
        FROM
            TB_R_ATTENDANCE T1
        INNER JOIN TB_M_WORKING_CALENDAR WC ON T1.ATTENDANCE_DATE = WC.WORKING_DATE
        INNER JOIN
            TB_M_PROFILE T2 ON T1.REGISTRATION_NUMBER = T2.REGISTRATION_NUMBER
        INNER JOIN 
            TB_R_ORG_ASSIGNMENT ORG ON T2.REGISTRATION_NUMBER = ORG.REGISTRATION_NUMBER AND GETDATE() BETWEEN ORG.VALID_FROM AND ORG.VALID_TO
        INNER JOIN
            (SELECT
                REGISTRATION_NUMBER,
                COUNT(WORKING_FLAG) AS WORKING_DAYS
            FROM
                TB_M_WORKING_CALENDAR T3
            LEFT JOIN
                TB_R_ATTENDANCE T1 ON T3.WORKING_DATE = T1.ATTENDANCE_DATE
            WHERE
                T3.WORKING_DATE >= @PERIOD_FROM
                AND T3.WORKING_DATE <= @PERIOD_TO
                AND T3.WORKING_FLAG = 1
            GROUP BY
                REGISTRATION_NUMBER) AS T4 ON T2.REGISTRATION_NUMBER = T4.REGISTRATION_NUMBER
        WHERE
            T1.ATTENDANCE_DATE >= @PERIOD_FROM AND T1.ATTENDANCE_DATE <= @PERIOD_TO'
            
    IF @TERM IS NOT NULL AND TRIM(@TERM) <> ''
        SET @SQL = @SQL + ' AND (T2.FULL_NAME LIKE ''%'' + @TERM_P + ''%'' OR T2.REGISTRATION_NUMBER LIKE ''%'' + @TERM_P + ''%'')';
    
    IF @DEPARTMENT_ID IS NOT NULL AND TRIM(@DEPARTMENT_ID) <> ''
        SET @SQL = @SQL + ' AND ORG.DEPARTMENT_ID = @DEPARTMENT_ID_P';
        
    IF @SECTION_ID IS NOT NULL AND TRIM(@SECTION_ID) <> ''
        SET @SQL = @SQL + ' AND ORG.SECTION_ID = @SECTION_ID_P';
        
    IF @LINE_ID IS NOT NULL AND TRIM(@LINE_ID) <> ''
        SET @SQL = @SQL + ' AND ORG.LINE_ID = @LINE_ID_P';
        
    IF @GROUP_ID IS NOT NULL AND TRIM(@GROUP_ID) <> ''
        SET @SQL = @SQL + ' AND ORG.GROUP_ID = @GROUP_ID_P';
        
    IF @ATTENDANCE_STATUS IS NOT NULL AND TRIM(@ATTENDANCE_STATUS) <> ''
        SET @SQL = @SQL + ' AND T1.ATTENDANCE_STATUS = @ATTENDANCE_STATUS_P';
            
            
        SET @SQL = @SQL + ' GROUP BY
            T2.REGISTRATION_NUMBER, T2.FULL_NAME, T2.CANDIDATE_NUMBER, ORG.DEPARTMENT_ID, ORG.SECTION_ID, ORG.LINE_ID, ORG.GROUP_ID, T4.WORKING_DAYS
    ),
    PaginatedResults AS (
        SELECT
            Agg.*,
            CAST(Agg.PRESENT AS FLOAT) / CAST(Agg.WORKING_DAYS AS FLOAT) * 100 AS ATTENDANCE_PERCENTAGE,
            COUNT(*) OVER() AS TOTAL_ROWS_COUNT
        FROM
            AggregatedAttendance Agg
        WHERE
            1=1 ';



    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        REGISTRATION_NUMBER,
        FULL_NAME,
        CANDIDATE_NUMBER,
        CONVERT(VARCHAR, @PERIOD_FROM, 126) + '' - '' + CONVERT(VARCHAR, @PERIOD_TO, 126) AS PERIOD,
        WORKING_DAYS,
        PRESENT,
        ABSENT,
        UNEXCUSED,
        ATTENDANCE_PERCENTAGE,
        TOTAL_STUDY_HOURS,
        TOTAL_ROWS_COUNT AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    -- Prepare and execute the dynamic SQL
    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @TERM_P VARCHAR(255), @PERIOD_FROM DATE, @PERIOD_TO DATE, @DEPARTMENT_ID_P VARCHAR(20), @SECTION_ID_P VARCHAR(20), @LINE_ID_P VARCHAR(20), @GROUP_ID_P VARCHAR(20), @ATTENDANCE_STATUS_P VARCHAR(10)' ,
        @Offset = @Offset,
        @PageSize = @PageSize,
        @TERM_P = @TERM,
        @PERIOD_FROM = @PERIOD_FROM,
        @PERIOD_TO = @PERIOD_TO,
        @DEPARTMENT_ID_P = @DEPARTMENT_ID,
        @SECTION_ID_P = @SECTION_ID,
        @LINE_ID_P = @LINE_ID,
        @GROUP_ID_P = @GROUP_ID,
        @ATTENDANCE_STATUS_P = @ATTENDANCE_STATUS;
END;
GO
