/****** Object:  StoredProcedure [dbo].[SP_LOG_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LOG_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'CREATED_DT',
    @OrderDirection AS VARCHAR(5) = 'DESC',
    @PROCESS_ID AS VARCHAR(50) = NULL,
    @FUNCTION_CD AS VARCHAR(50) = NULL,
    @PROCESS_START_DT AS DATETIME = NULL,
    @PROCESS_END_DT AS DATETIME = NULL,
    @STATUS AS VARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('PROCESS_ID', 'FUNCTION_CD', 'PROCESS_STS', 'PROCESS_START_DT', 'PROCESS_END_DT', 'CREATED_DT')
    BEGIN
        SET @OrderBy = 'CREATED_DT';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
            T.PROCESS_ID,
            T.FUNCTION_CD,
            T.PROCESS_STS,
            SYS.SYSTEM_VALUE AS PROCESS_NM,
            T.PROCESS_START_DT,
            T.PROCESS_END_DT,
            T.CREATED_BY,
            T.CREATED_DT,
            T.CHANGED_BY,
            T.CHANGED_DT,
            (SELECT COUNT(1) FROM TB_R_LOG_D WHERE PROCESS_ID = T.PROCESS_ID) AS TOTAL_PROCESS
        FROM
            TB_R_LOG_H T 
            LEFT JOIN TB_M_SYSTEM_MASTER SYS ON T.PROCESS_STS = SYS.SYSTEM_CD AND SYS.SYSTEM_TYPE = ''PROCESS_STATUS''
        WHERE 1=1 ';

    IF @PROCESS_ID IS NOT NULL AND @PROCESS_ID <> ''
        SET @SQL = @SQL + ' AND T.PROCESS_ID LIKE ''%'' + @PROCESS_ID + ''%''';
        
    IF @FUNCTION_CD IS NOT NULL AND @FUNCTION_CD <> ''
        SET @SQL = @SQL + ' AND T.FUNCTION_CD = @FUNCTION_CD';
        
    IF @PROCESS_START_DT IS NOT NULL AND @PROCESS_START_DT <> ''
        SET @SQL = @SQL + ' AND T.PROCESS_START_DT >= @PROCESS_START_DT';
        
    IF @PROCESS_END_DT IS NOT NULL AND @PROCESS_END_DT <> ''
        SET @SQL = @SQL + ' AND T.PROCESS_END_DT <= @PROCESS_END_DT';
    
     IF @STATUS IS NOT NULL AND @STATUS <> ''
        SET @SQL = @SQL + ' AND T.PROCESS_STS = @STATUS';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
        OFFSET @Offset ROWS
        FETCH NEXT @PageSize ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @PROCESS_ID VARCHAR(50), @FUNCTION_CD VARCHAR(50), @PROCESS_START_DT DATETIME, @PROCESS_END_DT DATETIME, @STATUS VARCHAR(50)',
        @Offset = @PAGE,
        @PageSize = @PageSize,
        @PROCESS_ID = @PROCESS_ID,
        @FUNCTION_CD = @FUNCTION_CD,
        @PROCESS_START_DT = @PROCESS_START_DT,
        @PROCESS_END_DT = @PROCESS_END_DT, 
        @STATUS = @STATUS;
END;
GO
