/****** Object:  StoredProcedure [dbo].[SP_MASTER_SCHOOL_STORE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_SCHOOL_STORE]
    @SCHOOL_CD AS VARCHAR(20) = NULL,
    @NAME AS VARCHAR(150),
    @VOCATIONAL_CENTER_CD AS VARCHAR(20),
    @PROVINCE_CD AS VARCHAR(20),
    @CITY_CD AS VARCHAR(20),
    @DISTRICT_CD AS VARCHAR(20),
    @VILLAGE_CD AS VARCHAR(20),
    @ADDRESS AS VARCHAR(150),
    @CP_NAME AS VARCHAR(50),
    @CP_PHONE AS VARCHAR(15),
    @EMAIL AS VARCHAR(50),
    @IS_ACTIVE AS BIT,
    @MAJOR_LIST AS NVARCHAR(MAX),
    @MODE AS VARCHAR(10),
    @USER_ID AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Mulai transaksi untuk memastikan semua operasi berhasil atau gagal bersama-sama
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Logika untuk mode 'Add'
        IF @MODE = 'Add'
        BEGIN
           -- Generate SCHOOL_CD baru
            DECLARE @New_SCHOOL_CD VARCHAR(50);
            DECLARE @TodayDate VARCHAR(8);
            DECLARE @LastIncrement INT;

            -- Ambil tanggal hari ini dalam format DDMMYYYY
            SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

            -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
            SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(SCHOOL_CD, 4) AS INT)), 0)
            FROM [dbo].[TB_M_SCHOOL]
            WHERE SCHOOL_CD LIKE 'SCH-' + @TodayDate + '%';

            -- Tambahkan 1 untuk mendapatkan nomor urut berikutnya
            SET @LastIncrement = @LastIncrement + 1;

            -- Format SCHOOL_CD baru
            SET @New_SCHOOL_CD = 'SCH-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement AS VARCHAR(4)), 4);
            
            -- Insert data ke tabel TB_M_SCHOOL
            INSERT INTO [dbo].[TB_M_SCHOOL] (
                SCHOOL_CD, VOCATIONAL_CENTER_CD, NAME, PROVINCE_CD, CITY_CD,
                DISTRICT_CD, VILLAGE_CD, ADDRESS, CP_NAME, CP_PHONE,
                EMAIL, IS_ACTIVE, IS_DELETED, CREATED_BY, CREATED_DT
            )
            VALUES (
                @New_SCHOOL_CD, @VOCATIONAL_CENTER_CD, @NAME, @PROVINCE_CD, @CITY_CD,
                @DISTRICT_CD, @VILLAGE_CD, @ADDRESS, @CP_NAME, @CP_PHONE,
                @EMAIL, @IS_ACTIVE, 0, @USER_ID, GETDATE()
            );

            -- Ganti placeholder SCHOOL_CD dengan yang baru digenerate
            SET @MAJOR_LIST = REPLACE(@MAJOR_LIST, '[SCHOOL_CD]', @New_SCHOOL_CD);

            -- Insert data ke tabel TB_M_SCHOOL_MAJOR (jika ada)
            IF @MAJOR_LIST IS NOT NULL AND @MAJOR_LIST <> ''
            BEGIN
                EXEC sp_executesql @MAJOR_LIST;
            END

            COMMIT TRANSACTION;
            SELECT 'true' AS status, 'Success storing new data.' AS message;
        END

        -- Logika untuk mode 'Edit'
        ELSE IF @MODE = 'Edit'
        BEGIN
            -- Cek apakah data sekolah yang akan diupdate ada dan belum dihapus secara soft-delete
            IF EXISTS (SELECT 1 FROM [dbo].[TB_M_SCHOOL] WHERE SCHOOL_CD = @SCHOOL_CD AND COALESCE(IS_DELETED, 0) = 0)
            BEGIN
                UPDATE [dbo].[TB_M_SCHOOL]
                SET
                    NAME = @NAME,
                    VOCATIONAL_CENTER_CD = @VOCATIONAL_CENTER_CD,
                    PROVINCE_CD = @PROVINCE_CD,
                    CITY_CD = @CITY_CD,
                    DISTRICT_CD = @DISTRICT_CD,
                    VILLAGE_CD = @VILLAGE_CD,
                    ADDRESS = @ADDRESS,
                    CP_NAME = @CP_NAME,
                    CP_PHONE = @CP_PHONE,
                    EMAIL = @EMAIL,
                    IS_ACTIVE = @IS_ACTIVE,
                    UPDATED_BY = @USER_ID,
                    UPDATED_DT = GETDATE()
                WHERE
                    SCHOOL_CD = @SCHOOL_CD;
                
                IF @MAJOR_LIST IS NOT NULL AND @MAJOR_LIST <> ''
                BEGIN
                    DROP TABLE IF EXISTS #TempMajorSchool;
                
                    CREATE TABLE #TempMajorSchool (
                        SCHOOL_MAJOR_CD VARCHAR(50),
                        SCHOOL_CD VARCHAR(50),
                        MAJOR_NAME VARCHAR(150),
                        CREATED_BY VARCHAR(50),
                        CREATED_DT DATETIME
                    );
                  
                    SET @MAJOR_LIST = REPLACE(@MAJOR_LIST, '[SCHOOL_CD]', @SCHOOL_CD);
                    SET @MAJOR_LIST = REPLACE(@MAJOR_LIST, 'TB_M_SCHOOL_MAJOR', '#TempMajorSchool');
                    EXEC sp_executesql @MAJOR_LIST;

                    MERGE INTO [dbo].[TB_M_SCHOOL_MAJOR] AS target
                    USING #TempMajorSchool AS source
                    ON (target.SCHOOL_CD = source.SCHOOL_CD AND target.MAJOR_NAME = source.MAJOR_NAME)
                    WHEN NOT MATCHED BY target THEN
                        INSERT (SCHOOL_MAJOR_CD, SCHOOL_CD, MAJOR_NAME, CREATED_BY, CREATED_DT)
                        VALUES (source.SCHOOL_MAJOR_CD, source.SCHOOL_CD, source.MAJOR_NAME, @USER_ID, GETDATE())
                    WHEN NOT MATCHED BY source AND target.SCHOOL_CD = @SCHOOL_CD THEN
                        DELETE;
                END

                COMMIT TRANSACTION;
                SELECT 'true' AS status, 'Success updating data.' AS message;
            END
            ELSE
            BEGIN
                ROLLBACK TRANSACTION;
                SELECT 'false' AS status, 'No active record found with the provided School Code for update.' AS message;
            END
        END
        ELSE
        BEGIN
            -- Jika MODE tidak valid, rollback transaksi
            ROLLBACK TRANSACTION;

            -- Kembalikan pesan gagal
            SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
        END
    END TRY
    BEGIN CATCH
        -- Jika terjadi error, rollback semua perubahan
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
