/****** Object:  StoredProcedure [dbo].[SP_MASTER_ORGRANK_STORE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ORGRANK_STORE]
	@TABLEORGRANKPOS   [dbo].[ORG_RANK_POS]   readonly,  
	@MODE varchar(10),
	@USER_ID AS VARCHAR(50) = ''-- New parameter for CREATED_BY/UPDATED_BY
AS
BEGIN
    SET NOCOUNT ON; -- Improves performance by suppressing message counts

    -- Declare variables for converted values
    DECLARE @IS_ACTIVE_BIT AS BIT;
	DECLARE @EXISTING_COUNT AS INT;


	 
		DECLARE  @ORG_POS_CD VARCHAR(20)
		DECLARE @NO INT
		DECLARE @POS_CATEGORY_CD as VARCHAR(50)
		DECLARE @POS_CATEGORY AS VARCHAR(15)
		DECLARE @VOCATION_TYPE AS VARCHAR(50)
		DECLARE @MALE_MANPOWER AS int
		DECLARE @FEMALE_MANPOWER AS int
		DECLARE @ORG_RANK_CD AS VARCHAR(20)
		DECLARE @CITY_CD_CRITERIA AS VARCHAR(20)
		DECLARE @CITY_CRITERIA AS VARCHAR(255)
		DECLARE @HEIGHT_MIN AS INT
		DECLARE @HEIGHT_MAX AS INT
		DECLARE @WEIGHT_MIN AS INT
		DECLARE @WEIGHT_MAX AS INT
		--DECLARE @REQUESTOR_ROLE AS VARCHAR(100)
		--DECLARE @DESCRIPTION varchar(250)
		--DECLARE @APPROVAL_TYPE  varchar(50)
		--DECLARE @APPROVAL_SEQ int
		--DECLARE @MIN_VALUE decimal(18,2)
		--DECLARE @MAX_VALUE decimal(18,2)
		--DECLARE @APPROVER_ROLE varchar(150)
		--DECLARE @APPROVAL_POSITION varchar(150)
		--DECLARE @COORDINATOR_NAME varchar(150)
		--DECLARE @IS_MANDATORY BIT
		--DECLARE @IS_FINAL_APPROVAL BIT
		--DECLARE @IS_SPECIAL_APPROVAL BIT
		--DECLARE @VALID_FROM DATETIME
		--DECLARE @VALID_TO DATETIME
        -- Convert @IS_ACTIVE to BIT. Handles '0' or '1' string input.
        --SET @IS_ACTIVE_BIT = CAST(@IS_ACTIVE AS BIT);

		
		IF (@MODE = 'Add' OR @MODE = 'Edit')
		BEGIN
			BEGIN TRY
				BEGIN TRANSACTION
				--IF @MODE = 'Add'
				--BEGIN
					declare @i int = 0
					DECLARE CURSORS1 CURSOR LOCAL FOR
					SELECT ORG_POS_CD, ORG_RANK_CD,NO,MALE_MANPOWER,FEMALE_MANPOWER,CITY_CD_CRITERIA,CITY_CRITERIA,HEIGHT_MIN,HEIGHT_MAX,WEIGHT_MIN,WEIGHT_MAX FROM @TABLEORGRANKPOS WHERE MODE = 'ADD'
					OPEN CURSORS1

					FETCH NEXT FROM CURSORS1 
					INTO @ORG_POS_CD,@ORG_RANK_CD,@NO,@MALE_MANPOWER,@FEMALE_MANPOWER,@CITY_CD_CRITERIA,@CITY_CRITERIA,@HEIGHT_MIN,@HEIGHT_MAX,@WEIGHT_MIN,@WEIGHT_MAX

					WHILE @@FETCH_STATUS = 0
					BEGIN
						DECLARE @LAST as VARCHAR(6)
						DECLARE @MIDDLEFORMAT as VARCHAR(6)
						--SET @i = @i+1;
						SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
						SET @LAST = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(ORG_POS_CD,6) AS int)),0)+(@i+1) AS VARCHAR(6)),6) FROM TB_M_ORG_POS WHERE ORG_POS_CD LIKE '%OP-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2) + '%')
						-- Insert statement
						--print 'AM-'+  @MIDDLEFORMAT +'-'+@LAST
						--select * from TB_M_ORG_POS
						SELECT @VOCATION_TYPE = LABOR_CD,@POS_CATEGORY_CD = CASE WHEN @NO in (1,2) then (SELECT SYSTEM_ID FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_TYPE = 'POS_CATEGORY' and SYSTEM_VALUE='Green') else (SELECT SYSTEM_ID FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_TYPE = 'POS_CATEGORY' and SYSTEM_VALUE='Other') END , @POS_CATEGORY = CASE WHEN @NO in (1,2) then 'GREEN' else 'OTHER' END FROM  [dbo].[TB_M_LABOR_TYPE] WHERE LABOR_TYPE = CAST(@NO as varchar(1))
						
						INSERT INTO TB_M_ORG_POS
						VALUES
						('OP-'+  @MIDDLEFORMAT +'-'+@LAST,@ORG_RANK_CD,@POS_CATEGORY_CD,@POS_CATEGORY,@VOCATION_TYPE,@MALE_MANPOWER,@FEMALE_MANPOWER,@CITY_CD_CRITERIA,@CITY_CRITERIA,@HEIGHT_MIN,@HEIGHT_MAX
						,@WEIGHT_MIN,@WEIGHT_MAX,GETDATE(),@USER_ID,NULL,NULL) --FROM @TABLEAPPROVALMATRIX  --WHERE MODE = 'ADD'
						
					FETCH NEXT FROM CURSORS1
					INTO @ORG_POS_CD,@ORG_RANK_CD,@NO,@MALE_MANPOWER,@FEMALE_MANPOWER,@CITY_CD_CRITERIA,@CITY_CRITERIA,@HEIGHT_MIN,@HEIGHT_MAX,@WEIGHT_MIN,@WEIGHT_MAX
					END
					CLOSE CURSORS1
					DEALLOCATE CURSORS1
					

					
				--END
				--ELSE IF @MODE = 'Edit'
				--BEGIN 
					UPDATE A
					SET
						--A.POS_CATEGORY = B.POS_CATEGORY,
						--A.VOCATION_TYPE = B.VOCATION_TYPE,
						A.MALE_MANPOWER = B.MALE_MANPOWER,
						A.FEMALE_MANPOWER = B.FEMALE_MANPOWER,
						A.CITY_CD_CRITERIA = B.CITY_CD_CRITERIA,
						A.CITY_CRITERIA = B.CITY_CRITERIA,
						A.HEIGHT_MIN = B.HEIGHT_MIN,
						A.HEIGHT_MAX = B.HEIGHT_MAX,
						A.WEIGHT_MIN = B.WEIGHT_MIN,
						A.WEIGHT_MAX = B.WEIGHT_MAX
					FROM
						TB_M_ORG_POS A 
					INNER JOIN
						@TABLEORGRANKPOS B ON A.ORG_POS_CD = B.ORG_POS_CD
					INNER JOIN TB_M_LABOR_TYPE C ON C.LABOR_CD = A.VOCATION_TYPE AND C.LABOR_TYPE = B.NO
					WHERE
					B.MODE = 'EDIT'

					--INSERT INTO TB_M_APPROVAL_MATRIX
					--SELECT [APPROVAL_MATRIX_CD],[PURPOSE_CD],[BRANCH_CD],[DESCRIPTION],[ORG_NAME],[APPROVAL_TYPE],[APPROVAL_SEQ],[MIN_VALUE],[MAX_VALUE]
					--,[APPROVER_ROLE],[APPROVAL_POSITION],[REQUESTOR_ROLE],[COORDINATOR_ID],[COORDINATOR_NAME],[IS_MANDATORY],[IS_FINAL_APPROVAL],[IS_SPECIAL_APPROVAL],
					--[VALID_FROM],[VALID_TO],IS_ACTIVE,CREATED_BY = @USER_ID, CREATED_DT = GETDATE(),NULL,NULL,NULL,NULL FROM @TABLEAPPROVALMATRIX WHERE MODE = 'ADD'
				--END
				COMMIT TRANSACTION
				SELECT 'true' AS status, 'Success storing new data.' AS message;

			END TRY
			BEGIN CATCH
				ROLLBACK TRANSACTION
				-- Error handling
				SELECT 'false' AS status, ERROR_MESSAGE() AS message;
			END CATCH
		END
		ELSE
		BEGIN
			-- Invalid MODE
			SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
		END
            -- Check if SYSTEM_TYPE and SYSTEM_CD already exist       
    
AKHIR:
END;
GO
