/****** Object:  StoredProcedure [dbo].[SP_MASTER_EXCELFILE_UPLOAD_CANDIDATE_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_EXCELFILE_UPLOAD_CANDIDATE_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'DOCUMENT_NAME',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @FILTER AS VARCHAR(100) = '',
	@PERIODFROM AS DATE,
	@PERIODTO AS DATE
AS
BEGIN
    SET NOCOUNT ON;

    IF isnull(@OrderBy,'') = ''
		set @OrderBy = 'DOCUMENT_NAME'
    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT [HISTORY_UPLOAD_CD], URL_FILE = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_TYPE = ''VOCATION_PORTAL'' AND SYSTEM_CD = ''URL'') + ''/Common/DownloadFile?filename='' + DOCUMENT_NAME,[DOCUMENT_NAME],[STATUS],TOTAL_DATA=ISNULL(TOTAL_DATA,0),[DATA_SUCCESS]=ISNULL([TOTAL_DATA_SUCCESS_VALIDATION],0),[DATA_FAILED]=ISNULL([TOTAL_DATA_FAILED_VALIDATION],0),[UPLOAD_DATE],[UPLOAD_BY]
        FROM
            [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] A WHERE 1=1 AND UPLOAD_DATE BETWEEN @PERIODFROM AND @PERIODTO ';

    IF @FILTER IS NOT NULL AND @FILTER <> ''
        SET @SQL = @SQL + ' AND (
          [DOCUMENT_NAME] LIKE ''%'' + @FILTER + ''%'' OR 
		  [UPLOAD_BY] LIKE ''%'' + @FILTER + ''%'' OR
		  [STATUS] LIKE ''%'' + @FILTER + ''%'' 
        )';
        
	--IF @REQUESTERROLE IS NOT NULL AND @REQUESTERROLE <> ''
 --     SET @SQL = @SQL + ' AND [REQUESTOR_ROLE] = @REQUESTERROLE ';
    
    --IF @STATUS IS NOT NULL AND @STATUS <> ''
    --  SET @SQL = @SQL + ' AND ISNULL(A.IS_ACTIVE,1) = @STATUS';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @FILTER AS VARCHAR(100), @PERIODFROM DATE, @PERIODTO DATE  ',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
        @FILTER = @FILTER,
		@PERIODFROM = @PERIODFROM,
		@PERIODTO = @PERIODTO;

		
END;
GO
