/****** Object:  StoredProcedure [dbo].[SP_MASTER_ATTRIBUTE_GET_DETAIL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ATTRIBUTE_GET_DETAIL]
    @ATTRIBUTE_CD AS VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      ATTRIBUTE_CD,
      ATTRIBUTE_NAME,
      ATTRIBUTE_VALUE,
      DESCRIPTION,
      IS_ACTIVE,
      CREATED_BY,
      CREATED_DT,
      UPDATED_BY,
      UPDATED_DT

    FROM
      TB_M_ATTRIBUTES
    WHERE
      ATTRIBUTE_CD = @ATTRIBUTE_CD
      AND COALESCE(IS_DELETED, 0) = 0;
END;
GO
