/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_STORE_FAMILY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_STORE_FAMILY]
    @FAMILY_LIST nvarchar(max),
    @CREATED_BY varchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        DROP TABLE IF EXISTS #TempFamily;

        CREATE TABLE #TempFamily (
            FAMILY_CD NVARCHAR(20),
            REGISTRATION_NUMBER NVARCHAR(20),
            TYPE VARCHAR(20),
            RELATION VARCHAR(150),
            FULL_NAME VARCHAR(255),
            ADDRESS NVARCHAR(MAX),
            VILLAGE VARCHAR(150),
            DISTRICT VARCHAR(150),
            CITY VARCHAR(150),
            PROVINCE VARCHAR(150),
            POSTALCODE VARCHAR(20),
            PHONE VARCHAR(20),
            RT VARCHAR(10),
            RW VARCHAR(10)
        );

        EXEC sp_executesql @FAMILY_LIST;

        DECLARE @REGISTRATION_NUMBER NVARCHAR(20) = (SELECT TOP 1 REGISTRATION_NUMBER FROM #TempFamily);
        DECLARE @TodayDate VARCHAR(8);
        DECLARE @LastIncrement INT;

        -- Ambil tanggal hari ini dalam format DDMMYYYY
        SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

        -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
        SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(FAMILY_CD, 4) AS INT)), 0)
        FROM [dbo].[TB_M_PROFILE_FAMILY]
        WHERE FAMILY_CD LIKE 'FA-' + @TodayDate + '%';

        -- Gunakan MERGE untuk melakukan INSERT, UPDATE, dan DELETE
        MERGE TB_M_PROFILE_FAMILY AS Target
        USING (
            SELECT
                ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS RowNumber, -- Digunakan untuk increment
                FAMILY_CD,
                REGISTRATION_NUMBER,
                TYPE,
                RELATION,
                FULL_NAME,
                ADDRESS,
                VILLAGE,
                DISTRICT,
                CITY,
                PROVINCE,
                POSTALCODE,
                PHONE,
                RT,
                RW
            FROM #TempFamily
        ) AS Source
        ON (Target.FAMILY_CD = Source.FAMILY_CD)
        WHEN NOT MATCHED BY Target THEN
            INSERT (
                FAMILY_CD, -- Insert FAMILY_CD yang di-generate
                REGISTRATION_NUMBER,
                TYPE,
                RELATION,
                FULL_NAME,
                ADDRESS,
                VILLAGE,
                DISTRICT,
                CITY,
                PROVINCE,
                POSTALCODE,
                PHONE,
                RT,
                RW,
                CREATED_BY,
                CREATED_DT
            )
            VALUES (
                'FA-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement + Source.RowNumber AS VARCHAR(4)), 4),
                @REGISTRATION_NUMBER,
                Source.TYPE,
                Source.RELATION,
                Source.FULL_NAME,
                Source.ADDRESS,
                Source.VILLAGE,
                Source.DISTRICT,
                Source.CITY,
                Source.PROVINCE,
                Source.POSTALCODE,
                Source.PHONE,
                Source.RT,
                Source.RW,
                @CREATED_BY,
                GETDATE()
            )
        WHEN MATCHED THEN
            UPDATE SET
                Target.TYPE = Source.TYPE,
                Target.RELATION = Source.RELATION,
                Target.FULL_NAME = Source.FULL_NAME,
                Target.ADDRESS = Source.ADDRESS,
                Target.VILLAGE = Source.VILLAGE,
                Target.DISTRICT = Source.DISTRICT,
                Target.CITY = Source.CITY,
                Target.PROVINCE = Source.PROVINCE,
                Target.POSTALCODE = Source.POSTALCODE,
                Target.PHONE = Source.PHONE,
                Target.RT = Source.RT,
                Target.RW = Source.RW,
                Target.UPDATED_BY = @CREATED_BY,
                Target.UPDATED_DT = GETDATE()
        WHEN NOT MATCHED BY Source AND Target.REGISTRATION_NUMBER = @REGISTRATION_NUMBER THEN
            DELETE;

        SELECT 'true' AS status, 'Success updating family data.' AS message;

    END TRY
    BEGIN CATCH
        SELECT 'false' AS status, ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
