/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERS_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERS_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'CREATED_DT',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @ROLE_CD AS VARCHAR(100) = NULL,
    @LEVEL_CD AS VARCHAR(100) = NULL,
    @TERM AS VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('USER_CD', 'FULL_NAME', 'NOREG', 'ROLE_NAME', 'LEVEL_CD', 'EMAIL', 'PHONE', 'CREATED_DT')
    BEGIN
        SET @OrderBy = 'CREATED_DT';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
            WITH PaginatedResults AS (
                SELECT
          U.USER_CD,
          U.FULL_NAME,
          U.NOREG,
          STRING_AGG (SYS.SYSTEM_CD + ''-'' + SYS.SYSTEM_VALUE + ''-'' + SYS_COLOR.SYSTEM_VALUE  + ''-'' + R.ROLE_NAME, '', '') AS ROLE_NAME,
--           STUFF(
--             (
--               SELECT DISTINCT
--                 '','' + t2.SYSTEM_CD
--               FROM
--                 TB_M_SYSTEM_MASTER AS t2
--               WHERE
--                 t2.SYSTEM_CD = SYS.SYSTEM_CD
--                 AND t2.SYSTEM_TYPE = SYS.SYSTEM_TYPE FOR XML PATH ('''')
--                 ),
--                 1,
--                 1,
--                 ''''
--             ) AS LEVEL_CD,
--             STUFF(
--               (
--                 SELECT DISTINCT
--                   '','' + ''Level '' + t2.SYSTEM_CD + '' - '' + t2.SYSTEM_VALUE
--                 FROM
--                   TB_M_SYSTEM_MASTER AS t2
--                 WHERE
--                   t2.SYSTEM_CD = SYS.SYSTEM_CD
--                   AND t2.SYSTEM_TYPE = SYS.SYSTEM_TYPE FOR XML PATH ('''')
--                   ),
--                   1,
--                   1,
--                   ''''
--               ) AS LEVEL,
--               STUFF(
--             (
--               SELECT DISTINCT
--                 '','' + t3.SYSTEM_VALUE
--               FROM
--                 TB_M_SYSTEM_MASTER AS t3
--               WHERE
--                 t3.SYSTEM_CD = SYS_COLOR.SYSTEM_CD
--                 AND t3.SYSTEM_TYPE = SYS_COLOR.SYSTEM_TYPE FOR XML PATH ('''')
--                 ),
--                 1,
--                 1,
--                 ''''
--             ) AS LEVEL_COLOR,
              U.EMAIL,
              U.PHONE,
              U.CREATED_DT,
              U.CREATED_BY,
              STRING_AGG (SYS.SYSTEM_CD, '','') AS LVL
              FROM
                TB_M_USERS U
                LEFT JOIN TB_R_USER_ROLES UR ON U.USER_CD = UR.USER_CD
                LEFT JOIN TB_M_ROLES R ON UR.ROLE_CD = R.ROLE_CD
                LEFT JOIN TB_M_SYSTEM_MASTER SYS ON SYS.SYSTEM_TYPE = ''LEVEL'' AND SYS.SYSTEM_CD = R.ROLE_LEVEL AND SYS.SYSTEM_CD = R.ROLE_LEVEL
                LEFT JOIN TB_M_SYSTEM_MASTER SYS_COLOR ON SYS_COLOR.SYSTEM_TYPE = ''LEVEL_COLOR'' AND SYS_COLOR.SYSTEM_CD = R.ROLE_LEVEL AND SYS_COLOR.SYSTEM_CD = R.ROLE_LEVEL
                WHERE 1=1 AND COALESCE(U.IS_DELETED, 0) = ''0'' 
                ';
                
    IF @ROLE_CD IS NOT NULL AND @ROLE_CD <> ''
        SET @SQL = @SQL + ' AND R.ROLE_CD = @ROLE_CD';
        
    IF @LEVEL_CD IS NOT NULL AND @LEVEL_CD <> ''
        SET @SQL = @SQL + ' AND SYS.SYSTEM_CD = @LEVEL_CD';
        
    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (
          U.USER_CD LIKE ''%'' + @TERM + ''%'' OR 
          U.FULL_NAME LIKE ''%'' + @TERM + ''%'' OR 
          U.NOREG LIKE ''%'' + @TERM + ''%'' OR 
          U.EMAIL LIKE ''%'' + @TERM + ''%'' OR 
          R.ROLE_NAME LIKE ''%'' + @TERM + ''%'' OR
          SYS.SYSTEM_VALUE LIKE ''%'' + @TERM + ''%''
        )';
                
    SET @SQL =  @SQL + ' GROUP BY
                U.USER_CD,
                U.FULL_NAME,
                U.NOREG,
                U.EMAIL,
                U.PHONE,
                U.CREATED_DT,
                U.CREATED_BY
            ';

    

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        pr.*,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT,
        SYS.SYSTEM_CD AS LEVEL_CD,
        SYS_COLOR.SYSTEM_VALUE AS LEVEL_COLOR,
        ''Level '' + SYS.SYSTEM_CD + '' - '' + SYS.SYSTEM_VALUE AS LEVEL
    FROM
        PaginatedResults pr
    LEFT JOIN (SELECT SYSTEM_TYPE, SYSTEM_CD, SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER) SYS ON SYS.SYSTEM_TYPE = ''LEVEL'' AND SYS.SYSTEM_CD =  (SELECT TOP 1 value FROM STRING_SPLIT(LVL, '','') ORDER BY VALUE ASC)
    LEFT JOIN (SELECT SYSTEM_TYPE, SYSTEM_CD, SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER) SYS_COLOR ON SYS_COLOR.SYSTEM_TYPE = ''LEVEL_COLOR'' AND SYS_COLOR.SYSTEM_CD =  (SELECT TOP 1 value FROM STRING_SPLIT(LVL, '','') ORDER BY VALUE ASC)
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @TERM VARCHAR(100), @ROLE_CD VARCHAR(100), @LEVEL_CD VARCHAR(100)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
        @TERM = @TERM,
        @ROLE_CD = @ROLE_CD,
        @LEVEL_CD = @LEVEL_CD;
END;
GO
