/****** Object:  Table [dbo].[TB_R_CLOSING_ATTENDANCE_SUMMARY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_CLOSING_ATTENDANCE_SUMMARY](
	[ATT_SUMMARY_CD] [varchar](100) NOT NULL,
	[REGISTRATION_NUMBER] [varchar](20) NULL,
	[PERIOD] [varchar](10) NULL,
	[TOTAL_WORKING_DAYS] [int] NULL,
	[PRESENT_DAYS] [int] NULL,
	[SICK_DAYS] [int] NULL,
	[LEAVE_DAYS] [int] NULL,
	[ABSENT_DAYS] [int] NULL,
	[LATE_COUNT] [int] NULL,
	[EARLY_LEAVE_COUNT] [int] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[CLOSING_ATTENDANCE_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ATT_SUMMARY_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
