/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ROTATION_REQUEST_APPROVE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ROTATION_REQUEST_APPROVE]
    @TRANSFER_CD VARCHAR(50),
    @CREATED_BY VARCHAR(50)
AS 
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsAffected INT;
    DECLARE @APPROVAL_SEQ INT;
    DECLARE @TOTAL_APPROVED INT;
    DECLARE @TOTAL_APPROVAL INT;
    DECLARE @PENDING_APPROVAL INT;
    DECLARE @NOREG VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @CREATED_BY);

    SELECT
        @APPROVAL_SEQ = APPROVAL_SEQ
    FROM TB_R_VOC_TRANSFER_APPROVAL
    WHERE TRANSFER_CD = @TRANSFER_CD AND APPROVAL_NOREG = @NOREG;

    SELECT 
        @PENDING_APPROVAL = COUNT(1) 
    FROM TB_R_VOC_TRANSFER_APPROVAL 
    WHERE 
        TRANSFER_CD = @TRANSFER_CD 
        AND APPROVAL_SEQ < @APPROVAL_SEQ 
        AND APPROVAL_STATUS = 0;

    IF @PENDING_APPROVAL > 0 BEGIN
        SELECT 'false' AS status, 'Approval requires sequential order.' AS message;
        RETURN;
    END

    SELECT @TOTAL_APPROVED = SUM(COALESCE(APPROVAL_STATUS, 0)), @TOTAL_APPROVAL = COUNT(1)
    FROM TB_R_VOC_TRANSFER_APPROVAL 
    WHERE 
        TRANSFER_CD = @TRANSFER_CD;


    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE TB_R_VOC_TRANSFER_APPROVAL
        SET 
            APPROVAL_DATE = GETDATE(),
            APPROVAL_STATUS = '1',
            UPDATED_BY = @CREATED_BY,
            UPDATED_DT = GETDATE()
        WHERE TRANSFER_CD = @TRANSFER_CD AND APPROVAL_NOREG = @NOREG;

        -- Add Log 
        DECLARE @LastIncrement INT;
        DECLARE @TodayDate VARCHAR(8);
        DECLARE @New_LOG_CD VARCHAR(50);
        
        SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

        SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(LOG_CD, 4) AS INT)), 0)
        FROM [dbo].[TB_R_VOC_TRANSFER_STATUS_LOG]
        WHERE LOG_CD LIKE 'LOG-' + @TodayDate + '%';

        SET @LastIncrement = @LastIncrement + 1;
        SET @New_LOG_CD = 'LOG-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement AS VARCHAR(4)), 4);

        INSERT INTO TB_R_VOC_TRANSFER_STATUS_LOG (
            LOG_CD, TRANSFER_CD, OLD_STATUS, NEW_STATUS, ACTION_BY, ACTION_DATE
        ) VALUES (
            @New_LOG_CD, @TRANSFER_CD, '0', '1', @CREATED_BY, GETDATE()
        );
        -- End Add Log

        SET @RowsAffected = @@ROWCOUNT;

        IF ((@TOTAL_APPROVED + 1) = @TOTAL_APPROVAL) BEGIN
            UPDATE TB_R_VOC_TRANSFER_H SET 
                STATUS = '1',
                UPDATED_BY = @CREATED_BY,
                UPDATED_DT = GETDATE()
            WHERE TRANSFER_CD = @TRANSFER_CD;

        END ELSE BEGIN
            UPDATE TB_R_VOC_TRANSFER_H SET 
            UPDATED_BY = @CREATED_BY,
            UPDATED_DT = GETDATE()
            WHERE TRANSFER_CD = @TRANSFER_CD;
        END

        IF @RowsAffected > 0
        BEGIN
            COMMIT TRANSACTION;
            -- Mengembalikan respons sukses
            SELECT 'true' AS status, 'Success approve data.' AS message;
        END
        ELSE
        BEGIN
            IF @@TRANCOUNT > 0
            BEGIN
                ROLLBACK TRANSACTION;
            END;
            -- Jika tidak ada baris yang di-update, batalkan transaksi dan kembalikan pesan kesalahan
            -- Mengembalikan respons gagal
            SELECT 'false' AS status, 'No rotation request data was found or updated with the provided code.' AS message;
        END

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;
        -- Mengembalikan pesan kesalahan dari sistem
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
