/****** Object:  Table [dbo].[TB_T_PLACEMENT_REQUEST_VOCATION_LIST]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_T_PLACEMENT_REQUEST_VOCATION_LIST](
	[REGISTRATION_NUMBER] [varchar](50) NOT NULL,
	[ACTION] [varchar](10) NOT NULL,
	[PLACEMENT_REQUEST_CD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_VocationList] PRIMARY KEY CLUSTERED 
(
	[REGISTRATION_NUMBER] ASC,
	[PLACEMENT_REQUEST_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
