/****** Object:  Table [dbo].[TB_R_LOG_D]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_LOG_D](
	[PROCESS_ID] [varchar](20) NOT NULL,
	[SEQ_NO] [int] NOT NULL,
	[MSG_TYPE] [varchar](4) NULL,
	[MSG] [varchar](max) NULL,
	[LOCATION] [varchar](100) NULL,
	[PROCESS_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](50) NULL,
	[CHANGED_DT] [datetime] NULL,
 CONSTRAINT [PK__TB_R_LOG__213BA3CF4A73CA7C] PRIMARY KEY CLUSTERED 
(
	[PROCESS_ID] ASC,
	[SEQ_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_LOG_D] ADD  DEFAULT ('System') FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[TB_R_LOG_D] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
