/****** Object:  StoredProcedure [dbo].[SP_AUTH_SEND_OTP]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_SEND_OTP]
    @ID AS VARCHAR(100), -- Input parameter: Can be either a Username or Email to identify the user.
    @DEVICE_ID AS VARCHAR(255),
    @OTP AS VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @USER_CD VARCHAR(50) = (SELECT USER_CD FROM TB_M_USERS WHERE USERNAME = @ID OR EMAIL = @ID);
    
    UPDATE TB_R_USER_DEVICES SET OTP = @OTP, UPDATED_DT = GETDATE(), UPDATED_BY = @ID WHERE USER_CD = @USER_CD AND DEVICE_ID = @DEVICE_ID
    SELECT OTP FROM TB_R_USER_DEVICES WHERE USER_CD = @USER_CD AND DEVICE_ID = @DEVICE_ID
    
END
GO
