/****** Object:  Table [dbo].[TB_R_SCHEDULE_ATTENDEE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_SCHEDULE_ATTENDEE](
	[SCH_ATTENDEE_CD] [varchar](20) NOT NULL,
	[SCHEDULE_CD] [varchar](20) NULL,
	[REGISTRATION_NUMBER] [varchar](20) NULL,
	[ATTEND_STATUS] [varchar](20) NULL,
	[CHECKIN_DT] [datetime] NULL,
	[CHECKOUT_DT] [datetime] NULL,
	[REMARKS] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SCH_ATTENDEE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
