/****** Object:  StoredProcedure [dbo].[SP_MASTER_PAYROLL_COMPONENT_GET_DETAIL_GROUP]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_PAYROLL_COMPONENT_GET_DETAIL_GROUP]
    @GROUP_ID AS VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
      CONVERT (VARCHAR (MAX), HashBytes ('MD5', PC.LABOR_CD + PC.EMPLOYEE_CLASS + PC.LEVEL_CD + CONVERT (VARCHAR, PC.VALID_FROM, 126) + CONVERT (VARCHAR, PC.VALID_TO, 126)), 2) AS GROUP_ID,
      LT.LABOR_CD AS EMPLOYEE_TYPE_CD,
      LT.LABOR_TYPE AS EMPLOYEE_TYPE,
      C.CLASS_CD AS EMPLOYEE_CLASS_CD,
      C.CLASS AS EMPLOYEE_CLASS,
      OP.POSITION_DESC AS EMPLOYEE_LEVEL,
      CONVERT(VARCHAR, OP.POSITION_LEVEL) AS EMPLOYEE_LEVEL_CD,
      CONVERT(VARCHAR, VALID_FROM, 126) AS VALID_FROM,
      CONVERT(VARCHAR, VALID_TO, 126) AS VALID_TO,
      PC.SEQUENCE,
      SYS_COMP.SYSTEM_VALUE AS COMPONENT_TYPE_NAME,
      SYS_COMP.SYSTEM_CD AS COMPONENT_TYPE_CD,
      PC.COMPONENT_CD,
      PC.COMPONENT_NAME,
      PC.MASKING_NAME,
      PC.COMPONENT_FREQUENTLY AS COMPONENT_FREQUENTLY_CD,
      SYS_FREQ.SYSTEM_VALUE AS COMPONENT_FREQUENTLY,
      PC.COMPONENT_AMOUNT,
      PC.COMPONENT_PERCENTAGE,
      CONVERT(VARCHAR, IS_TAXABLE) AS IS_TAXABLE,
      CONVERT(VARCHAR, IS_VISIBLE_ON_SLIP) AS IS_VISIBLE_ON_SLIP,
      PC.FORMULA
    FROM
      TB_M_PAYROLL_COMPONENT PC
        LEFT JOIN TB_M_LABOR_TYPE LT ON PC.LABOR_CD = LT.LABOR_CD
        LEFT JOIN TB_M_CLASS C ON PC.EMPLOYEE_CLASS = C.CLASS_CD
        LEFT JOIN TB_M_ORG_POSITION OP ON OP.POSITION_LEVEL = PC.LEVEL_CD
        LEFT JOIN TB_M_SYSTEM_MASTER SYS_COMP ON SYS_COMP.SYSTEM_CD = PC.COMPONENT_TYPE AND SYS_COMP.SYSTEM_TYPE = 'COMPONENT_TYPE'
        LEFT JOIN TB_M_SYSTEM_MASTER SYS_FREQ ON SYS_FREQ.SYSTEM_CD = PC.COMPONENT_FREQUENTLY AND SYS_FREQ.SYSTEM_TYPE = 'PAYROLL_FREQUENT'
      WHERE 1=1 AND COALESCE(PC.IS_DELETED, '0') = '0'
      AND CONVERT (VARCHAR (MAX), HashBytes ('MD5', PC.LABOR_CD + PC.EMPLOYEE_CLASS + PC.LEVEL_CD + CONVERT (VARCHAR, PC.VALID_FROM, 126) + CONVERT (VARCHAR, PC.VALID_TO, 126)), 2) = @GROUP_ID
--       AND C.CLASS = @EMPLOYEE_CLASS
--       AND OP.POSITION_LEVEL = @EMPLOYEE_LEVEL_CD
--       AND CONVERT(VARCHAR, VALID_FROM, 126) = @VALID_FROM
--       AND CONVERT(VARCHAR, VALID_TO, 126) = @VALID_TO
      ORDER BY PC.SEQUENCE ASC
END;
GO
