/****** Object:  Table [dbo].[TB_M_ORG_LEVEL]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_ORG_LEVEL](
	[LEVEL_ID] [int] NOT NULL,
	[LEVEL_NAME] [varchar](100) NOT NULL,
	[LEVEL_HEAD] [varchar](10) NULL,
	[CREATED_BY] [varchar](64) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[UPDATED_BY] [varchar](64) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_M_ORG_LEVEL] PRIMARY KEY CLUSTERED 
(
	[LEVEL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
