/****** Object:  Table [dbo].[TB_M_BANK_KEY]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_BANK_KEY](
	[BANK_COUNTRY_ID] [varchar](3) NULL,
	[BANK_KEYS] [varchar](15) NULL,
	[BANK_NAME] [varchar](60) NULL,
	[REGION] [varchar](3) NULL,
	[HOUSE_STREET] [varchar](35) NULL,
	[CITY] [varchar](35) NULL,
	[SWIFT_CODE] [varchar](11) NULL,
	[BANK_NUMBER] [varchar](15) NULL,
	[BRANCH] [varchar](40) NULL,
	[CREATED_BY] [varchar](64) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](64) NULL,
	[UPDATED_DT] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_BANK_KEY] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
ALTER TABLE [dbo].[TB_M_BANK_KEY] ADD  DEFAULT (getdate()) FOR [UPDATED_DT]
GO
