/****** Object:  Table [dbo].[TB_R_REQUEST_MP_H]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_REQUEST_MP_H](
	[REQUEST_MP_CD] [varchar](20) NOT NULL,
	[TRAINING_DATE] [date] NULL,
	[OJD_DATE] [date] NULL,
	[JOIN_DATE] [date] NULL,
	[BATCH] [int] NULL,
	[REMARKS] [varchar](255) NULL,
	[CREATED_BY] [varchar](20) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[REQUEST_MP_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
