/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_CREATE_FEEDBACK]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_CREATE_FEEDBACK]
    @PLACEMENT_REQUEST_CD VARCHAR(20),
    @FEEDBACK NVARCHAR(MAX),
    @NOREG NVARCHAR(50),
    @CREATED_BY NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
    
    INSERT INTO TB_R_PLACEMENT_REQUEST_FEEDBACK (
      PLACEMENT_REQUEST_FEEDBACK_CD, 
      PLACEMENT_REQUEST_CD, 
      NOREG, 
      FEEDBACK, 
      CREATED_BY, 
      CREATED_DT
    ) VALUES (
      CONVERT(VARCHAR(50), NEWID()), 
      @PLACEMENT_REQUEST_CD, 
      @NOREG, 
      @FEEDBACK, 
      @CREATED_BY, 
      GETDATE()
    )
    
    SELECT 'true' AS status, 'Success storing data.' AS message;
    END TRY
    BEGIN CATCH
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
