/****** Object:  Table [dbo].[TB_M_FUNCTION]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_FUNCTION](
	[FUNCTION_CD] [nvarchar](50) NOT NULL,
	[FUNCTION_PARENT_CD] [nvarchar](50) NULL,
	[FUNCTION_NAME] [nvarchar](100) NOT NULL,
	[FUNCTION_CONTROLLER] [nvarchar](50) NOT NULL,
	[FUNCTION_DESCRIPTION] [nvarchar](255) NULL,
	[FUNCTION_ACTIVE] [bit] NOT NULL,
	[FUNCTION_ORDER] [int] NOT NULL,
	[FUNCTION_ICON] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[IS_DELETED] [bit] NULL,
	[DELETED_BY] [nvarchar](50) NULL,
	[DELETED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FUNCTION_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_FUNCTION] ADD  DEFAULT ((1)) FOR [FUNCTION_ACTIVE]
GO
ALTER TABLE [dbo].[TB_M_FUNCTION] ADD  DEFAULT ((0)) FOR [FUNCTION_ORDER]
GO
ALTER TABLE [dbo].[TB_M_FUNCTION] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
