/****** Object:  Table [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE](
	[HISTORY_UPLOAD_CD] [varchar](50) NOT NULL,
	[DOCUMENT_NAME] [varchar](150) NULL,
	[STATUS] [varchar](20) NULL,
	[TOTAL_DATA] [int] NULL,
	[TOTAL_DATA_SUCCESS_VALIDATION] [int] NULL,
	[TOTAL_DATA_FAILED_VALIDATION] [int] NULL,
	[RESULT_ERROR_FILE] [varchar](150) NULL,
	[RESULT_SUKSES_FILE] [varchar](150) NULL,
	[UPLOAD_DATE] [datetime] NULL,
	[UPLOAD_BY] [varchar](50) NULL,
 CONSTRAINT [PK_TB_H_UPLOAD_VOCATION_CANDIDATE] PRIMARY KEY CLUSTERED 
(
	[HISTORY_UPLOAD_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
