/****** Object:  StoredProcedure [dbo].[SP_MASTER_SCHOOL_GET_DETAIL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_SCHOOL_GET_DETAIL]
    @SCHOOL_CD AS VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      SCH.SCHOOL_CD,
      SCH.NAME AS SCHOOL_NAME,
      SCH.CP_NAME,
      SCH.CP_PHONE,
      SCH.EMAIL,
      SCH.ADDRESS,
      CONVERT(VARCHAR, SCH.IS_ACTIVE) AS IS_ACTIVE,
      VC.VOCATIONAL_CENTER_CD,
      VC.NAME AS VOCATIONAL_CENTER_NAME,
      PROV.PROVINCE_CD,
      PROV.PROVINCE_NAME,
      CITY.CITY_CD,
      CITY.CITY_NAME,
      DIST.DISTRICT_CD,
      DIST.DISTRICT_NAME,
      VIL.VILLAGE_CD,
      VIL.VILLAGE_NAME
    FROM
      TB_M_SCHOOL SCH
      LEFT JOIN TB_M_VOCATIONAL_CENTER VC ON SCH.VOCATIONAL_CENTER_CD = VC.VOCATIONAL_CENTER_CD
      LEFT JOIN TB_M_PROVINCE PROV ON SCH.PROVINCE_CD = PROV.PROVINCE_CD
      LEFT JOIN TB_M_CITY CITY ON SCH.CITY_CD = CITY.CITY_CD
      LEFT JOIN TB_M_DISTRICT DIST ON SCH.DISTRICT_CD = DIST.DISTRICT_CD
      LEFT JOIN TB_M_VILLAGE VIL ON SCH.VILLAGE_CD = VIL.VILLAGE_CD
    WHERE
      SCHOOL_CD = @SCHOOL_CD
      AND COALESCE(SCH.IS_DELETED, 0) = 0;
END;
GO
