/****** Object:  StoredProcedure [dbo].[SP_MASTER_MENU_GET_INQUIRY_copy1]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_MENU_GET_INQUIRY_copy1]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'FUNCTION_ORDER',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @IsActive AS VARCHAR(10) = NULL,
    @TERM AS VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = @PAGE;

    IF(@PAGE != 0)
      SET @Offset = @PAGE + 1;
    
    DECLARE @SQL NVARCHAR(MAX);
    
    
    SET @SQL = 'DECLARE @COUNT_DATA INT; 
    
    SELECT @COUNT_DATA = COUNT(1)
        FROM TB_M_FUNCTION
        WHERE 1 = 1 AND FUNCTION_PARENT_CD IS NULL AND COALESCE(IS_DELETED, ''0'') = ''0''';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (
            FUNCTION_CD LIKE ''%'' + @TERM + ''%'' OR
            FUNCTION_NAME LIKE ''%'' + @TERM + ''%'' OR
            FUNCTION_CONTROLLER LIKE ''%'' + @TERM + ''%'' OR
            FUNCTION_DESCRIPTION LIKE ''%'' + @TERM + ''%'')';
            
    IF @IsActive IS NOT NULL
      SET @SQL = @SQL + ' AND FUNCTION_ACTIVE = @IsActive; ';
    

    SET @SQL = @SQL + '
    WITH MatchingFunctions AS (
        -- Finds all functions that match the search term and their parents
        SELECT
            FUNCTION_CD,
            FUNCTION_PARENT_CD
        FROM TB_M_FUNCTION
        WHERE 1 = 1 AND COALESCE(IS_DELETED, ''0'') = ''0''';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (
            FUNCTION_CD LIKE ''%'' + @TERM + ''%'' OR
            FUNCTION_NAME LIKE ''%'' + @TERM + ''%'' OR
            FUNCTION_CONTROLLER LIKE ''%'' + @TERM + ''%'' OR
            FUNCTION_DESCRIPTION LIKE ''%'' + @TERM + ''%'')';
            
    IF @IsActive IS NOT NULL AND @IsActive <> ''
      SET @SQL = @SQL + ' AND FUNCTION_ACTIVE = @IsActive';
        
    SET @SQL = @SQL + '
        UNION ALL
        
        SELECT
            T1.FUNCTION_CD,
            T1.FUNCTION_PARENT_CD
        FROM TB_M_FUNCTION AS T1
        INNER JOIN MatchingFunctions AS T2
            ON T1.FUNCTION_CD = T2.FUNCTION_PARENT_CD
    ),
    FullHierarchy AS (
        -- Recursive CTE to find the top-level parent of all functions
        SELECT 
            FUNCTION_CD, 
            FUNCTION_PARENT_CD, 
            FUNCTION_CD AS TopLevelParent_CD
        FROM TB_M_FUNCTION
        WHERE FUNCTION_PARENT_CD IS NULL
        
        UNION ALL
        
        SELECT 
            T1.FUNCTION_CD, 
            T1.FUNCTION_PARENT_CD, 
            T2.TopLevelParent_CD
        FROM TB_M_FUNCTION AS T1
        INNER JOIN FullHierarchy AS T2 
            ON T1.FUNCTION_PARENT_CD = T2.FUNCTION_CD
    ),
    FilteredData AS (
        -- Combines the hierarchy and applies the NO logic
        SELECT
            R.FUNCTION_CD,
            R.FUNCTION_NAME,
            R.FUNCTION_PARENT_CD,
            R.FUNCTION_DESCRIPTION,
            R.FUNCTION_CONTROLLER,
            R.FUNCTION_ORDER,
            R.FUNCTION_ACTIVE,
            DENSE_RANK() OVER (ORDER BY F.TopLevelParent_CD) AS NO
        FROM TB_M_FUNCTION AS R
        INNER JOIN MatchingFunctions AS M
            ON R.FUNCTION_CD = M.FUNCTION_CD
        INNER JOIN FullHierarchy AS F
            ON R.FUNCTION_CD = F.FUNCTION_CD'
            
--     IF @IsActive IS NOT NULL
--         SET @SQL = @SQL + ' AND R.FUNCTION_ACTIVE = @IsActive';
        
    SET @SQL = @SQL + ')
    -- Final selection with pagination
    SELECT DISTINCT
        R.NO,
        R.FUNCTION_CD,
        R.FUNCTION_NAME,
        R.FUNCTION_PARENT_CD,
        R.FUNCTION_DESCRIPTION,
        R.FUNCTION_CONTROLLER,
        R.FUNCTION_ACTIVE,
        R.FUNCTION_ORDER,
        @COUNT_DATA AS COUNT
    FROM FilteredData R
    WHERE [NO] BETWEEN @Offset AND @Offset + @PageSize
    ORDER BY R.FUNCTION_PARENT_CD, R.FUNCTION_ORDER, NO ASC ' -- + QUOTENAME(@OrderBy) + ' ' + @OrderDirection;

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @TERM VARCHAR(100), @IsActive BIT',
        @Offset = @Offset,
        @PageSize = @PageSize,
        @IsActive = @IsActive,
        @TERM = @TERM;
END;
GO
