/****** Object:  StoredProcedure [dbo].[SP_AUTH_UPDATE_SC_USER]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_UPDATE_SC_USER]
    @USERNAME AS VARCHAR(50),
    @NOREG AS VARCHAR(15),
    @DIRECTORATE AS VARCHAR(100),
    @DEPARTMENT AS VARCHAR(100),
    @DIVISION AS VARCHAR(100),
    @SECTION AS VARCHAR(100),
    @GROUP AS VARCHAR(100),
    @LINE AS VARCHAR(100),
    @POSITION AS VARCHAR(100),
    @BRANCH AS VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @status BIT;
    DECLARE @message VARCHAR(255);
    
    DECLARE @USER_CD VARCHAR(50) = (SELECT USER_CD FROM TB_M_USERS WHERE USERNAME = @USERNAME);

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM TB_M_USER_DETAIL WHERE USER_CD = @USER_CD)
        BEGIN
            SET @status = 0;
            SET @message = 'Data with the specified USER_CD was not found for update.';
        END
        ELSE
        BEGIN
            UPDATE TB_M_USER_DETAIL
            SET
                DIRECTORATE = @DIRECTORATE,
                DEPARTMENT = @DEPARTMENT,
                DIVISION = @DIVISION,
                [SECTION] = @SECTION,
                [GROUP] = @GROUP,
                LINE = @LINE,
                [POSITION] = @POSITION,
                BRANCH = @BRANCH,
                UPDATED_DT = GETDATE(),
                UPDATED_BY = @USERNAME
            WHERE
                USER_CD = @USER_CD;

            IF @@ROWCOUNT > 0
            BEGIN
                SET @status = 1;
                SET @message = 'User details successfully updated.';
            END
            ELSE
            BEGIN
                SET @status = 0;
                SET @message = 'Failed to update user details. No changes were made.';
            END
        END
    END TRY
    BEGIN CATCH
        SET @status = 0;
        SET @message = ERROR_MESSAGE();
    END CATCH

    SELECT 
        status = @status,
        data = NULL,
        message = @message;

END;
GO
