/****** Object:  StoredProcedure [dbo].[SP_MASTER_ROLE_GET_COMBOBOX]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ROLE_GET_COMBOBOX]
    @TERM AS VARCHAR(MAX),
    @ROLE_LEVEL AS VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
      ROLE_CD AS id, 
      ROLE_NAME AS text 
    FROM TB_M_ROLES
      WHERE ROLE_NAME LIKE '%' + @TERM + '%'
      AND (ROLE_LEVEL = @ROLE_LEVEL OR COALESCE(@ROLE_LEVEL,'') = '')
      AND COALESCE(STATUS, 1)= 1 
      AND COALESCE(IS_DELETED, 0) = 0
    ORDER BY ROLE_NAME ASC;
END
GO
