/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_DOWNLOAD_EXCEL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_DOWNLOAD_EXCEL]
    @CLOSING_ATTENDANCE_CD VARCHAR(50) 
AS
BEGIN
    -- Mencegah penghitungan baris yang tidak perlu
    SET NOCOUNT ON;

    SELECT
        P.REGISTRATION_NUMBER,      -- NOREG
        P.FULL_NAME,                -- NAMA LENGKAP
        OA.DIVISION,                -- DIVISI
        P.RECRUITMENT_BATCH,        -- BATCH
        A.ATTENDANCE_DATE,          -- TANGGAL
        CONVERT(VARCHAR(8), A.CLOCK_IN_TIME) AS CLOCK_IN_TIME,            -- IN
        CONVERT(VARCHAR(8), A.CLOCK_OUT_TIME) AS CLOCK_OUT_TIME,           -- OUT
        A.SHIFT_CD,                 -- SHIFT
        CONVERT(VARCHAR(8), DATEADD(SECOND, DATEDIFF(SECOND, COALESCE(ESH_IN, '00:00:00'), COALESCE(ESH_OUT, '00:00:00')), 0), 108) AS TOTAL_ESH,
        SYS.SYSTEM_VALUE AS EXTRA_STUDY_TYPE -- JENIS JAM TAMBAHAN
    FROM
        TB_R_CLOSING_ATTENDANCE_SUMMARY CAS
    INNER JOIN TB_R_CLOSING_ATTENDANCE CA
        ON CAS.CLOSING_ATTENDANCE_CD = CA.CLOSING_ATTENDANCE_CD
    INNER JOIN TB_M_PROFILE P
        ON CAS.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER
    INNER JOIN TB_R_ATTENDANCE A
        ON CAS.REGISTRATION_NUMBER = A.REGISTRATION_NUMBER
        AND A.ATTENDANCE_DATE BETWEEN CA.CUT_OFF_FROM AND CA.CUT_OFF_TO
    INNER JOIN TB_R_ORG_ASSIGNMENT OA
        ON OA.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER
        AND A.ATTENDANCE_DATE BETWEEN OA.VALID_FROM AND OA.VALID_TO
    INNER JOIN TB_R_EXTRA_STUDY ES
        ON ES.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER
        AND ES.[DATE] = A.ATTENDANCE_DATE
    LEFT JOIN TB_M_SYSTEM_MASTER SYS
        ON ES.EXTRA_STUDY_TYPE = SYS.SYSTEM_CD
        AND SYS.SYSTEM_TYPE = 'EXTRA_STUDY_TYPE'
    WHERE
        CAS.CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;

END
GO
