/****** Object:  Table [dbo].[TB_R_CLOSING_PAYROLL_D]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_CLOSING_PAYROLL_D](
	[PAYROLL_D_CD] [varchar](36) NOT NULL,
	[CLOSING_PAYROLL_CD] [varchar](36) NOT NULL,
	[EMPLOYEE_CD] [varchar](50) NOT NULL,
	[EMPLOYEE_NAME] [nvarchar](200) NOT NULL,
	[BATCH_CD] [varchar](20) NULL,
	[EMPLOYEE_STATUS] [varchar](50) NOT NULL,
	[TERMINATION_DATE] [date] NULL,
	[WORKING_DAYS] [int] NOT NULL,
	[EXTRA_STUDY_HOURS] [int] NULL,
	[BASIC_SALARY] [decimal](18, 2) NOT NULL,
	[TOTAL_ALLOWANCE] [decimal](18, 2) NULL,
	[TOTAL_DEDUCTION] [decimal](18, 2) NULL,
	[TOTAL_INCENTIVE] [decimal](18, 2) NULL,
	[TAX_ALLOWANCE] [decimal](18, 2) NULL,
	[PPH21] [decimal](18, 2) NULL,
	[TAKE_HOME_PAY] [decimal](18, 2) NOT NULL,
	[STATUS] [varchar](30) NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYROLL_D_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_CLOSING_PAYROLL_D] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
ALTER TABLE [dbo].[TB_R_CLOSING_PAYROLL_D]  WITH CHECK ADD  CONSTRAINT [FK_PAYROLL_DETAIL] FOREIGN KEY([CLOSING_PAYROLL_CD])
REFERENCES [dbo].[TB_R_CLOSING_PAYROLL] ([CLOSING_PAYROLL_CD])
GO
ALTER TABLE [dbo].[TB_R_CLOSING_PAYROLL_D] CHECK CONSTRAINT [FK_PAYROLL_DETAIL]
GO
