/****** Object:  Table [dbo].[TB_M_PAYROLL_COMPONENT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_PAYROLL_COMPONENT](
	[COMPONENT_CD] [varchar](50) NOT NULL,
	[COMPONENT_NAME] [varchar](100) NOT NULL,
	[COMPONENT_TYPE] [varchar](20) NOT NULL,
	[COMPONENT_AMOUNT] [decimal](18, 2) NULL,
	[COMPONENT_PERCENTAGE] [decimal](5, 2) NULL,
	[COMPONENT_FREQUENTLY] [varchar](20) NOT NULL,
	[FORMULA] [varchar](max) NULL,
	[IS_TAXABLE] [bit] NULL,
	[IS_VISIBLE_ON_SLIP] [bit] NULL,
	[MASKING_NAME] [varchar](255) NULL,
	[SEQUENCE] [int] NULL,
	[EMPLOYEE_CLASS] [varchar](50) NULL,
	[EMPLOYEE_LEVEL] [varchar](50) NULL,
	[LEVEL_CD] [varchar](50) NULL,
	[LABOR_CD] [varchar](50) NULL,
	[VALID_FROM] [date] NULL,
	[VALID_TO] [date] NULL,
	[IS_ACTIVE] [bit] NULL,
	[IS_DELETED] [bit] NULL,
	[CREATED_BY] [varchar](100) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](100) NULL,
	[UPDATED_DT] [datetime] NULL,
	[DELETED_BY] [varchar](100) NULL,
	[DELETED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[COMPONENT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_PAYROLL_COMPONENT] ADD  DEFAULT ((0)) FOR [IS_TAXABLE]
GO
ALTER TABLE [dbo].[TB_M_PAYROLL_COMPONENT] ADD  DEFAULT ((1)) FOR [IS_VISIBLE_ON_SLIP]
GO
ALTER TABLE [dbo].[TB_M_PAYROLL_COMPONENT] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
ALTER TABLE [dbo].[TB_M_PAYROLL_COMPONENT] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
