/****** Object:  StoredProcedure [dbo].[SP_MASTER_APPROVALMATRIX_GET_INQUIRY_BYGROUPING]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_APPROVALMATRIX_GET_INQUIRY_BYGROUPING]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'PURPOSE_CD',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @PURPOSECD AS VARCHAR(100) = '',
	@BRANCHCD AS VARCHAR(20) = '',
	@ORGNAME AS VARCHAR(250) = '',
	@REQUESTERROLE AS VARCHAR(150) = '',
    @STATUS AS BIT = 1,
    @FILTER AS VARCHAR(100) = ''
AS
BEGIN
    SET NOCOUNT ON;

    

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT DISTINCT [PURPOSE_CD],[BRANCH_CD],BRANCH_DESC = B.MAIN_LOCATION,[DESCRIPTION], STATUS = ISNULL(A.IS_ACTIVE,1) 
        FROM
            [dbo].[TB_M_APPROVAL_MATRIX] A LEFT JOIN [dbo].[TB_M_PLANT] B ON A.BRANCH_CD = B.PLANT_CD
            WHERE ISNULL(A.IS_DELETED,''0'') = ''0'' AND
            ISNULL(A.IS_ACTIVE,''1'') in (''1'',''0'')';

    IF @FILTER IS NOT NULL AND @FILTER <> ''
        SET @SQL = @SQL + ' AND (
          [APPROVAL_MATRIX_CD] LIKE ''%'' + @FILTER + ''%'' OR 
		  [PURPOSE_CD] LIKE ''%'' + @FILTER + ''%'' OR 
		  B.MAIN_LOCATION LIKE ''%'' + @FILTER + ''%'' OR 
		  [REQUESTOR_ROLE] LIKE ''%'' + @FILTER + ''%'' OR 
		  [ORG_NAME] LIKE ''%'' + @FILTER + ''%'' OR 
		  [COORDINATOR_NAME] LIKE ''%'' + @FILTER + ''%'' OR 
		  [DESCRIPTION] LIKE ''%'' + @FILTER + ''%'' OR 
        )';
        
    IF @PURPOSECD IS NOT NULL AND @PURPOSECD <> ''
      SET @SQL = @SQL + ' AND [PURPOSE_CD] = @PURPOSECD ';
	IF @BRANCHCD IS NOT NULL AND @BRANCHCD <> ''
      SET @SQL = @SQL + ' AND [BRANCH_CD] = @BRANCHCD ';
	IF @ORGNAME IS NOT NULL AND @ORGNAME <> ''
      SET @SQL = @SQL + ' AND [ORG_NAME] = @ORGNAME ';
	IF @REQUESTERROLE IS NOT NULL AND @REQUESTERROLE <> ''
      SET @SQL = @SQL + ' AND [REQUESTOR_ROLE] = @REQUESTERROLE ';
    
    IF @STATUS IS NOT NULL AND @STATUS <> ''
      SET @SQL = @SQL + ' AND ISNULL(A.IS_ACTIVE,1) = @STATUS';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @PURPOSECD VARCHAR(100),@BRANCHCD VARCHAR(20),@ORGNAME VARCHAR(250),@REQUESTERROLE VARCHAR(150), @STATUS BIT, @FILTER AS VARCHAR(100)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
		@PURPOSECD = @PURPOSECD,
		@BRANCHCD = @BRANCHCD,
        @ORGNAME = @ORGNAME,
		@REQUESTERROLE = @REQUESTERROLE,
        @STATUS = @STATUS,
        @FILTER = @FILTER;
END;
GO
