/****** Object:  Table [dbo].[TB_M_BLOOD_TYPE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_BLOOD_TYPE](
	[BLOOD_CD] [varchar](20) NOT NULL,
	[BLOOD_NAME] [varchar](20) NULL,
	[CREATED_DT] [date] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [date] NULL,
	[UPDATED_BY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BLOOD_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
