/****** Object:  Table [dbo].[TB_M_DAYS_TYPE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_DAYS_TYPE](
	[SHIFT_CD_SAP] [varchar](5) NOT NULL,
	[SHIFT_CD_ARS] [varchar](2) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[J_CLOCK_IN] [time](7) NULL,
	[J_CLOCK_OUT] [time](7) NULL,
	[P_CLOCK_IN] [time](7) NULL,
	[P_CLOCK_OUT] [time](7) NULL,
	[Q_CLOCK_IN] [time](7) NULL,
	[Q_CLOCK_OUT] [time](7) NULL,
	[F_CLOCK_IN] [time](7) NULL,
	[F_CLOCK_OUT] [time](7) NULL,
	[CREATED_BY] [varchar](80) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[UPDATED_BY] [varchar](80) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_M_DAYS_SHIFT] PRIMARY KEY CLUSTERED 
(
	[SHIFT_CD_SAP] ASC,
	[SHIFT_CD_ARS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
