/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_STORE_BY_UPLOAD_EXCEL2]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_STORE_BY_UPLOAD_EXCEL2]
	@json NVARCHAR(MAX),
	@FILENAME NVARCHAR(250),
	@MODE VARCHAR(10),
	@USER_ID NVARCHAR(20)

AS

BEGIN
	--DECLARE @LAST as VARCHAR(6)
	--DECLARE @MIDDLEFORMAT as VARCHAR(6)
	--SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))

	--DELETE FROM [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] WHERE NIK IN
	--(SELECT 
	--NIK
	--FROM OPENJSON(@json) WITH (
	--	FULL_NAME nvarchar(100) '$.FULL_NAME',
	--	NIK nvarchar(16) '$.NIK',
	--	PHONE nvarchar(15) '$.PHONE',
	--	EMAIL nvarchar(150) '$.EMAIL',
	--	[LEVEL] varchar(20) '$.ACADEMIC_LEVEL',
	--	BATCH INT '$.BATCH',
	--	LATEST_PROCESS_RECRUITMENT nvarchar(50) '$.LATEST_RECRUITMENT_PROCESS',
	--	LATEST_TEST_DATE varchar(50) '$.LATEST_TEST_DATE',
	--	TEST_RESULT varchar(150) '$.TEST_RESULT',
	--	RESULT_SUMMARY varchar(255) '$.RESULT_SUMMARY',
	--	REMARKS_ISSUE_VALIDATE varchar(1000) '$.RESULT_VALIDATE' --AS JSON
	--))
	DECLARE @FULL_NAME AS nvarchar(100)
	DECLARE @NOREG AS nvarchar(15)
	DECLARE @PHONE AS nvarchar(15)
	DECLARE @NIK AS nvarchar(16)
	DECLARE @EMAIL AS nvarchar(150)
	DECLARE @VALID_FROM AS DATETIME
	DECLARE @VALID_TO AS DATETIME
	DECLARE @LEVEL VARCHAR(20) = ''
	DECLARE @BATCH VARCHAR(10) = ''
	DECLARE @LATEST_PROC_REC nvarchar(50) = ''
	DECLARE @LATEST_TEST_DATE DATE
	DECLARE @TEST_RESULT varchar(150) = ''
	DECLARE @RESULT_SUMMARY VARCHAR(255) = ''
	DECLARE @LAST_EDU as VARCHAR(6)
	DECLARE @MIDDLEFORMAT_EDU as VARCHAR(6)
	DECLARE @LAST_ASS as VARCHAR(6)
	DECLARE @MIDDLEFORMAT_ASS as VARCHAR(6)
	DECLARE @LAST_STG as VARCHAR(6)
	DECLARE @MIDDLEFORMAT_STG as VARCHAR(6)
	DECLARE  @USER_CD VARCHAR(50)
	DECLARE @LASTDOC as VARCHAR(6)
	DECLARE @MIDDLEFORMATDOC as VARCHAR(6)
	DECLARE @HISTORY_UPLOAD_CD VARCHAR(50)
	DECLARE @LASTHISTORY_UPLOAD_CD VARCHAR(50)

	IF OBJECT_ID('TEMPDB..#tmpdata') IS NOT NULL DROP TABLE #tmpdata

	--SET @LAST = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(ID,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_D_UPLOAD_VOCATION_CANDIDATE WHERE ID LIKE '%' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')
	--INSERT INTO [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] ([FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE])
	SELECT 
	*, IS_SUCCESS_VALIDATE = case when ISNULL(REMARKS_ISSUE_VALIDATE,'') <> '' then 0 else 1 end INTO #tmpdata
	FROM OPENJSON(@json) WITH (
		FULL_NAME nvarchar(100) '$.FULL_NAME',
		NIK nvarchar(16) '$.NIK',
		PHONE nvarchar(15) '$.PHONE',
		EMAIL nvarchar(150) '$.EMAIL',
		[LEVEL] varchar(20) '$.ACADEMIC_LEVEL',
		BATCH INT '$.BATCH',
		LATEST_PROCESS_RECRUITMENT nvarchar(50) '$.LATEST_RECRUITMENT_PROCESS',
		LATEST_TEST_DATE varchar(50) '$.LATEST_TEST_DATE',
		TEST_RESULT varchar(150) '$.TEST_RESULT',
		RESULT_SUMMARY varchar(255) '$.RESULT_SUMMARY',
		REMARKS_ISSUE_VALIDATE varchar(1000) '$.RESULT_VALIDATE' --AS JSON
	)

	SET @MIDDLEFORMATDOC = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
	SET @LASTDOC = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT([HISTORY_UPLOAD_CD],6) AS int)),0)+1 AS VARCHAR(6)),6) FROM [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] WHERE [HISTORY_UPLOAD_CD] LIKE '%HU-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')
	SET @HISTORY_UPLOAD_CD = 'HU-'+  @MIDDLEFORMATDOC +'-'+@LASTDOC

	IF (@MODE = 'FAILED')
	BEGIN
		DELETE FROM [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] WHERE NIK IN
		(SELECT 
		NIK FROM 
		#tmpdata)


		

		IF NOT EXISTS(SELECT HISTORY_UPLOAD_CD  FROM TB_H_UPLOAD_VOCATION_CANDIDATE WHERE DOCUMENT_NAME = @FILENAME)
		BEGIN
			INSERT INTO [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE]([HISTORY_UPLOAD_CD],[DOCUMENT_NAME],[STATUS],[UPLOAD_DATE],[UPLOAD_BY])
			VALUES
			(@HISTORY_UPLOAD_CD,@FILENAME,'SUCCESS', GETDATE(),@USER_ID) 
		END
		
		SET @LASTHISTORY_UPLOAD_CD = (SELECT TOP(1) HISTORY_UPLOAD_CD FROM TB_H_UPLOAD_VOCATION_CANDIDATE WHERE DOCUMENT_NAME = @FILENAME ORDER BY UPLOAD_DATE DESC)
		INSERT INTO TB_D_UPLOAD_VOCATION_CANDIDATE ([FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE], HISTORY_UPLOAD_CD)
		SELECT *, @LASTHISTORY_UPLOAD_CD  FROM #tmpdata

		
	END
	ELSE
	BEGIN

		IF NOT EXISTS(SELECT HISTORY_UPLOAD_CD  FROM TB_H_UPLOAD_VOCATION_CANDIDATE WHERE DOCUMENT_NAME = @FILENAME)
		BEGIN
			INSERT INTO [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE]([HISTORY_UPLOAD_CD],[DOCUMENT_NAME],[STATUS],[UPLOAD_DATE],[UPLOAD_BY])
			VALUES
			(@HISTORY_UPLOAD_CD,@FILENAME,'SUCCESS', GETDATE(),@USER_ID) 
		END

		SET @LASTHISTORY_UPLOAD_CD = (SELECT TOP(1) HISTORY_UPLOAD_CD FROM TB_H_UPLOAD_VOCATION_CANDIDATE WHERE DOCUMENT_NAME = @FILENAME ORDER BY UPLOAD_DATE DESC)
		INSERT INTO TB_D_UPLOAD_VOCATION_CANDIDATE ([FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE], HISTORY_UPLOAD_CD)
		SELECT *, @LASTHISTORY_UPLOAD_CD  FROM #tmpdata


		DECLARE CURSORS1 CURSOR LOCAL FOR
		SELECT DISTINCT FULL_NAME,NIK,PHONE,EMAIL,[LEVEL],BATCH,LATEST_PROCESS_RECRUITMENT,LATEST_TEST_DATE,TEST_RESULT,RESULT_SUMMARY FROM TB_D_UPLOAD_VOCATION_CANDIDATE WHERE ISNULL(REMARKS_ISSUE_VALIDATE,'') = '' AND HISTORY_UPLOAD_CD = @LASTHISTORY_UPLOAD_CD --WHERE MODE = 'ADD'
		OPEN CURSORS1

		FETCH NEXT FROM CURSORS1 
		INTO @FULL_NAME,@NIK,@PHONE,@EMAIL,@LEVEL,@BATCH,@LATEST_PROC_REC,@LATEST_TEST_DATE,@TEST_RESULT,@RESULT_SUMMARY

		WHILE @@FETCH_STATUS = 0
		BEGIN
			BEGIN TRY
				BEGIN TRANSACTION
				IF NOT EXISTS(SELECT USERNAME FROM TB_M_USERS WHERE NIK = @NIK)
				BEGIN
					DECLARE @LAST as VARCHAR(6)
					DECLARE @MIDDLEFORMAT as VARCHAR(6)
					SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
					SET @LAST = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(USER_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_USERS WHERE USER_CD LIKE '%V-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')
					-- Insert statement
					INSERT INTO TB_M_USERS
					VALUES
					('V-'+  @MIDDLEFORMAT +'-'+@LAST,'V-'+  @MIDDLEFORMAT +'-'+@LAST,HASHBYTES('SHA2_256', 'Toyota@123'),@FULL_NAME,'V-'+  @MIDDLEFORMAT +'-'+@LAST,@PHONE,@NIK,@EMAIL,@VALID_FROM,@VALID_TO,'1',@USER_ID,GETDATE(),NULL,NULL,'0',NULL,NULL)

					INSERT INTO [dbo].[TB_M_PROFILE] ([REGISTRATION_NUMBER],[CANDIDATE_NUMBER],[FULL_NAME],[RECRUITMENT_BATCH],[RECRUITMENT_PROCESS])
					VALUES
					('V-'+  @MIDDLEFORMAT +'-'+@LAST,'V-'+  @MIDDLEFORMAT +'-'+@LAST,@FULL_NAME,@BATCH,@LATEST_PROC_REC)

					IF (@LEVEL <> '')
					BEGIN
			
						SET @MIDDLEFORMAT_EDU = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
						SET @LAST_EDU = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PROFILE_EDU_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_PROFILE_EDU WHERE PROFILE_EDU_CD LIKE '%PE-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + '%')
						INSERT INTO [dbo].[TB_M_PROFILE_EDU] ([PROFILE_EDU_CD],[REGISTRATION_NUMBER],[EDUCATION_LEVEL],CREATED_BY,CREATED_DT)
						VALUES
						('PE-'+  @MIDDLEFORMAT_EDU +'-'+@LAST_EDU,'V-'+  @MIDDLEFORMAT +'-'+@LAST, @LEVEL,@USER_ID,GETDATE())
					END

					IF (@TEST_RESULT <> '' AND @RESULT_SUMMARY <> '')
					BEGIN
						SET @MIDDLEFORMAT_ASS = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
						SET @LAST_ASS = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PRF_ASSESSMENT_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_R_ASSESSMENT WHERE PRF_ASSESSMENT_CD LIKE '%R-ASS-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')

						INSERT INTO [dbo].[TB_R_ASSESSMENT]([PRF_ASSESSMENT_CD],[REGISTRATION_NUMBER],[ASSESSMENT_DATE],[ASSESSMENT_RESULT],[ASSESSMENT_SUMMARY],CREATED_BY,CREATED_DT)
						VALUES
						('R-ASS-'+  @MIDDLEFORMAT_ASS +'-'+@LAST_ASS,'V-'+  @MIDDLEFORMAT +'-'+@LAST, @LATEST_TEST_DATE,@TEST_RESULT,@RESULT_SUMMARY,@USER_ID,GETDATE())

				
						SET @MIDDLEFORMAT_STG = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
						SET @LAST_STG = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT([REG_STAGE_CD],6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_R_RECRUITMENT_STAGE WHERE [REG_STAGE_CD] LIKE '%R-STG-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')



						INSERT INTO [dbo].[TB_R_RECRUITMENT_STAGE]
						VALUES
						('R-STG-'+  @MIDDLEFORMAT_STG +'-'+@LAST_STG,'V-'+  @MIDDLEFORMAT +'-'+@LAST,'V-'+  @MIDDLEFORMAT +'-'+@LAST,1,NULL,NULL,NULL,GETDATE(),@USER_ID)
					END
				END
				ELSE
				BEGIN
					UPDATE TB_M_USERS
					SET
						FULL_NAME = @FULL_NAME,
						PHONE = @PHONE,
						EMAIL = @EMAIL
						where NIK = @NIK

					   update TB_M_PROFILE set [FULL_NAME] = @FULL_NAME,[RECRUITMENT_BATCH] = @BATCH,[RECRUITMENT_PROCESS] = @LATEST_PROC_REC where REGISTRATION_NUMBER IN (select REGISTRATION_NUMBER from TB_M_USERS WHERE NIK = @NIK)


					SET @MIDDLEFORMAT_EDU = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
					SET @LAST_EDU = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PROFILE_EDU_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_PROFILE_EDU WHERE PROFILE_EDU_CD LIKE '%PE-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + '%')

					IF NOT EXISTS(SELECT PROFILE_EDU_CD FROM [dbo].[TB_M_PROFILE_EDU] WHERE REGISTRATION_NUMBER IN (select REGISTRATION_NUMBER from TB_M_USERS WHERE NIK = @NIK))
					BEGIN
						INSERT INTO [dbo].[TB_M_PROFILE_EDU] ([PROFILE_EDU_CD],[REGISTRATION_NUMBER],[EDUCATION_LEVEL],CREATED_BY,CREATED_DT)
						VALUES
						('PE-'+  @MIDDLEFORMAT_EDU +'-'+@LAST_EDU,'V-'+  @MIDDLEFORMAT +'-'+@LAST, @LEVEL,@USER_ID,GETDATE())
					END
					ELSE
					BEGIN
						UPDATE [dbo].[TB_M_PROFILE_EDU] SET EDUCATION_LEVEL = @LEVEL WHERE REGISTRATION_NUMBER IN (select REGISTRATION_NUMBER from TB_M_USERS WHERE NIK = @NIK)
					END

					IF (@TEST_RESULT <> '' AND @RESULT_SUMMARY <> '')
					BEGIN
						SET @MIDDLEFORMAT_ASS = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
						SET @LAST_ASS = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PRF_ASSESSMENT_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_R_ASSESSMENT WHERE PRF_ASSESSMENT_CD LIKE '%R-ASS-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')

						SET @USER_CD = (SELECT USER_CD FROM TB_M_USERS WHERE NIK = @NIK)

						INSERT INTO [dbo].[TB_R_ASSESSMENT]([PRF_ASSESSMENT_CD],[REGISTRATION_NUMBER],[ASSESSMENT_DATE],[ASSESSMENT_RESULT],[ASSESSMENT_SUMMARY],CREATED_BY,CREATED_DT)
						VALUES
						('R-ASS-'+  @MIDDLEFORMAT_ASS +'-'+@LAST_ASS,@USER_CD, @LATEST_TEST_DATE,@TEST_RESULT,@RESULT_SUMMARY,@USER_ID,GETDATE())
			

						SET @MIDDLEFORMAT_STG = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
						SET @LAST_STG = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT([REG_STAGE_CD],6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_R_RECRUITMENT_STAGE WHERE [REG_STAGE_CD] LIKE '%R-STG-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')



						INSERT INTO [dbo].[TB_R_RECRUITMENT_STAGE]
						VALUES
						('R-STG-'+  @MIDDLEFORMAT_STG +'-'+@LAST_STG,'V-'+  @MIDDLEFORMAT +'-'+@LAST,'V-'+  @MIDDLEFORMAT +'-'+@LAST,1,NULL,NULL,NULL,GETDATE(),@USER_ID)

						SET @NOREG = 'V-'+  @MIDDLEFORMAT +'-'+@LAST
									
						EXEC VOCATIONAL_NOTIFICATION..sp_InsertNotificationForEmail @NOREG,@FULL_NAME,@EMAIL,@USER_ID

					END
				END
				COMMIT TRANSACTION
			END TRY
			BEGIN CATCH
				ROLLBACK TRANSACTION
			END CATCH
			--INSERT INTO 

		
	
		FETCH NEXT FROM CURSORS1
		INTO @FULL_NAME,@NIK,@PHONE,@EMAIL,@LEVEL,@BATCH,@LATEST_PROC_REC,@LATEST_TEST_DATE,@TEST_RESULT,@RESULT_SUMMARY

		END
		CLOSE CURSORS1
		DEALLOCATE CURSORS1

		
	END

	
	SELECT 'true' AS status, 'Success storing new data.' AS message


	

END
GO
