/****** Object:  Table [dbo].[TB_M_FUNCTION_FEATURE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_FUNCTION_FEATURE](
	[FEATURE_CD] [nvarchar](50) NOT NULL,
	[FUNCTION_CD] [nvarchar](50) NOT NULL,
	[FEATURE_NAME] [nvarchar](100) NOT NULL,
	[FEATURE_DESCRIPTION] [nvarchar](255) NULL,
	[FEATURE_ACTIVE] [bit] NOT NULL,
	[FEATURE_ELEMENT_ID] [nvarchar](50) NULL,
	[FEATURE_ELEMENT_TYPE] [nvarchar](50) NOT NULL,
	[FEATURE_ELEMENT_ICON] [nvarchar](50) NULL,
	[FEATURE_ACTION] [nvarchar](200) NULL,
	[CREATED_BY] [nvarchar](50) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK__TB_M_FUN__745D83E1269BA9E4] PRIMARY KEY CLUSTERED 
(
	[FEATURE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_FUNCTION_FEATURE] ADD  DEFAULT ((1)) FOR [FEATURE_ACTIVE]
GO
ALTER TABLE [dbo].[TB_M_FUNCTION_FEATURE] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
