/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_STORE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_STORE]
    @PLACEMENT_SCHEDULE_CD AS VARCHAR(20) = NULL,
    @JOIN_DATE_FROM AS VARCHAR(10),    
    @JOIN_DATE_TO AS VARCHAR(10),     
    @PERIOD_WEEK AS INT,                
    @PERIOD_NAME AS VARCHAR(255),      
    @TRAINING_DATE_FROM AS VARCHAR(10),
    @TRAINING_DATE_TO AS VARCHAR(10),
    @OJD_DATE_FROM AS VARCHAR(10),
    @OJD_DATE_TO AS VARCHAR(10),
    @ATTACHMENT AS NVARCHAR(MAX) = NULL,
    @MODE AS VARCHAR(5),                
    @USER_ID AS VARCHAR(50)             
AS
BEGIN
    SET NOCOUNT ON;
		
    DECLARE @JOIN_DATE_FROM_VAL DATE;
    DECLARE @JOIN_DATE_TO_VAL DATE;
    DECLARE @TRAINING_DATE_FROM_VAL DATETIME;
    DECLARE @TRAINING_DATE_TO_VAL DATETIME;
    DECLARE @OJD_DATE_FROM_VAL DATETIME;
    DECLARE @OJD_DATE_TO_VAL DATETIME;
		
		DECLARE @BATCH VARCHAR(10);
		SET @BATCH = (SELECT COUNT(1) + 1 FROM TB_R_PLACEMENT_SCHEDULE)
		
    BEGIN TRY
        SET @JOIN_DATE_FROM_VAL = CONVERT(DATE, @JOIN_DATE_FROM);
        SET @JOIN_DATE_TO_VAL = CONVERT(DATE, @JOIN_DATE_TO);
        -- Asumsi waktu di set ke 00:00:00 untuk training/OJD jika input hanya tanggal
        SET @TRAINING_DATE_FROM_VAL = CONVERT(DATETIME, @TRAINING_DATE_FROM);
        SET @TRAINING_DATE_TO_VAL = CONVERT(DATETIME, @TRAINING_DATE_TO);
        SET @OJD_DATE_FROM_VAL = CONVERT(DATETIME, @OJD_DATE_FROM);
        SET @OJD_DATE_TO_VAL = CONVERT(DATETIME, @OJD_DATE_TO);


        IF @MODE = 'Add'
        BEGIN
            -- Logika penomoran otomatis PLACEMENT_SCHEDULE_CD:
            DECLARE @NEW_PS_CD VARCHAR(20);
            DECLARE @TodayDateFormatted VARCHAR(8);
            DECLARE @LastIncrement INT;

            SET @TodayDateFormatted = FORMAT(GETDATE(), 'yyyyMMdd');

            SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(PLACEMENT_SCHEDULE_CD, 4) AS INT)), 0)
            FROM [dbo].[TB_R_PLACEMENT_SCHEDULE]
            WHERE PLACEMENT_SCHEDULE_CD LIKE 'PS-' + @TodayDateFormatted + '%';

            SET @LastIncrement = @LastIncrement + 1;

            SET @NEW_PS_CD = 'PS-' + @TodayDateFormatted + '-' + RIGHT('0000' + CAST(@LastIncrement AS VARCHAR(4)), 4);
						
            INSERT INTO TB_R_PLACEMENT_SCHEDULE (
                PLACEMENT_SCHEDULE_CD,
                BATCH,
                JOIN_DATE_FROM,
                JOIN_DATE_TO,
                PERIOD_WEEK,
                PERIOD_NAME,
                TRAINING_DATE_FROM,
                TRAINING_DATE_TO,
                OJD_DATE_FROM,
                OJD_DATE_TO,
                ATTACHMENT,
                TOTAL_PLACEMENT_REQUESTS, -- Set default 0 saat membuat jadwal baru
                TOTAL_VOCATION_NEEDS,     -- Set default 0 saat membuat jadwal baru
                SCHEDULE_APPROVAL_STATUS, -- Set default status awal, misal 'SUBMITTED'
                CREATED_DT,
                CREATED_BY
            )
            VALUES (
                @NEW_PS_CD,
                @BATCH,
                @JOIN_DATE_FROM_VAL,
                @JOIN_DATE_TO_VAL,
                @PERIOD_WEEK,
                @PERIOD_NAME,
                @TRAINING_DATE_FROM_VAL,
                @TRAINING_DATE_TO_VAL,
                @OJD_DATE_FROM_VAL,
                @OJD_DATE_TO_VAL,
                @ATTACHMENT,
                0,
                0,
                '1', -- Status awal saat pembuatan
                GETDATE(),
                @USER_ID
            );

            SELECT 'true' AS status, 'Success storing new data.' AS message, @NEW_PS_CD AS id;
        END
        ELSE IF @MODE = 'Edit'
        BEGIN
				
            IF @PLACEMENT_SCHEDULE_CD IS NULL OR @PLACEMENT_SCHEDULE_CD = ''
            BEGIN
                SELECT 'false' AS status, 'PLACEMENT_SCHEDULE_CD is required for Edit mode.' AS message;
                RETURN;
            END

            -- UPDATE Statement
            UPDATE TB_R_PLACEMENT_SCHEDULE
            SET
                BATCH = @BATCH,
                JOIN_DATE_FROM = @JOIN_DATE_FROM_VAL,
                JOIN_DATE_TO = @JOIN_DATE_TO_VAL,
                PERIOD_WEEK = @PERIOD_WEEK,
                PERIOD_NAME = @PERIOD_NAME,
                TRAINING_DATE_FROM = @TRAINING_DATE_FROM_VAL,
                TRAINING_DATE_TO = @TRAINING_DATE_TO_VAL,
                OJD_DATE_FROM = @OJD_DATE_FROM_VAL,
                OJD_DATE_TO = @OJD_DATE_TO_VAL,
                ATTACHMENT = COALESCE(@ATTACHMENT, ATTACHMENT), 
                UPDATED_BY = @USER_ID,
                UPDATED_DT = GETDATE()
            WHERE PLACEMENT_SCHEDULE_CD = @PLACEMENT_SCHEDULE_CD
              AND COALESCE(IS_DELETED, '0') = '0'; 

            -- Cek hasil update
            IF @@ROWCOUNT = 0
            BEGIN
                SELECT 'false' AS status, 'No record found with the provided PLACEMENT_SCHEDULE_CD or record is already deleted.' AS message;
            END
            ELSE
            BEGIN
                SELECT 'true' AS status, 'Success updating data.' AS message, @PLACEMENT_SCHEDULE_CD AS id;
            END
        END
        ELSE
        BEGIN
            -- Invalid MODE
            SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
        END

    END TRY
    BEGIN CATCH
        -- Error handling
        SELECT 'false' AS status, ERROR_MESSAGE() AS message;
    END CATCH
END
GO
