/****** Object:  Table [dbo].[TB_M_PROFILE_EDU]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_PROFILE_EDU](
	[PROFILE_EDU_CD] [varchar](20) NOT NULL,
	[REGISTRATION_NUMBER] [nvarchar](20) NOT NULL,
	[EDUCATION_LEVEL] [varchar](20) NULL,
	[EDUCATION_LEVEL_DESC] [varchar](50) NULL,
	[INSTITUTE_NAME] [varchar](255) NULL,
	[COUNTRY] [varchar](50) NULL,
	[FINAL_GRADE] [decimal](16, 2) NULL,
	[MAJOR] [varchar](255) NULL,
	[GRADUATION_YEAR] [int] NULL,
	[VALID_FROM] [date] NULL,
	[VALID_TO] [date] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[MAXIMUM_GRADE] [decimal](16, 2) NULL,
	[EDUCATION_LEVEL_CD] [varchar](20) NULL,
 CONSTRAINT [PK_TB_M_PROFILE_EDU] PRIMARY KEY CLUSTERED 
(
	[PROFILE_EDU_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_PROFILE_EDU]  WITH CHECK ADD  CONSTRAINT [FK_TB_M_PROFILE_EDU_PROFILE] FOREIGN KEY([REGISTRATION_NUMBER])
REFERENCES [dbo].[TB_M_PROFILE] ([REGISTRATION_NUMBER])
GO
ALTER TABLE [dbo].[TB_M_PROFILE_EDU] CHECK CONSTRAINT [FK_TB_M_PROFILE_EDU_PROFILE]
GO
