/****** Object:  StoredProcedure [dbo].[SP_MASTER_LOCATION_GET_COMBOBOX]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_LOCATION_GET_COMBOBOX]
    @ID AS VARCHAR(50),
    @LOC_DATA AS VARCHAR(50),
    @TERM AS VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
		
		DECLARE @SQL NVARCHAR(MAX) = '';
    
    IF(LOWER(@LOC_DATA) = 'province') BEGIN
      SET @SQL = 'SELECT PROVINCE_CD as id,
      PROVINCE_NAME as text
      FROM TB_M_PROVINCE
      WHERE PROVINCE_NAME LIKE ''%'' + COALESCE(@TERM,'''') + ''%'''
    END
    
    IF(LOWER(@LOC_DATA) = 'city') BEGIN
      SET @SQL = 'SELECT CITY_CD as id,
      CITY_NAME as text
      FROM TB_M_CITY
      WHERE CITY_NAME LIKE ''%'' + COALESCE(@TERM,'''') + ''%''';
			
			IF(COALESCE(@ID, '') <> '') BEGIN
				SET @SQL = @SQL + ' AND PROVINCE_CD = @ID'
			END
				
    END
    
    IF(LOWER(@LOC_DATA) = 'district') BEGIN
      SET @SQL = 'SELECT DISTRICT_CD as id,
      DISTRICT_NAME as text
      FROM TB_M_DISTRICT
      WHERE DISTRICT_NAME LIKE ''%'' + COALESCE(@TERM,'''') + ''%''';
			
			IF(COALESCE(@ID, '') <> '') BEGIN
				SET @SQL = @SQL + ' AND CITY_CD = @ID'
			END
    END
    
    IF(LOWER(@LOC_DATA) = 'village') BEGIN
      SET @SQL = 'SELECT VILLAGE_CD as id,
      VILLAGE_NAME as text
      FROM TB_M_VILLAGE
      WHERE VILLAGE_NAME LIKE ''%'' + COALESCE(@TERM,'''') + ''%''';
			
			IF(COALESCE(@ID, '') <> '') BEGIN
				SET @SQL = @SQL + ' AND DISTRICT_CD = @ID'
			END
    END
		
		EXECUTE sp_executesql @SQL,
        N'@ID VARCHAR(50), @TERM VARCHAR(MAX)',
        @ID = @ID,
        @TERM = @TERM;
END
GO
