/****** Object:  StoredProcedure [dbo].[SP_MY_PROFILE_GET_LATEST_ASSESSMENT_DETAIL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MY_PROFILE_GET_LATEST_ASSESSMENT_DETAIL]
    @NOREG NVARCHAR(20) -- Parameter untuk nomor registrasi
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        SM.SYSTEM_CD AS PROCESS_CD,
        SM.SYSTEM_VALUE AS PROCESS_NAME,
        PA.ASSESSMENT_START_DT,
        PA.ASSESSMENT_EXPIRED_DT,
        SR.PIC_NAME,
        SR.PIC_NUMBER,
        SR.LOCATION
    FROM 
        [dbo].[TB_R_PROFILE_STATUS] PS
    LEFT JOIN [dbo].[TB_R_PROFILE_ASSESSMENT] PA 
        ON PS.NOREG = PA.REGISTRATION_NUMBER 
        AND PS.PROFILE_ASSESSMENT_CD = PA.PROFILE_ASSESSMENT_CD
    LEFT JOIN [dbo].[TB_M_SYSTEM_MASTER] SM 
        ON PS.REC_PROCESS = SM.SYSTEM_CD 
        AND SM.SYSTEM_TYPE = 'RECRUITMENT_PROCESS'
    LEFT JOIN [dbo].[TB_R_SCHEDULE_RECRUITMENT] SR 
        ON PA.SCHEDULE_RECRUITMENT_CD = SR.SCHEDULE_RECRUITMENT_CD
    WHERE
        PA.REGISTRATION_NUMBER = @NOREG
    ORDER BY 
        PS.CREATED_DT DESC;
END;
GO
