/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ATTENDANCE_GET_DETAIL_ATTACHMENT]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ATTENDANCE_GET_DETAIL_ATTACHMENT]
    @ATTENDANCE_CD VARCHAR(50)
AS
BEGIN
    SELECT * FROM TB_R_ATTENDANCE_ATTACHMENT WHERE ATTENDANCE_CD = @ATTENDANCE_CD
END;
GO
