/****** Object:  StoredProcedure [dbo].[SP_MASTER_LOCATION_DELETE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_LOCATION_DELETE]
    @CODE VARCHAR(30),
    @USER_ID VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @LEVEL INT;

        -- Hitung jumlah titik (.)
        SET @LEVEL = LEN(@CODE) - LEN(REPLACE(@CODE, '.', ''));

        -- PROVINCE (tanpa titik)
        IF @LEVEL = 0
        BEGIN
            UPDATE TB_M_PROVINCE
            SET 
                IS_DELETED = 1,
                DELETED_DT = GETDATE(),
                DELETED_BY = @USER_ID
            WHERE PROVINCE_CD = @CODE
              AND IS_DELETED = 0;

            SELECT 
                'true' AS status, 
                CONCAT('Province with code ', @CODE, ' successfully deleted.') AS message;
            RETURN;
        END

        -- CITY (1 titik → 11.01)
        IF @LEVEL = 1
        BEGIN
            UPDATE TB_M_CITY
            SET 
                IS_DELETED = 1,
                DELETED_DT = GETDATE(),
                DELETED_BY = @USER_ID
            WHERE CITY_CD = @CODE
              AND IS_DELETED = 0;

            SELECT 
                'true' AS status, 
                CONCAT('City with code ', @CODE, ' successfully deleted.') AS message;
            RETURN;
        END

        -- DISTRICT (2 titik → 11.01.01)
        IF @LEVEL = 2
        BEGIN
            UPDATE TB_M_DISTRICT
            SET 
                IS_DELETED = 1,
                DELETED_DT = GETDATE(),
                DELETED_BY = @USER_ID
            WHERE DISTRICT_CD = @CODE
              AND IS_DELETED = 0;

            SELECT 
                'true' AS status, 
                CONCAT('District with code ', @CODE, ' successfully deleted.') AS message;
            RETURN;
        END

        -- VILLAGE (3 titik → 11.01.01.01)
        IF @LEVEL = 3
        BEGIN
            UPDATE TB_M_VILLAGE
            SET 
                IS_DELETED = 1,
                DELETED_DT = GETDATE(),
                DELETED_BY = @USER_ID
            WHERE VILLAGE_CD = @CODE
              AND IS_DELETED = 0;

            SELECT 
                'true' AS status, 
                CONCAT('Village with code ', @CODE, ' successfully deleted.') AS message;
            RETURN;
        END

        -- INVALID CODE FORMAT
        SELECT 
            'false' AS status, 
            CONCAT('Invalid code format: ', @CODE, '.') AS message;
    END TRY

    BEGIN CATCH
        SELECT 
            'false' AS status, 
            'Internal Server Error: ' + ERROR_MESSAGE() AS message;
    END CATCH
END
GO
