/****** Object:  Table [dbo].[TB_R_LOG_H]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_LOG_H](
	[PROCESS_ID] [varchar](20) NOT NULL,
	[FUNCTION_CD] [varchar](50) NOT NULL,
	[PROCESS_STS] [varchar](1) NOT NULL,
	[PROCESS_START_DT] [datetime] NOT NULL,
	[PROCESS_END_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CHANGED_BY] [varchar](50) NULL,
	[CHANGED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PROCESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_LOG_H] ADD  DEFAULT ('System') FOR [CREATED_BY]
GO
ALTER TABLE [dbo].[TB_R_LOG_H] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
