/****** Object:  Table [dbo].[TB_M_LABOR_TYPE]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_LABOR_TYPE](
	[LABOR_CD] [varchar](20) NOT NULL,
	[LABOR_TYPE] [varchar](50) NULL,
	[CATEGORY] [varchar](3) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[IS_ACTIVE] [bit] NULL,
	[IS_DELETED] [bit] NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[DELETED_DT] [datetime] NOT NULL,
	[DELETED_BY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LABOR_CD] ASC,
	[DELETED_DT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_LABOR_TYPE] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[TB_M_LABOR_TYPE] ADD  DEFAULT ('') FOR [DELETED_DT]
GO
