/****** Object:  StoredProcedure [dbo].[SP_AUTH_GET_USER]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_GET_USER]
    @USERNAME AS VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.USER_CD,
        u.USERNAME,
        u.FULL_NAME,
        u.NOREG,
        u.PHONE,
        u.EMAIL,
        STRING_AGG(r.role_name, ', ') WITHIN GROUP (ORDER BY r.role_name) AS ROLE_NAME
    FROM
        TB_M_USERS u
    INNER JOIN
        TB_R_USER_ROLES ur ON u.USER_CD = ur.USER_CD
    INNER JOIN
        TB_M_ROLES r ON ur.ROLE_CD = r.ROLE_CD
    WHERE
        u.USERNAME = @USERNAME -- Removed CONVERT, assuming @USERNAME matches u.USERNAME's data type
    GROUP BY
        u.USER_CD,
        u.USERNAME,
        u.FULL_NAME,
        u.NOREG,
        u.PHONE,
        u.EMAIL
END;
GO
