/****** Object:  StoredProcedure [dbo].[SP_COMMON_GET_COMBOBOX_POS]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_COMMON_GET_COMBOBOX_POS]
    @TERM AS VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
			POSITION_LEVEL AS id,
      POSITION_ABBR AS text, 
      POSITION_DESC AS extra_attr1 
    FROM TB_M_ORG_POSITION
      WHERE POSITION_ABBR LIKE '%' + @TERM + '%'
      OR POSITION_DESC LIKE '%' + @TERM + '%'
    ORDER BY LEVEL_ID ASC;
END
GO
