/****** Object:  Table [dbo].[TB_R_ORG_ASSIGNMENT]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_ORG_ASSIGNMENT](
	[ORG_ASSIGN_CD] [varchar](20) NOT NULL,
	[REGISTRATION_NUMBER] [varchar](20) NULL,
	[MAIN_LOCATION] [varchar](150) NULL,
	[SUB_LOCATION] [varchar](150) NULL,
	[DIRECTORATE] [varchar](150) NULL,
	[DIVISION] [varchar](150) NULL,
	[DEPARTMENT] [varchar](150) NULL,
	[SECTION] [varchar](150) NULL,
	[LINE] [varchar](150) NULL,
	[GROUP_NAME] [varchar](150) NULL,
	[POS] [varchar](150) NULL,
	[POS_CATEGORY] [varchar](50) NULL,
	[LABOR_TYPE] [varchar](50) NULL,
	[VALID_FROM] [datetime] NULL,
	[VALID_TO] [datetime] NULL,
	[REMARKS] [varchar](255) NULL,
	[CATEGORY] [varchar](50) NULL,
	[DIRECTORATE_ID] [int] NULL,
	[DIVISION_ID] [int] NULL,
	[DEPARTMENT_ID] [int] NULL,
	[SECTION_ID] [int] NULL,
	[LINE_ID] [int] NULL,
	[GROUP_ID] [int] NULL,
	[POS_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ORG_ASSIGN_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
