/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ATTENDANCE_GET_DETAIL_WORK_HOURS]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ATTENDANCE_GET_DETAIL_WORK_HOURS]
    @REGISTRATION_NUMBER NVARCHAR(50),
    @ATTENDANCE_CD NVARCHAR(50) = NULL,
    @ATTENDANCE_APPROVAL NVARCHAR(50) = NULL,
    @PERIOD_FROM DATE,
    @PERIOD_TO DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @DynamicWhere NVARCHAR(MAX) = '';

    DECLARE @ATT_STATUS_PRESENT VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'PRESENT' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_ABSENT VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'ABSENT' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_CONDITIONAL VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'CONDITIONAL' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');

     IF @ATTENDANCE_CD IS NOT NULL AND @ATTENDANCE_CD <> ''
        SET @DynamicWhere = @DynamicWhere + ' AND ATT.ATTENDANCE_CD = @p_ATTENDANCE_CD ';

    SET @SQL = '
    SELECT
      COALESCE(SUM(WORK_HOURS), 0) AS WORK_HOURS,
			DATEPART(HOUR, CONVERT(VARCHAR (8), DATEADD(SECOND, SUM(DATEDIFF(SECOND, COALESCE(ESH_IN, ''00:00:00''), COALESCE(ESH_OUT, ''00:00:00''))), 0), 108)) EXTRA_STUDY_HOURS,
      0 AS EARLY_EXTRA_STUDY_HOURS,
			DATEPART(HOUR, CONVERT(VARCHAR (8), DATEADD(SECOND, SUM( CASE WHEN WC.WORKING_FLAG = ''0'' THEN DATEDIFF(SECOND, COALESCE(ESH_IN, ''00:00:00''), COALESCE(ESH_OUT, ''00:00:00'')) ELSE 0 END), 0), 108)) AS HOLIDAY_EXTRA_STUDY_HOURS
    FROM
        TB_R_ATTENDANCE ATT
    LEFT JOIN
        TB_M_SYSTEM_MASTER SM ON ATT.ATTENDANCE_STATUS = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = ''ATTENDANCE_STATUS''
		LEFT JOIN TB_R_EXTRA_STUDY ES ON ATT.REGISTRATION_NUMBER = ES.REGISTRATION_NUMBER AND ATT.ATTENDANCE_DATE = ES.[DATE] 
		LEFT JOIN TB_M_WORKING_CALENDAR WC ON ATT.ATTENDANCE_DATE = WC.WORKING_DATE
    WHERE 1=1
    AND (ATT.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_CONDITIONAL + ',' + @ATT_STATUS_PRESENT, ',', ''',''') + ''') AND (ATT.CLOCK_IN_TIME IS NOT NULL OR ATT.CLOCK_OUT_TIME IS NOT NULL) OR (ATT.ATTENDANCE_STATUS IS NULL AND ATT.CLOCK_IN_TIME IS NOT NULL AND ATT.CLOCK_OUT_TIME IS NOT NULL))
    AND ATT.REGISTRATION_NUMBER = @p_REGISTRATION_NUMBER
    AND ATT.ATTENDANCE_DATE BETWEEN @p_PERIOD_FROM AND @p_PERIOD_TO
    ' + COALESCE(@DynamicWhere,'');

    EXEC sp_executesql @SQL,
        N'@p_REGISTRATION_NUMBER NVARCHAR(50), @p_PERIOD_FROM DATE, @p_PERIOD_TO DATE, @p_ATTENDANCE_CD NVARCHAR(50), @p_ATTENDANCE_APPROVAL NVARCHAR(50)',
        @p_REGISTRATION_NUMBER = @REGISTRATION_NUMBER,
        @p_PERIOD_FROM = @PERIOD_FROM,
        @p_PERIOD_TO = @PERIOD_TO,
        @p_ATTENDANCE_CD = @ATTENDANCE_CD,
        @p_ATTENDANCE_APPROVAL = @ATTENDANCE_APPROVAL;
END
GO
