/****** Object:  Table [dbo].[TB_M_ORG_POS]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_ORG_POS](
	[ORG_POS_CD] [varchar](20) NOT NULL,
	[ORG_RANK_CD] [varchar](20) NULL,
	[POS_CATEGORY_CD] [varchar](50) NULL,
	[POS_CATEGORY] [varchar](15) NOT NULL,
	[VOCATION_TYPE] [varchar](50) NOT NULL,
	[MALE_MANPOWER] [int] NOT NULL,
	[FEMALE_MANPOWER] [int] NOT NULL,
	[CITY_CD_CRITERIA] [varchar](20) NULL,
	[CITY_CRITERIA] [varchar](255) NULL,
	[HEIGHT_MIN] [int] NULL,
	[HEIGHT_MAX] [int] NULL,
	[WEIGHT_MIN] [int] NULL,
	[WEIGHT_MAX] [int] NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK__TB_M_ORG__064F968B2AB3EB1F] PRIMARY KEY CLUSTERED 
(
	[ORG_POS_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_ORG_POS] ADD  CONSTRAINT [DF_TB_M_ORG_POS_HEIGHT_MAX]  DEFAULT ((999)) FOR [HEIGHT_MAX]
GO
ALTER TABLE [dbo].[TB_M_ORG_POS] ADD  CONSTRAINT [DF_TB_M_ORG_POS_WEIGHT_MAX]  DEFAULT ((999)) FOR [WEIGHT_MAX]
GO
ALTER TABLE [dbo].[TB_M_ORG_POS]  WITH CHECK ADD  CONSTRAINT [FK__TB_M_ORG___ORG_R__56E8E7AB] FOREIGN KEY([ORG_RANK_CD])
REFERENCES [dbo].[TB_M_ORG_RANK] ([ORG_RANK_CD])
GO
ALTER TABLE [dbo].[TB_M_ORG_POS] CHECK CONSTRAINT [FK__TB_M_ORG___ORG_R__56E8E7AB]
GO
