/****** Object:  Table [dbo].[TB_M_VOCATIONAL_CENTER]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_VOCATIONAL_CENTER](
	[VOCATIONAL_CENTER_CD] [varchar](20) NOT NULL,
	[NAME] [varchar](50) NULL,
	[PROVINCE_CD] [varchar](20) NULL,
	[CITY_CD] [varchar](20) NULL,
	[DISTRICT_CD] [varchar](20) NULL,
	[VILLAGE_CD] [varchar](20) NULL,
	[ADDRESS] [varchar](150) NULL,
	[CP_NAME] [varchar](50) NULL,
	[CP_PHONE] [varchar](15) NULL,
	[EMAIL] [varchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[IS_DELETED] [bit] NULL,
	[DELETED_DT] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[VOCATIONAL_CENTER_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
