/****** Object:  Table [dbo].[TB_R_SCHEDULE_RECRUITMENT]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_SCHEDULE_RECRUITMENT](
	[SCHEDULE_RECRUITMENT_CD] [varchar](20) NOT NULL,
	[RECRUITMENT_PROCESS] [varchar](30) NULL,
	[TITLE] [varchar](150) NULL,
	[ASSESSMENT_H_CD] [varchar](20) NULL,
	[PROVIDER_CD] [varchar](20) NULL,
	[LOCATION] [varchar](150) NULL,
	[START_DT] [datetime] NULL,
	[END_DT] [datetime] NULL,
	[DURATION] [int] NULL,
	[CAPACITY] [int] NULL,
	[PIC_NAME] [varchar](100) NULL,
	[PIC_NUMBER] [varchar](30) NULL,
	[REMARKS] [varchar](255) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SCHEDULE_RECRUITMENT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
