/****** Object:  Table [dbo].[TB_R_OT_APPROVAL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_OT_APPROVAL](
	[OT_APPROVAL_CD] [varchar](20) NOT NULL,
	[OVERTIME_CD] [varchar](20) NULL,
	[APPROVAL_LEVEL] [varchar](150) NULL,
	[APPROVAL_NAME] [varchar](150) NULL,
	[APPROVAL_DATE] [datetime] NULL,
	[APPROVAL_SEQ] [int] NULL,
	[APPROVAL_TYPE] [varchar](20) NULL,
	[APPROVED_OT_WD] [decimal](5, 2) NULL,
	[APPROVED_OT_WE] [decimal](5, 2) NULL,
	[APPROVED_OT_HD] [decimal](5, 2) NULL,
	[APPROVED_OT_TOTAL] [decimal](12, 2) NULL,
	[CREATED_BY] [varchar](20) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OT_APPROVAL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
