/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL]
    @REGISTRATION_NUMBER AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      P.REGISTRATION_NUMBER,
      P.CANDIDATE_NUMBER,
      P.FULL_NAME,
      U.EMAIL,
      U.PHONE,
      P.GENDER AS GENDER_CD,
      SYS_GEN.SYSTEM_VALUE AS GENDER,
      P.PLACE_OF_BIRTH,
      P.DATE_OF_BIRTH,
      P.AGE,
      P.PERSONAL_ID,
      P.TAX_ID,
      P.BPJS_ID,
      P.BPJS_STATUS AS BPJS_STATUS_CD,
      SYS_BPJS.SYSTEM_VALUE AS BPJS_STATUS,
      P.RELIGION AS RELIGION_CD,
      SYS_REL.SYSTEM_VALUE AS RELIGION,
      P.SHIRT_SIZE,
      P.SHOE_SIZE,
      P.MOTHER_NAME,
      P.MOTHER_DOB,
      P.RECRUITMENT_BATCH,
      P.CONTRACT_START,
      P.CONTRACT_END,
      DATEDIFF(DAY, GETDATE(), P.CONTRACT_END) AS TERMINATE_IN,
      P.VOCATIONAL_CENTER_CD,
      VC.NAME AS VOCATIONAL_CENTER_NAME,
      P.VAKSIN_1,
      P.VAKSIN_2,
      P.VAKSIN_3,
      P.REFFERAL_NOREG,
      P.PROFILE_STATUS AS PROFILE_STATUS_CD,
      SYS_PS.SYSTEM_VALUE AS PROFILE_STATUS,
      P.PROFILE_STATUS AS PROFILE_STATUS_CD,
      SYS_RP.SYSTEM_VALUE AS RECRUITMENT_PROCESS,
      P.RECRUITMENT_PROCESS AS RECRUITMENT_PROCESS_CD,
      SYS_RS.SYSTEM_VALUE AS RECRUITMENT_STATUS,
      P.RECRUITMENT_STATUS AS RECRUITMENT_STATUS_CD,
      P.BLOOD_TYPE,
      P.HEIGHT,
      P.WEIGHT,
      P.CARD_NUMBER,
      P.FACE_ID_REFERENCE,
      OA.DIRECTORATE_ID,
      OA.DIRECTORATE,
      OA.DIVISION_ID,
      OA.DIVISION,
      OA.DEPARTMENT_ID,
      OA.DEPARTMENT,
      OA.SECTION_ID,
      OA.[SECTION],
      OA.LINE_ID,
      OA.LINE,
      OA.GROUP_ID,
      OA.GROUP_NAME,
      OA.MAIN_LOCATION,
      OA.SUB_LOCATION
    FROM
      TB_M_PROFILE P
      LEFT JOIN TB_M_SYSTEM_MASTER SYS_GEN ON SYS_GEN.SYSTEM_CD = P.GENDER
      AND SYS_GEN.SYSTEM_TYPE = 'GENDER'
      LEFT JOIN TB_M_SYSTEM_MASTER SYS_PS ON SYS_PS.SYSTEM_CD = P.PROFILE_STATUS
      AND SYS_PS.SYSTEM_TYPE = 'PROFILE_STATUS'
      LEFT JOIN TB_M_SYSTEM_MASTER SYS_RS ON SYS_RS.SYSTEM_CD = P.RECRUITMENT_STATUS
      AND SYS_RS.SYSTEM_TYPE = 'RECRUITMENT_STATUS'
      LEFT JOIN TB_M_SYSTEM_MASTER SYS_RP ON SYS_RP.SYSTEM_CD = P.RECRUITMENT_PROCESS
      AND SYS_RP.SYSTEM_TYPE = 'RECRUITMENT_PROCESS'
      LEFT JOIN TB_M_SYSTEM_MASTER SYS_BPJS ON SYS_BPJS.SYSTEM_CD = P.BPJS_STATUS
      AND SYS_BPJS.SYSTEM_TYPE = 'IS_ACTIVE'
      LEFT JOIN TB_M_SYSTEM_MASTER SYS_REL ON SYS_REL.SYSTEM_CD = P.RELIGION
      AND SYS_REL.SYSTEM_TYPE = 'RELIGION'
      LEFT JOIN TB_M_VOCATIONAL_CENTER VC ON VC.VOCATIONAL_CENTER_CD = P.VOCATIONAL_CENTER_CD
      LEFT JOIN TB_M_USERS U ON P.REGISTRATION_NUMBER = U.NOREG
      LEFT JOIN TB_R_ORG_ASSIGNMENT OA ON OA.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER AND GETDATE() BETWEEN OA.VALID_FROM AND OA.VALID_TO
    WHERE P.REGISTRATION_NUMBER = @REGISTRATION_NUMBER
    
END;
GO
