/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_SUBMIT]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_SUBMIT]
    @CLOSING_ATTENDANCE_CD VARCHAR(50),
    @CREATED_BY VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
    
    DECLARE @IS_EXISTS INT = (SELECT COUNT(1) FROM TB_R_PROGRESS_TRACKING WHERE REFERENCE_CD = @CLOSING_ATTENDANCE_CD AND CURRENT_STEP = 3)
    
    IF @IS_EXISTS <> 0 BEGIN
      SELECT 'false' AS status, 'Data already submitted.' AS message;
      RETURN;
    END
    
    DECLARE @NOREG AS VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @CREATED_BY);
    
    DECLARE @TodayDate VARCHAR(8);
    DECLARE @LastIncrement INT;
    DECLARE @New_CD VARCHAR(50);
    DECLARE @CLOSING_PERIOD VARCHAR(50);
    DECLARE @CUT_OFF_FROM VARCHAR(50);
    DECLARE @CUT_OFF_TO VARCHAR(50);
    SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');
    
    SELECT 
      @CLOSING_PERIOD = CLOSING_ATTENDANCE_PERIOD, 
      @CUT_OFF_FROM = CUT_OFF_FROM, 
      @CUT_OFF_TO = CUT_OFF_TO 
    FROM TB_R_CLOSING_ATTENDANCE WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;

    SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(PROGRESS_CD, 3) AS INT)), 0)
    FROM [dbo].[TB_R_PROGRESS_TRACKING]
    WHERE PROGRESS_CD LIKE 'PT-' + @TodayDate + '%';

    SET @LastIncrement = @LastIncrement + 1;
    SET @New_CD = 'PT-' + @TodayDate + '-' + RIGHT('000' + CAST(@LastIncrement AS VARCHAR(3)), 3);
    
    INSERT INTO TB_R_PROGRESS_TRACKING (
        PROGRESS_CD, REFERENCE_CD, MODULE_NAME, PERIOD, CUT_OFF_FROM, CUT_OFF_TO, STATUS, CURRENT_STEP, TOTAL_STEPS, REMARKS, CREATED_BY, CREATED_DT
    )
    VALUES (
        @New_CD, @CLOSING_ATTENDANCE_CD, 'ATTENDANCE_CLOSING', @CLOSING_PERIOD, @CUT_OFF_FROM, @CUT_OFF_TO, '1', 3, 4, NULL, @CREATED_BY, GETDATE()
    );
    
    
    UPDATE TB_R_CLOSING_ATTENDANCE
      SET STATUS = '3'
    WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD
    
    SELECT 'true' AS status, 'Success submit data.' AS message;
    
    COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
