/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_GET_SEND_MAIL_CONTENT_APPROVAL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_GET_SEND_MAIL_CONTENT_APPROVAL]
    @CLOSING_ATTENDANCE_CD AS VARCHAR(50) = ''
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP
      1 
      'MSG-20250926085821' AS MESSAGE_CD,
      'EMAIL_TEMPLATE' AS EMAIL_TEMPLATE,
      '[Vorta] Approval Attendance Closing Request' AS TITLE,
      CAA.APPROVAL_NOREG AS REFERENCE_CD,
      CAA.APPROVAL_NOREG,
      U.EMAIL as RECEIPT_CONTACT,
      U.NOREG as RECEIPT_NOREG,
      CA.CREATED_BY,
      U.FULL_NAME AS PARAM_1,
      U.NOREG AS PARAM_2,
      CONVERT(VARCHAR, CA.CLOSING_ATTENDANCE_PERIOD) AS PARAM_3,
      CONVERT(VARCHAR, CA.CUT_OFF_FROM, 126) AS PARAM_4,
      CONVERT(VARCHAR, CA.CUT_OFF_TO, 126) AS PARAM_5,
      U2.FULL_NAME AS PARAM_6
    FROM
      TB_R_CLOSING_ATTENDANCE_APPROVAL CAA
      INNER JOIN TB_M_USERS U ON CAA.APPROVAL_NOREG = U.NOREG
      INNER JOIN TB_R_CLOSING_ATTENDANCE CA ON CA.CLOSING_ATTENDANCE_CD = CAA.CLOSING_ATTENDANCE_CD
      INNER JOIN TB_M_USERS U2 ON CA.CREATED_BY = U2.USERNAME
    WHERE
     CA.CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD
      AND CAA.APPROVAL_STATUS = '0'
    ORDER BY
      CAA.APPROVAL_SEQ ASC
END;
GO
