/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_GET_INQUIRY]
    @PAGE AS INT = 0,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'PERIOD_TO',
    @OrderDirection AS VARCHAR(5) = 'DESC',
    @CLOSING_DATE_FROM VARCHAR(20) = '',
    @CLOSING_DATE_TO VARCHAR(20) = '',
		@ATTENDACE_PERIOD_FROM VARCHAR(20) = '',
		@ATTENDACE_PERIOD_TO VARCHAR(20) = '',
    @TERM NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('CLOSING_ATTENDANCE_CD', 'PERIOD_FROM', 'PERIOD_TO', 'TOTAL_VOCATION', 'TOTAL_WORKING_DAYS', 'PAYMENT_SCHEDULE', 'CLOSED_BY', 'CLOSED_DT', 'STATUS_NM')
    BEGIN
        SET @OrderBy = 'PERIOD_TO';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'DESC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
      SELECT 
        CA.CLOSING_ATTENDANCE_CD,
				CA.CUT_OFF_FROM AS PERIOD_FROM,
				CA.CUT_OFF_TO AS PERIOD_TO,
        CA.TOTAL_EMPLOYEE AS TOTAL_VOCATION,
        CA.TOTAL_WORKING_DAYS,
				CLOSING_ATTENDANCE_DATE AS PAYMENT_SCHEDULE,
				CA.CREATED_BY AS CLOSED_BY,
				CA.CREATED_DATE AS CLOSED_DT,
        SM.SYSTEM_VALUE AS STATUS_NM,
        SM.SYSTEM_CD AS STATUS
        
      FROM TB_R_CLOSING_ATTENDANCE CA
      LEFT JOIN TB_M_USERS U ON U.USERNAME = COALESCE(CA.UPDATED_BY, CA.CREATED_BY)
      LEFT JOIN TB_M_SYSTEM_MASTER SM ON CA.STATUS = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = ''ATTENDANCE_CLOSING''
      WHERE 1=1 ';
		
		IF @CLOSING_DATE_FROM IS NOT NULL AND @CLOSING_DATE_FROM <> ''
			SET @SQL = @SQL + ' AND CA.CREATED_DATE >= @CLOSING_DATE_FROM';
    		
		IF @CLOSING_DATE_TO IS NOT NULL AND @CLOSING_DATE_TO <> ''
			SET @SQL = @SQL + ' AND CA.CREATED_DATE <= @CLOSING_DATE_TO';
    		
		IF @ATTENDACE_PERIOD_FROM IS NOT NULL AND @ATTENDACE_PERIOD_FROM <> ''
			SET @SQL = @SQL + ' AND CA.CUT_OFF_FROM >= @ATTENDACE_PERIOD_FROM';
    		
		IF @ATTENDACE_PERIOD_TO IS NOT NULL AND @ATTENDACE_PERIOD_TO <> ''
			SET @SQL = @SQL + ' AND CA.CUT_OFF_TO <= @ATTENDACE_PERIOD_TO';
      
    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (
          CA.PERIOD LIKE ''%'' + @TERM + ''%'' OR 
          U.FULL_NAME LIKE ''%'' + @TERM + ''%'' OR
          SM.SYSTEM_VALUE LIKE ''%'' + @TERM + ''%'')';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@CLOSING_DATE_FROM VARCHAR(20), @CLOSING_DATE_TO VARCHAR(20), @ATTENDACE_PERIOD_FROM VARCHAR(20), @ATTENDACE_PERIOD_TO VARCHAR(20), @TERM NVARCHAR(MAX), @Offset INT, @PageSize INT',
        @CLOSING_DATE_FROM = @CLOSING_DATE_FROM,
        @CLOSING_DATE_TO = @CLOSING_DATE_TO,
        @ATTENDACE_PERIOD_FROM = @ATTENDACE_PERIOD_FROM,
        @ATTENDACE_PERIOD_TO = @ATTENDACE_PERIOD_TO,
        @TERM = @TERM,
        @Offset = @PAGE,
        @PageSize = @PageSize;
END
GO
