/****** Object:  StoredProcedure [dbo].[SP_ADMIN_DASHBOARD_ATTENDANCE_TYPE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_ADMIN_DASHBOARD_ATTENDANCE_TYPE]
    @DIVISION_CD     AS VARCHAR(20) = NULL,
    @DEPARTMENT_CD   AS VARCHAR(20) = NULL,
    @PLANT_CD        AS VARCHAR(20) = NULL,
    @PERIOD_DT       AS VARCHAR(30) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH FILTERED_ATTENDANCE AS (
        SELECT tra.*
        FROM TB_R_ATTENDANCE tra
        LEFT JOIN TB_R_ORG_ASSIGNMENT troa 
            ON troa.REGISTRATION_NUMBER = tra.REGISTRATION_NUMBER
        WHERE
            (@DIVISION_CD   IS NULL OR troa.DIVISION_ID   = @DIVISION_CD)
            AND (@DEPARTMENT_CD IS NULL OR troa.DEPARTMENT_ID = @DEPARTMENT_CD)
            AND (@PLANT_CD   IS NULL OR troa.MAIN_LOCATION = @PLANT_CD)
    )
    SELECT
        CASE
            WHEN fa.ATTENDANCE_STATUS IS NULL THEN 'PRESENT'
            WHEN fa.ATTENDANCE_STATUS IN ('02', '03', '04') THEN 'LATE_IN' -- need adjust for code
            WHEN fa.ATTENDANCE_STATUS IN ('05', '07', '48', '44') THEN 'UNFIT' -- need adjust for code
            WHEN fa.CLOCK_IN_TIME IS NULL AND fa.CLOCK_OUT_TIME IS NULL THEN 'UNEXCUSED'
        END AS STATUS_GROUP,
        COUNT(*) AS TOTAL
    INTO #TMP_RESULT
    FROM FILTERED_ATTENDANCE fa
    GROUP BY
        CASE
            WHEN fa.ATTENDANCE_STATUS IS NULL THEN 'PRESENT'
            WHEN fa.ATTENDANCE_STATUS IN ('02', '03', '04') THEN 'LATE_IN' -- need adjust for code
            WHEN fa.ATTENDANCE_STATUS IN ('05', '07', '48', '44') THEN 'UNFIT' -- need adjust for code
            WHEN fa.CLOCK_IN_TIME IS NULL AND fa.CLOCK_OUT_TIME IS NULL THEN 'UNEXCUSED'
        END;

    DECLARE @Categories TABLE (STATUS_GROUP VARCHAR(50));
    INSERT INTO @Categories VALUES ('PRESENT'), ('LATE_IN'), ('UNFIT'), ('UNEXCUSED');

    INSERT INTO #TMP_RESULT (STATUS_GROUP, TOTAL)
    SELECT c.STATUS_GROUP, 0
    FROM @Categories c
    WHERE NOT EXISTS (
        SELECT 1 FROM #TMP_RESULT t WHERE t.STATUS_GROUP = c.STATUS_GROUP
    );

    SELECT STATUS_GROUP, TOTAL
    FROM #TMP_RESULT
    ORDER BY 
        CASE STATUS_GROUP
            WHEN 'PRESENT' THEN 1
            WHEN 'LATE_IN' THEN 2
            WHEN 'UNFIT' THEN 3
            WHEN 'UNEXCUSED' THEN 4
        END;

    DROP TABLE #TMP_RESULT;
END
GO
