/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_STORE_BY_UPLOAD_EXCEL3a]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_STORE_BY_UPLOAD_EXCEL3a]
	@json NVARCHAR(MAX),
	@FILENAME NVARCHAR(250),
	@MODE VARCHAR(10),
	@USER_ID NVARCHAR(20)

AS

BEGIN
	--DECLARE @LAST as VARCHAR(6)
	--DECLARE @MIDDLEFORMAT as VARCHAR(6)
	--SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))

	--DELETE FROM [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] WHERE NIK IN
	--(SELECT 
	--NIK
	--FROM OPENJSON(@json) WITH (
	--	FULL_NAME nvarchar(100) '$.FULL_NAME',
	--	NIK nvarchar(16) '$.NIK',
	--	PHONE nvarchar(15) '$.PHONE',
	--	EMAIL nvarchar(150) '$.EMAIL',
	--	[LEVEL] varchar(20) '$.ACADEMIC_LEVEL',
	--	BATCH INT '$.BATCH',
	--	LATEST_PROCESS_RECRUITMENT nvarchar(50) '$.LATEST_RECRUITMENT_PROCESS',
	--	LATEST_TEST_DATE varchar(50) '$.LATEST_TEST_DATE',
	--	TEST_RESULT varchar(150) '$.TEST_RESULT',
	--	RESULT_SUMMARY varchar(255) '$.RESULT_SUMMARY',
	--	REMARKS_ISSUE_VALIDATE varchar(1000) '$.RESULT_VALIDATE' --AS JSON
	--))
	DECLARE @FULL_NAME AS nvarchar(100)
	DECLARE @NOREG AS nvarchar(15)
	DECLARE @PHONE AS nvarchar(15)
	DECLARE @NIK AS nvarchar(16)
	DECLARE @EMAIL AS nvarchar(150)
	DECLARE @VALID_FROM AS DATETIME
	DECLARE @VALID_TO AS DATETIME
	DECLARE @LEVEL VARCHAR(20) = ''
	DECLARE @BATCH VARCHAR(10) = ''
	DECLARE @LATEST_PROC_REC nvarchar(50) = ''
	DECLARE @LATEST_TEST_DATE DATE
	DECLARE @TEST_RESULT varchar(150) = ''
	DECLARE @RESULT_SUMMARY VARCHAR(255) = ''
	DECLARE @LAST_EDU as VARCHAR(6)
	DECLARE @MIDDLEFORMAT_EDU as VARCHAR(6)
	DECLARE @LAST_ASS as VARCHAR(6)
	DECLARE @MIDDLEFORMAT_ASS as VARCHAR(6)
	DECLARE @LAST_STG as VARCHAR(6)
	DECLARE @MIDDLEFORMAT_STG as VARCHAR(6)
	DECLARE  @USER_CD VARCHAR(50)
	DECLARE @LASTDOC as VARCHAR(6)
	DECLARE @MIDDLEFORMATDOC as VARCHAR(6)
	DECLARE @HISTORY_UPLOAD_CD VARCHAR(50)
	DECLARE @LASTHISTORY_UPLOAD_CD VARCHAR(50)
	DECLARE @LAST as VARCHAR(6)
	DECLARE @MIDDLEFORMAT as VARCHAR(6)

	IF OBJECT_ID('TEMPDB..#tmpdata') IS NOT NULL DROP TABLE #tmpdata

	CREATE TABLE #tmpdata(
	[NIK] [nvarchar](16) NOT NULL,
	[FULL_NAME] [nvarchar](100) NULL,
	[PHONE] [nvarchar](15) NOT NULL,
	[EMAIL] [nvarchar](150) NULL,
	[LEVEL] [varchar](20) NULL,
	[BATCH] [varchar](10) NULL,
	[LATEST_PROCESS_RECRUITMENT] [nvarchar](50) NULL,
	[LATEST_TEST_DATE] [varchar](50) NULL,
	[TEST_RESULT] [varchar](150) NULL,
	[RESULT_SUMMARY] [varchar](255) NULL,
	[IS_SUCCESS_VALIDATE] [bit] NULL,
	[REMARKS_ISSUE_VALIDATE] [varchar](1000) NULL)

	--SET @LAST = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(ID,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_D_UPLOAD_VOCATION_CANDIDATE WHERE ID LIKE '%' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')
	--INSERT INTO [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] ([FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE])
	

	IF (@MODE = 'FAILED')
	BEGIN

		INSERT  INTO #tmpdata (FULL_NAME,NIK,PHONE,EMAIL,[LEVEL],BATCH,LATEST_PROCESS_RECRUITMENT,LATEST_TEST_DATE,TEST_RESULT,RESULT_SUMMARY,REMARKS_ISSUE_VALIDATE,IS_SUCCESS_VALIDATE)
		SELECT 
		FULL_NAME,CAST(NIK as varchar(16)),PHONE,EMAIL,[LEVEL],BATCH,LATEST_PROCESS_RECRUITMENT,LATEST_TEST_DATE,TEST_RESULT,RESULT_SUMMARY,REMARKS_ISSUE_VALIDATE, IS_SUCCESS_VALIDATE = case when ISNULL(REMARKS_ISSUE_VALIDATE,'') <> '' then 0 else 1 end
		FROM OPENJSON(@json) WITH (
		FULL_NAME nvarchar(100) '$.FULL_NAME',
		NIK nvarchar(16) '$.NIK',
		PHONE nvarchar(15) '$.PHONE',
		EMAIL nvarchar(150) '$.EMAIL',
		[LEVEL] varchar(20) '$.ACADEMIC_LEVEL',
		BATCH INT '$.BATCH',
		LATEST_PROCESS_RECRUITMENT nvarchar(50) '$.LATEST_RECRUITMENT_PROCESS',
		LATEST_TEST_DATE varchar(50) '$.LATEST_TEST_DATE',
		TEST_RESULT varchar(150) '$.TEST_RESULT',
		RESULT_SUMMARY varchar(255) '$.RESULT_SUMMARY',
		REMARKS_ISSUE_VALIDATE varchar(1000) '$.RESULT_VALIDATE' --AS JSON
	)

	SET @MIDDLEFORMATDOC = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
	SET @LASTDOC = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT([HISTORY_UPLOAD_CD],6) AS int)),0)+1 AS VARCHAR(6)),6) FROM [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] WHERE [HISTORY_UPLOAD_CD] LIKE '%HU-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')
	SET @HISTORY_UPLOAD_CD = 'HU-'+  @MIDDLEFORMATDOC +'-'+@LASTDOC


		DELETE FROM [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] WHERE NIK IN
		(SELECT 
		NIK FROM 
		#tmpdata)


		

		IF NOT EXISTS(SELECT HISTORY_UPLOAD_CD  FROM TB_H_UPLOAD_VOCATION_CANDIDATE WHERE DOCUMENT_NAME = @FILENAME)
		BEGIN
			INSERT INTO [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE]([HISTORY_UPLOAD_CD],[DOCUMENT_NAME],[STATUS],[UPLOAD_DATE],[UPLOAD_BY])
			VALUES
			(@HISTORY_UPLOAD_CD,@FILENAME,'SUCCESS', GETDATE(),@USER_ID) 
		END
		
		SET @LASTHISTORY_UPLOAD_CD = (SELECT TOP(1) HISTORY_UPLOAD_CD FROM TB_H_UPLOAD_VOCATION_CANDIDATE WHERE DOCUMENT_NAME = @FILENAME ORDER BY UPLOAD_DATE DESC)
		INSERT INTO TB_D_UPLOAD_VOCATION_CANDIDATE ([FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE], HISTORY_UPLOAD_CD)
		SELECT [FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],IS_SUCCESS_VALIDATE = 0, @LASTHISTORY_UPLOAD_CD  FROM #tmpdata

		
	END
	ELSE
	BEGIN
		INSERT  INTO #tmpdata (FULL_NAME,NIK,PHONE,EMAIL,[LEVEL],BATCH,LATEST_PROCESS_RECRUITMENT,LATEST_TEST_DATE,TEST_RESULT,RESULT_SUMMARY,REMARKS_ISSUE_VALIDATE,IS_SUCCESS_VALIDATE)		
		SELECT 
		FULL_NAME,CAST(NIK as varchar(16)),PHONE,EMAIL,[LEVEL],BATCH,LATEST_PROCESS_RECRUITMENT,LATEST_TEST_DATE,TEST_RESULT,RESULT_SUMMARY,REMARKS_ISSUE_VALIDATE, IS_SUCCESS_VALIDATE = case when ISNULL(REMARKS_ISSUE_VALIDATE,'') <> '' then 0 else 1 end
		FROM OPENJSON(@json) WITH (
		FULL_NAME nvarchar(100) '$.FULL_NAME',
		NIK nvarchar(16) '$.NIK',
		PHONE nvarchar(15) '$.PHONE',
		EMAIL nvarchar(150) '$.EMAIL',
		[LEVEL] varchar(20) '$.ACADEMIC_LEVEL',
		BATCH INT '$.BATCH',
		LATEST_PROCESS_RECRUITMENT nvarchar(50) '$.LATEST_RECRUITMENT_PROCESS',
		LATEST_TEST_DATE varchar(50) '$.LATEST_TEST_DATE',
		TEST_RESULT varchar(150) '$.TEST_RESULT',
		RESULT_SUMMARY varchar(255) '$.RESULT_SUMMARY',
		REMARKS_ISSUE_VALIDATE varchar(1000) '$.RESULT_VALIDATE' --AS JSON
		)

		IF OBJECT_ID('TEMPDB..#tmpdatainsert') IS NOT NULL DROP TABLE #tmpdatainsert

		CREATE TABLE #tmpdatainsert(
		[ID] int NOT NULL IDENTITY(1,1),
		[NIK] [nvarchar](16) NOT NULL,
		[FULL_NAME] [nvarchar](100) NULL,
		[PHONE] [nvarchar](15) NOT NULL,
		[EMAIL] [nvarchar](150) NULL,
		[LEVEL] [varchar](20) NULL,
		[BATCH] [varchar](10) NULL,
		[LATEST_PROCESS_RECRUITMENT] [nvarchar](50) NULL,
		[LATEST_TEST_DATE] [varchar](50) NULL,
		[TEST_RESULT] [varchar](150) NULL,
		[RESULT_SUMMARY] [varchar](255) NULL,
		[IS_SUCCESS_VALIDATE] [bit] NULL,
		[REMARKS_ISSUE_VALIDATE] [varchar](1000) NULL)

		INSERT INTO #tmpdatainsert ([FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE])
		SELECT A.FULL_NAME,A.NIK,A.PHONE,A.EMAIL,[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],IS_SUCCESS_VALIDATE = 1  FROM #tmpdata A --WHERE A.NIK NOT IN (SELECT distinct NIK FROM TB_M_USERS) 
		left join TB_M_USERS B ON A.NIK = B.NIK
		WHERE B.FULL_NAME is null

		IF OBJECT_ID('TEMPDB..#tmpdataupdate') IS NOT NULL DROP TABLE #tmpdataupdate
		CREATE TABLE #tmpdataupdate(
		[NIK] [nvarchar](16) NOT NULL,
		[FULL_NAME] [nvarchar](100) NULL,
		[PHONE] [nvarchar](15) NOT NULL,
		[EMAIL] [nvarchar](150) NULL,
		[LEVEL] [varchar](20) NULL,
		[BATCH] [varchar](10) NULL,
		[LATEST_PROCESS_RECRUITMENT] [nvarchar](50) NULL,
		[LATEST_TEST_DATE] [varchar](50) NULL,
		[TEST_RESULT] [varchar](150) NULL,
		[RESULT_SUMMARY] [varchar](255) NULL,
		[IS_SUCCESS_VALIDATE] [bit] NULL,
		[REMARKS_ISSUE_VALIDATE] [varchar](1000) NULL)

		INSERT INTO #tmpdataupdate ([FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE])
		SELECT A.FULL_NAME,A.NIK,A.PHONE,A.EMAIL,[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],IS_SUCCESS_VALIDATE = 1  FROM #tmpdata A --WHERE A.NIK NOT IN (SELECT distinct NIK FROM TB_M_USERS) 
		left join TB_M_USERS B ON A.NIK = B.NIK
		WHERE B.FULL_NAME is not null


		SET @MIDDLEFORMATDOC = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
		SET @LASTDOC = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT([HISTORY_UPLOAD_CD],6) AS int)),0)+1 AS VARCHAR(6)),6) FROM [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] WHERE [HISTORY_UPLOAD_CD] LIKE '%HU-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')
		SET @HISTORY_UPLOAD_CD = 'HU-'+  @MIDDLEFORMATDOC +'-'+@LASTDOC


		IF NOT EXISTS(SELECT HISTORY_UPLOAD_CD  FROM TB_H_UPLOAD_VOCATION_CANDIDATE WHERE DOCUMENT_NAME = @FILENAME)
		BEGIN
			INSERT INTO [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE]([HISTORY_UPLOAD_CD],[DOCUMENT_NAME],[STATUS],[UPLOAD_DATE],[UPLOAD_BY])
			VALUES
			(@HISTORY_UPLOAD_CD,@FILENAME,'SUCCESS', GETDATE(),@USER_ID) 
		END

		SET @LASTHISTORY_UPLOAD_CD = (SELECT TOP(1) HISTORY_UPLOAD_CD FROM TB_H_UPLOAD_VOCATION_CANDIDATE WHERE DOCUMENT_NAME = @FILENAME ORDER BY UPLOAD_DATE DESC)
		INSERT INTO TB_D_UPLOAD_VOCATION_CANDIDATE ([FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE], HISTORY_UPLOAD_CD)
		SELECT *, @LASTHISTORY_UPLOAD_CD  FROM #tmpdata

		SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
		SET @LAST = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(USER_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_USERS WHERE USER_CD LIKE '%V-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')

		--set @USER_CD =  (SELECT 'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6) FROM #tmpdatainsert)
		INSERT INTO TB_M_USERS
		SELECT USER_CD = 'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),USERNAME = 'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),PASSWORD = HASHBYTES('SHA2_256', 'Toyota@123'),FULL_NAME,NOREG = 'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),PHONE,
		NIK,EMAIL,VALID_FROM = @VALID_FROM,VALID_TO = @VALID_TO,IS_ACTIVE = '1',CREATED_BY = @USER_ID,CREATED_DT = GETDATE(),UPDATED_BY= NULL,UPDATED_DT = NULL,IS_DELETED='0',DELETED_BY=NULL,DELETED_DT=NULL FROM #tmpdatainsert ORDER BY NIK


		INSERT INTO [dbo].[TB_M_PROFILE] ([REGISTRATION_NUMBER],[CANDIDATE_NUMBER],[FULL_NAME],[RECRUITMENT_BATCH],[RECRUITMENT_PROCESS])
		SELECT
		'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),FULL_NAME,BATCH,LATEST_PROCESS_RECRUITMENT FROM #tmpdatainsert  ORDER BY NIK

		SET @MIDDLEFORMAT_EDU = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
		SET @LAST_EDU = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PROFILE_EDU_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_PROFILE_EDU WHERE PROFILE_EDU_CD LIKE '%PE-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + '%')

		INSERT INTO [dbo].[TB_M_PROFILE_EDU] ([PROFILE_EDU_CD],[REGISTRATION_NUMBER],[EDUCATION_LEVEL],CREATED_BY,CREATED_DT)
		SELECT
		'PE-'+  @MIDDLEFORMAT_EDU +'-'+RIGHT('00000'+CAST((@LAST_EDU+ID) as varchar(6)),6),'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6), [LEVEL],@USER_ID,GETDATE() FROM #tmpdatainsert WHERE ISNULL([LEVEL],'') <> ''  ORDER BY NIK 

		SET @MIDDLEFORMAT_ASS = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
		SET @LAST_ASS = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PRF_ASSESSMENT_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_R_ASSESSMENT WHERE PRF_ASSESSMENT_CD LIKE '%R-ASS-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')

		INSERT INTO [dbo].[TB_R_ASSESSMENT]([PRF_ASSESSMENT_CD],[REGISTRATION_NUMBER],[ASSESSMENT_DATE],[ASSESSMENT_RESULT],[ASSESSMENT_SUMMARY],CREATED_BY,CREATED_DT)
		SELECT
		'R-ASS-'+  @MIDDLEFORMAT_ASS +'-'+RIGHT('00000'+CAST((@LAST_ASS+ID) as varchar(6)),6),'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6), LATEST_TEST_DATE, TEST_RESULT,RESULT_SUMMARY,@USER_ID,GETDATE() FROM #tmpdatainsert WHERE ISNULL(TEST_RESULT,'') <> ''  ORDER BY NIK


		SET @MIDDLEFORMAT_STG = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
		SET @LAST_STG = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PRF_ASSESSMENT_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_R_ASSESSMENT WHERE PRF_ASSESSMENT_CD LIKE '%R-ASS-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')

		INSERT INTO [dbo].[TB_R_RECRUITMENT_STAGE]
		SELECT
		'R-STG-'+  @MIDDLEFORMAT_STG +'-'+RIGHT('00000'+CAST((@LAST_STG+ID) as varchar(6)),6),'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6), 1, LATEST_PROCESS_RECRUITMENT,NULL,'',GETDATE(),@USER_ID FROM #tmpdatainsert WHERE ISNULL(TEST_RESULT,'') <> ''  ORDER BY NIK


		UPDATE A
		SET
			A.FULL_NAME = B.FULL_NAME,
			A.PHONE = B.PHONE,
			A.EMAIL = B.EMAIL
		FROM
			TB_M_USERS A 
		INNER JOIN
			#tmpdataupdate B ON A.NIK = B.NIK

		UPDATE A
		SET
			A.FULL_NAME = B.FULL_NAME,
			A.RECRUITMENT_BATCH = B.BATCH,
			A.RECRUITMENT_PROCESS = B.LATEST_PROCESS_RECRUITMENT
		FROM
			TB_M_PROFILE A 
		INNER JOIN TB_M_USERS C ON C.NOREG = A.REGISTRATION_NUMBER
		INNER JOIN
			#tmpdataupdate B ON C.NIK = B.NIK


		UPDATE A
		SET
			A.EDUCATION_LEVEL = B.LEVEL
		FROM
			TB_M_PROFILE_EDU A 
		INNER JOIN TB_M_USERS C ON C.NOREG = A.REGISTRATION_NUMBER
		INNER JOIN
			#tmpdataupdate B ON C.NIK = B.NIK

		UPDATE A
		SET
			A.ASSESSMENT_DATE = B.LATEST_TEST_DATE,
			A.ASSESSMENT_RESULT = B.TEST_RESULT,
			A.ASSESSMENT_SUMMARY = B.RESULT_SUMMARY
		FROM
			TB_R_ASSESSMENT A 
		INNER JOIN TB_M_USERS C ON C.NOREG = A.REGISTRATION_NUMBER
		INNER JOIN
			#tmpdataupdate B ON C.NIK = B.NIK
		

		UPDATE A
		SET
			A.RECRUITMENT_PROCESS = B.LATEST_PROCESS_RECRUITMENT
		FROM
			TB_R_RECRUITMENT_STAGE A 
		INNER JOIN TB_M_USERS C ON C.NOREG = A.REGISTRATION_NUMBER
		INNER JOIN
			#tmpdataupdate B ON C.NIK = B.NIK
		
	END

	--SELECT FULL_NAME1 = [FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],IS_SUCCESS_VALIDATE = 0  FROM #tmpdata --WHERE NIK IN (SELECT NIK FROM TB_M_USERS WHERE ISNULL(IS_ACTIVE,1) = 1) 
	
	SELECT 'true' AS status, 'Success storing new data.' AS message


	

END
GO
