/****** Object:  StoredProcedure [dbo].[SP_MASTER_ORGRANK_STORE_old]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MASTER_ORGRANK_STORE_old]
	@json NVARCHAR(MAX),
	@FILENAME NVARCHAR(250),
	@MODE VARCHAR(10),
	@USER_ID NVARCHAR(20)

AS

BEGIN
	--DECLARE @LAST as VARCHAR(6)
	--DECLARE @MIDDLEFORMAT as VARCHAR(6)
	--SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))

	--DELETE FROM [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] WHERE NIK IN
	--(SELECT 
	--NIK
	--FROM OPENJSON(@json) WITH (
	--	FULL_NAME nvarchar(100) '$.FULL_NAME',
	--	NIK nvarchar(16) '$.NIK',
	--	PHONE nvarchar(15) '$.PHONE',
	--	EMAIL nvarchar(150) '$.EMAIL',
	--	[LEVEL] varchar(20) '$.ACADEMIC_LEVEL',
	--	BATCH INT '$.BATCH',
	--	LATEST_PROCESS_RECRUITMENT nvarchar(50) '$.LATEST_RECRUITMENT_PROCESS',
	--	LATEST_TEST_DATE varchar(50) '$.LATEST_TEST_DATE',
	--	TEST_RESULT varchar(150) '$.TEST_RESULT',
	--	RESULT_SUMMARY varchar(255) '$.RESULT_SUMMARY',
	--	REMARKS_ISSUE_VALIDATE varchar(1000) '$.RESULT_VALIDATE' --AS JSON
	--))
	DECLARE @ORG_RANK_CD varchar(20)
	DECLARE @ORG_POS_CD varchar(20)
	DECLARE @POS_DESCRIPTION varchar(225)
	DECLARE @POS_CATEGORY varchar(15)
	DECLARE @LABOR_TYPE varchar(10)
	DECLARE @POS_CRITERIA NVARCHAR(MAX)
	DECLARE @listorgpos NVARCHAR(MAX)
	DECLARE @LAST as VARCHAR(6)
	DECLARE @MIDDLEFORMAT as VARCHAR(6)
	DECLARE @LASTCRITERIA as VARCHAR(6)
	DECLARE @MIDDLEFORMATCRITERIA as VARCHAR(6)
	DECLARE @POS_CRITERIA_CD varchar(20)
	DECLARE @CRITERIA_NAME varchar(50)
	DECLARE @CRITERIA_VALUE varchar(255)

		SELECT 
		@ORG_RANK_CD = ORG_RANK_CD,
		@listorgpos = listorgpos 
		FROM OPENJSON(@json) WITH (
		ORG_RANK_CD varchar(20) '$.ORG_RANK_CD',
		listorgpos NVARCHAR(MAX) '$.listorgpos'  AS JSON
	)

		DECLARE CURSORS CURSOR LOCAL FOR
		SELECT ORG_POS_CD,
			 POS_DESCRIPTION,
			 POS_CATEGORY,
			 LABOR_TYPE,
			 POS_CRITERIA
			FROM OPENJSON(@listorgpos) WITH (
				ORG_POS_CD varchar(20) '$.ORG_POS_CD',
				POS_DESCRIPTION varchar(225) '$.POS_DESCRIPTION',
				POS_CATEGORY varchar(15) '$.POS_CATEGORY',
				LABOR_TYPE  varchar(10) '$.LABOR_TYPE',
				POS_CRITERIA NVARCHAR(MAX) '$.POS_CRITERIA'  AS JSON)
		OPEN CURSORS

		FETCH NEXT FROM CURSORS 
		INTO @ORG_POS_CD,@POS_DESCRIPTION,@POS_CATEGORY,@LABOR_TYPE,@POS_CRITERIA

		WHILE @@FETCH_STATUS = 0
		BEGIN
			--DECLARE @ORG_POS_CD VARCHAR(20)
			IF (ISNULL(@ORG_POS_CD,'') = '')
			BEGIN
				SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
				SET @LAST = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(ORG_POS_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_ORG_POS WHERE ORG_POS_CD LIKE '%OP-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')

				INSERT INTO [dbo].[TB_M_ORG_POS]([ORG_POS_CD],[ORG_RANK_CD],[POS_DESCRIPTION],[POS_CATEGORY],[LABOR_TYPE])
				VALUES
				('OP-'+  @MIDDLEFORMAT +'-'+ @LAST,@ORG_RANK_CD,@POS_DESCRIPTION,@POS_CATEGORY,@LABOR_TYPE)
			END
			ELSE
			BEGIN
				UPDATE TB_M_ORG_POS SET POS_DESCRIPTION = @POS_DESCRIPTION, POS_CATEGORY = @POS_CATEGORY, LABOR_TYPE = @LABOR_TYPE  WHERE ORG_POS_CD = @ORG_POS_CD
			END
			

			DECLARE CURSORS1 CURSOR LOCAL FOR
			SELECT POS_CRITERIA_CD,
				 CRITERIA_NAME,
				 CRITERIA_VALUE
				FROM OPENJSON(@POS_CRITERIA) WITH (
					POS_CRITERIA_CD varchar(20) '$.POS_CRITERIA_CD',
					CRITERIA_NAME varchar(50) '$.CRITERIA_NAME',
					CRITERIA_VALUE varchar(255) '$.CRITERIA_VALUE')
			OPEN CURSORS1
			FETCH NEXT FROM CURSORS1 
			INTO @POS_CRITERIA_CD, @CRITERIA_NAME,@CRITERIA_VALUE

			WHILE @@FETCH_STATUS = 0
			BEGIN
				SET @MIDDLEFORMATCRITERIA = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
				SET @LASTCRITERIA = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(POS_CRITERIA_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_ORG_POS_CRITERIA WHERE POS_CRITERIA_CD LIKE '%OPC-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')			
				

				IF (ISNULL(@POS_CRITERIA_CD,'') = '')
				BEGIN
					INSERT INTO [dbo].[TB_M_ORG_POS_CRITERIA]([POS_CRITERIA_CD],[ORG_POS_CD],[CRITERIA_NAME],[CRITERIA_VALUE])
					VALUES
					('OPC-'+  @MIDDLEFORMATCRITERIA +'-'+ @LASTCRITERIA, @ORG_POS_CD, @CRITERIA_NAME, @CRITERIA_VALUE)
				END
				ELSE
				BEGIN
					UPDATE TB_M_ORG_POS_CRITERIA SET CRITERIA_NAME = @CRITERIA_NAME, CRITERIA_VALUE = @CRITERIA_VALUE  WHERE ORG_POS_CD = @ORG_POS_CD
				END
			
			FETCH NEXT FROM CURSORS1
			INTO @CRITERIA_NAME,@CRITERIA_VALUE
			END
			CLOSE CURSORS1
			DEALLOCATE CURSORS1

		FETCH NEXT FROM CURSORS
		INTO @ORG_POS_CD,@POS_DESCRIPTION,@POS_CATEGORY,@LABOR_TYPE,@POS_CRITERIA
		END
		CLOSE CURSORS
		DEALLOCATE CURSORS

	--SELECT FULL_NAME1 = [FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],IS_SUCCESS_VALIDATE = 0  FROM #tmpdata --WHERE NIK IN (SELECT NIK FROM TB_M_USERS WHERE ISNULL(IS_ACTIVE,1) = 1) 
	
	SELECT 'true' AS status, 'Success storing new data.' AS message


	

END
GO
