/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_CURRENT_BATCH]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_CURRENT_BATCH]      
AS
BEGIN
    SET NOCOUNT ON;

    SELECT COUNT(1) + 1 FROM TB_R_PLACEMENT_SCHEDULE
END
GO
