/****** Object:  StoredProcedure [dbo].[SP_MASTER_LOCATION_GET_HEADER_INFORMATION]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [dbo].[SP_MASTER_LOCATION_GET_HEADER_INFORMATION]
AS 
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @TOTAL_PROVINCE INT = (SELECT COUNT(1) AS TOTAL_PROVINCE FROM TB_M_PROVINCE tmp WHERE COALESCE(tmp.IS_DELETED, 0) = 0);
	DECLARE @TOTAL_CITY INT = (SELECT COUNT(1) AS TOTAL_CITY FROM TB_M_CITY tmc WHERE COALESCE(tmc.IS_DELETED, 0) = 0);
	DECLARE @TOTAL_DISTRICT INT = (SELECT COUNT(1) AS TOTAL_DISTRICT FROM TB_M_DISTRICT tmd WHERE COALESCE(tmd.IS_DELETED, 0) = 0);
	DECLARE @TOTAL_VILLAGE INT = (SELECT COUNT(1) AS TOTAL_VILLAGE FROM TB_M_VILLAGE tmv WHERE COALESCE(tmv.IS_DELETED, 0) = 0);
	
	SELECT @TOTAL_PROVINCE AS TOTAL_PROVINCE, @TOTAL_CITY AS TOTAL_CITY, @TOTAL_DISTRICT AS TOTAL_DISTRICT, @TOTAL_VILLAGE AS TOTAL_VILLAGE;
END
GO
