/****** Object:  StoredProcedure [dbo].[SP_MASTER_PAYROLL_COMPONENT_GET_EMPLOYEE_LEVEL_OPTION]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_PAYROLL_COMPONENT_GET_EMPLOYEE_LEVEL_OPTION]
    @TERM AS VARCHAR(100) = ''
AS
BEGIN
    SET NOCOUNT ON;

    SELECT POSITION_LEVEL AS id, POSITION_DESC text FROM TB_M_ORG_POSITION WHERE POSITION_DESC LIKE '%' + @TERM + '%'
END;
GO
