/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_STORE_BANK]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_STORE_BANK]
    @BANK_LIST nvarchar(max),
    @CREATED_BY varchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Drop temporary table if it exists to ensure a clean slate
        DROP TABLE IF EXISTS #TempBank;

        -- Create the temporary table to hold data from the JSON input
        CREATE TABLE #TempBank (
            PRF_BANK_ACCOUNT_CD VARCHAR(20),
            REGISTRATION_NUMBER NVARCHAR(20),
            ACCOUNT_HOLDER_NAME VARCHAR(255),
            BANK_CD VARCHAR(20),
            VALID_FROM DATETIME,
            VALID_TO DATETIME,
            BRANCH VARCHAR(50),
            BANK_KEYS VARCHAR(50),
            BANK_ACCOUNT_NUMBER VARCHAR(50),
            CREATED_BY VARCHAR(50),
            CREATED_DT DATETIME
        );

        -- Insert data into the temporary table using dynamic SQL
        EXEC sp_executesql @BANK_LIST;
        DECLARE @REGISTRATION_NUMBER VARCHAR(50) = (SELECT TOP 1 REGISTRATION_NUMBER FROM #TempBank);
        -- Use MERGE to synchronize data between the temporary table and the main table
        
        DECLARE @TodayDate VARCHAR(8);
      DECLARE @LastIncrement INT;

      -- Ambil tanggal hari ini dalam format DDMMYYYY
      SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

      -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
      SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(PRF_BANK_ACCOUNT_CD, 4) AS INT)), 0)
      FROM [dbo].[TB_M_PROFILE_BANK_ACCOUNT]
      WHERE PRF_BANK_ACCOUNT_CD LIKE 'BA-' + @TodayDate + '%';
      
        MERGE TB_M_PROFILE_BANK_ACCOUNT AS Target
        USING (
            SELECT
                ROW_NUMBER() OVER (ORDER BY PRF_BANK_ACCOUNT_CD) AS RowNumber,
                PRF_BANK_ACCOUNT_CD,
                REGISTRATION_NUMBER,
                ACCOUNT_HOLDER_NAME,
                BANK_CD,
                VALID_FROM,
                VALID_TO,
                BRANCH,
                BANK_KEYS,
                BANK_ACCOUNT_NUMBER
            FROM
                #TempBank
        ) AS Source
        ON (Target.PRF_BANK_ACCOUNT_CD = Source.PRF_BANK_ACCOUNT_CD AND Target.REGISTRATION_NUMBER = @REGISTRATION_NUMBER)
        WHEN NOT MATCHED BY Target THEN
            INSERT (
                PRF_BANK_ACCOUNT_CD,
                REGISTRATION_NUMBER, 
                ACCOUNT_HOLDER_NAME, 
                BANK_CD, 
                VALID_FROM, 
                VALID_TO, 
                BRANCH, 
                BANK_KEYS, 
                BANK_ACCOUNT_NUMBER, 
                CREATED_BY, 
                CREATED_DT
            )
            VALUES (
                'BA-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement + Source.RowNumber AS VARCHAR(4)), 4),
                @REGISTRATION_NUMBER, 
                Source.ACCOUNT_HOLDER_NAME, 
                Source.BANK_CD, 
                Source.VALID_FROM, 
                Source.VALID_TO, 
                Source.BRANCH, 
                Source.BANK_KEYS, 
                Source.BANK_ACCOUNT_NUMBER, 
                @CREATED_BY, 
                GETDATE()
            )
        WHEN MATCHED THEN
            UPDATE SET
                Target.ACCOUNT_HOLDER_NAME = Source.ACCOUNT_HOLDER_NAME,
                Target.BANK_CD = Source.BANK_CD,
                Target.VALID_FROM = Source.VALID_FROM,
                Target.VALID_TO = Source.VALID_TO,
                Target.BRANCH = Source.BRANCH,
                Target.BANK_KEYS = Source.BANK_KEYS,
                Target.BANK_ACCOUNT_NUMBER = Source.BANK_ACCOUNT_NUMBER,
                Target.UPDATED_BY = @CREATED_BY,
                Target.UPDATED_DT = GETDATE()
        WHEN NOT MATCHED BY Source AND Target.REGISTRATION_NUMBER = @REGISTRATION_NUMBER THEN
            DELETE;

        -- Return a success message
        SELECT 'true' AS status, 'Success updating bank data.' AS message;
        
    END TRY
    BEGIN CATCH
        -- Return an error message
        SELECT 'false' AS status, ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
