/****** Object:  Table [dbo].[TB_R_PLACEMENT_REQUEST]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_PLACEMENT_REQUEST](
	[PLACEMENT_REQUEST_CD] [varchar](50) NOT NULL,
	[PLACEMENT_SCHEDULE_CD] [varchar](50) NULL,
	[DIRECTORATE_CD] [varchar](50) NULL,
	[DIVISION_CD] [varchar](50) NULL,
	[DEPARTMENT_CD] [varchar](50) NULL,
	[SECTION_CD] [varchar](50) NULL,
	[LINE_CD] [varchar](50) NULL,
	[GROUP_CD] [varchar](50) NULL,
	[PLANT_CD] [varchar](50) NULL,
	[REQUEST_PERIOD] [date] NULL,
	[CAUSE_CATEGORY] [varchar](50) NULL,
	[REQUEST_TYPE] [varchar](50) NULL,
	[VOCATION_END_DT_FROM] [date] NULL,
	[VOCATION_END_DT_TO] [date] NULL,
	[QTY_JOB_POS_ON_PRODUCTION] [int] NULL,
	[QTY_JOB_POS_ON_TRAINING] [int] NULL,
	[QTY_JOB_POS_OTHER] [int] NULL,
	[QTY_END_OF_CONTRACT] [int] NULL,
	[QTY_ADDITIONAL] [int] NULL,
	[QTY_UNFIT] [int] NULL,
	[QTY_RESIGN] [int] NULL,
	[QTY_ADDITIONAL_ABNORMAL] [int] NULL,
	[REMARKS] [nvarchar](255) NULL,
	[ATTACHMENT] [nvarchar](255) NULL,
	[REQUEST_APPROVAL_STATUS] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[IS_DELETED] [varchar](50) NULL,
	[DELETED_DT] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
	[PROGRES_TRACKING_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PLACEMENT_REQUEST_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
