/****** Object:  Table [dbo].[TB_R_PROFILE_STATUS]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_PROFILE_STATUS](
	[PROFILE_STATUS_CD] [varchar](20) NOT NULL,
	[NOREG] [varchar](20) NULL,
	[PROFILE_CD] [varchar](20) NULL,
	[STATUS] [varchar](20) NULL,
	[STATUS_CD] [varchar](50) NULL,
	[PROFILE_STATUS_SEQUENCE] [int] NULL,
	[CATEGORY] [varchar](30) NULL,
	[REC_PROCESS] [varchar](30) NULL,
	[REC_SEQUENCE] [int] NULL,
	[REC_STATUS] [varchar](20) NULL,
	[PROFILE_ASSESSMENT_CD] [varchar](20) NULL,
	[ASSESSMENT_ATTEMPT_DT] [datetime] NULL,
	[REMARK] [varchar](255) NULL,
	[ATTACHMENT] [varchar](255) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[PASSED_DT] [datetime] NULL,
	[PASSED_BY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROFILE_STATUS_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
