/****** Object:  StoredProcedure [dbo].[SP_MASTER_EXCELFILE_RESULT_UPLOAD_CANDIDATE_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_EXCELFILE_RESULT_UPLOAD_CANDIDATE_GET_INQUIRY]

	@HISTORY_UPLOAD_CD VARCHAR(50)
AS
BEGIN
     SELECT [HISTORY_UPLOAD_CD], URL_FILE = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_TYPE = 'VOCATION_PORTAL' AND SYSTEM_CD = 'URL') + '/Common/DownloadFile?filename=' + RESULT_SUKSES_FILE,DOCUMENT_NAME=RESULT_SUKSES_FILE,STATUS='SUKSES',TOTAL_DATA=ISNULL(TOTAL_DATA,0),[DATA_SUCCESS]=ISNULL([TOTAL_DATA_SUCCESS_VALIDATION],0),[DATA_FAILED]=0,[UPLOAD_DATE],[UPLOAD_BY]
        FROM
            [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] A WHERE HISTORY_UPLOAD_CD = @HISTORY_UPLOAD_CD AND RESULT_SUKSES_FILE IS NOT NULL
	    UNION ALL
		SELECT [HISTORY_UPLOAD_CD], URL_FILE = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_TYPE = 'VOCATION_PORTAL' AND SYSTEM_CD = 'URL') + '/Common/DownloadFile?filename=' + RESULT_ERROR_FILE,DOCUMENT_NAME=RESULT_ERROR_FILE,STATUS='FAILED',TOTAL_DATA=ISNULL(TOTAL_DATA,0),[DATA_SUCCESS]=0,[DATA_FAILED]=TOTAL_DATA_FAILED_VALIDATION,[UPLOAD_DATE],[UPLOAD_BY]
        FROM
            [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] A WHERE HISTORY_UPLOAD_CD = @HISTORY_UPLOAD_CD AND RESULT_ERROR_FILE IS NOT NULL

		
END;
GO
