/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_STORE_BY_UPLOAD_EXCEL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_STORE_BY_UPLOAD_EXCEL]
	@json NVARCHAR(MAX),
	@FILENAME NVARCHAR(250),
	@EXTENSION NVARCHAR(10),
	@MODE VARCHAR(10),
	@USER_ID NVARCHAR(20)

AS

BEGIN
	--DECLARE @LAST as VARCHAR(6)
	--DECLARE @MIDDLEFORMAT as VARCHAR(6)
	--SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))

	--DELETE FROM [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] WHERE NIK IN
	--(SELECT 
	--NIK
	--FROM OPENJSON(@json) WITH (
	--	FULL_NAME nvarchar(100) '$.FULL_NAME',
	--	NIK nvarchar(16) '$.NIK',
	--	PHONE nvarchar(15) '$.PHONE',
	--	EMAIL nvarchar(150) '$.EMAIL',
	--	[LEVEL] varchar(20) '$.ACADEMIC_LEVEL',
	--	BATCH INT '$.BATCH',
	--	LATEST_PROCESS_RECRUITMENT nvarchar(50) '$.LATEST_RECRUITMENT_PROCESS',
	--	LATEST_TEST_DATE varchar(50) '$.LATEST_TEST_DATE',
	--	TEST_RESULT varchar(150) '$.TEST_RESULT',
	--	RESULT_SUMMARY varchar(255) '$.RESULT_SUMMARY',
	--	REMARKS_ISSUE_VALIDATE varchar(1000) '$.RESULT_VALIDATE' --AS JSON
	--))
	DECLARE @FULL_NAME AS nvarchar(100)
	DECLARE @NOREG AS nvarchar(15)
	DECLARE @PHONE AS nvarchar(15)
	DECLARE @NIK AS nvarchar(16)
	DECLARE @EMAIL AS nvarchar(150)
	DECLARE @VALID_FROM AS DATETIME
	DECLARE @VALID_TO AS DATETIME
	DECLARE @LEVEL VARCHAR(20) = ''
	--DECLARE @BATCH VARCHAR(10) = ''
	DECLARE @LATEST_PROC_REC nvarchar(50) = ''
	DECLARE @LATEST_TEST_DATE DATE
	DECLARE @TEST_RESULT varchar(150) = ''
	DECLARE @RESULT_SUMMARY VARCHAR(255) = ''
	DECLARE @LAST_EDU as VARCHAR(6)
	DECLARE @MIDDLEFORMAT_EDU as VARCHAR(6)
	DECLARE @LAST_ASS as VARCHAR(6)
	DECLARE @MIDDLEFORMAT_ASS as VARCHAR(6)
	DECLARE @LAST_STG as VARCHAR(6)
	DECLARE @MIDDLEFORMAT_STG as VARCHAR(6)
	DECLARE  @USER_CD VARCHAR(50)
	DECLARE @LASTDOC as VARCHAR(6)
	DECLARE @MIDDLEFORMATDOC as VARCHAR(6)
	DECLARE @HISTORY_UPLOAD_CD VARCHAR(50)
	DECLARE @LASTHISTORY_UPLOAD_CD VARCHAR(50)
	DECLARE @LAST as VARCHAR(6)
	DECLARE @MIDDLEFORMAT as VARCHAR(6)
	DECLARE @PROFILE_CATEGORY_NAME as VARCHAR(150)
	DECLARE @PROFILE_CATEGORY_CD as VARCHAR(50) 

	DECLARE @TITLE varchar(200)
	DECLARE @HEADER varchar(max)
	DECLARE @BODY varchar(max)
	DECLARE @FOOTER varchar(max)
	DECLARE @CHANNEL varchar(20)
	DECLARE @CHANNEL_NAME varchar(max)

	IF OBJECT_ID('TEMPDB..#tmpdata') IS NOT NULL DROP TABLE #tmpdata

	CREATE TABLE #tmpdata(
	[NIK] [nvarchar](16) NOT NULL,
	[FULL_NAME] [nvarchar](100) NULL,
	[CATEGORY] [VARCHAR](150) NULL,
	[PHONE] [nvarchar](15) NOT NULL,
	[EMAIL] [nvarchar](150) NULL,
	[LEVEL] [varchar](20) NULL,
	[LATEST_PROCESS_RECRUITMENT] [nvarchar](50) NULL,
	[LATEST_TEST_DATE] [varchar](50) NULL,
	[TEST_RESULT] [varchar](150) NULL,
	[RESULT_SUMMARY] [varchar](255) NULL,
	[IS_SUCCESS_VALIDATE] [bit] NULL,
	[REMARKS_ISSUE_VALIDATE] [varchar](1000) NULL)

	--SET @LAST = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(ID,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_D_UPLOAD_VOCATION_CANDIDATE WHERE ID LIKE '%' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')
	--INSERT INTO [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] ([FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE])
	

	IF (@MODE = 'FAILED')
	BEGIN

		INSERT  INTO #tmpdata (FULL_NAME,CATEGORY,NIK,PHONE,EMAIL,[LEVEL],LATEST_PROCESS_RECRUITMENT,LATEST_TEST_DATE,TEST_RESULT,RESULT_SUMMARY,REMARKS_ISSUE_VALIDATE,IS_SUCCESS_VALIDATE)
		SELECT 
		FULL_NAME,CATEGORY,CAST(NIK as varchar(16)),PHONE,EMAIL,[LEVEL],LATEST_PROCESS_RECRUITMENT,LATEST_TEST_DATE,TEST_RESULT,RESULT_SUMMARY,REMARKS_ISSUE_VALIDATE, IS_SUCCESS_VALIDATE = case when ISNULL(REMARKS_ISSUE_VALIDATE,'') <> '' then 0 else 1 end
		FROM OPENJSON(@json) WITH (
		FULL_NAME nvarchar(100) '$.FULL_NAME',
		CATEGORY varchar(150) '$.CATEGORY',
		NIK nvarchar(16) '$.NIK',
		PHONE nvarchar(15) '$.PHONE',
		EMAIL nvarchar(150) '$.EMAIL',
		[LEVEL] varchar(20) '$.EDUCATION_LEVEL',
		LATEST_PROCESS_RECRUITMENT nvarchar(50) '$.LATEST_RECRUITMENT_PROCESS',
		LATEST_TEST_DATE varchar(50) '$.LATEST_TEST_DATE',
		TEST_RESULT varchar(150) '$.TEST_RESULT',
		RESULT_SUMMARY varchar(255) '$.RESULT_SUMMARY',
		REMARKS_ISSUE_VALIDATE varchar(1000) '$.RESULT_VALIDATE' --AS JSON
	)

		SET @MIDDLEFORMATDOC = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
		SET @LASTDOC = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT([HISTORY_UPLOAD_CD],6) AS int)),0)+1 AS VARCHAR(6)),6) FROM [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] WHERE [HISTORY_UPLOAD_CD] LIKE '%HU-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')
		SET @HISTORY_UPLOAD_CD = 'HU-'+  @MIDDLEFORMATDOC +'-'+@LASTDOC


		DELETE FROM [dbo].[TB_D_UPLOAD_VOCATION_CANDIDATE] WHERE NIK IN
		(SELECT 
		NIK FROM 
		#tmpdata)


		

		--IF NOT EXISTS(SELECT HISTORY_UPLOAD_CD  FROM TB_H_UPLOAD_VOCATION_CANDIDATE WHERE DOCUMENT_NAME = @FILENAME)
		--BEGIN
		--	INSERT INTO [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE]([HISTORY_UPLOAD_CD],[DOCUMENT_NAME],[STATUS],TOTAL_DATA,[TOTAL_DATA_SUCCESS_VALIDATION], [TOTAL_DATA_FAILED_VALIDATION],[UPLOAD_DATE],[UPLOAD_BY])
		--	VALUES
		--	(@HISTORY_UPLOAD_CD,@FILENAME,'SUCCESS',(SELECT COUNT(*) FROM #tmpdata),NULL,(SELECT COUNT(*) FROM #tmpdata), GETDATE(),@USER_ID) 
		--END
		--ELSE
		--BEGIN
		--	UPDATE [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] SET TOTAL_DATA = TOTAL_DATA + (SELECT COUNT(*) FROM #tmpdata), [TOTAL_DATA_FAILED_VALIDATION] = (SELECT COUNT(*) FROM #tmpdata) WHERE DOCUMENT_NAME = @FILENAME
		--END
		UPDATE [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] SET STATUS = 'SUCCESS',TOTAL_DATA = ISNULL(TOTAL_DATA,0) + (SELECT COUNT(*) FROM #tmpdata), [TOTAL_DATA_FAILED_VALIDATION] = (SELECT COUNT(*) FROM #tmpdata), RESULT_ERROR_FILE = @FILENAME + '_DATA_ISSUE.'+ @EXTENSION WHERE DOCUMENT_NAME = @FILENAME + '.' + @EXTENSION

		
	END
	ELSE
	BEGIN
		INSERT  INTO #tmpdata (FULL_NAME,CATEGORY,NIK,PHONE,EMAIL,[LEVEL],LATEST_PROCESS_RECRUITMENT,LATEST_TEST_DATE,TEST_RESULT,RESULT_SUMMARY,REMARKS_ISSUE_VALIDATE,IS_SUCCESS_VALIDATE)		
		SELECT 
		FULL_NAME,CATEGORY,CAST(NIK as varchar(16)),PHONE,EMAIL,[LEVEL],LATEST_PROCESS_RECRUITMENT,LATEST_TEST_DATE,TEST_RESULT,RESULT_SUMMARY,REMARKS_ISSUE_VALIDATE, IS_SUCCESS_VALIDATE = case when ISNULL(REMARKS_ISSUE_VALIDATE,'') <> '' then 0 else 1 end
		FROM OPENJSON(@json) WITH (
		FULL_NAME nvarchar(100) '$.FULL_NAME',
		CATEGORY varchar(150) '$.CATEGORY',
		NIK nvarchar(16) '$.NIK',
		PHONE nvarchar(15) '$.PHONE',
		EMAIL nvarchar(150) '$.EMAIL',
		[LEVEL] varchar(20) '$.EDUCATION_LEVEL',
		LATEST_PROCESS_RECRUITMENT nvarchar(50) '$.LATEST_RECRUITMENT_PROCESS',
		LATEST_TEST_DATE varchar(50) '$.LATEST_TEST_DATE',
		TEST_RESULT varchar(150) '$.TEST_RESULT',
		RESULT_SUMMARY varchar(255) '$.RESULT_SUMMARY',
		REMARKS_ISSUE_VALIDATE varchar(1000) '$.RESULT_VALIDATE' --AS JSON
		)

		IF OBJECT_ID('TEMPDB..#tmpdatainsert') IS NOT NULL DROP TABLE #tmpdatainsert

		CREATE TABLE #tmpdatainsert(
		[ID] int NOT NULL IDENTITY(1,1),
		[NIK] [nvarchar](16) NOT NULL,
		[FULL_NAME] [nvarchar](100) NULL,
		[CATEGORY] [VARCHAR](50) NULL,
		[CATEGORY_DESC] [VARCHAR](150) NULL,
		[PHONE] [nvarchar](15) NOT NULL,
		[EMAIL] [nvarchar](150) NULL,
		[LEVEL] [varchar](20) NULL,
		[LEVEL_DESC] [varchar](150) NULL,
		[LATEST_PROCESS_RECRUITMENT] [nvarchar](50) NULL,
		[LATEST_PROCESS_RECRUITMENT_DESC] [nvarchar](150) NULL,
		[LATEST_TEST_DATE] [varchar](50) NULL,
		[TEST_RESULT] [varchar](150) NULL,
		[RESULT_SUMMARY] [varchar](255) NULL,
		[IS_SUCCESS_VALIDATE] [bit] NULL,
		[REMARKS_ISSUE_VALIDATE] [varchar](1000) NULL)

		INSERT INTO #tmpdatainsert ([FULL_NAME],[CATEGORY],[CATEGORY_DESC],[NIK],[PHONE],[EMAIL],[LEVEL],[LEVEL_DESC],[LATEST_PROCESS_RECRUITMENT],[LATEST_PROCESS_RECRUITMENT_DESC],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE])
		SELECT A.FULL_NAME,c.SYSTEM_CD,A.CATEGORY,A.NIK,A.PHONE,A.EMAIL,E.SYSTEM_CD,[LEVEL],D.SYSTEM_CD,[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],IS_SUCCESS_VALIDATE = 1  FROM #tmpdata A --WHERE A.NIK NOT IN (SELECT distinct NIK FROM TB_M_USERS) 
		left join TB_M_USERS B ON A.NIK = B.NIK
		INNER JOIN (SELECT SYSTEM_CD,SYSTEM_VALUE FROM [dbo].[TB_M_SYSTEM_MASTER] where SYSTEM_TYPE = 'PROFILE_CATEGORY' and IS_DELETED = 0) C ON A.CATEGORY = C.SYSTEM_VALUE
		INNER JOIN (SELECT SYSTEM_CD,SYSTEM_VALUE FROM [dbo].[TB_M_SYSTEM_MASTER] where SYSTEM_TYPE = 'RECRUITMENT_PROCESS' and IS_DELETED = 0) D ON A.LATEST_PROCESS_RECRUITMENT = D.SYSTEM_VALUE
		INNER JOIN (SELECT SYSTEM_CD,SYSTEM_VALUE FROM [dbo].[TB_M_SYSTEM_MASTER] where SYSTEM_TYPE = 'EDUCATION' and IS_DELETED = 0) E ON A.LEVEL = E.SYSTEM_VALUE
		WHERE B.FULL_NAME is null

		--IF OBJECT_ID('TEMPDB..#tmpdataupdate') IS NOT NULL DROP TABLE #tmpdataupdate
		--CREATE TABLE #tmpdataupdate(
		--[NIK] [nvarchar](16) NOT NULL,
		--[FULL_NAME] [nvarchar](100) NULL,
		--[CATEGORY] [VARCHAR](150) NULL,
		--[PHONE] [nvarchar](15) NOT NULL,
		--[EMAIL] [nvarchar](150) NULL,
		--[LEVEL] [varchar](20) NULL,
		--[LATEST_PROCESS_RECRUITMENT] [nvarchar](50) NULL,
		--[LATEST_TEST_DATE] [varchar](50) NULL,
		--[TEST_RESULT] [varchar](150) NULL,
		--[RESULT_SUMMARY] [varchar](255) NULL,
		--[IS_SUCCESS_VALIDATE] [bit] NULL,
		--[REMARKS_ISSUE_VALIDATE] [varchar](1000) NULL)

		--INSERT INTO #tmpdataupdate ([FULL_NAME],[CATEGORY],[NIK],[PHONE],[EMAIL],[LEVEL],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE])
		--SELECT A.FULL_NAME,A.CATEGORY,A.NIK,A.PHONE,A.EMAIL,[LEVEL],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],IS_SUCCESS_VALIDATE = 1  FROM #tmpdata A --WHERE A.NIK NOT IN (SELECT distinct NIK FROM TB_M_USERS) 
		--left join TB_M_USERS B ON A.NIK = B.NIK
		--WHERE B.FULL_NAME is not null


		SET @MIDDLEFORMATDOC = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
		SET @LASTDOC = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT([HISTORY_UPLOAD_CD],6) AS int)),0)+1 AS VARCHAR(6)),6) FROM [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] WHERE [HISTORY_UPLOAD_CD] LIKE '%HU-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')
		SET @HISTORY_UPLOAD_CD = 'HU-'+  @MIDDLEFORMATDOC +'-'+@LASTDOC


		--IF NOT EXISTS(SELECT HISTORY_UPLOAD_CD  FROM TB_H_UPLOAD_VOCATION_CANDIDATE WHERE DOCUMENT_NAME = @FILENAME)
		--BEGIN
		--	INSERT INTO [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE]([HISTORY_UPLOAD_CD],[DOCUMENT_NAME],[STATUS],TOTAL_DATA,[TOTAL_DATA_SUCCESS_VALIDATION], [TOTAL_DATA_FAILED_VALIDATION],[UPLOAD_DATE],[UPLOAD_BY])
		--	VALUES
		--	(@HISTORY_UPLOAD_CD,@FILENAME,'SUCCESS',(SELECT COUNT(*) FROM #tmpdata),(SELECT COUNT(*) FROM #tmpdata),NULL, GETDATE(),@USER_ID) 
		--END
		--ELSE
		--BEGIN
		--	UPDATE [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] SET TOTAL_DATA = TOTAL_DATA + (SELECT COUNT(*) FROM #tmpdata), [TOTAL_DATA_SUCCESS_VALIDATION] = (SELECT COUNT(*) FROM #tmpdata) WHERE DOCUMENT_NAME = @FILENAME
		--END
		UPDATE [dbo].[TB_H_UPLOAD_VOCATION_CANDIDATE] SET STATUS= 'SUCCESS', TOTAL_DATA = ISNULL(TOTAL_DATA,0) + (SELECT COUNT(*) FROM #tmpdata), [TOTAL_DATA_SUCCESS_VALIDATION] = (SELECT COUNT(*) FROM #tmpdata), RESULT_SUKSES_FILE = @FILENAME + '_DATA_SUKSES.'+ @EXTENSION  WHERE DOCUMENT_NAME = @FILENAME + '.' + @EXTENSION


		SET @LASTHISTORY_UPLOAD_CD = (SELECT TOP(1) HISTORY_UPLOAD_CD FROM TB_H_UPLOAD_VOCATION_CANDIDATE WHERE DOCUMENT_NAME = @FILENAME ORDER BY UPLOAD_DATE DESC)
		INSERT INTO TB_D_UPLOAD_VOCATION_CANDIDATE ([FULL_NAME],[CATEGORY],[NIK],[PHONE],[EMAIL],[LEVEL],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE], HISTORY_UPLOAD_CD)
		SELECT [FULL_NAME],[CATEGORY],[NIK],[PHONE],[EMAIL],[LEVEL],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],[IS_SUCCESS_VALIDATE], @LASTHISTORY_UPLOAD_CD  FROM #tmpdata

		SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
		SET @LAST = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(USER_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_USERS WHERE USER_CD LIKE '%V-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')

		--set @USER_CD =  (SELECT 'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6) FROM #tmpdatainsert)
		INSERT INTO TB_M_USERS([USER_CD],[USERNAME],[PASSWORD],[FULL_NAME],[NOREG],[PHONE],[NIK],[EMAIL],[VALID_FROM],[VALID_TO],[IS_ACTIVE],[CREATED_BY],[CREATED_DT],[UPDATED_BY],[UPDATED_DT],[IS_DELETED],[DELETED_BY],[DELETED_DT])
		SELECT USER_CD = 'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),USERNAME = 'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),PASSWORD = HASHBYTES('SHA2_256', 'Toyota@123'),FULL_NAME,NOREG = 'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),PHONE,
		NIK,EMAIL,VALID_FROM = @VALID_FROM,VALID_TO = @VALID_TO,IS_ACTIVE = '1',CREATED_BY = @USER_ID,CREATED_DT = GETDATE(),UPDATED_BY= NULL,UPDATED_DT = NULL,IS_DELETED='0',DELETED_BY=NULL,DELETED_DT=NULL FROM #tmpdatainsert ORDER BY NIK

        ----changed by Baihaqi
		INSERT INTO [dbo].[TB_M_PROFILE] (
                [REGISTRATION_NUMBER]
                ,[CANDIDATE_NUMBER]
                ,[FULL_NAME]
                ,[RECRUITMENT_BATCH]
                ,[RECRUITMENT_PROCESS]
				,[RECRUITMENT_PROCESS_DESC]
                ,[RECRUITMENT_STATUS]
				,[RECRUITMENT_STATUS_DESC]
                ,PROFILE_STATUS
				,[PROFILE_CATEGORY_CD]
				,[PROFILE_CATEGORY_NAME]
                ,CREATED_BY
                ,CREATED_DT
                )
		SELECT
		        'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6)
                ,FULL_NAME
                ,''
                ,LATEST_PROCESS_RECRUITMENT 
				,LATEST_PROCESS_RECRUITMENT_DESC
                ,'3'
				,'Passed'
                ,'1'
				,CATEGORY
				,CATEGORY_DESC
                ,'upload.systems'
                ,getdate()
            FROM #tmpdatainsert A
		SET @MIDDLEFORMAT_EDU = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
		SET @LAST_EDU = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PROFILE_EDU_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_PROFILE_EDU WHERE PROFILE_EDU_CD LIKE '%PE-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + '%')

		INSERT INTO [dbo].[TB_M_PROFILE_EDU] ([PROFILE_EDU_CD],[REGISTRATION_NUMBER],[EDUCATION_LEVEL],[EDUCATION_LEVEL_DESC],CREATED_BY,CREATED_DT)
		SELECT
		'PE-'+  @MIDDLEFORMAT_EDU +'-'+RIGHT('00000'+CAST((@LAST_EDU+ID) as varchar(6)),6),'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6), [LEVEL], A.LEVEL_DESC,@USER_ID,GETDATE() FROM #tmpdatainsert A 
		--INNER JOIN (SELECT SYSTEM_VALUE,SYSTEM_CD FROM TB_M_SYSTEM_MASTER WHERE  SYSTEM_TYPE = 'EDUCATION') B ON A.LEVEL = B.SYSTEM_VALUE  WHERE ISNULL([LEVEL],'') <> ''  ORDER BY NIK 

		SET @MIDDLEFORMAT_ASS = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
		SET @LAST_ASS = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PRF_ASSESSMENT_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_R_ASSESSMENT WHERE PRF_ASSESSMENT_CD LIKE '%R-ASS-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')

		INSERT INTO [dbo].[TB_R_ASSESSMENT]([PRF_ASSESSMENT_CD],[REGISTRATION_NUMBER],[ASSESSMENT_DATE],[ASSESSMENT_RESULT],[ASSESSMENT_SUMMARY],CREATED_BY,CREATED_DT)
		SELECT
		'R-ASS-'+  @MIDDLEFORMAT_ASS +'-'+RIGHT('00000'+CAST((@LAST_ASS+ID) as varchar(6)),6),'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6), CAST(right(LATEST_TEST_DATE,4)+'-'+substring(LATEST_TEST_DATE,len(LATEST_TEST_DATE)-6,2)+'-'+left(LATEST_TEST_DATE,2) as datetime), TEST_RESULT,RESULT_SUMMARY,@USER_ID,GETDATE() FROM #tmpdatainsert WHERE ISNULL(TEST_RESULT,'') <> ''  ORDER BY NIK


		SET @MIDDLEFORMAT_STG = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
		SET @LAST_STG = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(REG_STAGE_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_R_RECRUITMENT_STAGE WHERE REG_STAGE_CD LIKE '%R-STG-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')

		INSERT INTO [dbo].[TB_R_RECRUITMENT_STAGE]([REG_STAGE_CD],[REGISTRATION_NUMBER],[PROFILE_CD],[PROCESS_SEQUENCE],[RECRUITMENT_PROCESS],[RECRUITMENT_PROCESS_DESC],[RECRUITMENT_STATE],[REMARK],[CREATED_DATE],[CREATED_BY],[UPDATED_DT],[UPDATED_BY])
		SELECT
		    'R-STG-'+  @MIDDLEFORMAT_STG +'-'+RIGHT('00000'+CAST((@LAST_STG+ID) as varchar(6)),6),'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6)
            , 1
			, A.LATEST_PROCESS_RECRUITMENT
            , A.LATEST_PROCESS_RECRUITMENT_DESC
            ,'3 | Passed'
            ,'1 | Recruitment'
            ,GETDATE()
            ,@USER_ID
			,NULL
			,NULL
        FROM #tmpdatainsert A
		--INNER JOIN (SELECT SYSTEM_VALUE,SYSTEM_CD FROM TB_M_SYSTEM_MASTER WHERE  SYSTEM_TYPE = 'RECRUITMENT_PROCESS') B ON A.LATEST_PROCESS_RECRUITMENT = B.SYSTEM_VALUE
		WHERE ISNULL(TEST_RESULT,'') <> ''  ORDER BY NIK


		


	SELECT @TITLE = MT.SUBJECT, @HEADER = MT.HEADER, @BODY = MT.BODY, @FOOTER = MT.FOOTER, @CHANNEL = MT.CHANNEL, @CHANNEL_NAME = SM.SYSTEM_VALUE FROM VOCATIONAL_DB.dbo.TB_M_MESSAGE_TEMPLATE MT
    INNER JOIN VOCATIONAL_DB.dbo.TB_M_SYSTEM_MASTER SM ON SM.SYSTEM_CD = MT.CHANNEL AND SM.SYSTEM_TYPE = 'CHANNEL_TYPE' AND SM.IS_ACTIVE = '1'
    WHERE  MT.MESSAGE_CD = 'MSG-20250819132949' AND MT.IS_DELETED = '0';


	DECLARE @CONTENT_HTML varchar(max)
	DECLARE @FORMATEMAIL varchar(max)

	SELECT @CONTENT_HTML = SYSTEM_VALUE FROM VOCATIONAL_DB.dbo.TB_M_SYSTEM_MASTER WHERE COALESCE(IS_DELETED, '0') = '0' AND (COALESCE('', '') <> '' AND SYSTEM_ID = '')
        OR (COALESCE('', '') = '' AND COALESCE('EMAIL_TEMPLATE', '') <> '' AND SYSTEM_TYPE = 'EMAIL_TEMPLATE' AND (SYSTEM_CD = 'EMAIL_OTP' OR COALESCE('EMAIL_OTP', '') = ''));

    DECLARE @New_NOTIF_CD VARCHAR(50);
    DECLARE @TodayDate VARCHAR(8);
    DECLARE @LastIncrement INT;

    -- Ambil tanggal hari ini dalam format DDMMYYYY
    SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

    -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
    SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(NOTIF_CD, 6) AS INT)), 0)
    FROM VOCATIONAL_NOTIFICATION..TB_R_NOTIFICATION
    WHERE NOTIF_CD LIKE 'N-' + @TodayDate + '%';

    -- Tambahkan 1 untuk mendapatkan nomor urut berikutnya
    --SET @LastIncrement = @LastIncrement + 1;

    ---- Format SCHOOL_CD baru
    --SET @New_NOTIF_CD = 'N-' + @TodayDate + '-' + RIGHT('000000' + CAST(@LastIncrement AS VARCHAR(6)), 6);

    INSERT INTO VOCATIONAL_NOTIFICATION..TB_R_NOTIFICATION (
        NOTIF_CD,
        REFERENCE_CD,
        TITLE,
        HEADER,
        BODY,
        FOOTER,
        SENDER,
        RECEIPT,
        RECEIPT_NOREG,
        URL,
        IS_READ,
        IS_SENT,
        CHANNEL_TYPE,
        RETRY_TIMES,
        CREATED_DT,
        CREATED_BY,
        CONTENT_HTML
    )
    SELECT
        NOTIF_CD = 'N-'+  @TodayDate +'-'+RIGHT('000000'+CAST((@LastIncrement+ID) as varchar(6)),6),
        REFERENCE_CD = 'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),
        TITLE = 'Selamat Datang di Vocation Portal',
        HEADER = @HEADER,
        BODY = @BODY,
        FOOTER = @FOOTER,
        SENDER = 'vocational.portal@toyota.co.id',
        RECEIPT = @EMAIL,
        RECEIPT_NOREG = 'V-'+  @MIDDLEFORMAT +'-'+ RIGHT('00000'+CAST((@LAST+ID) as varchar(6)),6),
        URL = NULL,
        IS_READ = '0',
        IS_SENT = '0',
        CHANNEL_TYPE = @CHANNEL,
        RETRY_TIMES = 0,
        CREATED_DT = GETDATE(), 
        CREATED_BY = @USER_ID,
        CONTENT_HTML = replace(replace(replace(replace(replace(replace(@CONTENT_HTML,'[HEADER]',@HEADER),'[BODY]',@BODY),'[FOOTER]',@FOOTER),'[TITLE]','Selamat Datang di Vocation Portal'),'[YEAR]',year(getdate())),'[FULLNAME]',FULL_NAME)
		FROM #tmpdatainsert WHERE EMAIL <> ''


		--UPDATE A
		--SET
		--	A.FULL_NAME = B.FULL_NAME,
		--	A.PHONE = B.PHONE,
		--	A.EMAIL = B.EMAIL
		--FROM
		--	TB_M_USERS A 
		--INNER JOIN
		--	#tmpdataupdate B ON A.NIK = B.NIK

		--UPDATE A
		--SET
		--	A.FULL_NAME = B.FULL_NAME,
		--	--A.RECRUITMENT_BATCH = B.BATCH,
		--	A.RECRUITMENT_PROCESS = B.LATEST_PROCESS_RECRUITMENT
		--FROM
		--	TB_M_PROFILE A 
		--INNER JOIN TB_M_USERS C ON C.NOREG = A.REGISTRATION_NUMBER
		--INNER JOIN
		--	#tmpdataupdate B ON C.NIK = B.NIK


		--UPDATE A
		--SET
		--	A.EDUCATION_LEVEL = B.LEVEL
		--FROM
		--	TB_M_PROFILE_EDU A 
		--INNER JOIN TB_M_USERS C ON C.NOREG = A.REGISTRATION_NUMBER
		--INNER JOIN
		--	#tmpdataupdate B ON C.NIK = B.NIK

		--UPDATE A
		--SET
		--	A.ASSESSMENT_DATE = B.LATEST_TEST_DATE,
		--	A.ASSESSMENT_RESULT = B.TEST_RESULT,
		--	A.ASSESSMENT_SUMMARY = B.RESULT_SUMMARY
		--FROM
		--	TB_R_ASSESSMENT A 
		--INNER JOIN TB_M_USERS C ON C.NOREG = A.REGISTRATION_NUMBER
		--INNER JOIN
		--	#tmpdataupdate B ON C.NIK = B.NIK
		

		--UPDATE A
		--SET
		--	A.RECRUITMENT_PROCESS = B.LATEST_PROCESS_RECRUITMENT
		--FROM
		--	TB_R_RECRUITMENT_STAGE A 
		--INNER JOIN TB_M_USERS C ON C.NOREG = A.REGISTRATION_NUMBER
		--INNER JOIN
		--	#tmpdataupdate B ON C.NIK = B.NIK
		
	END

	--SELECT FULL_NAME1 = [FULL_NAME],[NIK],[PHONE],[EMAIL],[LEVEL],[BATCH],[LATEST_PROCESS_RECRUITMENT],[LATEST_TEST_DATE],[TEST_RESULT],[RESULT_SUMMARY],[REMARKS_ISSUE_VALIDATE],IS_SUCCESS_VALIDATE = 0  FROM #tmpdata --WHERE NIK IN (SELECT NIK FROM TB_M_USERS WHERE ISNULL(IS_ACTIVE,1) = 1) 
	
	SELECT 'true' AS status, 'Success storing new data.' AS message


	

END
GO
