/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ROTATION_REQ_STORE_FEEDBACK]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_ADMIN_ROTATION_REQ_STORE_FEEDBACK]
    @TRANSFER_CD VARCHAR(20),
    @FEEDBACK NVARCHAR(MAX),
    @CREATED_BY NVARCHAR(50)
AS 
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
    
    DECLARE @FEEDBACK_NAME AS VARCHAR(50) = (SELECT FULL_NAME FROM TB_M_USERS WHERE USERNAME = @CREATED_BY);
    
    INSERT INTO TB_R_VOC_TRANSFER_FEEDBACK (
      FEEDBACK_CD, 
      TRANSFER_CD, 
      FEEDBACK_BY, 
      FEEDBACK_NAME, 
      FEEDBACK_TEXT, 
      FEEDBACK_DATE,
      CREATED_BY,
      CREATED_DT
    ) VALUES (
      CONVERT(VARCHAR(50), NEWID()), 
      @TRANSFER_CD, 
      @CREATED_BY,
      @FEEDBACK_NAME,
      @FEEDBACK, 
      GETDATE(),
      @CREATED_BY, 
      GETDATE()
    )
    SELECT 'true' AS status, 'Success storing data.' AS message;
    END TRY
    BEGIN CATCH
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
