/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_GET_DETAIL_APPROVAL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_GET_DETAIL_APPROVAL]
    @CLOSING_ATTENDANCE_CD VARCHAR(50)
AS
BEGIN
    SELECT 
        AA.APPROVAL_LEVEL AS APPROVAL_POSITION,
        AA.APPROVAL_STATUS,
        SM.SYSTEM_VALUE AS APPROVAL_STATUS_NAME,
        AA.APPROVAL_DATE AS APPROVED_DT,
        U.FULL_NAME,
        UD.DIRECTORATE,
        UD.DIVISION,
        UD.DEPARTMENT,
        UD.[SECTION],
        UD.LINE,
        UD.[GROUP]
    FROM 
        [dbo].[TB_R_CLOSING_ATTENDANCE_APPROVAL] AA
    INNER JOIN TB_M_USER_DETAIL UD ON AA.APPROVAL_NOREG = UD.NOREG
    INNER JOIN TB_M_USERS U ON UD.NOREG = U.NOREG
    LEFT JOIN TB_M_SYSTEM_MASTER SM ON AA.APPROVAL_STATUS = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = 'APPROVAL_STATUS'
    WHERE 
        AA.CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
END;
GO
