/****** Object:  StoredProcedure [dbo].[SP_MASTER_SYSTEM_STORE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_SYSTEM_STORE]
    @SYSTEM_ID AS VARCHAR(50) = '',
    @SYSTEM_TYPE AS VARCHAR(20) = '',
    @SYSTEM_CD AS VARCHAR(20) = '',
    @SYSTEM_VALUE AS VARCHAR(255) = '',
    @SYSTEM_REMARK AS VARCHAR(255) = '',
    @SYSTEM_SEQUENCE AS VARCHAR(30) = '', -- Input as VARCHAR, convert to INT
    @IS_ACTIVE AS VARCHAR(1) = '',        -- Input as VARCHAR, convert to BIT (expecting '0' or '1')
    @MODE AS VARCHAR(5) = '',
    @USER_ID AS VARCHAR(50) = ''          -- New parameter for CREATED_BY/UPDATED_BY
AS
BEGIN
    SET NOCOUNT ON; -- Improves performance by suppressing message counts

    -- Declare variables for converted values
    DECLARE @IS_ACTIVE_BIT AS BIT;
    DECLARE @SYSTEM_SEQUENCE_INT AS INT;
    DECLARE @EXISTING_COUNT AS INT;

    BEGIN TRY
        -- Convert @IS_ACTIVE to BIT. Handles '0' or '1' string input.
        SET @IS_ACTIVE_BIT = CAST(@IS_ACTIVE AS BIT);

        -- Convert @SYSTEM_SEQUENCE to INT.
        SET @SYSTEM_SEQUENCE_INT = CAST(@SYSTEM_SEQUENCE AS INT);

        IF @MODE = 'Add'
        BEGIN
            -- Check if SYSTEM_TYPE and SYSTEM_CD already exist
            SELECT @EXISTING_COUNT = COUNT(1)
            FROM TB_M_SYSTEM_MASTER
            WHERE SYSTEM_TYPE = @SYSTEM_TYPE
              AND SYSTEM_CD = @SYSTEM_CD;

            IF @EXISTING_COUNT > 0
            BEGIN
                -- Warning: Data already exists
                SELECT 'false' AS status, 'Data with System Type and System Code already exists.' AS message;
            END
            ELSE
            BEGIN
                
                DECLARE @NEW_SYSTEM_ID VARCHAR(50);
                DECLARE @TodayDate VARCHAR(8);
                DECLARE @LastIncrement INT;

                -- Ambil tanggal hari ini dalam format DDMMYYYY
                SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

                -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
                SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(SYSTEM_ID, 4) AS INT)), 0)
                FROM [dbo].[TB_M_SYSTEM_MASTER]
                WHERE SYSTEM_ID LIKE 'SYS-' + @TodayDate + '%';

                -- Tambahkan 1 untuk mendapatkan nomor urut berikutnya
                SET @LastIncrement = @LastIncrement + 1;

                -- Format SCHOOL_CD baru
                SET @NEW_SYSTEM_ID = 'SYS-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement AS VARCHAR(4)), 4);

                -- Insert statement
                INSERT INTO TB_M_SYSTEM_MASTER (
                    SYSTEM_ID,
                    SYSTEM_TYPE,
                    SYSTEM_CD,
                    SYSTEM_VALUE,
                    SYSTEM_REMARK,
                    SYSTEM_SEQUENCE,
                    IS_ACTIVE,
                    CREATED_BY,
                    CREATED_DT,
                    UPDATED_BY,    -- Set to NULL on creation
                    UPDATED_DT     -- Set to NULL on creation
                )
                VALUES (
                    @NEW_SYSTEM_ID,
                    @SYSTEM_TYPE,
                    @SYSTEM_CD,
                    @SYSTEM_VALUE,
                    @SYSTEM_REMARK,
                    @SYSTEM_SEQUENCE_INT,
                    @IS_ACTIVE_BIT,
                    @USER_ID,
                    GETDATE(),
                    NULL,
                    NULL
                );

                SELECT 'true' AS status, 'Success storing new data.' AS message;
            END
        END
        ELSE IF @MODE = 'Edit'
        BEGIN
            -- Check if SYSTEM_TYPE and SYSTEM_CD already exist for a DIFFERENT SYSTEM_ID
            SELECT @EXISTING_COUNT = COUNT(1)
            FROM TB_M_SYSTEM_MASTER
            WHERE SYSTEM_TYPE = @SYSTEM_TYPE
              AND SYSTEM_CD = @SYSTEM_CD
              AND SYSTEM_ID != @SYSTEM_ID; -- Exclude the current record being edited

            IF @EXISTING_COUNT > 0
            BEGIN
                -- Warning: Data already exists for another record
                SELECT 'false' AS status, 'Data with System Type and System Code already exists for another record.' AS message;
            END
            ELSE
            BEGIN
                -- Update statement with SYSTEM_ID
                UPDATE TB_M_SYSTEM_MASTER
                SET
                    SYSTEM_TYPE = @SYSTEM_TYPE,
                    SYSTEM_CD = @SYSTEM_CD,
                    SYSTEM_VALUE = @SYSTEM_VALUE,
                    SYSTEM_REMARK = @SYSTEM_REMARK,
                    SYSTEM_SEQUENCE = @SYSTEM_SEQUENCE_INT,
                    IS_ACTIVE = @IS_ACTIVE_BIT,
                    UPDATED_BY = @USER_ID,
                    UPDATED_DT = GETDATE()
                WHERE SYSTEM_ID = @SYSTEM_ID;

                -- Check if any row was actually updated
                IF @@ROWCOUNT = 0
                BEGIN
                    SELECT 'false' AS status, 'No record found with the provided System ID for update.' AS message;
                END
                ELSE
                BEGIN
                    SELECT 'true' AS status, 'Success updating data.' AS message;
                END
            END
        END
        ELSE
        BEGIN
            -- Invalid MODE
            SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
        END

    END TRY
    BEGIN CATCH
        -- Error handling
        SELECT 'false' AS status, ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
