/****** Object:  Table [dbo].[TB_R_EXTRA_STUDY_APPROVAL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_EXTRA_STUDY_APPROVAL](
	[EXTRA_STUDY_APPROVAL_CD] [varchar](150) NOT NULL,
	[EXTRA_STUDY_CD] [varchar](20) NOT NULL,
	[APPROVAL_LEVEL] [varchar](150) NULL,
	[APPROVAL_NAME] [varchar](150) NULL,
	[APPROVAL_DATE] [datetime] NULL,
	[APPROVAL_SEQ] [int] NULL,
	[APPROVAL_TYPE] [varchar](20) NULL,
	[APPROVAL_STATUS] [varchar](20) NULL,
	[COMMENTS] [varchar](255) NULL,
	[APPROVED_ESH] [decimal](5, 2) NULL,
	[APPROVED_TOTAL] [decimal](12, 2) NULL,
	[ROLL_OVER_ESH] [decimal](5, 2) NULL,
	[ROLL_OVER_TOTAL] [decimal](12, 2) NULL,
	[CREATED_BY] [varchar](20) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[DAY_TYPE] [varchar](20) NULL,
	[APPROVAL_KEY] [varchar](6) NULL,
	[APPROVAL_CONFIRMATION_KEY] [varchar](6) NULL,
	[APPROVAL_NOREG] [varchar](20) NULL,
	[ATTENDANCE_CD] [varchar](20) NULL,
 CONSTRAINT [PK_TB_R_EXTRA_STUDY_APPROVAL] PRIMARY KEY CLUSTERED 
(
	[EXTRA_STUDY_APPROVAL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
