/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ESH_BULK_APPROVE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ESH_BULK_APPROVE]
    @ATTENDANCE_CD VARCHAR(MAX),
    @FILE_NAME VARCHAR(MAX),
    @FILE_PATH VARCHAR(MAX),
    @APPROVER VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- This ensures the transaction is rolled back on any error

    BEGIN TRY
        -- Start the transaction
        BEGIN TRANSACTION;

        DECLARE @NOREG VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @APPROVER);
        DECLARE @RowsAffected INT;
        
        -- UPDATE statement
        UPDATE TB_R_EXTRA_STUDY_APPROVAL
        SET 
            APPROVAL_DATE = GETDATE(),
            APPROVAL_STATUS = '1',
            UPDATED_BY = @APPROVER,
            UPDATED_DT = GETDATE()
        WHERE 
            ATTENDANCE_CD IN (SELECT value FROM STRING_SPLIT(@ATTENDANCE_CD, ',')) AND APPROVAL_NOREG = @NOREG;
            
        -- Check if the UPDATE was successful
        SET @RowsAffected = @@ROWCOUNT;

        -- Insert attachment data if available
        IF (@FILE_PATH IS NOT NULL AND @FILE_PATH <> '') AND (@FILE_NAME IS NOT NULL AND @FILE_NAME <> '')
        BEGIN
            INSERT INTO TB_R_EXTRA_STUDY_ATTACHMENT (
                ATTACHMENT_CD,
                EXTRA_STUDY_CD,
                FILE_NAME,
                FILE_PATH,
                DESCRIPTION,
                CREATED_DT,
                CREATED_BY,
                ATTENDANCE_CD
            )
            SELECT
                t.ATTENDANCE_CD + '-' + CONVERT(VARCHAR, ISNULL(COUNT(a.ATTACHMENT_CD), 0) + 1),
                (SELECT EXTRA_STUDY_CD FROM TB_R_EXTRA_STUDY WHERE ATTENDANCE_CD = t.ATTENDANCE_CD),
                @FILE_NAME,
                @FILE_PATH,
                'ATTACHMENT_APPROVED_ESH',
                GETDATE(),
                @APPROVER,
                t.ATTENDANCE_CD
            FROM 
                TB_R_ATTENDANCE t -- Use a proper table alias here
                LEFT JOIN TB_R_EXTRA_STUDY_ATTACHMENT a ON t.ATTENDANCE_CD = a.ATTENDANCE_CD
            WHERE 
                t.ATTENDANCE_CD IN (SELECT value FROM STRING_SPLIT(@ATTENDANCE_CD, ','))
            GROUP BY t.ATTENDANCE_CD;
        END;

        -- Check the number of rows affected by the UPDATE statement
        IF @RowsAffected > 0
        BEGIN
            -- Commit the transaction if all operations are successful
            COMMIT TRANSACTION;
            SELECT 'true' AS status, 'Success bulk approve data.' AS message;
        END
        ELSE
        BEGIN
            -- Rollback the transaction if no rows were updated
            ROLLBACK TRANSACTION;
            SELECT 'false' AS status, 'Error: No data found to be approved.' AS message;
        END

    END TRY
    BEGIN CATCH
        -- Check if a transaction is active and roll it back
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END

        -- Return a general error message from the CATCH block
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
