/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL_FAMILY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL_FAMILY]
    @REGISTRATION_NUMBER AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      FAMILY_CD,
      REGISTRATION_NUMBER,
      TYPE,
      RELATION,
      SM.SYSTEM_VALUE AS RELATION_NAME,
      FULL_NAME,
      ADDRESS,
			PF.VILLAGE,
      VIL.VILLAGE_NAME,
      PF.DISTRICT,
      DIST.DISTRICT_NAME,
      PF.CITY,
      CIT.CITY_NAME,
      PF.PROVINCE,
      PROV.PROVINCE_NAME,
      POSTALCODE,
      PHONE,
      RT,
      RW
    FROM
      TB_M_PROFILE_FAMILY PF
		LEFT JOIN TB_M_PROVINCE PROV ON PF.PROVINCE = PROV.PROVINCE_CD
		LEFT JOIN TB_M_CITY CIT ON PF.CITY = CIT.CITY_CD
		LEFT JOIN TB_M_DISTRICT DIST ON PF.DISTRICT = DIST.DISTRICT_CD
		LEFT JOIN TB_M_VILLAGE VIL ON PF.VILLAGE = VIL.VILLAGE_CD
		LEFT JOIN TB_M_SYSTEM_MASTER SM ON SM.SYSTEM_CD = PF.RELATION AND SM.SYSTEM_TYPE = 'FAMILY_RELATION'
    
    WHERE REGISTRATION_NUMBER = @REGISTRATION_NUMBER
END;
GO
