/****** Object:  StoredProcedure [dbo].[SP_MASTER_PAYROLL_COMPONENT_GET_EMPLOYEE_CLASS_OPTION]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_PAYROLL_COMPONENT_GET_EMPLOYEE_CLASS_OPTION]
    @TERM AS VARCHAR(100) = ''
AS
BEGIN
    SET NOCOUNT ON;

    SELECT CLASS_CD AS id, CLASS text FROM TB_M_CLASS WHERE CLASS LIKE '%' + @TERM + '%'
END;
GO
