/****** Object:  StoredProcedure [dbo].[SP_MASTER_LOCATION_GET_DETAIL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_MASTER_LOCATION_GET_DETAIL]
    @MODE VARCHAR(20),      -- 'province' | 'city' | 'district' | 'village'
    @CODE VARCHAR(30) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- MODE: PROVINCE
        IF @MODE = 'province'
        BEGIN
            SELECT 
                p.PROVINCE_CD,
                p.COUNTRY_CD,
                p.PROVINCE_NAME,
                p.CREATED_DT,
                p.CREATED_BY,
                p.UPDATED_DT,
                p.UPDATED_BY,
                p.IS_DELETED,
                p.DELETED_DT,
                p.DELETED_BY
            FROM TB_M_PROVINCE p
            WHERE 
                (@CODE IS NULL OR p.PROVINCE_CD = @CODE)
                AND p.IS_DELETED = 0
            ORDER BY p.PROVINCE_NAME;
            RETURN;
        END

        -- MODE: CITY
        IF @MODE = 'city'
        BEGIN
            SELECT 
                c.CITY_CD,
                c.PROVINCE_CD,
                p.PROVINCE_NAME,
                c.CITY_NAME,
                c.CREATED_DT,
                c.CREATED_BY,
                c.UPDATED_DT,
                c.UPDATED_BY,
                c.IS_DELETED,
                c.DELETED_DT,
                c.DELETED_BY
            FROM TB_M_CITY c
            LEFT JOIN TB_M_PROVINCE p ON p.PROVINCE_CD = c.PROVINCE_CD
            WHERE 
                (@CODE IS NULL OR c.CITY_CD = @CODE)
                AND c.IS_DELETED = 0
            ORDER BY c.CITY_NAME;
            RETURN;
        END

        -- MODE: DISTRICT
        IF @MODE = 'district'
        BEGIN
            SELECT 
                d.DISTRICT_CD,
                d.CITY_CD,
                c.CITY_NAME,
                c.PROVINCE_CD,
                p.PROVINCE_NAME,
                d.DISTRICT_NAME,
                d.CREATED_DT,
                d.CREATED_BY,
                d.UPDATED_DT,
                d.UPDATED_BY,
                d.IS_DELETED,
                d.DELETED_DT,
                d.DELETED_BY
            FROM TB_M_DISTRICT d
            LEFT JOIN TB_M_CITY c ON c.CITY_CD = d.CITY_CD
            LEFT JOIN TB_M_PROVINCE p ON p.PROVINCE_CD = c.PROVINCE_CD
            WHERE 
                (@CODE IS NULL OR d.DISTRICT_CD = @CODE)
                AND d.IS_DELETED = 0
            ORDER BY d.DISTRICT_NAME;
            RETURN;
        END

        -- MODE: VILLAGE
        IF @MODE = 'village'
        BEGIN
            SELECT 
                v.VILLAGE_CD,
                v.VILLAGE_NAME,
                v.DISTRICT_CD,
                d.DISTRICT_NAME,
                d.CITY_CD,
                c.CITY_NAME,
                c.PROVINCE_CD,
                p.PROVINCE_NAME,
                v.CREATED_DT,
                v.CREATED_BY,
                v.UPDATED_DT,
                v.UPDATED_BY,
                v.IS_DELETED,
                v.DELETED_DT,
                v.DELETED_BY
            FROM TB_M_VILLAGE v
            LEFT JOIN TB_M_DISTRICT d ON d.DISTRICT_CD = v.DISTRICT_CD
            LEFT JOIN TB_M_CITY c ON c.CITY_CD = d.CITY_CD
            LEFT JOIN TB_M_PROVINCE p ON p.PROVINCE_CD = c.PROVINCE_CD
            WHERE 
                (@CODE IS NULL OR v.VILLAGE_CD = @CODE)
                AND v.IS_DELETED = 0
            ORDER BY v.VILLAGE_NAME;
            RETURN;
        END

        -- MODE INVALID
        ELSE
        BEGIN
            SELECT 
                'false' AS status, 
                'Invalid MODE specified. Use province, city, district, or village.' AS message;
        END
    END TRY

    BEGIN CATCH
        SELECT 
            'false' AS status, 
            'Internal Server Error: ' + ERROR_MESSAGE() AS message;
    END CATCH
END
GO
