/****** Object:  Table [dbo].[TB_R_ATTENDANCE_APPROVAL_BAK]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_ATTENDANCE_APPROVAL_BAK](
	[ATTENDANCE_APPROVAL_CD] [varchar](50) NOT NULL,
	[ATTENDANCE_CD] [varchar](20) NOT NULL,
	[REGISTRATION_NUMBER] [varchar](20) NOT NULL,
	[APPROVER_SEQUENCE] [int] NOT NULL,
	[APPROVER_NOREG] [varchar](20) NOT NULL,
	[APPROVER_POSITION] [varchar](100) NULL,
	[APPROVAL_STATUS] [varchar](50) NOT NULL,
	[REMARKS] [varchar](255) NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[APPROVED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ATTENDANCE_APPROVAL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_ATTENDANCE_APPROVAL_BAK] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kode Persetujuan Kehadiran' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'ATTENDANCE_APPROVAL_CD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kode Kehadiran' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'ATTENDANCE_CD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nomor Registrasi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'REGISTRATION_NUMBER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Urutan Pemberi Persetujuan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'APPROVER_SEQUENCE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nomor Registrasi Pemberi Persetujuan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'APPROVER_NOREG'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Jabatan Pemberi Persetujuan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'APPROVER_POSITION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Status Persetujuan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'APPROVAL_STATUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Keterangan' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'REMARKS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Waktu Dibuat' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'CREATED_DT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Waktu Disetujui' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'APPROVED_DT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dibuat Oleh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'CREATED_BY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Waktu Diperbarui' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'UPDATED_DT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Diperbarui Oleh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK', @level2type=N'COLUMN',@level2name=N'UPDATED_BY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabel untuk menyimpan data persetujuan kehadiran' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TB_R_ATTENDANCE_APPROVAL_BAK'
GO
