/****** Object:  StoredProcedure [dbo].[SP_MASTER_APPROVALMATRIX_DELETE_BY_PURPOSECD_AND_BRANCH]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--USE [VOCATIONAL_DB]
--GO
--/****** Object:  StoredProcedure [dbo].[SP_MASTER_APPROVALMATRIX_DELETE]    Script Date: 19/08/2025 10:55:39 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
CREATE PROCEDURE [dbo].[SP_MASTER_APPROVALMATRIX_DELETE_BY_PURPOSECD_AND_BRANCH]
    @PURPOSE_CD AS VARCHAR(20) = '',
	@BRANCH_CD AS VARCHAR(20) = null,
    @USER_ID AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON; -- Improves performance by suppressing message counts

    DECLARE @RowsAffected INT; -- Variable to store the number of rows updated

    -- Perform the UPDATE operation
    UPDATE [dbo].[TB_M_APPROVAL_MATRIX]
    SET
        is_active = '0',             -- Set the status to inactive
        DELETED_BY = @USER_ID,     -- Record who made the change
        DELETED_DT = GETDATE()     -- Record when the change was made
    WHERE
        PURPOSE_CD = @PURPOSE_CD AND ISNULL(BRANCH_CD,'') = isnull(@BRANCH_CD,'')
        AND ISNULL(is_active,'1') = '1'
        ;    -- Identify the specific record to update

    -- Check how many rows were affected by the UPDATE statement
    SET @RowsAffected = @@ROWCOUNT;

    -- Return success or failure message based on the update result
    IF @RowsAffected > 0
    BEGIN
        -- If one or more rows were updated, it's a success
        SELECT
            'true' AS status,
            'Success delete data.' AS message;
    END
    ELSE
    BEGIN
        -- If no rows were updated, it means the SYSTEM_ID was not found
        -- or the record was already inactive.
        SELECT
            'false' AS status,
            'Failed to delete data. PURPOSE_CD and Branch_CD not found or already inactive.' AS message;
    END;

END;
GO
