/****** Object:  Table [dbo].[TB_T_EXTRA_STUDY_SUMMARY_BAK]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_T_EXTRA_STUDY_SUMMARY_BAK](
	[EXTRA_STUDY_SUMMARY_CD] [varchar](20) NOT NULL,
	[REGISTRATION_NUMBER] [nvarchar](20) NOT NULL,
	[PERIOD] [varchar](6) NULL,
	[WEEKDAY] [decimal](5, 2) NULL,
	[WEEKEND] [decimal](5, 2) NULL,
	[HOLIDAY] [decimal](5, 2) NULL,
	[TOTAL] [decimal](12, 2) NULL,
	[APPROVED_WD] [decimal](5, 2) NULL,
	[APPROVED_WE] [decimal](5, 2) NULL,
	[APPROVED_HD] [decimal](5, 2) NULL,
	[APPROVED_TOTAL] [decimal](12, 2) NULL,
	[UNCLAIMED_WD] [decimal](5, 2) NULL,
	[UNCLAIMED_WE] [decimal](5, 2) NULL,
	[UNCLAIMED_HD] [decimal](5, 2) NULL,
	[UNCLAIMED_TOTAL] [decimal](12, 2) NULL,
	[CREATED_BY] [varchar](20) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[EXTRA_STUDY_SUMMARY_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_T_EXTRA_STUDY_SUMMARY_BAK]  WITH CHECK ADD  CONSTRAINT [FK__TB_T_EXTR__REGIS__2FEF161B] FOREIGN KEY([REGISTRATION_NUMBER])
REFERENCES [dbo].[TB_M_PROFILE] ([REGISTRATION_NUMBER])
GO
ALTER TABLE [dbo].[TB_T_EXTRA_STUDY_SUMMARY_BAK] CHECK CONSTRAINT [FK__TB_T_EXTR__REGIS__2FEF161B]
GO
