/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ATTENDANCE_GET_DETAIL_PRESENCE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ATTENDANCE_GET_DETAIL_PRESENCE]
    @REGISTRATION_NUMBER NVARCHAR(50),
    @ATTENDANCE_CD NVARCHAR(50) = NULL,
    @ATTENDANCE_APPROVAL NVARCHAR(50) = NULL,
    @PERIOD_FROM DATE,
    @PERIOD_TO DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @DynamicWhere NVARCHAR(MAX) = '';

    DECLARE @ATT_STATUS_PRESENT VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'PRESENT' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_ABSENT VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'ABSENT' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');
    DECLARE @ATT_STATUS_CONDITIONAL VARCHAR(MAX) = (SELECT SYSTEM_VALUE FROM TB_M_SYSTEM_MASTER WHERE SYSTEM_CD = 'CONDITIONAL' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST');

     IF @ATTENDANCE_CD IS NOT NULL AND @ATTENDANCE_CD <> ''
        SET @DynamicWhere = @DynamicWhere + ' AND ATT.ATTENDANCE_CD = @p_ATTENDANCE_CD ';

    SET @SQL = '
    SELECT
        CASE
            WHEN ATT.ATTENDANCE_STATUS IS NULL AND ATT.CLOCK_IN_TIME IS NOT NULL AND ATT.CLOCK_OUT_TIME IS NOT NULL THEN ''01''
            ELSE ATT.ATTENDANCE_STATUS
        END AS ATTENDANCE_STATUS,
        CASE
            WHEN ATT.ATTENDANCE_STATUS IS NULL AND ATT.CLOCK_IN_TIME IS NOT NULL AND ATT.CLOCK_OUT_TIME IS NOT NULL THEN ''01: On time''
            ELSE ATT.ATTENDANCE_STATUS + '': '' + SM.SYSTEM_VALUE
        END AS ATTENDANCE_STATUS_NAME,
        CASE
            WHEN ATT.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_PRESENT, ',', ''',''') + ''') THEN ''PRESENCE''
            WHEN ATT.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_ABSENT, ',', ''',''') + ''') THEN ''ABSENT''
            WHEN ATT.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_CONDITIONAL, ',', ''',''') + ''') AND (ATT.CLOCK_IN_TIME IS NOT NULL OR ATT.CLOCK_OUT_TIME IS NOT NULL) THEN ''PRESENCE''
            WHEN ATT.ATTENDANCE_STATUS IS NULL AND ATT.CLOCK_IN_TIME IS NOT NULL AND ATT.CLOCK_OUT_TIME IS NOT NULL THEN ''PRESENCE''
            ELSE ''ABSENT''
        END AS STATUS,
        COUNT(1) AS TOTAL_DATA
    FROM
        TB_R_ATTENDANCE ATT
    LEFT JOIN
        TB_M_SYSTEM_MASTER SM ON ATT.ATTENDANCE_STATUS = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = ''ATTENDANCE_STATUS''
    WHERE 1=1
    AND ATT.REGISTRATION_NUMBER = @p_REGISTRATION_NUMBER
    AND ATT.ATTENDANCE_DATE BETWEEN @p_PERIOD_FROM AND @p_PERIOD_TO
    ' + COALESCE(@DynamicWhere,'') + '
    GROUP BY
        CASE
            WHEN ATT.ATTENDANCE_STATUS IS NULL AND ATT.CLOCK_IN_TIME IS NOT NULL AND ATT.CLOCK_OUT_TIME IS NOT NULL THEN ''01''
            ELSE ATT.ATTENDANCE_STATUS
        END,
        CASE
            WHEN ATT.ATTENDANCE_STATUS IS NULL AND ATT.CLOCK_IN_TIME IS NOT NULL AND ATT.CLOCK_OUT_TIME IS NOT NULL THEN ''01: On time''
            ELSE ATT.ATTENDANCE_STATUS + '': '' + SM.SYSTEM_VALUE
        END,
        -- Tambahkan kolom STATUS di sini
        CASE
            WHEN ATT.ATTENDANCE_STATUS IN  (''' + REPLACE(@ATT_STATUS_PRESENT, ',', ''',''') + ''') THEN ''PRESENCE''
            WHEN ATT.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_ABSENT, ',', ''',''') + ''') THEN ''ABSENT''
            WHEN ATT.ATTENDANCE_STATUS IN (''' + REPLACE(@ATT_STATUS_CONDITIONAL, ',', ''',''') + ''') AND (ATT.CLOCK_IN_TIME IS NOT NULL OR ATT.CLOCK_OUT_TIME IS NOT NULL) THEN ''PRESENCE''
            WHEN ATT.ATTENDANCE_STATUS IS NULL AND ATT.CLOCK_IN_TIME IS NOT NULL AND ATT.CLOCK_OUT_TIME IS NOT NULL THEN ''PRESENCE''
            ELSE ''ABSENT''
        END
    ORDER BY
        ATTENDANCE_STATUS;';

    EXEC sp_executesql @SQL,
        N'@p_REGISTRATION_NUMBER NVARCHAR(50), @p_PERIOD_FROM DATE, @p_PERIOD_TO DATE, @p_ATTENDANCE_CD NVARCHAR(50), @p_ATTENDANCE_APPROVAL NVARCHAR(50)',
        @p_REGISTRATION_NUMBER = @REGISTRATION_NUMBER,
        @p_PERIOD_FROM = @PERIOD_FROM,
        @p_PERIOD_TO = @PERIOD_TO,
        @p_ATTENDANCE_CD = @ATTENDANCE_CD,
        @p_ATTENDANCE_APPROVAL = @ATTENDANCE_APPROVAL;
END
GO
