/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_VOCATION_LIST_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_VOCATION_LIST_INQUIRY]
    @PAGE AS INT = 0,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'FULL_NAME', -- Default OrderBy disesuaikan dengan data profile
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @TERM AS VARCHAR(100) = NULL,
    @PLACEMENT_REQUEST_CD AS VARCHAR(50),
		@SECTION_ID AS VARCHAR(50) = NULL, 
    @LINE_ID AS VARCHAR(50) = NULL,
    @GROUP_ID AS VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
		
    IF @OrderBy NOT IN ('FULL_NAME', 'REGISTRATION_NUMBER', 'SECTION', 'LINE', 'GROUP_NAME', 'DESCRIPTION', 'CONTRACT_END')
    BEGIN
        SET @OrderBy = 'FULL_NAME';
    END


	
    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END
		
		
		DECLARE @VOCATION_END_DT_FROM AS VARCHAR(20), @VOCATION_END_DT_TO AS VARCHAR(20), @SQL NVARCHAR(MAX);
		
		SELECT @VOCATION_END_DT_FROM = VOCATION_END_DT_FROM, @VOCATION_END_DT_TO = VOCATION_END_DT_TO FROM TB_R_PLACEMENT_REQUEST WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD;

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
            P.FULL_NAME,
            P.REGISTRATION_NUMBER,
            P.CANDIDATE_NUMBER,
            OA.[SECTION],
            OA.LINE,
            OA.GROUP_NAME,
            LT.DESCRIPTION AS LABOR_TYPE_DESCRIPTION,
            P.CONTRACT_END,
						CASE WHEN T.REGISTRATION_NUMBER IS NOT NULL THEN ''0'' ELSE ''1'' END AS IS_CONTINUE
        FROM 
            TB_M_PROFILE P
            INNER JOIN TB_R_ORG_ASSIGNMENT OA ON P.REGISTRATION_NUMBER = OA.REGISTRATION_NUMBER
            LEFT JOIN TB_M_LABOR_TYPE LT ON OA.LABOR_TYPE = LT.LABOR_CD
						LEFT JOIN TB_T_PLACEMENT_REQUEST_VOCATION_LIST T ON T.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER AND T.PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD
        WHERE
            P.CONTRACT_END BETWEEN CONVERT(DATE, @VOCATION_END_DT_FROM) AND CONVERT(DATE, @VOCATION_END_DT_TO)
            ';
						
    IF @SECTION_ID IS NOT NULL AND @SECTION_ID <> ''
        SET @SQL = @SQL + ' AND OA.SECTION_ID = CONVERT(INT, @SECTION_ID)';
				
    IF @LINE_ID IS NOT NULL AND @LINE_ID <> ''
        SET @SQL = @SQL + ' AND OA.LINE_ID = CONVERT(INT, @LINE_ID)';
				
    IF @GROUP_ID IS NOT NULL AND @GROUP_ID <> ''
        SET @SQL = @SQL + ' AND OA.GROUP_ID = CONVERT(INT, @GROUP_ID)';
            
    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + '
            AND (
                P.FULL_NAME LIKE ''%'' + @TERM + ''%'' OR
                P.REGISTRATION_NUMBER LIKE ''%'' + @TERM + ''%'' OR
                P.CANDIDATE_NUMBER LIKE ''%'' + @TERM + ''%'' OR
                OA.[SECTION] LIKE ''%'' + @TERM + ''%'' OR
                OA.[LINE] LIKE ''%'' + @TERM + ''%'' OR
                OA.GROUP_NAME LIKE ''%'' + @TERM + ''%''
            )';
						
    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + @OrderBy + ' ' + @OrderDirection + ') AS NO,
        T1.*,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults T1
    ORDER BY ' + @OrderBy + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @TERM VARCHAR(100), @VOCATION_END_DT_FROM VARCHAR(20), @VOCATION_END_DT_TO VARCHAR(20), @SECTION_ID VARCHAR(10), @LINE_ID VARCHAR(10), @GROUP_ID VARCHAR(10), @PLACEMENT_REQUEST_CD VARCHAR(50)',
        @Offset = @PAGE,
        @PageSize = @PageSize,
        @TERM = @TERM,
        @VOCATION_END_DT_FROM = @VOCATION_END_DT_FROM,
        @VOCATION_END_DT_TO = @VOCATION_END_DT_TO,
        @SECTION_ID = @SECTION_ID,
        @LINE_ID = @LINE_ID,
        @GROUP_ID = @GROUP_ID,
				@PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD;
END;
GO
