/****** Object:  Table [dbo].[TB_M_PROFILE_BANK_ACCOUNT]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_PROFILE_BANK_ACCOUNT](
	[PRF_BANK_ACCOUNT_CD] [varchar](20) NOT NULL,
	[REGISTRATION_NUMBER] [nvarchar](20) NOT NULL,
	[ACCOUNT_HOLDER_NAME] [varchar](255) NULL,
	[BANK_CD] [varchar](20) NULL,
	[VALID_FROM] [datetime] NULL,
	[VALID_TO] [datetime] NULL,
	[BRANCH] [varchar](50) NULL,
	[BANK_KEYS] [varchar](50) NULL,
	[BANK_ACCOUNT_NUMBER] [varchar](50) NULL,
	[CREATED_BY] [varchar](20) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_M_PROFILE_BANK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[PRF_BANK_ACCOUNT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
