/****** Object:  StoredProcedure [dbo].[SP_MASTER_ROLE_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ROLE_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'SCHOOL_NAME',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @ROLE_LEVEL AS VARCHAR(10) = NULL,
    @STATUS AS VARCHAR(10) = '',
    @TERM AS VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('ROLE_NAME', 'ROLE_CD', 'ROLE_LEVEL', 'ROLE_TYPE', 'STATUS')
    BEGIN
        SET @OrderBy = 'ROLE_NAME';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
          ROLE_NAME, ROLE_CD, ROLE_LEVEL, SM.SYSTEM_VALUE AS ROLE_TYPE, CONVERT(VARCHAR, STATUS) AS STATUS
        FROM
            TB_M_ROLES R
            LEFT JOIN TB_M_SYSTEM_MASTER SM ON R.ROLE_LEVEL = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = ''LEVEL''
        WHERE
            R.IS_DELETED = ''0''';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (
          ROLE_NAME LIKE ''%'' + @TERM + ''%'' OR 
          ROLE_CD LIKE ''%'' + @TERM + ''%'' OR 
          ROLE_LEVEL LIKE ''%'' + @TERM + ''%'' OR 
          ROLE_TYPE LIKE ''%'' + @TERM + ''%''
        )';
        
    IF @ROLE_LEVEL IS NOT NULL AND @ROLE_LEVEL <> ''
      SET @SQL = @SQL + ' AND ROLE_LEVEL = @ROLE_LEVEL';
    
    IF @STATUS IS NOT NULL AND @STATUS <> ''
      SET @SQL = @SQL + ' AND STATUS = @STATUS';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @TERM VARCHAR(100), @ROLE_LEVEL VARCHAR(10), @STATUS AS VARCHAR(10)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
        @TERM = @TERM,
        @ROLE_LEVEL = @ROLE_LEVEL,
        @STATUS = @STATUS;
END;
GO
