/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_CREATE_ATTACHMENT]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_CREATE_ATTACHMENT]
    @CLOSING_ATTENDANCE_CD VARCHAR(20),
    @FILE_PATH VARCHAR(MAX), 
    @FILE_NAME VARCHAR(MAX), 
    @CREATED_BY VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
    
    DECLARE @NOREG AS VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @CREATED_BY);
    
    
    INSERT INTO TB_R_CLOSING_ATTENDANCE_ATTACHMENT (
      ATTACHMENT_CD,
      CLOSING_ATTENDANCE_CD,
      [DATE],
      TITLE,
      FILENAME,
      NOREG,
      URL,
      CREATED_DT,
      CREATED_BY
    ) VALUES (
      CONVERT(VARCHAR(50), NEWID()), 
      @CLOSING_ATTENDANCE_CD, 
      GETDATE(), 
      'Memo Closing Attendance', 
      @FILE_NAME, 
      @NOREG,
      @FILE_PATH,
      GETDATE(),
      @CREATED_BY
    )
    SELECT 'true' AS status, 'Success storing data.' AS message;
    END TRY
    BEGIN CATCH
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
