/****** Object:  Table [dbo].[TB_R_CLOSING_PAYROLL_FEEDBACK]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_CLOSING_PAYROLL_FEEDBACK](
	[FEEDBACK_CD] [varchar](36) NOT NULL,
	[APPROVAL_CD] [varchar](36) NOT NULL,
	[CLOSING_PAYROLL_CD] [varchar](36) NOT NULL,
	[FEEDBACK_BY] [varchar](50) NOT NULL,
	[FEEDBACK_NAME] [nvarchar](200) NOT NULL,
	[FEEDBACK_TEXT] [nvarchar](max) NOT NULL,
	[FEEDBACK_DATE] [datetime] NULL,
	[PARENT_FEEDBACK_CD] [varchar](36) NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FEEDBACK_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_CLOSING_PAYROLL_FEEDBACK] ADD  DEFAULT (getdate()) FOR [FEEDBACK_DATE]
GO
ALTER TABLE [dbo].[TB_R_CLOSING_PAYROLL_FEEDBACK] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
ALTER TABLE [dbo].[TB_R_CLOSING_PAYROLL_FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_PAYROLL_FEEDBACK_APPROVAL] FOREIGN KEY([APPROVAL_CD])
REFERENCES [dbo].[TB_R_CLOSING_PAYROLL_APPROVAL] ([APPROVAL_CD])
GO
ALTER TABLE [dbo].[TB_R_CLOSING_PAYROLL_FEEDBACK] CHECK CONSTRAINT [FK_PAYROLL_FEEDBACK_APPROVAL]
GO
ALTER TABLE [dbo].[TB_R_CLOSING_PAYROLL_FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_PAYROLL_FEEDBACK_HEADER] FOREIGN KEY([CLOSING_PAYROLL_CD])
REFERENCES [dbo].[TB_R_CLOSING_PAYROLL] ([CLOSING_PAYROLL_CD])
GO
ALTER TABLE [dbo].[TB_R_CLOSING_PAYROLL_FEEDBACK] CHECK CONSTRAINT [FK_PAYROLL_FEEDBACK_HEADER]
GO
