/****** Object:  StoredProcedure [dbo].[SP_AUTH_CHECK_IF_TOKEN_EXISTS]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_CHECK_IF_TOKEN_EXISTS]
    @TOKEN AS VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT COUNT(1) FROM TB_R_USER_DEVICES UD
    INNER JOIN TB_M_USERS U ON UD.USER_CD = U.USER_CD
    WHERE UD.JWT_TOKEN = @TOKEN
    AND COALESCE(U.IS_DELETED, '0') = '0' 
    AND COALESCE(U.IS_ACTIVE, '0') = '1'
    AND GETDATE() BETWEEN VALID_FROM AND VALID_TO;
    
END
GO
