/****** Object:  Table [dbo].[TB_M_ORG_POSITION]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_ORG_POSITION](
	[POSITION_LEVEL] [int] NOT NULL,
	[POSITION_ABBR] [varchar](10) NOT NULL,
	[POSITION_DESC] [varchar](50) NULL,
	[LEVEL_ID] [int] NULL,
	[CREATED_BY] [varchar](64) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[UPDATED_BY] [varchar](64) NULL,
	[UPDATED_DT] [datetime] NULL,
	[ORG_LEVEL_ID] [int] NULL,
	[GROUP_LEVEL_ID] [int] NULL,
 CONSTRAINT [PK_TB_M_ORG_POSITION_11] PRIMARY KEY CLUSTERED 
(
	[POSITION_LEVEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
