/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ROTATION_REQ_STORE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE         PROCEDURE [dbo].[SP_ADMIN_ROTATION_REQ_STORE]
    @NOREG AS VARCHAR(50),
    @ROTATION_TYPE AS VARCHAR(50),
    @REASON AS NVARCHAR(500) = NULL,
    @EFFECTIVE_DATE_FROM NVARCHAR(50),
    @EFFECTIVE_DATE_TO NVARCHAR(50),
    @VOCATION_TYPE_FROM AS VARCHAR(100) = NULL,
    @VOCATION_TYPE AS VARCHAR(100) = NULL,

    @LOCATION_ID_FROM AS INT = NULL,
    @DEPARTMENT_ID_FROM AS INT = NULL,
    @SECTION_ID_FROM AS INT = NULL,
    @LINE_ID_FROM AS INT = NULL,
    @GROUP_ID_FROM AS INT = NULL,

    @LOCATION_ID_TO AS INT = NULL,
    @DEPARTMENT_ID_TO AS INT = NULL,
    @SECTION_ID_TO AS INT = NULL,
    @LINE_ID_TO AS INT = NULL,
    @GROUP_ID_TO AS INT = NULL,

    @QUERY NVARCHAR(max),
    @USER_ID AS VARCHAR(50)
AS 
BEGIN
    SET NOCOUNT ON;

    -- Mulai transaksi untuk memastikan semua operasi berhasil atau gagal bersama-sama
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Generate TRANSFER_CD baru
        DECLARE @New_TRANSFER_CD VARCHAR(50);
        DECLARE @New_TRANSFER_D_CD VARCHAR(50);
        DECLARE @TodayDate VARCHAR(8);
        DECLARE @LastIncrement INT;
        DECLARE @LastIncrementD INT;

        -- Ambil tanggal hari ini dalam format DDMMYYYY
        SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');

        -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
        SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(TRANSFER_CD, 4) AS INT)), 0)
        FROM [dbo].[TB_R_VOC_TRANSFER_H]
        WHERE TRANSFER_CD LIKE 'TRF-' + @TodayDate + '%';
        
        -- Cari nomor urut (increment) terakhir untuk tanggal hari ini
        SELECT @LastIncrementD = ISNULL(MAX(CAST(RIGHT(TRANSFER_D_CD, 4) AS INT)), 0)
        FROM [dbo].[TB_R_VOC_TRANSFER_D]
        WHERE TRANSFER_D_CD LIKE 'TRF-D-' + @TodayDate + '%';

        -- Tambahkan 1 untuk mendapatkan nomor urut berikutnya
        SET @LastIncrement = @LastIncrement + 1;
        SET @LastIncrementD = @LastIncrementD + 1;
        
        -- Format TRANSFER_CD baru
        SET @New_TRANSFER_CD = 'TRF-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement AS VARCHAR(4)), 4);
        SET @New_TRANSFER_D_CD = 'TRF-D-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrementD AS VARCHAR(4)), 4);
        
        -- Get EMPLOYEE_NAME
        DECLARE @GET_EMPLOYEE_NAME NVARCHAR(200);

        SET @GET_EMPLOYEE_NAME = (
            SELECT tmp.FULL_NAME 
        	FROM TB_M_PROFILE tmp 
        	WHERE tmp.REGISTRATION_NUMBER  = @NOREG
        );

        -- Insert data ke tabel TB_R_VOC_TRANSFER_H
        INSERT INTO [dbo].[TB_R_VOC_TRANSFER_H] (
            TRANSFER_CD, REQUEST_DATE, NOREG, EMPLOYEE_NAME, ROTATION_TYPE, REASON,
            EFFECTIVE_DATE_FROM, EFFECTIVE_DATE_TO, 
            STATUS, IS_DELETED, VOCATION_TYPE_FROM, VOCATION_TYPE, CREATED_BY, CREATED_DT
        )
        VALUES (
            @New_TRANSFER_CD, GETDATE(), @NOREG, @GET_EMPLOYEE_NAME, @ROTATION_TYPE, @REASON, 
            @EFFECTIVE_DATE_FROM, @EFFECTIVE_DATE_TO,
            '0', '0', @VOCATION_TYPE_FROM, @VOCATION_TYPE, @USER_ID, GETDATE()
        );

        -- Get LOCATION
        DECLARE @GET_LOCATION_FROM NVARCHAR(200) = (SELECT tmp.MAIN_LOCATION FROM TB_M_PLANT tmp WHERE tmp.PLANT_CD = @LOCATION_ID_FROM)
        DECLARE @GET_LOCATION_TO NVARCHAR(200) = (SELECT tmp.MAIN_LOCATION FROM TB_M_PLANT tmp WHERE tmp.PLANT_CD = @LOCATION_ID_TO)

        -- Get ORG FROM
        DECLARE @GET_DEPARTMENT_FROM NVARCHAR(200);
        DECLARE @GET_SECTION_FROM NVARCHAR(200);
        DECLARE @GET_LINE_FROM NVARCHAR(200);
        DECLARE @GET_GROUP_FROM NVARCHAR(200);

        SELECT
            @GET_DEPARTMENT_FROM=tmor.DEP,
            @GET_SECTION_FROM=tmor.SEC,
            @GET_LINE_FROM=tmor.LIN,
            @GET_GROUP_FROM=tmor.GRU
        FROM TB_M_ORG_RANK tmor 
        WHERE tmor.DEP_ID = @DEPARTMENT_ID_FROM
        AND tmor.SEC_ID = @SECTION_ID_FROM
        AND tmor.LIN_ID = @LINE_ID_FROM
  AND tmor.GRU_ID = @GROUP_ID_FROM;

        -- Get ORG TO
        DECLARE @GET_DEPARTMENT_TO NVARCHAR(200);
        DECLARE @GET_SECTION_TO NVARCHAR(200);
        DECLARE @GET_LINE_TO NVARCHAR(200);
        DECLARE @GET_GROUP_TO NVARCHAR(200);

        SELECT
            @GET_DEPARTMENT_TO=tmor.DEP,
            @GET_SECTION_TO=tmor.SEC,
            @GET_LINE_TO=tmor.LIN,
            @GET_GROUP_TO=tmor.GRU
        FROM TB_M_ORG_RANK tmor 
        WHERE tmor.DEP_ID = @DEPARTMENT_ID_TO
        AND tmor.SEC_ID = @SECTION_ID_TO
        AND tmor.LIN_ID = @LINE_ID_TO
        AND tmor.GRU_ID = @GROUP_ID_TO;

        -- Insert data ke tabel TB_R_VOC_TRANSFER_D
        INSERT INTO [dbo].[TB_R_VOC_TRANSFER_D] (
            TRANSFER_D_CD, TRANSFER_CD,
            LOCATION_ID_FROM, DEPARTMENT_ID_FROM, SECTION_ID_FROM, LINE_ID_FROM, GROUP_ID_FROM,
            LOCATION_FROM, DEPARTMENT_FROM, SECTION_FROM, LINE_FROM, GROUP_FROM,

            LOCATION_ID_TO, DEPARTMENT_ID_TO, SECTION_ID_TO, LINE_ID_TO, GROUP_ID_TO,
            LOCATION_TO, DEPARTMENT_TO, SECTION_TO, LINE_TO, GROUP_TO,
            CREATED_BY, CREATED_DT
        )
        VALUES (
            @New_TRANSFER_D_CD, @New_TRANSFER_CD,
            @LOCATION_ID_FROM, @DEPARTMENT_ID_FROM, @SECTION_ID_FROM, @LINE_ID_FROM, @GROUP_ID_FROM,
            @GET_LOCATION_FROM, @GET_DEPARTMENT_FROM, @GET_SECTION_FROM, @GET_LINE_FROM, @GET_GROUP_FROM,

            @LOCATION_ID_TO, @DEPARTMENT_ID_TO, @SECTION_ID_TO, @LINE_ID_TO, @GROUP_ID_TO,
            @GET_LOCATION_TO, @GET_DEPARTMENT_TO, @GET_SECTION_TO, @GET_LINE_TO, @GET_GROUP_TO,
            @USER_ID, GETDATE()
        );
            
		-- INSERT TB_R_TRANSFER_APPROVAL
		IF OBJECT_ID('tempdb..#TempApproverRotationReq') IS NOT NULL
	    	BEGIN
	  			DROP TABLE #TempApproverRotationReq;
	    	END
		      
    	CREATE TABLE #TempApproverRotationReq (
	        APPROVER_SEQUENCE INT,
	        APPROVER_NOREG VARCHAR(50),
	        APPROVER_POSITION VARCHAR(50)
	    );
	        
	    IF @QUERY IS NOT NULL AND @QUERY <> ''
	    BEGIN
	        DECLARE @fullQuery NVARCHAR(MAX) =  @QUERY;
	        EXEC sp_executesql @fullQuery;
	    END;
	    
	    INSERT INTO TB_R_VOC_TRANSFER_APPROVAL (
			APPROVAL_CD,
			TRANSFER_CD,
			APPROVAL_LEVEL,
			APPROVAL_NAME,
			APPROVAL_NOREG,
			APPROVAL_DATE,
			APPROVAL_SEQ,
			APPROVAL_TYPE,
			APPROVAL_STATUS,
			CREATED_BY,
			CREATED_DT
		)
		SELECT
            @New_TRANSFER_CD + '-' + CAST(APPROVER_SEQUENCE AS VARCHAR),
            @New_TRANSFER_CD,
            APPROVER_POSITION,
            FULL_NAME,
            u.NOREG,
            NULL,
            APPROVER_SEQUENCE,
            APPROVAL_TYPE,
            '0',
            @USER_ID,
            GETDATE()
        FROM #TempApproverRotationReq temp
        INNER JOIN TB_M_APPROVAL_MATRIX am ON temp.APPROVER_POSITION = am.APPROVAL_POSITION AND am.PURPOSE_CD = 'ROTATION_REQUEST' 
        INNER JOIN TB_M_USER_DETAIL ud ON temp.APPROVER_NOREG = ud.NOREG
        INNER JOIN TB_M_USERS u ON ud.NOREG = u.NOREG;
	    
	    -- Add Log 
	    DECLARE @New_LOG_CD VARCHAR(50);
        SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(LOG_CD, 4) AS INT)), 0)
        FROM [dbo].[TB_R_VOC_TRANSFER_STATUS_LOG]
        WHERE LOG_CD LIKE 'LOG-' + @TodayDate + '%';

        SET @New_LOG_CD = 'LOG-' + @TodayDate + '-' + RIGHT('0000' + CAST(@LastIncrement AS VARCHAR(4)), 4);

        INSERT INTO TB_R_VOC_TRANSFER_STATUS_LOG (
            LOG_CD, TRANSFER_CD, OLD_STATUS, NEW_STATUS, ACTION_BY, ACTION_DATE
        ) VALUES (
            @New_LOG_CD, @New_TRANSFER_CD, '0', '0', @USER_ID, GETDATE()
        );
        -- End Add Log

        COMMIT TRANSACTION;
        SELECT 'true' AS status, 'Success storing new data.' AS message, @New_TRANSFER_CD as id;
    END TRY

    BEGIN CATCH
        -- Jika terjadi error, rollback semua perubahan
        IF @@TRANCOUNT > 0
        BEGIN
       ROLLBACK TRANSACTION;
        END
        
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
