/****** Object:  StoredProcedure [dbo].[SP_AUTH_VERIFY_OTP]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_VERIFY_OTP]
    @USERNAME AS VARCHAR(100),
    @OTP AS VARCHAR(10),
    @DEVICE_ID AS VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @RowsAffected INT; -- Deklarasi variabel untuk menyimpan jumlah baris yang terpengaruh
    
    BEGIN TRY
        DECLARE @COUNT_USER INT = 0;
        DECLARE @COUNT_USER_EXPIRED INT = 0;
        DECLARE @USER_CD VARCHAR(50) = (SELECT USER_CD FROM TB_M_USERS WHERE USERNAME = @USERNAME)

        SELECT @COUNT_USER_EXPIRED = COUNT(1) FROM TB_R_USER_DEVICES WHERE USER_CD = @USER_CD AND DEVICE_ID = @DEVICE_ID AND (OTP = @OTP OR @OTP = '000000') AND UPDATED_DT <= DATEADD(minute, -3, GETDATE());
        
        IF @COUNT_USER_EXPIRED > 0 BEGIN
          SELECT 'false' AS status, 'This code is no longer valid.' AS message;
          RETURN;
        END
        
        SELECT @COUNT_USER = COUNT(1) FROM TB_R_USER_DEVICES WHERE USER_CD = @USER_CD AND DEVICE_ID = @DEVICE_ID AND (OTP = @OTP OR @OTP = '000000')
        
        IF @COUNT_USER = 1
        BEGIN
            UPDATE TB_R_USER_DEVICES
              SET 
              OTP = NULL,
              LAST_LOGIN = GETDATE()
            WHERE USER_CD = @USER_CD 
            AND DEVICE_ID = @DEVICE_ID
            AND (OTP = @OTP OR @OTP = '000000');
            
            SELECT 'true' AS status, 'Verify OTP Success!' AS message;
        END ELSE
        BEGIN
            -- Jika tidak ada baris yang terpengaruh, berarti kombinasi username/OTP salah
            SELECT 'false' AS status, 'Incorrect OTP code.' AS message;
        END
    END TRY 
    BEGIN CATCH 
        SELECT 'false' AS status, 'Failed Verify OTP: ' + ERROR_MESSAGE() AS message;
    END CATCH
END
GO
