/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERS_GET_ATTRIBUTE_OPTION]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERS_GET_ATTRIBUTE_OPTION]
AS
BEGIN
  SET NOCOUNT ON;
    
  SELECT ATTRIBUTE_CD, ATTRIBUTE_NAME, ATTRIBUTE_VALUE FROM TB_M_ATTRIBUTES
END
GO
