/****** Object:  Table [dbo].[TB_R_NOTIFICATION]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_NOTIFICATION](
	[NOTIF_CD] [int] NOT NULL,
	[FERERENCE_CD] [varchar](20) NULL,
	[TITLE] [varchar](200) NULL,
	[BODY] [nvarchar](max) NULL,
	[SENDER] [varchar](200) NULL,
	[RECEIPT] [varchar](200) NULL,
	[URL] [nvarchar](max) NULL,
	[IS_READ] [bit] NULL,
	[IS_SENT] [bit] NULL,
	[RETRY_TIMES] [int] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[UPDATED_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NOTIF_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
