/****** Object:  StoredProcedure [dbo].[SP_MASTER_PAYROLL_COMPONENT_STORE_GROUP]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_PAYROLL_COMPONENT_STORE_GROUP]
    @GROUP_ID AS NVARCHAR(MAX),
    @COMPONENT_LIST AS NVARCHAR(MAX),
    @LABOR_CD_PARAM AS VARCHAR(50),
    @EMPLOYEE_CLASS_PARAM AS VARCHAR(50),
    @LEVEL_CD_PARAM AS VARCHAR(50),
    @VALID_FROM_PARAM AS VARCHAR(50),
    @VALID_TO_PARAM AS VARCHAR(50),
    @MODE AS VARCHAR(10) = null,
    @USER_ID AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Menghentikan eksekusi dan membatalkan transaksi jika terjadi runtime error

    BEGIN TRY
        -- Drop tabel temporer jika sudah ada untuk menghindari error
        DROP TABLE IF EXISTS #TEMP_COMPONENT_PAYROLL;

        -- Membuat tabel temporer sesuai permintaan
        CREATE TABLE #TEMP_COMPONENT_PAYROLL (
            COMPONENT_CD VARCHAR(50),
            COMPONENT_NAME VARCHAR(100),
            COMPONENT_TYPE VARCHAR(20),
            COMPONENT_AMOUNT DECIMAL(18, 2),
            COMPONENT_PERCENTAGE DECIMAL(5, 2),
            COMPONENT_FREQUENTLY VARCHAR(20),
            FORMULA VARCHAR(MAX),
            IS_TAXABLE BIT,
            IS_VISIBLE_ON_SLIP BIT,
            MASKING_NAME VARCHAR(255),
            SEQUENCE INT,
            EMPLOYEE_CLASS VARCHAR(50),
            LEVEL_CD VARCHAR(50),
            LABOR_CD VARCHAR(50),
            VALID_FROM DATE,
            VALID_TO DATE,
            CREATED_BY VARCHAR(100),
            CREATED_DT DATETIME
        );
        
        EXEC sp_executesql @COMPONENT_LIST;

        -- Memulai transaksi untuk memastikan atomisitas operasi
        BEGIN TRANSACTION;

        -- Mendapatkan nilai header dari data pertama yang diimpor
        DECLARE @LaborCd AS VARCHAR(50);
        DECLARE @EmployeeClass AS VARCHAR(50);
        DECLARE @LevelCd AS VARCHAR(50);
        DECLARE @ValidFrom AS DATE;
        DECLARE @ValidTo AS DATE;
        
        SELECT TOP 1
            @LaborCd = LABOR_CD,
            @EmployeeClass = EMPLOYEE_CLASS,
            @LevelCd = LEVEL_CD,
            @ValidFrom = VALID_FROM,
            @ValidTo = VALID_TO
        FROM #TEMP_COMPONENT_PAYROLL;

        -- Logika untuk mode 'add': memeriksa duplikasi header
        IF @MODE = 'add'
        BEGIN
            -- Menggunakan EXISTS lebih efisien daripada COUNT()
            IF EXISTS (
                SELECT 1
                FROM TB_M_PAYROLL_COMPONENT WITH(NOLOCK)
                WHERE LABOR_CD = @LaborCd
                  AND EMPLOYEE_CLASS = @EmployeeClass
                  AND LEVEL_CD = @LevelCd
                  AND VALID_FROM = @ValidFrom
                  AND VALID_TO = @ValidTo
            )
            BEGIN
                -- Jika duplikat ditemukan, kembalikan pesan dan batalkan transaksi
                SELECT 'false' AS status, 'Data with stored header already exists.' AS message;
                -- Menggunakan GOTO untuk keluar dari blok TRY
                GOTO EndSP;
            END
        END

        -- Logika untuk mode 'edit': Menandai data lama yang tidak ada di data baru sebagai "deleted"
        IF @MODE = 'edit'
        BEGIN
            
        
            IF NOT EXISTS (
                SELECT
                  1
                FROM
                  TB_M_PAYROLL_COMPONENT
                WHERE
                  CONVERT (VARCHAR (MAX), HashBytes ('MD5', LABOR_CD + EMPLOYEE_CLASS + LEVEL_CD + CONVERT (VARCHAR, VALID_FROM, 126) + CONVERT (VARCHAR, VALID_TO, 126)), 2) = @GROUP_ID
            )
            BEGIN
                -- Jika duplikat ditemukan, kembalikan pesan dan batalkan transaksi
                SELECT 'false' AS status, 'Data with provided header does not exists.' AS message;
                -- Menggunakan GOTO untuk keluar dari blok TRY
                GOTO EndSP;
            END
        
            UPDATE T
            SET T.IS_DELETED = 1,
                T.DELETED_BY = @USER_ID,
                T.DELETED_DT = GETDATE()
            FROM TB_M_PAYROLL_COMPONENT AS T WITH(ROWLOCK)
            WHERE CONVERT (VARCHAR (MAX), HashBytes ('MD5', LABOR_CD + EMPLOYEE_CLASS + LEVEL_CD + CONVERT (VARCHAR, VALID_FROM, 126) + CONVERT (VARCHAR, VALID_TO, 126)), 2) = @GROUP_ID
        END

        -- Mendapatkan nilai maksimum SEQUENCE terakhir untuk hari ini
        DECLARE @MaxSequence AS INT;
        SELECT @MaxSequence = ISNULL(MAX(RIGHT(COMPONENT_CD, 4)), 0)
        FROM TB_M_PAYROLL_COMPONENT
        WHERE COMPONENT_CD LIKE 'PC-' + CONVERT(VARCHAR, GETDATE(), 112) + '%';
        
        -- Menggunakan MERGE untuk INSERT atau UPDATE data
        MERGE INTO TB_M_PAYROLL_COMPONENT AS Target
        USING (
            -- Subquery untuk menghasilkan COMPONENT_CD yang baru
            SELECT
              Source.*,
              'PC-' + CONVERT (VARCHAR, GETDATE(), 112) + '-' + RIGHT(
                '0000' + CONVERT (
                  VARCHAR, @MaxSequence + (
                    SELECT
                      num
                    FROM
                      (
                        SELECT
                          ROW_NUMBER() OVER (ORDER BY COMPONENT_CD) AS num,
                          COMPONENT_CD
                        FROM
                          #TEMP_COMPONENT_PAYROLL
                        WHERE
                          COMPONENT_CD NOT IN (
                            SELECT
                              COMPONENT_CD
                            FROM
                              TB_M_PAYROLL_COMPONENT
                              WHERE CONVERT (VARCHAR (MAX), HashBytes ('MD5', LABOR_CD + EMPLOYEE_CLASS + LEVEL_CD + CONVERT (VARCHAR, VALID_FROM, 126) + CONVERT (VARCHAR, VALID_TO, 126)), 2) = @GROUP_ID
                          )
                      ) AS tb
                    WHERE
                      tb.COMPONENT_CD = source.COMPONENT_CD
                  )
                ),
                4
              ) AS New_Component_Cd
            FROM #TEMP_COMPONENT_PAYROLL AS Source
        ) AS Source_with_CD
        
        -- Logika ON: mencocokkan berdasarkan Component_CD yang sudah ada
        ON (Target.COMPONENT_CD = Source_with_CD.COMPONENT_CD)
        
        -- Jika baris ditemukan di target (MATCHED), lakukan UPDATE
        WHEN MATCHED THEN
            UPDATE SET
                Target.COMPONENT_NAME = Source_with_CD.COMPONENT_NAME,
                Target.COMPONENT_TYPE = Source_with_CD.COMPONENT_TYPE,
                Target.COMPONENT_AMOUNT = Source_with_CD.COMPONENT_AMOUNT,
                Target.COMPONENT_PERCENTAGE = Source_with_CD.COMPONENT_PERCENTAGE,
                Target.COMPONENT_FREQUENTLY = Source_with_CD.COMPONENT_FREQUENTLY,
                Target.FORMULA = Source_with_CD.FORMULA,
                Target.IS_TAXABLE = Source_with_CD.IS_TAXABLE,
                Target.IS_VISIBLE_ON_SLIP = Source_with_CD.IS_VISIBLE_ON_SLIP,
                Target.MASKING_NAME = Source_with_CD.MASKING_NAME,
                Target.SEQUENCE = Source_with_CD.SEQUENCE,
                Target.EMPLOYEE_CLASS = Source_with_CD.EMPLOYEE_CLASS,
                Target.LEVEL_CD = Source_with_CD.LEVEL_CD,
                Target.LABOR_CD = Source_with_CD.LABOR_CD,
                Target.VALID_FROM = Source_with_CD.VALID_FROM,
                Target.VALID_TO = Source_with_CD.VALID_TO,
                Target.UPDATED_BY = @USER_ID,
                Target.UPDATED_DT = GETDATE(),
                Target.IS_DELETED = '0',
                Target.DELETED_BY = null,
                Target.DELETED_DT = null

        -- Jika baris tidak ditemukan di target (NOT MATCHED), lakukan INSERT
        WHEN NOT MATCHED BY Target THEN
            INSERT (
                COMPONENT_CD,
                COMPONENT_NAME,
                COMPONENT_TYPE,
                COMPONENT_AMOUNT,
                COMPONENT_PERCENTAGE,
                COMPONENT_FREQUENTLY,
                FORMULA,
                IS_TAXABLE,
                IS_VISIBLE_ON_SLIP,
                MASKING_NAME,
                SEQUENCE,
                EMPLOYEE_CLASS,
                LEVEL_CD,
                LABOR_CD,
                VALID_FROM,
                VALID_TO,
                CREATED_BY,
                CREATED_DT
            )
            VALUES (
                Source_with_CD.New_Component_Cd,
                Source_with_CD.COMPONENT_NAME,
                Source_with_CD.COMPONENT_TYPE,
                Source_with_CD.COMPONENT_AMOUNT,
                Source_with_CD.COMPONENT_PERCENTAGE,
                Source_with_CD.COMPONENT_FREQUENTLY,
                Source_with_CD.FORMULA,
                Source_with_CD.IS_TAXABLE,
                Source_with_CD.IS_VISIBLE_ON_SLIP,
                Source_with_CD.MASKING_NAME,
                Source_with_CD.SEQUENCE,
                Source_with_CD.EMPLOYEE_CLASS,
                Source_with_CD.LEVEL_CD,
                Source_with_CD.LABOR_CD,
                Source_with_CD.VALID_FROM,
                Source_with_CD.VALID_TO,
                Source_with_CD.CREATED_BY,
                Source_with_CD.CREATED_DT
            );
        -- Commit transaksi jika semua operasi berhasil
        COMMIT TRANSACTION;
        
        -- Mengembalikan pesan sukses berdasarkan mode
        IF @MODE = 'add'
        BEGIN
            SELECT 'true' AS status, 'Success storing new data.' AS message;
        END
        ELSE IF @MODE = 'edit'
        BEGIN
            SELECT 'true' AS status, 'Success updating data.' AS message;
        END
        ELSE
        BEGIN
            SELECT 'false' AS status, 'Invalid MODE specified. Use ''add'' or ''edit''.' AS message;
        END

    EndSP: -- Label untuk GOTO
        -- Tidak ada operasi lagi
    
    END TRY
    BEGIN CATCH
        -- Jika terjadi error, batalkan semua perubahan
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END
        
        -- Mengembalikan pesan error
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
    
    -- Menghapus tabel temporer setelah selesai
    DROP TABLE IF EXISTS #TEMP_COMPONENT_PAYROLL;
END;
GO
