/****** Object:  Table [dbo].[TB_M_WORKING_LOCATION]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_WORKING_LOCATION](
	[MAIN_LOCATION] [varchar](40) NOT NULL,
	[WORKING_ADDRESS] [varchar](500) NULL,
	[LATITUDE] [varchar](50) NULL,
	[LONGITUDE] [varchar](50) NULL
) ON [PRIMARY]
GO
