/****** Object:  StoredProcedure [dbo].[SP_LOG_GET_DETAIL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LOG_GET_DETAIL]
    @PROCESS_ID AS VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM TB_R_LOG_D WHERE PROCESS_ID = @PROCESS_ID
END;
GO
