/****** Object:  Table [dbo].[TB_R_PLACEMENT_REQUEST_GROUP_LIST]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_PLACEMENT_REQUEST_GROUP_LIST](
	[PLACEMENT_REQUEST_GROUP_CD] [varchar](50) NOT NULL,
	[PLACEMENT_REQUEST_CD] [varchar](50) NOT NULL,
	[DIRECTORATE_CD] [int] NOT NULL,
	[DIVISION_CD] [int] NOT NULL,
	[DEPARTMENT_CD] [int] NOT NULL,
	[SECTION_CD] [int] NOT NULL,
	[LINE_CD] [int] NOT NULL,
	[GROUP_CD] [int] NOT NULL,
	[PLANT_CD] [int] NOT NULL,
	[MALE_MANPOWER] [int] NOT NULL,
	[FEMALE_MANPOWER] [int] NOT NULL,
	[VOCATION_TYPE] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK_PlacementRequestGroupList] PRIMARY KEY CLUSTERED 
(
	[PLACEMENT_REQUEST_GROUP_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_PLACEMENT_REQUEST_GROUP_LIST] ADD  DEFAULT ((0)) FOR [MALE_MANPOWER]
GO
ALTER TABLE [dbo].[TB_R_PLACEMENT_REQUEST_GROUP_LIST] ADD  DEFAULT ((0)) FOR [FEMALE_MANPOWER]
GO
