/****** Object:  StoredProcedure [dbo].[SP_MASTER_MESSAGE_STORE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_MESSAGE_STORE]
    @MESSAGE_CD VARCHAR(20),
    @MESSAGE_KEY VARCHAR(200), 
    @DESCRIPTION VARCHAR(200), 
    @CHANNEL VARCHAR(20), 
    @SUBJECT VARCHAR(200), 
    @HEADER VARCHAR(MAX), 
    @BODY VARCHAR(MAX), 
    @FOOTER VARCHAR(MAX), 
    @IS_ACTIVE VARCHAR(10), 
    @MODE VARCHAR(10), 
    @USER_ID AS VARCHAR(50) = ''       -- New parameter for CREATED_BY/UPDATED_BY
AS
BEGIN
    SET NOCOUNT ON; -- Improves performance by suppressing message counts

    -- Declare variables for converted values
    DECLARE @IS_ACTIVE_BIT BIT;
    DECLARE @EXISTING_COUNT INT;
    DECLARE @NEW_MESSAGE_CD NVARCHAR(20); -- Assuming MESSAGE_CD is NVARCHAR(20) based on table schema

    BEGIN TRY
        -- Convert @IS_ACTIVE to BIT. Handles '0' or '1' string input.
        SET @IS_ACTIVE_BIT = CAST(@IS_ACTIVE AS BIT);

        IF @MODE = 'Add'
        BEGIN
            -- Check if KEY already exist
            SELECT @EXISTING_COUNT = COUNT(1)
            FROM TB_M_MESSAGE_TEMPLATE -- Assuming your table name is TB_M_MESSAGE_TEMPLATE
            WHERE [KEY] = @MESSAGE_KEY AND IS_DELETED = 0;
            
            IF @EXISTING_COUNT > 0
            BEGIN
                -- Warning: Data already exists
                SELECT 'false' AS status, 'Data with the provided Key already exists.' AS message;
            END
            ELSE
            BEGIN
            
                SET @NEW_MESSAGE_CD = 'MSG-' + FORMAT(GETDATE(), 'yyyyMMddHHmmss'); -- Example: MSG-20250731103000

                -- Insert TB_M_MESSAGE_TEMPLATE
                INSERT INTO TB_M_MESSAGE_TEMPLATE (
                    MESSAGE_CD,
                    [KEY],
                    CHANNEL,
                    SUBJECT,
                    HEADER,
                    BODY,
                    FOOTER,
                    DESCRIPTION,
                    IS_ACTIVE,
                    IS_DELETED,
                    CREATED_DT,
                    CREATED_BY
                )
                VALUES (
                    @NEW_MESSAGE_CD,
                    @MESSAGE_KEY,
                    @CHANNEL,
                    @SUBJECT,
                    @HEADER,
                    @BODY,
                    @FOOTER,
                    @DESCRIPTION,
                    @IS_ACTIVE_BIT,
                    0, -- IS_DELETED, default to 0 for new records
                    GETDATE(),
                    @USER_ID
                );
                
                SELECT 'true' AS status, 'Success storing new data. [' + @NEW_MESSAGE_CD + ']' AS message;
            END
        END
        ELSE IF @MODE = 'Edit'
        BEGIN 
            SELECT @EXISTING_COUNT = COUNT(1)
            FROM TB_M_MESSAGE_TEMPLATE
            WHERE [KEY] = @MESSAGE_KEY AND MESSAGE_CD <> @MESSAGE_CD AND IS_DELETED = 0;

            IF @EXISTING_COUNT > 0
            BEGIN
                -- Warning: Data with this Key already exists for another record.
                SELECT 'false' AS status, 'Data with the provided Key already exists for another record.' AS message;
            END
            ELSE
            BEGIN
                -- Update statement with MESSAGE_CD
                UPDATE TB_M_MESSAGE_TEMPLATE
                SET
                    [KEY] = @MESSAGE_KEY,
                    CHANNEL = @CHANNEL,
                    SUBJECT = @SUBJECT,
                    HEADER = @HEADER,
                    BODY = @BODY,
                    FOOTER = @FOOTER,
                    DESCRIPTION = @DESCRIPTION,
                    IS_ACTIVE = @IS_ACTIVE_BIT,
                    UPDATED_DT = GETDATE(),
                    UPDATED_BY = @USER_ID
                WHERE MESSAGE_CD = @MESSAGE_CD AND IS_DELETED = 0; -- Ensure it's not a deleted record

                -- Check if any row was actually updated
                IF @@ROWCOUNT = 0
                BEGIN
                    SELECT 'false' AS status, 'No active record found with the provided Message Code for update.' AS message;
                END
                ELSE
                BEGIN
                    SELECT 'true' AS status, 'Success updating data.' AS message;
                END
            END
        END
        ELSE
        BEGIN
            -- Invalid MODE
            SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
        END

    END TRY
    BEGIN CATCH
        -- Error handling
        SELECT 'false' AS status, ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
