/****** Object:  StoredProcedure [dbo].[SP_MASTER_MENU_GET_COMBOBOX]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_MENU_GET_COMBOBOX]
    @TERM AS VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
      FUNCTION_CD AS id, 
      FUNCTION_NAME AS text 
    FROM TB_M_FUNCTION
      WHERE FUNCTION_NAME LIKE '%' + @TERM + '%'
      AND FUNCTION_ACTIVE = 1 
      AND COALESCE(IS_DELETED, 0) = 0
    ORDER BY FUNCTION_NAME ASC;
END
GO
