/****** Object:  StoredProcedure [dbo].[SP_MASTER_VOCATIONAL_CENTER_GET_SCHOOL_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_VOCATIONAL_CENTER_GET_SCHOOL_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'SCHOOL_NAME',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @TERM AS VARCHAR(100) = NULL,
    @VOCATIONAL_CENTER_CD AS VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('SCHOOL_CD', 'SCHOOL_NAME', 'CP_NAME', 'CP_PHONE', 'IS_ACTIVE')
    BEGIN
        SET @OrderBy = 'SCHOOL_NAME';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);
    
    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
            S.SCHOOL_CD,
            S.NAME AS SCHOOL_NAME,
            S.CP_NAME,
            S.CP_PHONE,
            CONVERT(VARCHAR, S.IS_ACTIVE) IS_ACTIVE
        FROM
            TB_M_SCHOOL S
            LEFT JOIN TB_M_VOCATIONAL_CENTER VC ON S.VOCATIONAL_CENTER_CD = VC.VOCATIONAL_CENTER_CD
            LEFT JOIN TB_M_PROVINCE P ON S.PROVINCE_CD = P.PROVINCE_CD
            LEFT JOIN TB_M_CITY C ON S.CITY_CD = C.CITY_CD
        WHERE
            COALESCE(S.IS_DELETED, 0) = 0 ';
            
    -- Untuk inquiry di detail screen BKK
    SET @SQL = @SQL + ' AND S.VOCATIONAL_CENTER_CD = @VOCATIONAL_CENTER_CD';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (S.NAME LIKE ''%'' + @TERM + ''%'' OR S.SCHOOL_CD LIKE ''%'' + @TERM + ''%'' OR S.CP_NAME LIKE ''%'' + @TERM + ''%'' OR S.CP_PHONE LIKE ''%'' + @TERM + ''%'')';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';
    
    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @TERM VARCHAR(100), @VOCATIONAL_CENTER_CD VARCHAR(20)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
        @TERM = @TERM,
        @VOCATIONAL_CENTER_CD = @VOCATIONAL_CENTER_CD;
END;
GO
