/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GET_TOTAL_NEEDS]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GET_TOTAL_NEEDS]
    @REQUEST_TYPE AS VARCHAR(50),
    @USERNAME AS VARCHAR(50),
		@PLACEMENT_REQUEST_CD AS VARCHAR(50) = ''
AS
BEGIN
    SET NOCOUNT ON;
		IF (@PLACEMENT_REQUEST_CD <> '') BEGIN
			SELECT 
				QTY_JOB_POS_ON_PRODUCTION + QTY_JOB_POS_ON_TRAINING + QTY_JOB_POS_OTHER AS TOTAL,
				QTY_JOB_POS_ON_PRODUCTION AS PRODUCTION,
				QTY_JOB_POS_ON_TRAINING AS TRAINING,
				QTY_JOB_POS_OTHER AS OTHER
			FROM TB_R_PLACEMENT_REQUEST WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD;
		
		END ELSE BEGIN
		
			DECLARE @DEPARTMENT_CD VARCHAR(10) = (SELECT DEP_ID FROM TB_M_USERS U INNER JOIN TB_M_USER_DETAIL UD ON U.USER_CD = UD.USER_CD WHERE U.USERNAME = @USERNAME)
			SELECT 
				SUM(ON_PROD) + SUM(ON_TRAINING) + SUM(ON_OTHERS) AS TOTAL, 
				SUM(ON_PROD) AS PRODUCTION, 
				SUM(ON_TRAINING) AS TRAINING, 
				SUM(ON_OTHERS) AS OTHER 
			FROM
			(
				SELECT
					ORG.ORG_RANK_CD,
					SUM (CASE WHEN POS.VOCATION_TYPE = 'LT-250821-000001' THEN MALE_MANPOWER + FEMALE_MANPOWER ELSE 0 END) AS ON_PROD,
					SUM (CASE WHEN POS.VOCATION_TYPE = 'LT-250821-000002' THEN MALE_MANPOWER + FEMALE_MANPOWER ELSE 0 END) AS ON_TRAINING,
					SUM (CASE WHEN POS.VOCATION_TYPE = 'LT-250821-000003' THEN MALE_MANPOWER + FEMALE_MANPOWER ELSE 0 END) AS ON_OTHERS 
				FROM
					TB_M_ORG_RANK ORG 
				LEFT JOIN TB_M_ORG_POS POS ON ORG.ORG_RANK_CD = POS.ORG_RANK_CD 
				WHERE ORG.DEP_ID = @DEPARTMENT_CD
				GROUP BY
				ORG.ORG_RANK_CD 
			) AS TBL
		END
END;
GO
