/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL_ADDRESS]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL_ADDRESS]
    @REGISTRATION_NUMBER AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      PA.ADDRESS_CD,
      PA.REGISTRATION_NUMBER,
      PA.ADDRESS_TYPE AS ADDRESS_TYPE_CD,
      SM.SYSTEM_VALUE AS ADDRESS_TYPE,
      PA.ADDRESS,
      PA.RT,
      PA.RW,
      PA.VILLAGE,
      VIL.VILLAGE_NAME,
      PA.DISTRICT,
      DIST.DISTRICT_NAME,
      PA.CITY,
      CIT.CITY_NAME,
      PA.PROVINCE,
      PROV.PROVINCE_NAME,
      PA.POSTALCODE
    FROM
      TB_M_PROFILE_ADDRESS PA
    LEFT JOIN TB_M_SYSTEM_MASTER SM ON PA.ADDRESS_TYPE = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = 'ADDRESS_TYPE'
		LEFT JOIN TB_M_PROVINCE PROV ON PA.PROVINCE = PROV.PROVINCE_CD
		LEFT JOIN TB_M_CITY CIT ON PA.CITY = CIT.CITY_CD
		LEFT JOIN TB_M_DISTRICT DIST ON PA.DISTRICT = DIST.DISTRICT_CD
		LEFT JOIN TB_M_VILLAGE VIL ON PA.VILLAGE = VIL.VILLAGE_CD
    
      WHERE PA.REGISTRATION_NUMBER = @REGISTRATION_NUMBER
END;
GO
