/****** Object:  StoredProcedure [dbo].[SP_MASTER_MENU_STORE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_MENU_STORE]
    @FUNCTION_CD AS VARCHAR(50) = NULL,
    @FUNCTION_PARENT_CD AS VARCHAR(50),
    @FUNCTION_NAME AS VARCHAR(100),
    @FUNCTION_CONTROLLER AS VARCHAR(100),
    @FUNCTION_DESCRIPTION AS NVARCHAR(200),
    @FUNCTION_ACTIVE AS VARCHAR(1),
    @FUNCTION_ORDER AS VARCHAR(10),
    @FUNCTION_ICON AS VARCHAR(50),
    @FEATURE_LIST AS NVARCHAR(MAX) = NULL,
    @MODE AS VARCHAR(10),
    @USER_ID AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; -- Penting untuk memastikan rollback jika ada error

    BEGIN TRANSACTION;

    DECLARE @CurrentDate CHAR(8);
    DECLARE @NewFUNCTION_CD VARCHAR(50);
    DECLARE @MaxSeq INT;

    BEGIN TRY
        IF @MODE = 'ADD'
        BEGIN
            -- Generate new FUNCTION_CD
            SET @CurrentDate = FORMAT(GETDATE(), 'yyyyMMdd');
            
            SELECT @MaxSeq = ISNULL(MAX(CAST(RIGHT(FUNCTION_CD, 2) AS INT)), 0)
            FROM TB_M_FUNCTION
            WHERE FUNCTION_CD LIKE @CurrentDate + '%';
            
            SET @MaxSeq = @MaxSeq + 1;
            SET @NewFUNCTION_CD = @CurrentDate + RIGHT('00' + CAST(@MaxSeq AS VARCHAR(2)), 2);

            -- Insert into TB_M_FUNCTION
            INSERT INTO TB_M_FUNCTION (
                FUNCTION_CD,
                FUNCTION_PARENT_CD,
                FUNCTION_NAME,
                FUNCTION_CONTROLLER,
                FUNCTION_DESCRIPTION,
                FUNCTION_ACTIVE,
                FUNCTION_ORDER,
                FUNCTION_ICON,
                CREATED_BY,
                CREATED_DT
            ) VALUES (
                @NewFUNCTION_CD,
                @FUNCTION_PARENT_CD,
                @FUNCTION_NAME,
                @FUNCTION_CONTROLLER,
                @FUNCTION_DESCRIPTION,
                CAST(@FUNCTION_ACTIVE AS BIT),
                CAST(@FUNCTION_ORDER AS INT),
                @FUNCTION_ICON,
                @USER_ID,
                GETDATE()
            );
            
            -- Insert data ke tabel TB_M_SCHOOL_MAJOR (jika ada)
            IF @FEATURE_LIST IS NOT NULL AND @FEATURE_LIST <> ''
            BEGIN
                SET @FEATURE_LIST = REPLACE(@FEATURE_LIST, '[FUNCTION_CD]', @NewFUNCTION_CD);
                EXEC sp_executesql @FEATURE_LIST;
            END

            COMMIT TRANSACTION;
            SELECT 'true' AS status, 'Success storing new data.' AS message;

        END
        ELSE IF @MODE = 'EDIT'
        BEGIN
        
            IF EXISTS (SELECT 1 FROM [dbo].[TB_M_FUNCTION] WHERE FUNCTION_CD = @FUNCTION_CD AND COALESCE(IS_DELETED, 0) = 0)
            BEGIN
            UPDATE TB_M_FUNCTION
            SET
                FUNCTION_PARENT_CD = @FUNCTION_PARENT_CD,
                FUNCTION_NAME = @FUNCTION_NAME,
                FUNCTION_CONTROLLER = @FUNCTION_CONTROLLER,
                FUNCTION_DESCRIPTION = @FUNCTION_DESCRIPTION,
                FUNCTION_ACTIVE = CAST(@FUNCTION_ACTIVE AS BIT),
                FUNCTION_ORDER = CAST(@FUNCTION_ORDER AS INT),
                FUNCTION_ICON = @FUNCTION_ICON,
                UPDATED_BY = @USER_ID,
                UPDATED_DT = GETDATE()
            WHERE
                FUNCTION_CD = @FUNCTION_CD;
                
                
            DROP TABLE IF EXISTS #TempFeatures;
                
            CREATE TABLE #TempFeatures (
                FEATURE_CD NVARCHAR(50),
                FUNCTION_CD NVARCHAR(50),
                FEATURE_NAME NVARCHAR(100),
                FEATURE_DESCRIPTION NVARCHAR(255),
                FEATURE_ACTIVE BIT,
                FEATURE_ELEMENT_ID NVARCHAR(50),
                FEATURE_ELEMENT_TYPE NVARCHAR(50),
                FEATURE_ELEMENT_ICON NVARCHAR(50),
                FEATURE_ACTION NVARCHAR(200),
                CREATED_BY NVARCHAR(50),
                CREATED_DT DATETIME
            )
            
            SET @FEATURE_LIST = REPLACE(@FEATURE_LIST, '[FUNCTION_CD]', @FUNCTION_CD);
            SET @FEATURE_LIST = REPLACE(@FEATURE_LIST, 'TB_M_FUNCTION_FEATURE', '#TempFeatures');
            EXEC sp_executesql @FEATURE_LIST; 
           

            MERGE INTO TB_M_FUNCTION_FEATURE AS Target
            USING #TempFeatures AS Source
            ON Target.FEATURE_CD = Source.FEATURE_CD AND Target.FUNCTION_CD = @FUNCTION_CD
            WHEN MATCHED THEN
                UPDATE SET
                    FEATURE_NAME = Source.FEATURE_NAME,
                    FEATURE_DESCRIPTION = Source.FEATURE_DESCRIPTION,
                    FEATURE_ACTIVE = Source.FEATURE_ACTIVE,
                    FEATURE_ELEMENT_ID = Source.FEATURE_ELEMENT_ID,
                    FEATURE_ELEMENT_TYPE = Source.FEATURE_ELEMENT_TYPE,
                    FEATURE_ELEMENT_ICON = Source.FEATURE_ELEMENT_ICON,
                    FEATURE_ACTION = Source.FEATURE_ACTION,
                    UPDATED_BY = @USER_ID,
                    UPDATED_DT = GETDATE()
            WHEN NOT MATCHED BY Target THEN
                INSERT (
                    FEATURE_CD,
                    FUNCTION_CD,
                    FEATURE_NAME,
                    FEATURE_DESCRIPTION,
                    FEATURE_ACTIVE,
                    FEATURE_ELEMENT_ID,
                    FEATURE_ELEMENT_TYPE,
                    FEATURE_ELEMENT_ICON,
                    FEATURE_ACTION,
                    CREATED_BY,
                    CREATED_DT
                ) VALUES (
                    Source.FEATURE_CD,
                    Source.FUNCTION_CD,
                    Source.FEATURE_NAME,
                    Source.FEATURE_DESCRIPTION,
                    Source.FEATURE_ACTIVE,
                    Source.FEATURE_ELEMENT_ID,
                    Source.FEATURE_ELEMENT_TYPE,
                    Source.FEATURE_ELEMENT_ICON,
                    Source.FEATURE_ACTION,
                    @USER_ID,
                    GETDATE()
                )
            WHEN NOT MATCHED BY Source AND Target.FUNCTION_CD = @FUNCTION_CD THEN
                DELETE;
                
--                 
            DELETE RA
            FROM TB_M_ROLES_AUTH RA
            WHERE NOT EXISTS (
                SELECT 1
                FROM TB_M_FUNCTION_FEATURE FF
                WHERE RA.FEATURE_CD = FF.FEATURE_CD
                AND RA.FUNCTION_CD = @FUNCTION_CD
            ) AND FUNCTION_CD = @FUNCTION_CD;
-- 
            COMMIT TRANSACTION;
            
            SELECT 'true' AS status, 'Success updating data.' AS message;
            END ELSE BEGIN
                ROLLBACK TRANSACTION;
                SELECT 'false' AS status, 'No active record found with the provided Function Code for update.' AS message;
            END
        END

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

       SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH;
END;
GO
