/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_DELETE_DOCUMENT]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_DELETE_DOCUMENT]
    @PRF_DOC_CD AS VARCHAR(50),
    @CREATED_BY AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM TB_M_PROFILE_DOCUMENT
    WHERE PRF_DOC_CD = @PRF_DOC_CD
    
    SELECT 'true' AS status, 'Success delete data.' AS message;
END;
GO
