/****** Object:  StoredProcedure [dbo].[SP_LOG_GET_HEADER_INFORMATION]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LOG_GET_HEADER_INFORMATION]
    @PROCESS_ID AS VARCHAR(50) = NULL,
    @FUNCTION_CD AS VARCHAR(50) = NULL,
    @PROCESS_START_DT AS DATETIME = NULL,
    @PROCESS_END_DT AS DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
        SELECT 
          COUNT(1) AS TOTAL_PROCESS, 
          SUM(CASE WHEN PROCESS_STS = 1 THEN 1 ELSE 0 END) AS PROCESS_START,
          SUM(CASE WHEN PROCESS_STS = 2 THEN 1 ELSE 0 END) AS PROCESS_COMPLETED,
          SUM(CASE WHEN PROCESS_STS = 3 THEN 1 ELSE 0 END) AS PROCESS_ERROR,
          SUM(CASE WHEN PROCESS_STS = 4 THEN 1 ELSE 0 END) AS PROCESS_WARNING
        FROM TB_R_LOG_H T WHERE 1=1 ';

    IF @PROCESS_ID IS NOT NULL AND @PROCESS_ID <> ''
        SET @SQL = @SQL + ' AND T.PROCESS_ID LIKE ''%'' + @PROCESS_ID + ''%''';
        
    IF @FUNCTION_CD IS NOT NULL AND @FUNCTION_CD <> ''
        SET @SQL = @SQL + ' AND T.FUNCTION_CD = @FUNCTION_CD';
        
    IF @PROCESS_START_DT IS NOT NULL AND @PROCESS_START_DT <> ''
        SET @SQL = @SQL + ' AND T.PROCESS_START_DT >= @PROCESS_START_DT';
        
    IF @PROCESS_END_DT IS NOT NULL AND @PROCESS_END_DT <> ''
        SET @SQL = @SQL + ' AND T.PROCESS_END_DT <= @PROCESS_END_DT';

    EXECUTE sp_executesql @SQL,
        N'@PROCESS_ID VARCHAR(50), @FUNCTION_CD VARCHAR(50), @PROCESS_START_DT DATETIME, @PROCESS_END_DT DATETIME',
        @PROCESS_ID = @PROCESS_ID,
        @FUNCTION_CD = @FUNCTION_CD,
        @PROCESS_START_DT = @PROCESS_START_DT,
        @PROCESS_END_DT = @PROCESS_END_DT;
END;
GO
