/****** Object:  Table [dbo].[TB_R_PLACEMENT_SCHEDULE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_PLACEMENT_SCHEDULE](
	[PLACEMENT_SCHEDULE_CD] [varchar](20) NOT NULL,
	[BATCH] [varchar](10) NULL,
	[JOIN_DATE_FROM] [date] NULL,
	[JOIN_DATE_TO] [date] NULL,
	[PERIOD_WEEK] [int] NULL,
	[PERIOD_NAME] [varchar](255) NULL,
	[TRAINING_DATE_FROM] [datetime] NULL,
	[TRAINING_DATE_TO] [datetime] NULL,
	[OJD_DATE_FROM] [datetime] NULL,
	[OJD_DATE_TO] [datetime] NULL,
	[ATTACHMENT] [nvarchar](max) NULL,
	[TOTAL_PLACEMENT_REQUESTS] [int] NULL,
	[TOTAL_VOCATION_NEEDS] [int] NULL,
	[SCHEDULE_APPROVAL_STATUS] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[IS_DELETED] [varchar](1) NULL,
	[DELETED_DT] [datetime] NULL,
	[DELETED_BY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PLACEMENT_SCHEDULE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
