/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL_EDU]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL_EDU]
    @REGISTRATION_NUMBER AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      PROFILE_EDU_CD,
      REGISTRATION_NUMBER,
      EDUCATION_LEVEL,
      INSTITUTE_NAME,
      COUNTRY,
      FINAL_GRADE,
			MAXIMUM_GRADE,
      MAJOR,
      GRADUATION_YEAR,
      VALID_FROM,
      VALID_TO
      
    FROM
      TB_M_PROFILE_EDU
    WHERE REGISTRATION_NUMBER = @REGISTRATION_NUMBER
END;
GO
