/****** Object:  Table [dbo].[TB_R_CLOSING_PAYROLL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_CLOSING_PAYROLL](
	[CLOSING_PAYROLL_CD] [varchar](36) NOT NULL,
	[ATTENDANCE_PERIOD_FROM] [date] NOT NULL,
	[ATTENDANCE_PERIOD_TO] [date] NOT NULL,
	[PAYMENT_SCHEDULE] [date] NOT NULL,
	[PAYROLL_CALCULATION_DT] [datetime] NULL,
	[STATUS] [varchar](30) NOT NULL,
	[TOTAL_MANPOWER] [int] NOT NULL,
	[TOTAL_WORKING_DAYS] [int] NOT NULL,
	[TOTAL_HOLIDAY_DAYS] [int] NULL,
	[TOTAL_EXTRA_STUDY_HOURS] [int] NULL,
	[TOTAL_INCENTIVE] [decimal](18, 2) NULL,
	[TOTAL_ALLOWANCE] [decimal](18, 2) NULL,
	[TOTAL_GROSS] [decimal](18, 2) NULL,
	[TOTAL_DEDUCTION] [decimal](18, 2) NULL,
	[TOTAL_TAX] [decimal](18, 2) NULL,
	[TOTAL_THP] [decimal](18, 2) NULL,
	[APPROVAL_STATUS] [varchar](30) NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CLOSING_PAYROLL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_CLOSING_PAYROLL] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
