/****** Object:  Table [dbo].[TB_R_CLOSING_ATTENDANCE_APPROVAL]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_CLOSING_ATTENDANCE_APPROVAL](
	[APPROVAL_CD] [varchar](20) NOT NULL,
	[CLOSING_ATTENDANCE_CD] [varchar](20) NOT NULL,
	[APPROVAL_DATA_SUMMARY] [nvarchar](max) NULL,
	[APPROVAL_LEVEL] [varchar](150) NOT NULL,
	[APPROVAL_NAME] [varchar](150) NOT NULL,
	[APPROVAL_NOREG] [varchar](50) NOT NULL,
	[APPROVAL_DATE] [datetime] NULL,
	[APPROVAL_SEQ] [int] NOT NULL,
	[APPROVAL_TYPE] [varchar](20) NOT NULL,
	[APPROVAL_STATUS] [varchar](20) NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[APPROVAL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_CLOSING_ATTENDANCE_APPROVAL] ADD  DEFAULT (getdate()) FOR [CREATED_DT]
GO
ALTER TABLE [dbo].[TB_R_CLOSING_ATTENDANCE_APPROVAL]  WITH CHECK ADD  CONSTRAINT [FK_ATTENDANCE_APPROVAL] FOREIGN KEY([CLOSING_ATTENDANCE_CD])
REFERENCES [dbo].[TB_R_CLOSING_ATTENDANCE] ([CLOSING_ATTENDANCE_CD])
GO
ALTER TABLE [dbo].[TB_R_CLOSING_ATTENDANCE_APPROVAL] CHECK CONSTRAINT [FK_ATTENDANCE_APPROVAL]
GO
