/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERS_GET_DETAIL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERS_GET_DETAIL]
    @USER_CD AS VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @is_super_admin BIT;
    
    DECLARE @GET_USER VARCHAR(50) = (SELECT USER_CD FROM TB_M_USERS WHERE USER_CD = @USER_CD OR NOREG = @USER_CD)

    -- Check if the user has the 'SPR_ADM' role
    IF EXISTS (SELECT 1 FROM TB_R_USER_ROLES WHERE USER_CD = @GET_USER AND ROLE_CD = 'SPR_ADM')
    BEGIN
        SET @is_super_admin = 1;
    END
    ELSE
    BEGIN
        SET @is_super_admin = 0;
    END

    SELECT top 1
      U.USER_CD,
      U.USERNAME,
      U.FULL_NAME,
      U.NOREG,
      U.NIK,
      U.EMAIL,
      U.PHONE,
      UD.BRANCH,
      UD.DIRECTORATE,
      UD.DIVISION,
      UD.DEPARTMENT,
      UD.[SECTION],
      UD.[GROUP],
      UD.LINE,
      UD.[POSITION],
      STRING_AGG (SYS.SYSTEM_CD + '-' + SYS.SYSTEM_VALUE + '-' + SYS_COLOR.SYSTEM_VALUE + '-' + R.ROLE_NAME, ', ') AS ROLE_NAME,
      STUFF(
        (SELECT ', ' + R2.ROLE_CD
         FROM TB_R_USER_ROLES UR2
         INNER JOIN TB_M_ROLES R2 ON UR2.ROLE_CD = R2.ROLE_CD
         WHERE UR2.USER_CD = U.USER_CD
         AND (@is_super_admin = 0 OR UR2.ROLE_CD = 'SPR_ADM') -- Conditional logic
         FOR XML PATH('')),
        1, 2, ''
      ) AS ROLE_CD,
      STUFF(
        (SELECT DISTINCT ', ' + SYS.SYSTEM_CD
         FROM TB_R_USER_ROLES UR_inner
         INNER JOIN TB_M_ROLES R_inner ON UR_inner.ROLE_CD = R_inner.ROLE_CD
         INNER JOIN TB_M_SYSTEM_MASTER SYS ON SYS.SYSTEM_TYPE = 'LEVEL' AND SYS.SYSTEM_CD = R_inner.ROLE_LEVEL
         WHERE UR_inner.USER_CD = U.USER_CD
         AND (@is_super_admin = 0 OR UR_inner.ROLE_CD = 'SPR_ADM') -- Conditional logic
         FOR XML PATH('')),
        1, 2, ''
      ) AS LEVEL_CD,
      STUFF(
        (SELECT DISTINCT ', Level ' + SYS.SYSTEM_CD + ' - ' + SYS.SYSTEM_VALUE
         FROM TB_R_USER_ROLES UR_inner
         INNER JOIN TB_M_ROLES R_inner ON UR_inner.ROLE_CD = R_inner.ROLE_CD
         INNER JOIN TB_M_SYSTEM_MASTER SYS ON SYS.SYSTEM_TYPE = 'LEVEL' AND SYS.SYSTEM_CD = R_inner.ROLE_LEVEL
         WHERE UR_inner.USER_CD = U.USER_CD
         AND (@is_super_admin = 0 OR UR_inner.ROLE_CD = 'SPR_ADM') -- Conditional logic
         FOR XML PATH('')),
        1, 2, ''
      ) AS LEVEL,
      STUFF(
        (SELECT DISTINCT ', ' + SYS_COLOR.SYSTEM_VALUE
         FROM TB_R_USER_ROLES UR_inner
         INNER JOIN TB_M_ROLES R_inner ON UR_inner.ROLE_CD = R_inner.ROLE_CD
         INNER JOIN TB_M_SYSTEM_MASTER SYS_COLOR ON SYS_COLOR.SYSTEM_TYPE = 'LEVEL_COLOR' AND SYS_COLOR.SYSTEM_CD = R_inner.ROLE_LEVEL
         WHERE UR_inner.USER_CD = U.USER_CD
         AND (@is_super_admin = 0 OR UR_inner.ROLE_CD = 'SPR_ADM') -- Conditional logic
         FOR XML PATH('')),
        1, 2, ''
      ) AS LEVEL_COLOR
    FROM
      TB_M_USERS U
      LEFT JOIN TB_R_USER_ROLES UR ON U.USER_CD = UR.USER_CD
      LEFT JOIN TB_M_ROLES R ON UR.ROLE_CD = R.ROLE_CD
      LEFT JOIN TB_M_SYSTEM_MASTER SYS ON SYS.SYSTEM_TYPE = 'LEVEL' AND SYS.SYSTEM_CD = R.ROLE_LEVEL
      LEFT JOIN TB_M_SYSTEM_MASTER SYS_COLOR ON SYS_COLOR.SYSTEM_TYPE = 'LEVEL_COLOR' AND SYS_COLOR.SYSTEM_CD = R.ROLE_LEVEL
      LEFT JOIN TB_M_USER_DETAIL UD
      ON U.USER_CD = UD.USER_CD
    WHERE U.USER_CD = @GET_USER
    GROUP BY
      U.USER_CD,
      U.USERNAME,
      U.FULL_NAME,
      U.NOREG,
      U.NIK,
      U.EMAIL,
      U.PHONE,
      UD.BRANCH,
      UD.DIRECTORATE,
      UD.DIVISION,
      UD.DEPARTMENT,
      UD.[SECTION],
      UD.[GROUP],
      UD.LINE,
      UD.[POSITION];
END;
GO
