/****** Object:  StoredProcedure [dbo].[SP_MY_PROFILE_STORE_GENERAL_INFO]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MY_PROFILE_STORE_GENERAL_INFO]
    @REGISTRATION_NUMBER nvarchar(20),
    @FULL_NAME varchar(255),
    @GENDER varchar(10),
    @PLACE_OF_BIRTH varchar(100),
    @DATE_OF_BIRTH date,
    @AGE decimal(6, 2),
    @PERSONAL_ID varchar(25),
    @TAX_ID varchar(25),
    @BPJS_ID varchar(25),
    @RELIGION varchar(30),
    @SHIRT_SIZE varchar(10),
    @SHOE_SIZE decimal(6, 2),
    @REFFERAL_NOREG nvarchar(20),
    @EMAIL nvarchar(100),
    @PHONE nvarchar(50),
    @SOCIAL_MEDIA nvarchar(255),
    @VAKSIN_1 varchar(100),
    @VAKSIN_2 varchar(100),
    @VAKSIN_3 varchar(100),
    @BLOOD_TYPE varchar(10),
    @HEIGHT decimal(6, 2),
    @WEIGHT decimal(6, 2),
    @RECRUITMENT_BATCH varchar(10),
    @CREATED_BY varchar(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;
    BEGIN TRY

      UPDATE TB_M_PROFILE
      SET
          FULL_NAME = @FULL_NAME,
          GENDER = @GENDER,
          PLACE_OF_BIRTH = @PLACE_OF_BIRTH,
          DATE_OF_BIRTH = @DATE_OF_BIRTH,
          AGE = @AGE,
          PERSONAL_ID = @PERSONAL_ID,
          TAX_ID = @TAX_ID,
          BPJS_ID = @BPJS_ID,
          RELIGION = @RELIGION,
          SHIRT_SIZE = @SHIRT_SIZE,
          SHOE_SIZE = @SHOE_SIZE,
          REFFERAL_NOREG = @REFFERAL_NOREG,
          VAKSIN_1 = @VAKSIN_1,
          VAKSIN_2 = @VAKSIN_2,
          VAKSIN_3 = @VAKSIN_3,
          BLOOD_TYPE = @BLOOD_TYPE,
          HEIGHT = @HEIGHT,
          WEIGHT = @WEIGHT,
          RECRUITMENT_BATCH = @RECRUITMENT_BATCH,
          UPDATED_BY = @CREATED_BY,
          UPDATED_DT = GETDATE()
      WHERE
          REGISTRATION_NUMBER = @REGISTRATION_NUMBER;
          
          
      UPDATE TB_M_USERS
      SET 
          EMAIL = @EMAIL,
          NIK = @PERSONAL_ID,
          PHONE = @PHONE,
          FULL_NAME = @FULL_NAME,
          UPDATED_BY = @CREATED_BY,
          UPDATED_DT = GETDATE()
      WHERE NOREG = @REGISTRATION_NUMBER
      
      DELETE FROM TB_M_PROFILE_COMMUNICATION WHERE REGISTRATION_NUMBER = @REGISTRATION_NUMBER
      
      INSERT INTO TB_M_PROFILE_COMMUNICATION (
          COMMUNICATION_CD,
          REGISTRATION_NUMBER,
          COMMUNICATION_TYPE,
					COMMUNICATION_REMARKS,
          COMMUNICATION_VALUE
      ) VALUES (
          CONVERT(VARCHAR(50), NEWID()),
          @REGISTRATION_NUMBER,
          '1',
					'Email',
          @EMAIL
      ),
      (
          CONVERT(VARCHAR(50), NEWID()),
          @REGISTRATION_NUMBER,
          '2',
					'Phone',
          @PHONE
      ),
      (
          CONVERT(VARCHAR(50), NEWID()),
          @REGISTRATION_NUMBER,
          '3',
					'Social Media',
          @SOCIAL_MEDIA
      );
      
      
      COMMIT TRANSACTION;
      SELECT 'true' AS status, 'Success updating data.' AS message;
    
    END TRY
    BEGIN CATCH
        -- If an error occurred, rollback the transaction and re-throw the error
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        
        -- You can log the error details here if needed
        SELECT 'false' AS status, ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
