/****** Object:  StoredProcedure [dbo].[SP_MASTER_MENU_GET_FUNCTION_CD]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_MENU_GET_FUNCTION_CD]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @CurrentDate CHAR(8);
    DECLARE @NewFUNCTION_CD VARCHAR(50);
    DECLARE @MaxSeq INT;
    SET @CurrentDate = FORMAT(GETDATE(), 'yyyyMMdd');
    
    SELECT @MaxSeq = ISNULL(MAX(CAST(RIGHT(FUNCTION_CD, 2) AS INT)), 0)
    FROM TB_M_FUNCTION
    WHERE FUNCTION_CD LIKE @CurrentDate + '%';
    
    SET @MaxSeq = @MaxSeq + 1;
    SET @NewFUNCTION_CD = @CurrentDate + RIGHT('00' + CAST(@MaxSeq AS VARCHAR(2)), 2);
    
    SELECT @NewFUNCTION_CD;
END
GO
