/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'CREATED_DT',
    @OrderDirection AS VARCHAR(5) = 'DESC', 
    @CREATED_DATE_FROM AS VARCHAR(10) = NULL, 
    @CREATED_DATE_TO AS VARCHAR(10) = NULL,  
    @PERIOD_NAME AS VARCHAR(255) = NULL,   
    @STATUS_CD AS VARCHAR(50) = NULL,         
    @TERM AS VARCHAR(100) = NULL              
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('PLACEMENT_SCHEDULE_CD', 'CREATED_DT', 'BATCH', 'PERIOD_NAME', 'JOIN_DATE_FROM', 'TOTAL_PLACEMENT_REQUESTS', 'TOTAL_VOCATION_NEEDS')
    BEGIN
        SET @OrderBy = 'CREATED_DT';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'DESC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
            PRS.PLACEMENT_SCHEDULE_CD,
            PRS.CREATED_DT,
            PRS.BATCH,
            PRS.PERIOD_NAME,
            PRS.JOIN_DATE_FROM,
            PRS.JOIN_DATE_TO,
            PRS.TRAINING_DATE_FROM,
            PRS.TRAINING_DATE_TO,
            PRS.OJD_DATE_FROM,
            PRS.OJD_DATE_TO,
            PRS.TOTAL_PLACEMENT_REQUESTS,
            PRS.TOTAL_VOCATION_NEEDS,
            PRS.SCHEDULE_APPROVAL_STATUS,
            TMS.SYSTEM_VALUE AS STATUS_NAME
        FROM
            TB_R_PLACEMENT_SCHEDULE PRS
            LEFT JOIN TB_M_SYSTEM_MASTER TMS
                ON PRS.SCHEDULE_APPROVAL_STATUS = TMS.SYSTEM_CD
                AND TMS.SYSTEM_TYPE = ''APPROVAL_STATUS''
        WHERE
            COALESCE(PRS.IS_DELETED, 0) = 0 ';

    IF @CREATED_DATE_FROM IS NOT NULL AND @CREATED_DATE_FROM <> ''
        -- Menggunakan CONVERT(DATE, ...) untuk membandingkan hanya bagian tanggal
        SET @SQL = @SQL + ' AND CONVERT(DATE, PRS.CREATED_DT) >= CONVERT(DATE, @CREATED_DATE_FROM)';

    IF @CREATED_DATE_TO IS NOT NULL AND @CREATED_DATE_TO <> ''
        SET @SQL = @SQL + ' AND CONVERT(DATE, PRS.CREATED_DT) <= CONVERT(DATE, @CREATED_DATE_TO)';

    IF @PERIOD_NAME IS NOT NULL AND @PERIOD_NAME <> ''
        SET @SQL = @SQL + ' AND PRS.PERIOD_NAME LIKE ''%'' + @PERIOD_NAME + ''%''';
				
    IF @STATUS_CD IS NOT NULL AND @STATUS_CD <> ''
        SET @SQL = @SQL + ' AND PRS.SCHEDULE_APPROVAL_STATUS = @STATUS_CD';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (PRS.PLACEMENT_SCHEDULE_CD LIKE ''%'' + @TERM + ''%'' OR PRS.BATCH LIKE ''%'' + @TERM + ''%'')';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        PLACEMENT_SCHEDULE_CD,
        CONVERT(VARCHAR(10), CREATED_DT, 120) AS CREATED_DATE, -- Format YYYY-MM-DD
        BATCH,
        PERIOD_NAME,
        CONVERT(VARCHAR(20), JOIN_DATE_FROM, 106) AS JOIN_DATE_FROM, -- Format: dd MMM yyyy
        CONVERT(VARCHAR(20), JOIN_DATE_TO, 106) AS JOIN_DATE_TO,
        CONVERT(VARCHAR(20), TRAINING_DATE_FROM, 106) AS TRAINING_DATE_FROM,
        CONVERT(VARCHAR(20), TRAINING_DATE_TO, 106) AS TRAINING_DATE_TO,
        CONVERT(VARCHAR(20), OJD_DATE_FROM, 106) AS OJD_DATE_FROM,
        CONVERT(VARCHAR(20), OJD_DATE_TO, 106) AS OJD_DATE_TO,
        TOTAL_PLACEMENT_REQUESTS,
        TOTAL_VOCATION_NEEDS,
        STATUS_NAME AS STATUS, -- Mengambil SYSTEM_VALUE sebagai nama status
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT -- Total jumlah record sebelum paging
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    -- Eksekusi Dynamic SQL
    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT, @CREATED_DATE_FROM VARCHAR(10), @CREATED_DATE_TO VARCHAR(10), @PERIOD_NAME VARCHAR(255), @STATUS_CD VARCHAR(50), @TERM VARCHAR(100)',
        @Offset = @PAGE,
        @PageSize = @PageSize,
        @CREATED_DATE_FROM = @CREATED_DATE_FROM,
        @CREATED_DATE_TO = @CREATED_DATE_TO,
        @PERIOD_NAME = @PERIOD_NAME,
        @STATUS_CD = @STATUS_CD,
        @TERM = @TERM;
END
GO
