/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL_DOC]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL_DOC]
    @REGISTRATION_NUMBER AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      PRF_DOC_CD,
      REGISTRATION_NUMBER,
      DOC_TYPE,
      DOC_NAME,
      DOC_REMARK,
      FILE_NAME,
      URL,
      COALESCE(UPDATED_DT, CREATED_DT) AS LAST_MODIFIED
    FROM
      TB_M_PROFILE_DOCUMENT
    WHERE REGISTRATION_NUMBER = @REGISTRATION_NUMBER
END;
GO
