/****** Object:  Table [dbo].[TB_M_HOSPITAL]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_HOSPITAL](
	[HOSPITAL_CD] [varchar](20) NOT NULL,
	[HOSPITAL_NAME] [varchar](50) NULL,
	[MCU_AVAILABLITY] [int] NULL,
	[PROVINCE_CD] [varchar](20) NULL,
	[CITY_CD] [varchar](20) NULL,
	[DISTRICT_CD] [varchar](20) NULL,
	[VILLAGE_CD] [varchar](20) NULL,
	[ADDRESS] [varchar](150) NULL,
	[CP_NAME] [varchar](50) NULL,
	[CP_PHONE] [varchar](15) NULL,
	[EMAIL] [varchar](50) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_DT] [date] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [date] NULL,
	[UPDATED_BY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[HOSPITAL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_HOSPITAL]  WITH CHECK ADD FOREIGN KEY([CITY_CD])
REFERENCES [dbo].[TB_M_CITY] ([CITY_CD])
GO
ALTER TABLE [dbo].[TB_M_HOSPITAL]  WITH CHECK ADD FOREIGN KEY([DISTRICT_CD])
REFERENCES [dbo].[TB_M_DISTRICT] ([DISTRICT_CD])
GO
ALTER TABLE [dbo].[TB_M_HOSPITAL]  WITH CHECK ADD FOREIGN KEY([PROVINCE_CD])
REFERENCES [dbo].[TB_M_PROVINCE] ([PROVINCE_CD])
GO
ALTER TABLE [dbo].[TB_M_HOSPITAL]  WITH CHECK ADD FOREIGN KEY([VILLAGE_CD])
REFERENCES [dbo].[TB_M_VILLAGE] ([VILLAGE_CD])
GO
