/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERS_GET_DETAIL_ATTRIBUTE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERS_GET_DETAIL_ATTRIBUTE]
    @USER_CD AS VARCHAR(100) 
AS
BEGIN
  SET NOCOUNT ON;

  SELECT
    A.ATTRIBUTE_NAME,
    STRING_AGG (A.ATTRIBUTE_VALUE, ', ') AS ATTRIBUTE_VALUE,
    STRING_AGG (A.ATTRIBUTE_CD, ', ') AS ATTRIBUTE_CD
  FROM
    TB_R_USER_ATTRIBUTES UA
    INNER JOIN TB_M_ATTRIBUTES A ON UA.ATTRIBUTE_CD = A.ATTRIBUTE_CD
  WHERE UA.USER_CD = @USER_CD
  GROUP BY
    A.ATTRIBUTE_NAME
END;
GO
