/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ATTENDANCE_GET_DETAIL_APPROVAL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ATTENDANCE_GET_DETAIL_APPROVAL]
    @ATTENDANCE_CD VARCHAR(50)
AS
BEGIN
    SELECT 
        AA.APPROVER_POSITION,
        AA.APPROVAL_STATUS,
        SM.SYSTEM_VALUE AS APPROVAL_STATUS_NAME,
        AA.APPROVED_DT,
        U.FULL_NAME,
        UD.DIRECTORATE,
        UD.DIVISION,
        UD.DEPARTMENT,
        UD.[SECTION],
        UD.LINE,
        UD.[GROUP]
    FROM 
        [dbo].[TB_R_ATTENDANCE_APPROVAL] AA
    INNER JOIN TB_M_USER_DETAIL UD ON AA.APPROVER_NOREG = UD.NOREG
    INNER JOIN TB_M_USERS U ON UD.NOREG = U.NOREG
    LEFT JOIN TB_M_SYSTEM_MASTER SM ON AA.APPROVAL_STATUS = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = 'APPROVAL_STATUS'
    WHERE 
        AA.ATTENDANCE_CD = @ATTENDANCE_CD;
END;
GO
