/****** Object:  StoredProcedure [dbo].[SP_MASTER_MENU_GET_DETAIL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_MENU_GET_DETAIL]
    @FUNCTION_CD AS VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      F.FUNCTION_CD,
      F.FUNCTION_PARENT_CD,
      FF.FUNCTION_NAME AS FUNCTION_PARENT_NAME,
      F.FUNCTION_NAME,
      F.FUNCTION_CONTROLLER,
      F.FUNCTION_DESCRIPTION,
      F.FUNCTION_ACTIVE,
      F.FUNCTION_ORDER,
      F.FUNCTION_ICON,
      F.CREATED_BY,
      F.CREATED_DT,
      F.UPDATED_BY,
      F.UPDATED_DT,
      F.IS_DELETED,
      F.DELETED_BY,
      F.DELETED_DT
    FROM
      TB_M_FUNCTION F
      LEFT JOIN TB_M_FUNCTION FF ON F.FUNCTION_PARENT_CD = FF.FUNCTION_CD
    WHERE
      F.FUNCTION_CD = @FUNCTION_CD
      AND COALESCE(F.IS_DELETED, 0) = 0;
END;
GO
