/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERS_GET_LEVEL_OPTION]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERS_GET_LEVEL_OPTION]
    @USER_TYPE AS VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        SYSTEM_CD AS id,
        'Level ' + SYSTEM_CD + ' - ' + SYSTEM_VALUE AS text
    FROM
        tb_m_system_master
    WHERE
        system_type = 'LEVEL'
        AND (
            (@USER_TYPE = '1' AND SYSTEM_CD = '1')
            OR (@USER_TYPE = '2' AND SYSTEM_CD IN ('2', '3'))
            OR (@USER_TYPE = '3' AND SYSTEM_CD = '4')
        );
END
GO
