/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_GET_REVIEW_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_GET_REVIEW_INQUIRY]
    @PAGE AS INT = 0,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'FULL_NAME',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @CLOSING_ATTENDANCE_CD VARCHAR(50),
    @USERNAME NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @APPROVER_NOREG NVARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @USERNAME)

    IF @OrderBy NOT IN ('REGISTRATION_NUMBER', 'FULL_NAME', 'CANDIDATE_NUMBER', 'RECRUITMENT_BATCH', 'PROFILE_STATUS', 'PROFILE_STATUS_NM', 'TOTAL_WORKING_DAYS', 'TOTAL_CUMMULATIVE_ESH', 'APPROVAL_STATUS', 'APPROVAL_STATUS_NM')
    BEGIN
        SET @OrderBy = 'FULL_NAME';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'DESC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
          P.REGISTRATION_NUMBER,
          P.FULL_NAME,
          P.CANDIDATE_NUMBER,
          P.RECRUITMENT_BATCH,
          P.PROFILE_STATUS,
          P.CONTRACT_END,
          SM.SYSTEM_VALUE AS PROFILE_STATUS_NM,
          CAS.TOTAL_WORKING_DAYS,
          CAESS.TOTAL_CUMMULATIVE_ESH,
          AP.APPROVAL_STATUS,
          SM2.SYSTEM_VALUE AS APPROVAL_STATUS_NM
        FROM
          TB_R_CLOSING_ATTENDANCE_SUMMARY CAS
          INNER JOIN TB_R_CLOSING_ATTENDANCE CA ON CAS.CLOSING_ATTENDANCE_CD = CA.CLOSING_ATTENDANCE_CD
          LEFT JOIN TB_R_CLOSING_ATTENDANCE_EXTRA_STUDY_SUMMARY CAESS ON CAS.CLOSING_ATTENDANCE_CD = CAESS.CLOSING_ATTENDANCE_CD
          AND CAS.REGISTRATION_NUMBER = CAESS.REGISTRATION_NUMBER
          INNER JOIN TB_M_PROFILE P ON CAS.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER
          LEFT JOIN TB_M_SYSTEM_MASTER SM ON P.PROFILE_STATUS = SM.SYSTEM_CD
          AND SM.SYSTEM_TYPE = ''PROFILE_STATUS''
          LEFT JOIN (
                  SELECT 
                    REGISTRATION_NUMBER, 
                    APPROVAL_STATUS, 
                    ROW_NUMBER() OVER (PARTITION BY REGISTRATION_NUMBER ORDER BY APPROVAL_STATUS ASC) AS RN FROM TB_R_ATTENDANCE_APPROVAL
                ) AP ON AP.REGISTRATION_NUMBER = CAS.REGISTRATION_NUMBER AND AP.RN = 1
        LEFT JOIN TB_M_SYSTEM_MASTER SM2 ON SM2.SYSTEM_CD = AP.APPROVAL_STATUS AND SM2.SYSTEM_TYPE = ''APPROVAL_STATUS''
        WHERE CAS.CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD
        
        ';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@CLOSING_ATTENDANCE_CD VARCHAR(50), @Offset INT, @PageSize INT',
        @CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD,
        @Offset = @PAGE,
        @PageSize = @PageSize;
END
GO
