/****** Object:  Table [dbo].[TB_M_USER_DETAIL]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_USER_DETAIL](
	[USER_DETAIL_CD] [varchar](50) NOT NULL,
	[USER_CD] [varchar](50) NULL,
	[NOREG] [varchar](15) NULL,
	[DIRECTORATE] [varchar](100) NULL,
	[DEPARTMENT] [varchar](100) NULL,
	[DIVISION] [varchar](100) NULL,
	[SECTION] [varchar](100) NULL,
	[GROUP] [varchar](100) NULL,
	[LINE] [varchar](100) NULL,
	[POSITION] [varchar](100) NULL,
	[BRANCH] [varchar](100) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [datetime] NULL,
	[DIR_ID] [int] NULL,
	[DIV_ID] [int] NULL,
	[DEP_ID] [int] NULL,
	[SEC_ID] [int] NULL,
	[LIN_ID] [int] NULL,
	[GRU_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_DETAIL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
