/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ATTENDANCE_GET_SEND_MAIL_CONTENT_APPROVAL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ATTENDANCE_GET_SEND_MAIL_CONTENT_APPROVAL]
    @ATTENDANCE_CD AS VARCHAR(max) = ''
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT * FROM (
      SELECT 
        ROW_NUMBER() OVER (
            PARTITION BY 
                AA.ATTENDANCE_CD
            ORDER BY 
                AA.APPROVER_SEQUENCE ASC
        ) AS RN,
      'MSG-20250926085822' AS MESSAGE_CD,
      'EMAIL_TEMPLATE' AS EMAIL_TEMPLATE,
      '[Vorta] Approval Attendance Request' AS TITLE,
      AA.APPROVER_NOREG AS REFERENCE_CD,
      AA.APPROVER_NOREG,
      U.EMAIL as RECEIPT_CONTACT,
      U.NOREG as RECEIPT_NOREG,
      A.CREATED_BY,
      CONCAT_WS(
          '---',
        U.FULL_NAME,
        U.NOREG,
        CONVERT(VARCHAR, A.ATTENDANCE_DATE, 126),
        CONVERT(VARCHAR(8), A.CLOCK_IN_TIME, 108),
        CONVERT(VARCHAR(8), A.CLOCK_OUT_TIME, 108),
        CONVERT(VARCHAR(8), A.CLOCK_IN_CORRECTION_TIME, 108),
        CONVERT(VARCHAR(8), A.CLOCK_OUT_CORRECTION_TIME, 108),
        SYS.SYSTEM_VALUE,
        A.REASON,
        U2.FULL_NAME
      ) AS ALL_PARAMS_CONCATENATED
    FROM
      TB_R_ATTENDANCE_APPROVAL AA
      INNER JOIN TB_M_USERS U ON AA.APPROVER_NOREG = U.NOREG
      INNER JOIN TB_R_ATTENDANCE A ON AA.ATTENDANCE_CD = A.ATTENDANCE_CD
      INNER JOIN TB_M_SYSTEM_MASTER SYS ON A.ATTENDANCE_STATUS = SYS.SYSTEM_CD AND SYS.SYSTEM_TYPE = 'ATTENDANCE_STATUS'
      INNER JOIN TB_M_USERS U2 ON A.CREATED_BY = U2.USERNAME
    WHERE
     A.ATTENDANCE_CD IN (SELECT value FROM STRING_SPLIT(@ATTENDANCE_CD, ','))
      AND AA.APPROVAL_STATUS = '0'
    ) AS TBL WHERE TBL.RN = 1
END;
GO
