/****** Object:  Table [dbo].[TB_R_RECRUITMENT_STAGE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_RECRUITMENT_STAGE](
	[REG_STAGE_CD] [nvarchar](50) NOT NULL,
	[REGISTRATION_NUMBER] [nvarchar](20) NOT NULL,
	[PROFILE_CD] [nvarchar](20) NULL,
	[PROCESS_SEQUENCE] [int] NULL,
	[RECRUITMENT_PROCESS] [varchar](50) NULL,
	[RECRUITMENT_PROCESS_DESC] [varchar](150) NULL,
	[RECRUITMENT_STATE] [varchar](50) NULL,
	[REMARK] [nvarchar](255) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](100) NULL,
	[UPDATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](50) NULL,
 CONSTRAINT [PK_TB_R_RECRUITMENT_STAGE] PRIMARY KEY CLUSTERED 
(
	[REG_STAGE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_RECRUITMENT_STAGE]  WITH CHECK ADD  CONSTRAINT [FK_TB_R_RECRUITMENT_STAGE_PROFILE] FOREIGN KEY([REGISTRATION_NUMBER])
REFERENCES [dbo].[TB_M_PROFILE] ([REGISTRATION_NUMBER])
GO
ALTER TABLE [dbo].[TB_R_RECRUITMENT_STAGE] CHECK CONSTRAINT [FK_TB_R_RECRUITMENT_STAGE_PROFILE]
GO
