/****** Object:  StoredProcedure [dbo].[SP_COMMON_GET_COMBOBOX_BANK]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_COMMON_GET_COMBOBOX_BANK]
    @TERM AS VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT DISTINCT
      HOUSE_STREET AS id, 
      HOUSE_STREET AS text 
    FROM TB_M_BANK_KEY
      WHERE HOUSE_STREET LIKE '%' + @TERM + '%'
    ORDER BY HOUSE_STREET ASC;
END
GO
