/****** Object:  StoredProcedure [dbo].[SP_MASTER_ORGRANKPOS_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_MASTER_ORGRANKPOS_GET_INQUIRY]

@ORG_RANK_CD AS VARCHAR(50)


as

SELECT  ROW_NUMBER() OVER (ORDER BY ORG_POS_CD ASC) AS NO,
        ORG_POS_CD,
        ORG_RANK_CD,
        POS_CATEGORY,
        VOCATION_TYPE,
        MALE_MANPOWER,
		FEMALE_MANPOWER,
		CITY_CD_CRITERIA,
        CITY_CRITERIA,
        HEIGHT_MIN,
        HEIGHT_MAX,
        WEIGHT_MIN,
        WEIGHT_MAX
FROM [dbo].[TB_M_ORG_POS] WHERE ORG_RANK_CD = @ORG_RANK_CD
GO
