/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_GET_INQUIRYT_GET_DETAIL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_GET_INQUIRYT_GET_DETAIL]
    @USER_CD AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
      USER_CD
      ,USERNAME
      ,A.FULL_NAME
      ,NOREG
      ,PHONE
      ,NIK
      ,EMAIL
	  ,CATEGORY_CD = PROFILE_CATEGORY_CD
      ,BATCH = C.RECRUITMENT_BATCH
      ,[LEVEL] = B.EDUCATION_LEVEL
      ,LATEST_REC_STATUS = C.RECRUITMENT_STATUS
	  ,TEST_RESULT = ASSESSMENT_RESULT
	  ,LATEST_TEST_DATE = D.ASSESSMENT_DATE
	  ,SUMMARY_RESULT = D.ASSESSMENT_SUMMARY
    FROM [dbo].TB_M_USERS A
	 INNER JOIN [dbo].[TB_M_PROFILE] C ON C.REGISTRATION_NUMBER = A.NOREG 
	 LEFT JOIN (SELECT A.REGISTRATION_NUMBER,B.ASSESSMENT_DATE, B.ASSESSMENT_RESULT, B.ASSESSMENT_SUMMARY FROM 
					(SELECT [REGISTRATION_NUMBER], ASSESSMENT_DATE = MAX([ASSESSMENT_DATE]) FROM [dbo].[TB_R_ASSESSMENT] GROUP BY REGISTRATION_NUMBER) A
				INNER JOIN [dbo].[TB_R_ASSESSMENT] B ON A.REGISTRATION_NUMBER = B.REGISTRATION_NUMBER and B.ASSESSMENT_DATE = A.ASSESSMENT_DATE
				) D ON D.REGISTRATION_NUMBER = A.NOREG
	 LEFT JOIN [dbo].[TB_M_PROFILE_EDU] B ON A.NOREG = B.REGISTRATION_NUMBER
    WHERE 
      [USER_CD] = @USER_CD
      --AND IS_DELETED = '0';
END;
GO
