/****** Object:  StoredProcedure [dbo].[SP_ADMIN_DASHBOARD_PLANT_AND_TYPE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_ADMIN_DASHBOARD_PLANT_AND_TYPE]
	@DIVISION_CD AS VARCHAR(20) = NULL,
	@DEPARTMENT_CD AS VARCHAR(20) = NULL,
	@PLANT_CD AS VARCHAR(20) = NULL,
	@PERIOD_DT AS VARCHAR(30) = NULL
AS 
BEGIN
	SET NOCOUNT ON;
	
	SELECT 
		COUNT(*) AS TOTAL,
		CASE 
			WHEN troa.POS_CATEGORY = '2' THEN 'Other'
			ELSE ISNULL(tmlt.DESCRIPTION, '')
		END AS VOCATION_TYPE,
		tmp.MAIN_LOCATION AS PLANT
	FROM TB_R_ORG_ASSIGNMENT troa
	INNER JOIN TB_M_PLANT tmp 
		ON tmp.PLANT_CD = troa.MAIN_LOCATION
	LEFT JOIN TB_M_LABOR_TYPE tmlt 
		ON tmlt.LABOR_CD = troa.LABOR_TYPE
	WHERE
        (@DIVISION_CD   IS NULL OR troa.DIVISION_ID   = @DIVISION_CD)
        AND (@DEPARTMENT_CD IS NULL OR troa.DEPARTMENT_ID = @DEPARTMENT_CD)
        AND (@PLANT_CD   IS NULL OR troa.MAIN_LOCATION = @PLANT_CD)
	GROUP BY
		CASE 
			WHEN troa.POS_CATEGORY = '2' THEN 'Other'
			ELSE ISNULL(tmlt.DESCRIPTION, '')
		END,
		tmp.MAIN_LOCATION;
END
GO
