/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ATTENDANCE_CLOSING_GET_DETAIL_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ATTENDANCE_CLOSING_GET_DETAIL_INQUIRY]
    @CLOSING_ATTENDANCE_CD VARCHAR(20),
    @PAGE AS INT = 0, -- Used as OFFSET for pagination (start from 0)
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'REGISTRATION_NUMBER',
    @OrderDirection AS VARCHAR(5) = 'ASC'
AS
BEGIN
    SET NOCOUNT ON;

    -- Local Variables
    DECLARE @ATT_STATUS_PRESENT VARCHAR(MAX);
    DECLARE @PERIOD_FROM VARCHAR(15);
    DECLARE @PERIOD_TO VARCHAR(15);
    DECLARE @PREV_MONTH_1 VARCHAR(15);
    DECLARE @PREV_MONTH_2 VARCHAR(15);
    DECLARE @SQL NVARCHAR(MAX);

    -- 1. Get the list of 'Present' status codes
    SELECT @ATT_STATUS_PRESENT = SYSTEM_VALUE
    FROM TB_M_SYSTEM_MASTER
    WHERE SYSTEM_CD = 'PRESENT' AND SYSTEM_TYPE = 'ATT_STATUS_CD_LIST';

    -- 2. Get the period cut-offs for the specified closing attendance
    SELECT
        @PERIOD_FROM = CONVERT(VARCHAR, CUT_OFF_FROM, 126), -- yyyy-MM-ddThh:mm:ss.mmm
        @PERIOD_TO = CONVERT(VARCHAR, CUT_OFF_TO, 126)
    FROM TB_R_CLOSING_ATTENDANCE
    WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;

    -- Return if the closing attendance code is not found
    IF @PERIOD_FROM IS NULL
    BEGIN
        SELECT NULL AS ERROR_MESSAGE WHERE 1 = 0; -- Returns an empty result set with correct columns
        RETURN;
    END

    -- 3. Calculate the previous two month strings (yyyy-MM)
    SET @PREV_MONTH_1 = (SELECT FORMAT(DATEADD(MONTH, -1, CONVERT(DATE, @PERIOD_FROM)), 'yyyy-MM'));
    SET @PREV_MONTH_2 = (SELECT FORMAT(DATEADD(MONTH, -2, CONVERT(DATE, @PERIOD_FROM)), 'yyyy-MM'));

    -- 4. Input Validation for @OrderBy against output columns
    IF @OrderBy NOT IN (
        'FULL_NAME', 'REGISTRATION_NUMBER', 'CANDIDATE_NUMBER', 'RECRUITMENT_BATCH', 'DIVISION',
        'PROFILE_STATUS', 'CONTRACT_END', 'PRESENT', 'ESH_CURRENT_MONTH',
        'ESH_PREF_MONTH_1', 'ESH_PREF_MONTH_2', 'BP_PREF_MONTH_1', 'BP_PREF_MONTH_2'
    )
    BEGIN
        SET @OrderBy = 'REGISTRATION_NUMBER';
    END

    -- 5. Input Validation for @OrderDirection
    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    -- Start dynamic SQL construction
    SET @SQL = '
    WITH AllowedStatus AS (
        -- Convert the comma-separated string of ''Present'' statuses into a table
        SELECT LTRIM(RTRIM(value)) AS StatusCD
        FROM STRING_SPLIT(''' + @ATT_STATUS_PRESENT + ''', '','')
    ),
    PreviousMonthData AS (
        SELECT
            A2.REGISTRATION_NUMBER,
            -- BP and ESH Data from previous two months
            SUM(
                CASE
                    WHEN FORMAT(A2.ATTENDANCE_DATE, ''yyyy-MM'') = ''' + @PREV_MONTH_1 + '''
                    THEN DATEPART(HOUR, CONVERT(TIME, CAST(COALESCE(ES2.ESH_PRODUCTION_AMOUNT, ''00:00:00'') AS DATETIME) + CAST(COALESCE(ES2.ESH_TRAINING_AMOUNT, ''00:00:00'') AS DATETIME)))
                    ELSE 0
                END
            ) AS BP_PREF_MONTH_1,
            SUM(
                CASE
                    WHEN FORMAT(A2.ATTENDANCE_DATE, ''yyyy-MM'') = ''' + @PREV_MONTH_2 + '''
                    THEN DATEPART(HOUR, CONVERT(TIME, CAST(COALESCE(ES2.ESH_PRODUCTION_AMOUNT, ''00:00:00'') AS DATETIME) + CAST(COALESCE(ES2.ESH_TRAINING_AMOUNT, ''00:00:00'') AS DATETIME)))
                    ELSE 0
                END
            ) AS BP_PREF_MONTH_2,
             SUM(
                CASE
                    WHEN FORMAT(A2.ATTENDANCE_DATE, ''yyyy-MM'') = ''' + @PREV_MONTH_1 + '''
                    THEN DATEPART(HOUR, CONVERT(TIME, CAST(COALESCE(ES2.ESH_PRODUCTION_AMOUNT, ''00:00:00'') AS DATETIME) + CAST(COALESCE(ES2.ESH_TRAINING_AMOUNT, ''00:00:00'') AS DATETIME)))
                    ELSE 0
                END
            ) AS ESH_PREF_MONTH_1,
            SUM(
                CASE
                    WHEN FORMAT(A2.ATTENDANCE_DATE, ''yyyy-MM'') = ''' + @PREV_MONTH_2 + '''
                    THEN DATEPART(HOUR, CONVERT(TIME, CAST(COALESCE(ES2.ESH_PRODUCTION_AMOUNT, ''00:00:00'') AS DATETIME) + CAST(COALESCE(ES2.ESH_TRAINING_AMOUNT, ''00:00:00'') AS DATETIME)))
                    ELSE 0
                END
            ) AS ESH_PREF_MONTH_2
        FROM TB_R_ATTENDANCE A2
        INNER JOIN TB_R_EXTRA_STUDY ES2 ON A2.ATTENDANCE_CD = ES2.ATTENDANCE_CD
        WHERE
            A2.CLOSING_ATTENDANCE_CD = ''' + @CLOSING_ATTENDANCE_CD + '''
            AND ES2.STATUS = ''3''
            AND FORMAT(A2.ATTENDANCE_DATE, ''yyyy-MM'') IN (''' + @PREV_MONTH_1 + ''', ''' + @PREV_MONTH_2 + ''')
        GROUP BY A2.REGISTRATION_NUMBER
    ),
    PaginatedResults AS (
        SELECT
            P.FULL_NAME,
            P.REGISTRATION_NUMBER,
            P.CANDIDATE_NUMBER,
            P.RECRUITMENT_BATCH,
            OA.DIVISION,
            SYS.SYSTEM_VALUE AS PROFILE_STATUS,
            SYS.SYSTEM_CD AS PROFILE_STATUS_CD,
            P.CONTRACT_END,
            -- Calculate PRESENT count for the current period
            SUM(
                CASE
                    WHEN
                        CONVERT(VARCHAR, WC.WORKING_FLAG) = ''1''
                        AND ASJ.StatusCD IS NOT NULL
                    THEN 1
                    WHEN
                        CONVERT(VARCHAR, WC.WORKING_FLAG) = ''1''
                        AND A.ATTENDANCE_STATUS IS NULL
                        AND (A.CLOCK_IN_TIME IS NOT NULL OR A.CLOCK_OUT_TIME IS NOT NULL)
                    THEN 1
                    ELSE 0
                END
            ) AS PRESENT,
            -- Calculate ESH for the CURRENT MONTH
            SUM(DATEPART(HOUR, CONVERT(TIME,
                    CAST(COALESCE(ES.ESH_PRODUCTION_AMOUNT, ''00:00:00'') AS DATETIME)
                    + CAST(COALESCE(ES.ESH_TRAINING_AMOUNT, ''00:00:00'') AS DATETIME)
                ))) AS ESH_CURRENT_MONTH,
            -- Fetch previous month data from the CTE
            PMD.ESH_PREF_MONTH_1,
            PMD.ESH_PREF_MONTH_2,
            PMD.BP_PREF_MONTH_1,
            PMD.BP_PREF_MONTH_2
        FROM
            TB_M_PROFILE P
        LEFT JOIN TB_R_ORG_ASSIGNMENT OA
            ON P.REGISTRATION_NUMBER = OA.REGISTRATION_NUMBER
            AND P.CONTRACT_END BETWEEN OA.VALID_FROM AND OA.VALID_TO
        LEFT JOIN TB_M_SYSTEM_MASTER SYS
            ON P.PROFILE_STATUS = SYS.SYSTEM_CD
            AND SYS.SYSTEM_TYPE = ''PROFILE_STATUS''
        LEFT JOIN TB_R_ATTENDANCE A
            ON P.REGISTRATION_NUMBER = A.REGISTRATION_NUMBER
        LEFT JOIN TB_R_EXTRA_STUDY ES
            ON A.ATTENDANCE_CD = ES.ATTENDANCE_CD
            AND ES.STATUS = ''3''
        LEFT JOIN TB_M_WORKING_CALENDAR WC
            ON A.ATTENDANCE_DATE = WC.WORKING_DATE
        LEFT JOIN AllowedStatus AS ASJ
            ON A.ATTENDANCE_STATUS = ASJ.StatusCD
        -- Join the calculated previous month data
        LEFT JOIN PreviousMonthData AS PMD
            ON PMD.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER
        WHERE
            -- Filter the main attendance data to the current closing period
            A.CLOSING_ATTENDANCE_CD = ''' + @CLOSING_ATTENDANCE_CD + '''
            AND A.ATTENDANCE_DATE BETWEEN CONVERT(DATE, ''' + @PERIOD_FROM + ''') AND CONVERT(DATE, ''' + @PERIOD_TO + ''')
        GROUP BY
            P.FULL_NAME, P.REGISTRATION_NUMBER, P.CANDIDATE_NUMBER, P.RECRUITMENT_BATCH,
            OA.DIVISION, SYS.SYSTEM_VALUE, SYS.SYSTEM_CD, P.CONTRACT_END,
            PMD.BP_PREF_MONTH_1, PMD.BP_PREF_MONTH_2, PMD.ESH_PREF_MONTH_1, PMD.ESH_PREF_MONTH_2
    )
    SELECT
        -- ROW_NUMBER for sequential numbering in the result set
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        -- Total count for the entire filtered result set
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    -- Execute the dynamic SQL query, passing @PAGE and @PageSize as parameters for safety
    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @PageSize INT',
        @Offset = @PAGE,
        @PageSize = @PageSize;
END
GO
