/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_GET_CARD_INFORMATION]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_GET_CARD_INFORMATION]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      SUM(CASE WHEN DATEDIFF(day, GETDATE(), CONTRACT_END) > 60 THEN 1 ELSE 0 END) AS MORE_60_DAYS,
      SUM(CASE WHEN DATEDIFF(day, GETDATE(), CONTRACT_END) BETWEEN 30 AND 60 THEN 1 ELSE 0 END) AS BETWEEN_30_60_DAYS,
      SUM(CASE WHEN DATEDIFF(day, GETDATE(), CONTRACT_END) < 30 THEN 1 ELSE 0 END) AS LESS_30_DAYS,
      SUM(CASE WHEN PROFILE_STATUS = '1' THEN 1 ELSE 0 END) AS TOTAL_RECRUITMENT,
      SUM(CASE WHEN PROFILE_STATUS = '2' THEN 1 ELSE 0 END) AS TOTAL_ACTIVE,
      SUM(CASE WHEN PROFILE_STATUS = '3' THEN 1 ELSE 0 END) AS TOTAL_TERMINATE,
      SUM(CASE WHEN PROFILE_STATUS = '4' THEN 1 ELSE 0 END) AS TOTAL_END_OF_CONTRACT
    FROM
        TB_M_PROFILE;
END;
GO
