/****** Object:  StoredProcedure [dbo].[SP_ATTENDANCE_CLOSING_APPROVE_ATTENDANCE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ATTENDANCE_CLOSING_APPROVE_ATTENDANCE]
    @CLOSING_ATTENDANCE_CD VARCHAR(20),
    @CREATED_BY VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsAffected INT;
    DECLARE @APPROVAL_SEQ INT;
    DECLARE @TOTAL_APPROVED INT;
    DECLARE @TOTAL_APPROVAL INT;
    DECLARE @PENDING_APPROVAL INT;
    DECLARE @NOREG VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @CREATED_BY);
    
    SELECT 
      @APPROVAL_SEQ = APPROVAL_SEQ 
    FROM TB_R_CLOSING_ATTENDANCE_APPROVAL 
      WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD 
      AND APPROVAL_NOREG = @NOREG;
      
    SELECT 
      @PENDING_APPROVAL = COUNT(1) 
    FROM TB_R_CLOSING_ATTENDANCE_APPROVAL 
    WHERE 
      CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD 
      AND APPROVAL_SEQ < @APPROVAL_SEQ 
      AND APPROVAL_STATUS = 0;
    
    IF @PENDING_APPROVAL > 0 BEGIN
      SELECT 'false' AS status, 'Approval requires sequential order.' AS message;
      RETURN;
    END
    
    SELECT @TOTAL_APPROVED = SUM(COALESCE(APPROVAL_STATUS, 0)), @TOTAL_APPROVAL = COUNT(1)
    FROM TB_R_CLOSING_ATTENDANCE_APPROVAL 
    WHERE 
      CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
    
    
    BEGIN TRANSACTION;
    BEGIN TRY
    
        UPDATE TB_R_CLOSING_ATTENDANCE_APPROVAL
        SET APPROVAL_DATE = GETDATE(),
          APPROVAL_STATUS = '1',
          UPDATED_BY = @CREATED_BY,
          UPDATED_DT = GETDATE()
        WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD AND APPROVAL_NOREG = @NOREG;
        SET @RowsAffected = @@ROWCOUNT;
       
        IF ((@TOTAL_APPROVED + 1) = @TOTAL_APPROVAL) BEGIN
        
          UPDATE TB_R_CLOSING_ATTENDANCE SET 
            STATUS = '4',
            UPDATED_BY = @CREATED_BY,
            UPDATED_DATE = GETDATE()
          WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
          
          -- INSERT PROGRESS TRACKING
          DECLARE @TodayDate VARCHAR(8);
          DECLARE @LastIncrement INT;
          DECLARE @New_CD VARCHAR(50);
          DECLARE @CLOSING_PERIOD VARCHAR(50);
          DECLARE @CUT_OFF_FROM VARCHAR(50);
          DECLARE @CUT_OFF_TO VARCHAR(50);
          SET @TodayDate = FORMAT(GETDATE(), 'ddMMyyyy');
          
          SELECT 
            @CLOSING_PERIOD = CLOSING_ATTENDANCE_PERIOD, 
            @CUT_OFF_FROM = CUT_OFF_FROM, 
            @CUT_OFF_TO = CUT_OFF_TO 
          FROM TB_R_CLOSING_ATTENDANCE WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
    
          SELECT @LastIncrement = ISNULL(MAX(CAST(RIGHT(PROGRESS_CD, 3) AS INT)), 0)
          FROM [dbo].[TB_R_PROGRESS_TRACKING]
          WHERE PROGRESS_CD LIKE 'PT-' + @TodayDate + '%';

          SET @LastIncrement = @LastIncrement + 1;
          SET @New_CD = 'PT-' + @TodayDate + '-' + RIGHT('000' + CAST(@LastIncrement AS VARCHAR(3)), 3);
          
          INSERT INTO TB_R_PROGRESS_TRACKING (
              PROGRESS_CD, REFERENCE_CD, MODULE_NAME, PERIOD, CUT_OFF_FROM, CUT_OFF_TO, STATUS, CURRENT_STEP, TOTAL_STEPS, REMARKS, CREATED_BY, CREATED_DT
          )
          VALUES (
              @New_CD, @CLOSING_ATTENDANCE_CD, 'ATTENDANCE_CLOSING', @CLOSING_PERIOD, @CUT_OFF_FROM, @CUT_OFF_TO, '1', 4, 4, NULL, @CREATED_BY, GETDATE()
          );
          
          -- TODO: INSERT TO PAYROLL
          
          
        END ELSE BEGIN
          UPDATE TB_R_CLOSING_ATTENDANCE SET 
            UPDATED_BY = @CREATED_BY,
            UPDATED_DATE = GETDATE()
          WHERE CLOSING_ATTENDANCE_CD = @CLOSING_ATTENDANCE_CD;
        END
    
            
        IF @RowsAffected > 0
        BEGIN
            COMMIT TRANSACTION;
            -- Mengembalikan respons sukses
            SELECT 'true' AS status, 'Success approve data.' AS message;
        END
        ELSE
        BEGIN
            IF @@TRANCOUNT > 0
            BEGIN
                ROLLBACK TRANSACTION;
            END;
            -- Jika tidak ada baris yang di-update, batalkan transaksi dan kembalikan pesan kesalahan
            -- Mengembalikan respons gagal
            SELECT 'false' AS status, 'No attendance data was found or updated with the provided code.' AS message;
        END

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;
        -- Mengembalikan pesan kesalahan dari sistem
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
