/****** Object:  Table [dbo].[TB_R_USER_ROLES]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_USER_ROLES](
	[ROLE_CD] [nvarchar](50) NOT NULL,
	[USER_CD] [nvarchar](50) NOT NULL,
	[CREATED_BY] [nvarchar](150) NULL,
	[CREATED_DT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_CD] ASC,
	[USER_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
