/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GET_DEPARTMENT]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_GET_DEPARTMENT]
    @USERNAME AS VARCHAR(50) = NULL 
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
      DEP_ID as id, 
      DEPARTMENT as text 
    FROM TB_M_USER_DETAIL UD 
    INNER JOIN TB_M_USERS U ON UD.USER_CD = U.USER_CD 
    
    WHERE USERNAME = @USERNAME
END;
GO
