/****** Object:  Table [dbo].[TB_M_APPROVAL_MATRIX]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_APPROVAL_MATRIX](
	[APPROVAL_MATRIX_CD] [varchar](20) NOT NULL,
	[PURPOSE_CD] [varchar](100) NULL,
	[BRANCH_CD] [varchar](20) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[ORG_NAME] [varchar](250) NULL,
	[APPROVAL_TYPE] [varchar](50) NULL,
	[APPROVAL_SEQ] [int] NULL,
	[MIN_VALUE] [decimal](18, 2) NULL,
	[MAX_VALUE] [decimal](18, 2) NULL,
	[APPROVER_ROLE] [varchar](150) NULL,
	[APPROVAL_POSITION] [varchar](150) NULL,
	[REQUESTOR_ROLE] [varchar](150) NULL,
	[COORDINATOR_ID] [varchar](20) NULL,
	[COORDINATOR_NAME] [varchar](150) NULL,
	[IS_MANDATORY] [bit] NULL,
	[IS_FINAL_APPROVAL] [bit] NULL,
	[IS_SPECIAL_APPROVAL] [bit] NULL,
	[VALID_FROM] [datetime] NULL,
	[VALID_TO] [datetime] NULL,
	[IS_ACTIVE] [bit] NULL,
	[IS_DELETED] [bit] NULL,
	[CREATED_BY] [varchar](20) NULL,
	[CREATED_DT] [datetime] NULL,
	[UPDATED_BY] [varchar](20) NULL,
	[UPDATED_DT] [datetime] NULL,
	[DELETED_BY] [varchar](20) NULL,
	[DELETED_DT] [datetime] NULL,
 CONSTRAINT [PK__TB_M_APP__992F885E60B33CB7] PRIMARY KEY CLUSTERED 
(
	[APPROVAL_MATRIX_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
