/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ATTENDANCE_GET_DETAIL_INQUIRY_]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ATTENDANCE_GET_DETAIL_INQUIRY_]
    @PAGE AS INT = 0,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'ATTENDANCE_DATE',
    @OrderDirection AS VARCHAR(5) = 'DESC',
    @REGISTRATION_NUMBER NVARCHAR(50),
    @ATTENDANCE_CD NVARCHAR(50) = NULL,
    @ATTENDANCE_APPROVAL NVARCHAR(50) = NULL,
    @PERIOD_FROM DATE,
    @PERIOD_TO DATE,
    @USERNAME NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @APPROVER_NOREG NVARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @USERNAME)

    IF @OrderBy NOT IN ('ATTENDANCE_APPROVAL_CD', 'ATTENDANCE_CD', 'REGISTRATION_NUMBER', 'APPROVER_SEQUENCE', 'APPROVER_NOREG', 'APPROVAL_STATUS', 'CREATED_DT', 'APPROVED_DT')
    BEGIN
        SET @OrderBy = 'ATTENDANCE_DATE';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'DESC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT
          ATT.ATTENDANCE_CD,
          ATT.ATTENDANCE_DATE,
          ATT.SHIFT_CD,
          CONVERT(VARCHAR, ATT.CLOCK_IN_TIME) AS CLOCK_IN_TIME,
          CONVERt(VARCHAR, ATT.CLOCK_OUT_TIME) AS CLOCK_OUT_TIME,
          AP.APPROVAL_STATUS,
          SYS.SYSTEM_VALUE AS APPROVAL_STATUS_NAME,
          ATT.ATTENDANCE_STATUS,
          SYS_ATT.SYSTEM_VALUE AS ATTENDANCE_STATUS_NAME
        FROM
          TB_R_ATTENDANCE ATT
          LEFT JOIN TB_R_ATTENDANCE_APPROVAL AP ON ATT.ATTENDANCE_CD = AP.ATTENDANCE_CD AND AP.APPROVER_NOREG = @APPROVER_NOREG
          LEFT JOIN TB_M_SYSTEM_MASTER SYS ON AP.APPROVAL_STATUS = SYS.SYSTEM_CD AND SYS.SYSTEM_TYPE = ''APPROVAL_STATUS''
          LEFT JOIN TB_M_SYSTEM_MASTER SYS_ATT ON ATT.ATTENDANCE_STATUS = SYS_ATT.SYSTEM_CD AND SYS_ATT.SYSTEM_TYPE = ''ATTENDANCE_STATUS''
        WHERE
            ATT.REGISTRATION_NUMBER = @REGISTRATION_NUMBER AND ATT.ATTENDANCE_DATE BETWEEN @PERIOD_FROM AND @PERIOD_TO';

    IF @ATTENDANCE_CD IS NOT NULL AND @ATTENDANCE_CD <> ''
        SET @SQL = @SQL + ' AND ATT.ATTENDANCE_CD LIKE ''%'' + @ATTENDANCE_CD + ''%''';

    IF @ATTENDANCE_APPROVAL IS NOT NULL AND @ATTENDANCE_APPROVAL <> ''
        SET @SQL = @SQL + ' AND AP.APPROVAL_STATUS LIKE ''%'' + @ATTENDANCE_APPROVAL + ''%''';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@REGISTRATION_NUMBER NVARCHAR(50), @ATTENDANCE_CD NVARCHAR(50), @ATTENDANCE_APPROVAL NVARCHAR(50), @PERIOD_FROM DATE, @PERIOD_TO DATE, @APPROVER_NOREG NVARCHAR(50), @Offset INT, @PageSize INT',
        @REGISTRATION_NUMBER = @REGISTRATION_NUMBER,
        @ATTENDANCE_CD = @ATTENDANCE_CD,
        @ATTENDANCE_APPROVAL = @ATTENDANCE_APPROVAL,
        @PERIOD_FROM = @PERIOD_FROM,
        @PERIOD_TO = @PERIOD_TO,
        @APPROVER_NOREG = @APPROVER_NOREG,
        @Offset = @PAGE,
        @PageSize = @PageSize;
END
GO
