/****** Object:  StoredProcedure [dbo].[SP_MASTER_PAYROLL_COMPONENT_DELETE_GROUP]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_PAYROLL_COMPONENT_DELETE_GROUP]
    @GROUP_ID AS VARCHAR(max),
    @USER_ID AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON; -- Improves performance by suppressing message counts

    DECLARE @RowsAffected INT; -- Variable to store the number of rows updated
    
--     LT.LABOR_TYPE AS EMPLOYEE_TYPE,
--     EMPLOYEE_CLASS,
--     SYS_LVL.SYSTEM_VALUE AS EMPLOYEE_LEVEL,
--     SYS_LVL.SYSTEM_CD AS EMPLOYEE_LEVEL_CD,
--     CONVERT(VARCHAR, VALID_FROM, 126) AS VALID_FROM,
--     CONVERT(VARCHAR, VALID_TO, 126) AS VALID_TO
-- 
    -- Perform the UPDATE operation
    UPDATE PC
    SET
        IS_DELETED = 1,             -- Set the status to inactive
        DELETED_BY = @USER_ID,     -- Record who made the change
        DELETED_DT = GETDATE()     -- Record when the change was made
    FROM
      TB_M_PAYROLL_COMPONENT PC
    WHERE CONVERT (VARCHAR (MAX), HashBytes ('MD5', PC.LABOR_CD + PC.EMPLOYEE_CLASS + PC.LEVEL_CD + CONVERT (VARCHAR, PC.VALID_FROM, 126) + CONVERT (VARCHAR, PC.VALID_TO, 126)), 2) = @GROUP_ID
--       LEFT JOIN TB_M_LABOR_TYPE LT ON PC.LABOR_CD = LT.LABOR_CD
--       LEFT JOIN TB_M_CLASS C ON PC.EMPLOYEE_CLASS = C.CLASS_CD
--       LEFT JOIN TB_M_ORG_POSITION OP ON OP.POSITION_LEVEL = PC.LEVEL_CD
--       LEFT JOIN TB_M_SYSTEM_MASTER SYS_COMP ON SYS_COMP.SYSTEM_CD = PC.COMPONENT_TYPE AND SYS_COMP.SYSTEM_TYPE = 'COMPONENT_TYPE'
--       LEFT JOIN TB_M_SYSTEM_MASTER SYS_FREQ ON SYS_FREQ.SYSTEM_CD = PC.COMPONENT_FREQUENTLY AND SYS_FREQ.SYSTEM_TYPE = 'PAYROLL_FREQUENT'
--     WHERE LT.LABOR_TYPE = @EMPLOYEE_TYPE
--     AND C.CLASS = @EMPLOYEE_CLASS
--     AND OP.POSITION_LEVEL = @EMPLOYEE_LEVEL_CD
--     AND CONVERT(VARCHAR, VALID_FROM, 126) = @VALID_FROM
--     AND CONVERT(VARCHAR, VALID_TO, 126) = @VALID_TO

    -- Check how many rows were affected by the UPDATE statement
    SET @RowsAffected = @@ROWCOUNT;

    -- Return success or failure message based on the update result
    IF @RowsAffected > 0
    BEGIN
        -- If one or more rows were updated, it's a success
        SELECT
            'true' AS status,
            'Success delete data.' AS message;
    END
    ELSE
    BEGIN
        -- If no rows were updated, it means the SYSTEM_ID was not found
        -- or the record was already inactive.
        SELECT
            'false' AS status,
            'Failed to delete data. Data not found or already inactive.' AS message;
    END;

END;
GO
