/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_SEND_MAIL_CONTENT]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_SEND_MAIL_CONTENT]
    @PLACEMENT_SCHEDULE_CD AS VARCHAR(max) = ''
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT * FROM (
      SELECT 
        ROW_NUMBER() OVER (
            PARTITION BY 
                AA.PLACEMENT_SCHEDULE_CD
            ORDER BY 
                AA.APPROVER_SEQUENCE ASC
        ) AS RN,
      'MSG-20251009140127' AS MESSAGE_CD,
      'EMAIL_TEMPLATE' AS EMAIL_TEMPLATE,
      '[Vorta] Approval Placement Schedule' AS TITLE,
      AA.APPROVER_NOREG AS REFERENCE_CD,
      AA.APPROVER_NOREG,
      U.EMAIL as RECEIPT_CONTACT,
      U.NOREG as RECEIPT_NOREG,
      A.CREATED_BY,
      CONCAT_WS(
          '---',
        U.FULL_NAME,
        U.NOREG,
        FORMAT(A.CREATED_DT, 'dd MMMM yyyy'),
        CONVERT(VARCHAR(8), A.BATCH, 108),
        'W'+CONVERT(VARCHAR(8), A.PERIOD_WEEK, 108)+' '+A.PERIOD_NAME,
        U2.FULL_NAME
      ) AS ALL_PARAMS_CONCATENATED
    FROM
      TB_R_PLACEMENT_SCHEDULE_APPROVAL AA
      INNER JOIN TB_M_USERS U ON AA.APPROVER_NOREG = U.NOREG
      INNER JOIN TB_R_PLACEMENT_SCHEDULE A ON AA.PLACEMENT_SCHEDULE_CD = A.PLACEMENT_SCHEDULE_CD
      INNER JOIN TB_M_USERS U2 ON A.CREATED_BY = U2.USERNAME
    WHERE
     A.PLACEMENT_SCHEDULE_CD IN (SELECT value FROM STRING_SPLIT(@PLACEMENT_SCHEDULE_CD, ','))
      AND AA.APPROVAL_STATUS = '0'
    ) AS TBL WHERE TBL.RN = 1
END;
GO
