/****** Object:  StoredProcedure [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_STORE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_USERMANAGEMENT_VOCATION_CANDIDATE_STORE]
	@TABLEVOCATIONCANDIDATE   [dbo].[USERMANAGEMENT_VOCATION_CANDIDATE]   readonly,  
	@MODE AS VARCHAR(10) = '',
	@USER_ID AS VARCHAR(50) = ''-- New parameter for CREATED_BY/UPDATED_BY
AS
BEGIN
    SET NOCOUNT ON; -- Improves performance by suppressing message counts

    -- Declare variables for converted values
    DECLARE @IS_ACTIVE_BIT AS BIT;
	DECLARE @EXISTING_COUNT AS INT;


	 
		DECLARE  @USER_CD VARCHAR(50)
		DECLARE @USERNAME AS nvarchar(150)
		DECLARE @PASSWORD AS nvarchar(max)
		DECLARE @FULL_NAME AS nvarchar(100)
		DECLARE @NOREG AS nvarchar(15)
		DECLARE @PHONE AS nvarchar(15)
		DECLARE @NIK AS nvarchar(16)
		DECLARE @EMAIL AS nvarchar(150)
		DECLARE @VALID_FROM AS DATETIME
		DECLARE @VALID_TO AS DATETIME
		DECLARE @IS_ACTIVE AS VARCHAR(1)
		DECLARE @MD AS VARCHAR(10) 
		DECLARE @LEVEL VARCHAR(20) = ''
		DECLARE @BATCH VARCHAR(10) = ''
		DECLARE @LATEST_PROC_REC nvarchar(50) = ''
		DECLARE @LATEST_TEST_DATE DATE
		DECLARE @TEST_RESULT varchar(150) = ''
		DECLARE @RESULT_SUMMARY VARCHAR(255) = ''
		DECLARE @LAST_EDU as VARCHAR(6)
		DECLARE @MIDDLEFORMAT_EDU as VARCHAR(6)
		DECLARE @LAST_ASS as VARCHAR(6)
		DECLARE @MIDDLEFORMAT_ASS as VARCHAR(6)
		DECLARE @LAST_STG as VARCHAR(6)
		DECLARE @MIDDLEFORMAT_STG as VARCHAR(6)
		DECLARE @LATEST_PROCESS_RECRUITMENT_DESC  as VARCHAR(150)
		DECLARE @RECRUITMENT_STATUS_DESC  as VARCHAR(150)
		DECLARE @EDUCATION_LEVEL_DESC  as VARCHAR(50)
		DECLARE @PROFILE_CATEGORY_DESC  as VARCHAR(150)
		DECLARE @CATEGORY VARCHAR(50)
        -- Convert @IS_ACTIVE to BIT. Handles '0' or '1' string input.
        --SET @IS_ACTIVE_BIT = CAST(@IS_ACTIVE AS BIT);

		IF (@MODE = 'Add')
		BEGIN
			DECLARE CURSORS CURSOR LOCAL FOR
			SELECT DISTINCT EMAIL,NIK FROM @TABLEVOCATIONCANDIDATE 
			OPEN CURSORS

			FETCH NEXT FROM CURSORS 
			INTO @EMAIL,@NIK

			WHILE @@FETCH_STATUS = 0
			BEGIN
			
				SELECT @EXISTING_COUNT = COUNT(1)
				FROM [dbo].[TB_M_USERS]
				WHERE [EMAIL] = @EMAIL OR [NIK] = @NIK;

				IF @EXISTING_COUNT > 0
				BEGIN
					-- Warning: Data already exists
					SELECT 'false' AS status, 'Data already exists.' AS message;
					GOTO AKHIR
				END
			FETCH NEXT FROM CURSORS
			INTO @EMAIL,@NIK
			END
			CLOSE CURSORS
			DEALLOCATE CURSORS
		END 
		
		IF (@MODE = 'Add' or @MODE = 'Edit')
		BEGIN
			BEGIN TRY
			
				BEGIN TRANSACTION
					SET @LATEST_PROCESS_RECRUITMENT_DESC = (select SYSTEM_VALUE from TB_M_SYSTEM_MASTER where SYSTEM_TYPE = 'RECRUITMENT_PROCESS' and SYSTEM_CD in (SELECT LATEST_PROCESS_RECRUITMENT  FROM @TABLEVOCATIONCANDIDATE) )
					SET @RECRUITMENT_STATUS_DESC = (select SYSTEM_VALUE from TB_M_SYSTEM_MASTER where SYSTEM_TYPE = 'RECRUITMENT_STATUS' and SYSTEM_CD in (SELECT RESULT_SUMMARY  FROM @TABLEVOCATIONCANDIDATE) )
					SET @EDUCATION_LEVEL_DESC = (select SYSTEM_VALUE from TB_M_SYSTEM_MASTER where SYSTEM_TYPE = 'EDUCATION' and SYSTEM_CD in (SELECT [LEVEL]  FROM @TABLEVOCATIONCANDIDATE) )
					SET @PROFILE_CATEGORY_DESC = (select SYSTEM_VALUE from TB_M_SYSTEM_MASTER where SYSTEM_TYPE = 'PROFILE_CATEGORY' and SYSTEM_CD in (SELECT [CATEGORY]  FROM @TABLEVOCATIONCANDIDATE) )

					IF (@MODE = 'Add')
					BEGIN
								DECLARE CURSORS1 CURSOR LOCAL FOR
								SELECT DISTINCT FULL_NAME,CATEGORY,NIK,PHONE,EMAIL,[LEVEL],BATCH,LATEST_PROCESS_RECRUITMENT,LATEST_TEST_DATE,TEST_RESULT,RESULT_SUMMARY FROM @TABLEVOCATIONCANDIDATE --WHERE MODE = 'ADD'
								OPEN CURSORS1

								FETCH NEXT FROM CURSORS1 
								INTO @FULL_NAME,@CATEGORY,@NIK,@PHONE,@EMAIL,@LEVEL,@BATCH,@LATEST_PROC_REC,@LATEST_TEST_DATE,@TEST_RESULT,@RESULT_SUMMARY

								WHILE @@FETCH_STATUS = 0
								BEGIN
									DECLARE @LAST as VARCHAR(6)
									DECLARE @MIDDLEFORMAT as VARCHAR(6)
									SET @MIDDLEFORMAT = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
									SET @LAST = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(USER_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_USERS WHERE USER_CD LIKE '%V-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')
									-- Insert statement
									INSERT INTO TB_M_USERS(USER_CD,USERNAME,PASSWORD,FULL_NAME,NOREG,PHONE,NIK,EMAIL,VALID_FROM,VALID_TO,IS_ACTIVE,CREATED_BY,CREATED_DT,UPDATED_BY,UPDATED_DT,IS_DELETED,DELETED_BY,DELETED_DT)
									VALUES
									('V-'+  @MIDDLEFORMAT +'-'+@LAST,'V-'+  @MIDDLEFORMAT +'-'+@LAST,HASHBYTES('SHA2_256', 'Toyota@123'),@FULL_NAME,'V-'+  @MIDDLEFORMAT +'-'+@LAST,@PHONE,@NIK,@EMAIL,@VALID_FROM,@VALID_TO,'1',@USER_ID,GETDATE(),NULL,NULL,'0',NULL,NULL)

									INSERT INTO [dbo].[TB_M_PROFILE] ([REGISTRATION_NUMBER],[CANDIDATE_NUMBER],[FULL_NAME],[RECRUITMENT_BATCH],[RECRUITMENT_PROCESS],[RECRUITMENT_PROCESS_DESC],[RECRUITMENT_STATUS],[RECRUITMENT_STATUS_DESC],[PROFILE_CATEGORY_CD],[PROFILE_CATEGORY_NAME],CREATED_DT, CREATED_BY)
									VALUES
									('V-'+  @MIDDLEFORMAT +'-'+@LAST,'V-'+  @MIDDLEFORMAT +'-'+@LAST,@FULL_NAME,@BATCH,@LATEST_PROC_REC,@LATEST_PROCESS_RECRUITMENT_DESC,@RESULT_SUMMARY,@RECRUITMENT_STATUS_DESC,@CATEGORY,@PROFILE_CATEGORY_DESC,getdate(),@USER_ID)

									IF (@LEVEL <> '')
									BEGIN
										
										SET @MIDDLEFORMAT_EDU = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
										SET @LAST_EDU = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PROFILE_EDU_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_PROFILE_EDU WHERE PROFILE_EDU_CD LIKE '%PE-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + '%')
										INSERT INTO [dbo].[TB_M_PROFILE_EDU] ([PROFILE_EDU_CD],[REGISTRATION_NUMBER],[EDUCATION_LEVEL],[EDUCATION_LEVEL_DESC],CREATED_BY,CREATED_DT)
										VALUES
										('PE-'+  @MIDDLEFORMAT_EDU +'-'+@LAST_EDU,'V-'+  @MIDDLEFORMAT +'-'+@LAST, @LEVEL,@EDUCATION_LEVEL_DESC,@USER_ID,GETDATE())
									END

									IF (@TEST_RESULT <> '' AND @RESULT_SUMMARY <> '')
									BEGIN
										SET @MIDDLEFORMAT_ASS = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
										SET @LAST_ASS = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PRF_ASSESSMENT_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_R_ASSESSMENT WHERE PRF_ASSESSMENT_CD LIKE '%R-ASS-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')

										INSERT INTO [dbo].[TB_R_ASSESSMENT]([PRF_ASSESSMENT_CD],[REGISTRATION_NUMBER],[ASSESSMENT_DATE],[ASSESSMENT_RESULT],[ASSESSMENT_SUMMARY],CREATED_BY,CREATED_DT)
										VALUES
										('R-ASS-'+  @MIDDLEFORMAT_ASS +'-'+@LAST_ASS,'V-'+  @MIDDLEFORMAT +'-'+@LAST, @LATEST_TEST_DATE,@TEST_RESULT,@RESULT_SUMMARY,@USER_ID,GETDATE())

										SET @MIDDLEFORMAT_STG = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
										SET @LAST_STG = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT([REG_STAGE_CD],6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_R_RECRUITMENT_STAGE WHERE [REG_STAGE_CD] LIKE '%R-STG-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')



										INSERT INTO [dbo].[TB_R_RECRUITMENT_STAGE]([REG_STAGE_CD],[REGISTRATION_NUMBER],[PROFILE_CD],[PROCESS_SEQUENCE],[RECRUITMENT_PROCESS],[RECRUITMENT_PROCESS_DESC],[RECRUITMENT_STATE],[REMARK],CREATED_DATE,CREATED_BY)
										VALUES
										('R-STG-'+  @MIDDLEFORMAT_STG +'-'+@LAST_STG,'V-'+  @MIDDLEFORMAT +'-'+@LAST,'V-'+  @MIDDLEFORMAT +'-'+@LAST,1,@LATEST_PROC_REC,@LATEST_PROCESS_RECRUITMENT_DESC,NULL,NULL,GETDATE(),@USER_ID)
									END

									--DECLARE @NOREG NVARCHAR(15) 
									SET @NOREG = 'V-'+  @MIDDLEFORMAT +'-'+@LAST
									
									EXEC VOCATIONAL_NOTIFICATION..sp_InsertNotificationForEmail @NOREG,@FULL_NAME,@EMAIL,@USER_ID
									--INSERT INTO 

									
						
								FETCH NEXT FROM CURSORS1
								INTO @FULL_NAME,@CATEGORY,@NIK,@PHONE,@EMAIL,@LEVEL,@BATCH,@LATEST_PROC_REC,@LATEST_TEST_DATE,@TEST_RESULT,@RESULT_SUMMARY

								END
								CLOSE CURSORS1
								DEALLOCATE CURSORS1
							--IF @MODE = 'Add'
							--BEGIN
					END		
					ELSE IF(@MODE = 'Edit')
					BEGIN
							--END
							--ELSE IF @MODE = 'Edit'
							--BEGIN 
								UPDATE A
								SET
									A.FULL_NAME = B.FULL_NAME,
									A.PHONE = B.PHONE,
									A.NIK = B.NIK,
									A.EMAIL = B.EMAIL
								FROM
									TB_M_USERS A 
								INNER JOIN
									@TABLEVOCATIONCANDIDATE B ON A.USER_CD = B.USER_CD



								   update A  set [FULL_NAME] = B.FULL_NAME,[RECRUITMENT_BATCH] = B.BATCH,RECRUITMENT_PROCESS = B.LATEST_PROCESS_RECRUITMENT,RECRUITMENT_PROCESS_DESC = @LATEST_PROCESS_RECRUITMENT_DESC, RECRUITMENT_STATUS = B.RESULT_SUMMARY, RECRUITMENT_STATUS_DESC = @RECRUITMENT_STATUS_DESC,PROFILE_CATEGORY_CD = B.CATEGORY,PROFILE_CATEGORY_NAME = @PROFILE_CATEGORY_DESC, UPDATED_BY = @USER_ID, UPDATED_DT = getdate()
								   FROM TB_M_PROFILE A
								   INNER JOIN @TABLEVOCATIONCANDIDATE B ON A.REGISTRATION_NUMBER = B.USER_CD

									SET @MIDDLEFORMAT_EDU = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
									SET @LAST_EDU = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PROFILE_EDU_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_M_PROFILE_EDU WHERE PROFILE_EDU_CD LIKE '%PE-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + '%')

								    MERGE [dbo].[TB_M_PROFILE_EDU] AS TARGET
									USING @TABLEVOCATIONCANDIDATE AS SOURCE 
									ON (TARGET.REGISTRATION_NUMBER = SOURCE.USER_CD) 
									--When records are matched, update the records if there is any change
									WHEN MATCHED AND TARGET.EDUCATION_LEVEL <> SOURCE.LEVEL 
									THEN UPDATE SET TARGET.EDUCATION_LEVEL = SOURCE.LEVEL, TARGET.UPDATED_BY = @USER_ID, TARGET.UPDATED_DT = getdate()
									--When no records are matched, insert the incoming records from source table to target table
									WHEN NOT MATCHED BY TARGET 
									THEN 									
									INSERT ([PROFILE_EDU_CD],[REGISTRATION_NUMBER],[EDUCATION_LEVEL],[EDUCATION_LEVEL_DESC],CREATED_BY,CREATED_DT) VALUES ('PE-' +  @MIDDLEFORMAT_EDU +'-'+@LAST_EDU,SOURCE.USER_CD, SOURCE.LEVEL,@EDUCATION_LEVEL_DESC,@USER_ID,GETDATE());


									
									
									SET @MIDDLEFORMAT_ASS = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
									SET @LAST_ASS = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT(PRF_ASSESSMENT_CD,6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_R_ASSESSMENT WHERE PRF_ASSESSMENT_CD LIKE '%R-ASS-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')


									MERGE [dbo].[TB_R_ASSESSMENT] AS TARGET
									USING @TABLEVOCATIONCANDIDATE AS SOURCE 
									ON (TARGET.REGISTRATION_NUMBER = SOURCE.USER_CD) 
									--When records are matched, update the records if there is any change
									WHEN MATCHED AND TARGET.ASSESSMENT_DATE <> SOURCE.LATEST_TEST_DATE OR  TARGET.ASSESSMENT_RESULT <> SOURCE.TEST_RESULT OR  TARGET.ASSESSMENT_SUMMARY <> SOURCE.RESULT_SUMMARY
									THEN UPDATE SET TARGET.ASSESSMENT_DATE = SOURCE.LATEST_TEST_DATE,TARGET.ASSESSMENT_RESULT = SOURCE.TEST_RESULT,TARGET.ASSESSMENT_SUMMARY = SOURCE.RESULT_SUMMARY, TARGET.UPDATED_BY = @USER_ID, TARGET.UPDATED_DT = getdate()
									--When no records are matched, insert the incoming records from source table to target table
									WHEN NOT MATCHED BY TARGET 
									THEN INSERT ([PRF_ASSESSMENT_CD],[REGISTRATION_NUMBER],[ASSESSMENT_DATE],[ASSESSMENT_RESULT],[ASSESSMENT_SUMMARY],CREATED_BY,CREATED_DT)
									VALUES ('R-ASS-' +  @MIDDLEFORMAT_ASS +'-'+@LAST_ASS,SOURCE.USER_CD,SOURCE.LATEST_TEST_DATE,SOURCE.TEST_RESULT,SOURCE.RESULT_SUMMARY,GETDATE(),@USER_ID);

									--INSERT INTO [dbo].[TB_R_ASSESSMENT]([PRF_ASSESSMENT_CD],[REGISTRATION_NUMBER],[ASSESSMENT_DATE],[ASSESSMENT_RESULT],[ASSESSMENT_SUMMARY],CREATED_BY,CREATED_DT)
									--SELECT  @MIDDLEFORMAT_ASS +'-'+@LAST_ASS,USER_CD, LATEST_TEST_DATE,TEST_RESULT,RESULT_SUMMARY,@USER_ID,GETDATE() FROM @TABLEVOCATIONCANDIDATE

									SET @MIDDLEFORMAT_STG = (SELECT RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + RIGHT('0'+CAST(day(GETDATE()) AS VARCHAR(2)),2))
									SET @LAST_STG = (SELECT RIGHT('00000'+ CAST(ISNULL(MAX(CAST(RIGHT([REG_STAGE_CD],6) AS int)),0)+1 AS VARCHAR(6)),6) FROM TB_R_RECRUITMENT_STAGE WHERE [REG_STAGE_CD] LIKE '%R-STG-' + RIGHT(CAST(YEAR(GETDATE()) AS VARCHAR(4)),2) + RIGHT('0'+CAST(month(GETDATE()) AS VARCHAR(2)),2) + '%')

									DECLARE @LASTPROC INT 

									SET @LASTPROC = (SELECT max([PROCESS_SEQUENCE])+1 FROM [dbo].[TB_R_RECRUITMENT_STAGE] WHERE [REGISTRATION_NUMBER] IN (select NOREG from TB_M_USERS WHERE USER_CD IN (SELECT USER_CD FROM @TABLEVOCATIONCANDIDATE)) )
									MERGE [dbo].[TB_R_RECRUITMENT_STAGE] AS TARGET
									USING @TABLEVOCATIONCANDIDATE AS SOURCE 
									ON (TARGET.REGISTRATION_NUMBER = SOURCE.USER_CD) 
									--When records are matched, update the records if there is any change
									WHEN MATCHED AND TARGET.RECRUITMENT_PROCESS <> SOURCE.LATEST_PROCESS_RECRUITMENT
									THEN UPDATE SET TARGET.RECRUITMENT_PROCESS = SOURCE.LATEST_PROCESS_RECRUITMENT, TARGET.UPDATED_BY = @USER_ID, TARGET.UPDATED_DT = getdate()
									--When no records are matched, insert the incoming records from source table to target table
									WHEN NOT MATCHED BY TARGET 
									THEN INSERT ([REG_STAGE_CD],[REGISTRATION_NUMBER],[PROFILE_CD],[PROCESS_SEQUENCE],[RECRUITMENT_PROCESS],[RECRUITMENT_PROCESS_DESC],[CREATED_DATE],[CREATED_BY])
									VALUES ('R-STG-'+  @MIDDLEFORMAT_STG +'-'+@LAST_STG,SOURCE.USER_CD,SOURCE.USER_CD,1,SOURCE.LATEST_PROCESS_RECRUITMENT,@LATEST_PROCESS_RECRUITMENT_DESC,GETDATE(),@USER_ID);
									

								--WHERE
					END
					
								--B.MODE = 'EDIT'

								--INSERT INTO TB_M_USERS
								--SELECT USER_CD,USERNAME,PASSWORD = HASHBYTES('SHA2_256', [PASSWORD]),FULL_NAME,NOREG,PHONE,NIK,EMAIL,VALID_FROM,VALID_TO,IS_ACTIVE,CREATED_BY = @USER_ID, CREATED_DT = GETDATE(),NULL,NULL FROM @TABLEVOCATIONCANDIDATE WHERE MODE = 'ADD'
				--END
				COMMIT TRANSACTION
				SELECT 'true' AS status, 'Success storing new data.' AS message;

			END TRY
			BEGIN CATCH
				ROLLBACK TRANSACTION
							-- Error handling
				SELECT 'false' AS status, ERROR_MESSAGE() AS message;
			END CATCH
		END
		ELSE
		BEGIN
			SELECT 'false' AS status, 'Invalid MODE specified. Use ''Add'' or ''Edit''.' AS message;
		END
            -- Check if SYSTEM_TYPE and SYSTEM_CD already exist       
    
AKHIR:
END;
GO
