/****** Object:  Table [dbo].[TB_M_ROLES]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_ROLES](
	[ROLE_CD] [nvarchar](50) NOT NULL,
	[ROLE_NAME] [nvarchar](255) NULL,
	[ROLE_TYPE] [nvarchar](50) NULL,
	[ROLE_LEVEL] [int] NULL,
	[STATUS] [bit] NULL,
	[IS_DELETED] [bit] NULL,
	[CREATED_BY] [nvarchar](150) NOT NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](150) NULL,
	[UPDATED_DT] [datetime] NULL,
	[DELETED_BY] [nvarchar](150) NULL,
	[DELETED_DT] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_CD] ASC,
	[DELETED_DT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_ROLES] ADD  DEFAULT ((0)) FOR [IS_DELETED]
GO
ALTER TABLE [dbo].[TB_M_ROLES] ADD  DEFAULT ('') FOR [DELETED_DT]
GO
