/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_DETAIL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_SCHEDULE_GET_DETAIL]
    @PLACEMENT_SCHEDULE_CD AS VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
			PS.PLACEMENT_SCHEDULE_CD,
			PS.BATCH,
			CONVERT(VARCHAR(10), PS.JOIN_DATE_FROM, 126) AS JOIN_DATE_FROM,
			CONVERT(VARCHAR(10), PS.JOIN_DATE_TO, 126) AS JOIN_DATE_TO,
			PS.PERIOD_WEEK,
			SM.SYSTEM_VALUE AS PERIOD_WEEK_NAME,
			PS.PERIOD_NAME,
			CONVERT(VARCHAR(10), PS.TRAINING_DATE_FROM, 126) AS TRAINING_DATE_FROM,
			CONVERT(VARCHAR(10), PS.TRAINING_DATE_TO, 126) AS TRAINING_DATE_TO,
			CONVERT(VARCHAR(10), PS.OJD_DATE_FROM, 126) AS OJD_DATE_FROM,
			CONVERT(VARCHAR(10), PS.OJD_DATE_TO, 126) AS OJD_DATE_TO,
			PS.TOTAL_PLACEMENT_REQUESTS,
			PS.TOTAL_VOCATION_NEEDS,
			PS.SCHEDULE_APPROVAL_STATUS
		FROM
			TB_R_PLACEMENT_SCHEDULE PS
			INNER JOIN TB_M_SYSTEM_MASTER SM ON CONVERT(VARCHAR(2), PS.PERIOD_WEEK) = SM.SYSTEM_CD AND SM.SYSTEM_TYPE = 'WEEK'
			INNER JOIN TB_M_SYSTEM_MASTER SM2 ON PS.SCHEDULE_APPROVAL_STATUS = SM2.SYSTEM_CD AND SM2.SYSTEM_TYPE = 'PLACEMENT_APPROVAL'
		WHERE PS.PLACEMENT_SCHEDULE_CD = @PLACEMENT_SCHEDULE_CD
END;
GO
