/****** Object:  UserDefinedTableType [dbo].[ORG_RANK_POS]    Script Date: 21/10/2025 09:14:25 ******/
CREATE TYPE [dbo].[ORG_RANK_POS] AS TABLE(
	[ORG_POS_CD] [varchar](20) NULL,
	[ORG_RANK_CD] [varchar](20) NULL,
	[NO] [int] NULL,
	[MALE_MANPOWER] [int] NULL,
	[FEMALE_MANPOWER] [int] NULL,
	[CITY_CD_CRITERIA] [varchar](20) NULL,
	[CITY_CRITERIA] [varchar](255) NULL,
	[HEIGHT_MIN] [int] NULL,
	[HEIGHT_MAX] [int] NULL,
	[WEIGHT_MIN] [int] NULL,
	[WEIGHT_MAX] [int] NULL,
	[MODE] [varchar](10) NULL
)
GO
