/****** Object:  Table [dbo].[TB_M_ORG_COST_CENTER]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_ORG_COST_CENTER](
	[COST_CENTER_CODE] [varchar](6) NOT NULL,
	[COST_CENTER_NAME] [varchar](20) NULL,
	[CREATED_BY] [varchar](64) NULL,
	[CREATED_DT] [datetime] NOT NULL,
	[UPDATED_BY] [varchar](64) NULL,
	[UPDATED_DT] [datetime] NULL,
 CONSTRAINT [PK_TB_M_ORG_COST_CENTER] PRIMARY KEY CLUSTERED 
(
	[COST_CENTER_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_M_ORG_COST_CENTER] ADD  DEFAULT (sysdatetime()) FOR [CREATED_DT]
GO
