/****** Object:  Table [dbo].[TB_R_CLOSING_ATTENDANCE_FEEDBACK]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_R_CLOSING_ATTENDANCE_FEEDBACK](
	[ATTENDANCE_FEEDBACK_CD] [varchar](100) NOT NULL,
	[CLOSING_ATTENDANCE_CD] [varchar](20) NOT NULL,
	[FEEDBACK] [nvarchar](max) NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL,
	[NOREG] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ATTENDANCE_FEEDBACK_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_R_CLOSING_ATTENDANCE_FEEDBACK] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
