/****** Object:  Table [dbo].[TB_M_STATUS]    Script Date: 21/10/2025 09:14:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_M_STATUS](
	[STATUS_CD] [varchar](20) NOT NULL,
	[STATUS_IDENTIFIER] [varchar](15) NULL,
	[STATUS_KEY] [varchar](15) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[REMARK] [varchar](255) NULL,
	[SEQUENCE] [int] NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_DT] [date] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[UPDATED_DT] [date] NULL,
	[UPDATED_BY] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[STATUS_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
