/****** Object:  StoredProcedure [dbo].[SP_MASTER_ORGRANK_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ORGRANK_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'ORG_TITLE',
    @OrderDirection AS VARCHAR(5) = 'ASC',
	@Plant as varchar(150) = '',
	@DIR_ID AS VARCHAR(40) = '',
	@DIV_ID AS VARCHAR(40) = '',
	@DEP_ID AS VARCHAR(40) = '',
	@SEC_ID AS VARCHAR(40) = '',
	@LIN_ID AS VARCHAR(40) = '',
	@GRU_ID AS VARCHAR(40) = '',
    @FILTER AS VARCHAR(100) = ''
AS
BEGIN
    SET NOCOUNT ON;

    IF isnull(@OrderBy,'') = ''
		set @OrderBy = 'ORG_TITLE'
    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
        SELECT ORG_RANK_CD,PLANT,ORG_ID,LEVEL_NAME,ORG_TITLE,UNIT_CODE,COM,DIR,DIR_ID,DIV,DIV_ID,DEP,DEP_ID,SEC,SEC_ID,LIN,LIN_ID,GRU,GRU_ID, PROD_MANPOWER = [On Production], TRAINING_MANPOWER = [Training], OTHER_MANPOWER = [OTHER] FROM
(
SELECT A.ORG_RANK_CD,ORG_ID,PLANT = D.MAIN_LOCATION,LEVEL_NAME,ORG_TITLE,UNIT_CODE,COM,DIR,DIR_ID,DIV,DIV_ID,DEP,DEP_ID,SEC,SEC_ID,LIN,LIN_ID,GRU,GRU_ID,C.DESCRIPTION,C.TOTAL_MANPOWER--,PROD_TOTAL_MANPOWER,TRAINING_TOTAL_MANPOWER,OTHER_TOTAL_MANPOWER
        FROM
            [dbo].[TB_M_ORG_RANK] A INNER JOIN [dbo].[TB_M_PLANT] D ON D.PLANT_CD = A.PLANT LEFT JOIN [dbo].[TB_M_ORG_LEVEL] B ON A.LEVEL_ID = B.LEVEL_ID 
			 left join (SELECT 
						[ORG_RANK_CD]
						,[DESCRIPTION], TOTAL_MANPOWER = ISNULL(MALE_MANPOWER,0)+ISNULL(FEMALE_MANPOWER,0)
					FROM TB_M_ORG_POS A
					INNER JOIN TB_M_LABOR_TYPE B ON A.VOCATION_TYPE = B.LABOR_CD 
					) C ON C.ORG_RANK_CD = A.ORG_RANK_CD WHERE 1=1
)A
PIVOT
(SUM(TOTAL_MANPOWER) FOR [DESCRIPTION] IN ([On Production], 
Training, Other)) AS PivotTable  WHERE 1=1 ';

    IF @FILTER IS NOT NULL AND @FILTER <> ''
        SET @SQL = @SQL + ' AND (
          LEVEL_NAME LIKE ''%'' + @FILTER + ''%'' OR 
		  ORG_TITLE LIKE ''%'' + @FILTER + ''%'' OR 
		  UNIT_CODE LIKE ''%'' + @FILTER + ''%'' OR 
		  COM LIKE ''%'' + @FILTER + ''%'' OR 
		  DIR LIKE ''%'' + @FILTER + ''%'' OR  
		  DIV LIKE ''%'' + @FILTER + ''%''  OR 
		  DEP LIKE ''%'' + @FILTER + ''%''  OR
		  SEC LIKE ''%'' + @FILTER + ''%''  OR 
		  LIN LIKE ''%'' + @FILTER + ''%''  OR
		  GRU LIKE ''%'' + @FILTER + ''%'' 
        )';
	IF @Plant IS NOT NULL AND @Plant <> '' AND @Plant <> '0'
      SET @SQL = @SQL + ' AND PLANT = @Plant ';
    IF @DIR_ID IS NOT NULL AND @DIR_ID <> '' AND @DIR_ID <> '0'
      SET @SQL = @SQL + ' AND DIR_ID = @DIR_ID ';
	IF @DIV_ID IS NOT NULL AND @DIV_ID <> '' AND @DIV_ID <> '0'
      SET @SQL = @SQL + ' AND DIV_ID = @DIV_ID ';
	IF @DEP_ID IS NOT NULL AND @DEP_ID <> '' AND @DEP_ID <> '0'
      SET @SQL = @SQL + ' AND DEP_ID = @DEP_ID ';
	IF @SEC_ID IS NOT NULL AND @SEC_ID <> '' AND @SEC_ID <> '0'
      SET @SQL = @SQL + ' AND SEC_ID = @SEC_ID ';
	IF @LIN_ID IS NOT NULL AND @LIN_ID <> '' AND @LIN_ID <> '0'
      SET @SQL = @SQL + ' AND LIN_ID = @LIN_ID ';
	IF @GRU_ID IS NOT NULL AND @GRU_ID <> '' AND @GRU_ID <> '0'
      SET @SQL = @SQL + ' AND GRU_ID = @GRU_ID ';


    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @Plant varchar(150),@DIR_ID VARCHAR(40),@DIV_ID VARCHAR(40), @DEP_ID VARCHAR(40),@SEC_ID VARCHAR(40),@LIN_ID VARCHAR(40),@GRU_ID VARCHAR(40), @FILTER AS VARCHAR(100)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
		@Plant = @Plant,
		@DIR_ID = @DIR_ID,
		@DIV_ID = @DIV_ID,
		@DEP_ID = @DEP_ID,
		@SEC_ID = @SEC_ID,
		@LIN_ID = @LIN_ID,
		@GRU_ID = @GRU_ID,
		@FILTER = @FILTER;

		--print @OrderBy
END;
GO
