/****** Object:  StoredProcedure [dbo].[SP_ADMIN_PLACEMENT_REQUEST_APPROVE]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_PLACEMENT_REQUEST_APPROVE]
    @PLACEMENT_REQUEST_CD VARCHAR(20),
    @APPROVER VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @RowsAffected INT;
    DECLARE @APPROVAL_SEQ INT;
    DECLARE @TOTAL_APPROVED INT;
    DECLARE @TOTAL_APPROVAL INT;
    DECLARE @PENDING_APPROVAL INT;
    DECLARE @NOREG VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @APPROVER);
    
    SELECT 
      @APPROVAL_SEQ = APPROVER_SEQUENCE 
    FROM TB_R_PLACEMENT_REQUEST_APPROVAL 
      WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD 
      AND APPROVER_NOREG = @NOREG;
      
    SELECT 
      @PENDING_APPROVAL = COUNT(1) 
    FROM TB_R_PLACEMENT_REQUEST_APPROVAL 
    WHERE 
      PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD 
      AND APPROVER_SEQUENCE < @APPROVAL_SEQ 
      AND APPROVAL_STATUS = 0;
    
    IF @PENDING_APPROVAL > 0 BEGIN
      SELECT 'false' AS status, 'Approval requires sequential order.' AS message;
      RETURN;
    END
    
    SELECT @TOTAL_APPROVED = SUM(COALESCE(APPROVAL_STATUS, 0)), @TOTAL_APPROVAL = COUNT(1)
    FROM TB_R_PLACEMENT_REQUEST_APPROVAL 
    WHERE 
      PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD;
    
    
    BEGIN TRANSACTION;
    BEGIN TRY
    
        UPDATE TB_R_PLACEMENT_REQUEST_APPROVAL
        SET APPROVED_DT = GETDATE(),
          APPROVAL_STATUS = '1'
        WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD AND APPROVER_NOREG = @NOREG;
        SET @RowsAffected = @@ROWCOUNT;
       
        IF ((@TOTAL_APPROVED + 1) = @TOTAL_APPROVAL) BEGIN
        
          UPDATE TB_R_PLACEMENT_REQUEST SET 
            REQUEST_APPROVAL_STATUS = '3',
            PROGRES_TRACKING_CD = '4',
            UPDATED_BY = @APPROVER,
            UPDATED_DT = GETDATE() 
          WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD;
          
        END ELSE BEGIN
          UPDATE TB_R_PLACEMENT_REQUEST SET 
            UPDATED_BY = @APPROVER,
            UPDATED_DT = GETDATE()
          WHERE PLACEMENT_REQUEST_CD = @PLACEMENT_REQUEST_CD;
        END
    
				-- TODO: KURANGI DATA DI TB_M_ORG_POS (QTY FEMALE / MALE) BERDASARKAN HASIL COUNT VOCATION DI TB_R_POSITION_REPLACEMENT
            
        IF @RowsAffected > 0
        BEGIN
            COMMIT TRANSACTION;
            -- Mengembalikan respons sukses
            SELECT 'true' AS status, 'Success approve data.' AS message;
        END
        ELSE
        BEGIN
            IF @@TRANCOUNT > 0
            BEGIN
                ROLLBACK TRANSACTION;
            END;
            -- Jika tidak ada baris yang di-update, batalkan transaksi dan kembalikan pesan kesalahan
            -- Mengembalikan respons gagal
            SELECT 'false' AS status, 'No placement request data was found or updated with the provided code.' AS message;
        END

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;
        -- Mengembalikan pesan kesalahan dari sistem
        SELECT 'false' AS status, 'Internal Server Error. ' + ERROR_MESSAGE() AS message;
    END CATCH
END;
GO
