/****** Object:  StoredProcedure [dbo].[SP_ADMIN_ATTENDANCE_GET_DETAIL]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_ATTENDANCE_GET_DETAIL]
    @USERNAME VARCHAR(50),
    @ATTENDANCE_CD VARCHAR(50)
AS
BEGIN
    DECLARE @APPROVER_NOREG VARCHAR(50) = (SELECT NOREG FROM TB_M_USERS WHERE USERNAME = @USERNAME)
    SELECT
        A.ATTENDANCE_CD,
        P.FULL_NAME,
        P.PROFILE_STATUS,
        SYS_PROFILE.SYSTEM_VALUE AS PROFILE_STATUS_NAME,
        A.REGISTRATION_NUMBER,
        A.ATTENDANCE_DATE,
        A.REASON,
        A.SHIFT_CD,
        CONVERT(VARCHAR, A.SHIFT_CLOCK_IN) AS SHIFT_CLOCK_IN,
        CONVERT(VARCHAR, A.SHIFT_CLOCK_OUT) AS SHIFT_CLOCK_OUT,
        CONVERT(VARCHAR, A.CLOCK_IN_TIME) AS CLOCK_IN_TIME,
        CONVERT(VARCHAR, A.CLOCK_OUT_TIME) AS CLOCK_OUT_TIME,
        CONVERT(VARCHAR, A.CLOCK_IN_CORRECTION_TIME) AS CLOCK_IN_CORRECTION_TIME,
        CONVERT(VARCHAR, A.CLOCK_OUT_CORRECTION_TIME) AS CLOCK_OUT_CORRECTION_TIME,
        P.CONTRACT_START,
        P.CONTRACT_END,
        P.CANDIDATE_NUMBER,
        DATEDIFF(DAY, GETDATE(), P.CONTRACT_END) AS TERMINATE_IN,
        AP.APPROVAL_STATUS,
        SYS.SYSTEM_VALUE AS APPROVAL_STATUS_NAME,
        A.ATTENDANCE_STATUS,
        SYS_STS.SYSTEM_VALUE AS ATTENDANCE_STATUS_NAME,
        NXT_ATT.APPROVAL_NAME AS ATT_NEXT_APPROVER_NAME,
        NXT_ATT.APPROVAL_STATUS AS ATT_NEXT_APPROVAL_STATUS,
        NXT_ATT.SYSTEM_VALUE AS ATT_NEXT_APPROVAL_STATUS_NAME,
        U.FULL_NAME AS CREATOR_NAME,
        A.UPDATED_DT AS REQUEST_DATE,
        COALESCE(UD.[GROUP], UD.LINE, UD.SECTION, UD.DEPARTMENT, UD.DIVISION, UD.DIRECTORATE) AS CREATOR_POSITION
    FROM
        TB_R_ATTENDANCE A
    INNER JOIN TB_M_PROFILE P ON A.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER
    LEFT JOIN TB_R_ATTENDANCE_APPROVAL AP ON AP.ATTENDANCE_CD = A.ATTENDANCE_CD AND AP.APPROVER_NOREG = @APPROVER_NOREG
    LEFT JOIN TB_M_SYSTEM_MASTER SYS ON SYS.SYSTEM_CD = AP.APPROVAL_STATUS AND SYS.SYSTEM_TYPE = 'APPROVAL_STATUS'
    LEFT JOIN TB_M_SYSTEM_MASTER SYS_PROFILE ON SYS_PROFILE.SYSTEM_CD = P.PROFILE_STATUS AND SYS_PROFILE.SYSTEM_TYPE = 'PROFILE_STATUS'
    LEFT JOIN TB_M_SYSTEM_MASTER SYS_STS ON SYS_STS.SYSTEM_CD = A.ATTENDANCE_STATUS AND SYS_STS.SYSTEM_TYPE = 'ATTENDANCE_STATUS'
    LEFT JOIN TB_M_USERS U ON A.UPDATED_BY = U.USERNAME
    LEFT JOIN TB_M_USER_DETAIL UD ON U.USER_CD = UD.USER_CD
    LEFT JOIN ( 
    SELECT
      ATTENDANCE_CD,
      ROW_NUMBER () OVER (PARTITION BY ATTENDANCE_CD ORDER BY APPROVAL_STATUS ASC, APPROVER_SEQUENCE ASC) AS RN,
      APPROVER_SEQUENCE,
      APPROVAL_STATUS,
      SYS2.SYSTEM_VALUE,
      U.FULL_NAME AS APPROVAL_NAME
    FROM
      TB_R_ATTENDANCE_APPROVAL AA
      LEFT JOIN TB_M_USERS U ON AA.APPROVER_NOREG = U.NOREG
      LEFT JOIN TB_M_SYSTEM_MASTER SYS2 ON AA.APPROVAL_STATUS = SYS2.SYSTEM_CD AND SYS2.SYSTEM_TYPE = 'APPROVAL_STATUS'
    ) AS NXT_ATT ON A.ATTENDANCE_CD = NXT_ATT.ATTENDANCE_CD AND NXT_ATT.RN=1
    WHERE
        A.ATTENDANCE_CD = @ATTENDANCE_CD;
END;
GO
