/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL_COMMUNICATION]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_GET_PROFILE_DETAIL_COMMUNICATION]
    @REGISTRATION_NUMBER AS VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
      COMMUNICATION_CD,
      REGISTRATION_NUMBER,
      COMMUNICATION_TYPE,
      COMMUNICATION_VALUE,
      COMMUNICATION_REMARKS,
      VALID_FROM,
      VALID_TO
    FROM
      TB_M_PROFILE_COMMUNICATION
    WHERE REGISTRATION_NUMBER = @REGISTRATION_NUMBER
END;
GO
