/****** Object:  StoredProcedure [dbo].[SP_MASTER_EDUCATION_OPTION]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_EDUCATION_OPTION]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT
        EDUCATION_CD AS id,
        EDUCATION_DESC + ' ' + COALESCE(EDUCATION_LEVEL, '') AS text
    FROM
        TB_M_EDUCATION
END
GO
