/****** Object:  StoredProcedure [dbo].[SP_AUTH_CHECK_IF_USER_EXISTS]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AUTH_CHECK_IF_USER_EXISTS]
    @USERNAME AS VARCHAR(100),
    @PASSWORD AS VARCHAR(100),
    -- Parameter opsional untuk menentukan apakah pengguna adalah pengguna internal TMMIN.
    -- '1' untuk pengguna internal, '0' untuk pengguna eksternal (default)
    @IS_INTERNAL_TMMIN AS VARCHAR(10) = '0'
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Memeriksa apakah pengguna adalah pengguna internal TMMIN
    IF @IS_INTERNAL_TMMIN = '1' 
    BEGIN
        -- Logika untuk pengguna internal:
        -- Memeriksa keberadaan pengguna hanya berdasarkan USERNAME.
        -- Kata sandi tidak diperiksa karena otentikasi ditangani
        -- oleh sistem dari HR Portal.
        SELECT COUNT(1) FROM TB_M_USERS U 
        INNER JOIN TB_M_USER_DETAIL UD ON U.USER_CD = UD.USER_CD
        WHERE USERNAME = @USERNAME
        AND COALESCE(IS_ACTIVE, '0') = '1' 
        AND COALESCE(IS_DELETED, '0') = '0' 
        AND GETDATE() BETWEEN VALID_FROM AND VALID_TO
    END 
    ELSE 
    BEGIN
        -- Logika untuk pengguna eksternal:
        SELECT COUNT(1) FROM TB_M_USERS WHERE USERNAME = @USERNAME AND PASSWORD = HASHBYTES('SHA2_256',CONVERT(VARCHAR,@PASSWORD)) 
        AND COALESCE(IS_ACTIVE, '0') = '1' 
        AND GETDATE() BETWEEN VALID_FROM AND VALID_TO
    END
END
GO
