/****** Object:  StoredProcedure [dbo].[SP_ADMIN_VOCATION_GET_INQUIRY]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ADMIN_VOCATION_GET_INQUIRY]
    @PAGE AS INT = 1,
    @PageSize AS INT = 10,
    @OrderBy AS VARCHAR(50) = 'REGISTRATION_NUMBER',
    @OrderDirection AS VARCHAR(5) = 'ASC',
    @TERM AS VARCHAR(100) = NULL,
    @DEPT_ID AS VARCHAR(10) = NULL,
    @DIV_ID AS VARCHAR(10) = NULL,
    @SEC_ID AS VARCHAR(10) = NULL
    
AS
BEGIN
    SET NOCOUNT ON;

    IF @OrderBy NOT IN ('REGISTRATION_NUMBER', 'CANDIDATE_NUMBER', 'FULL_NAME', 'CONTRACT_START', 'CONTRACT_END', 'RECRUITMENT_BATCH', 'TERMINATE_IN', 'PROFILE_STATUS', 'DIVISION', 'DEPARTMENT', 'SECTION', 'LINE', 'GROUP_NAME')
    BEGIN
        SET @OrderBy = 'REGISTRATION_NUMBER';
    END

    IF UPPER(@OrderDirection) NOT IN ('ASC', 'DESC')
    BEGIN
        SET @OrderDirection = 'ASC';
    END

    DECLARE @SQL NVARCHAR(MAX);

    SET @SQL = '
    WITH PaginatedResults AS (
      SELECT
        P.REGISTRATION_NUMBER,
        P.CANDIDATE_NUMBER,
        P.FULL_NAME,
        P.CONTRACT_START,
        P.CONTRACT_END,
        DATEDIFF(DAY, GETDATE(), P.CONTRACT_END) AS TERMINATE_IN,
        P.RECRUITMENT_BATCH,
        SYS_STS.SYSTEM_CD AS PROFILE_STATUS_CD,
        SYS_STS.SYSTEM_VALUE AS PROFILE_STATUS,
        OA.DIVISION,
        OA.DEPARTMENT,
        OA.[SECTION],
        OA.LINE,
        OA.GROUP_NAME
      FROM
        [dbo].[TB_M_PROFILE] P
        LEFT JOIN TB_M_SYSTEM_MASTER SYS_STS ON P.PROFILE_STATUS = SYS_STS.SYSTEM_CD AND SYS_STS.SYSTEM_TYPE = ''PROFILE_STATUS''
        LEFT JOIN TB_R_ORG_ASSIGNMENT OA ON OA.REGISTRATION_NUMBER = P.REGISTRATION_NUMBER AND GETDATE() BETWEEN OA.VALID_FROM AND OA.VALID_TO
      WHERE 1 = 1 
    ';

    IF @TERM IS NOT NULL AND @TERM <> ''
        SET @SQL = @SQL + ' AND (
          P.REGISTRATION_NUMBER LIKE ''%'' + @TERM + ''%'' OR 
          P.CANDIDATE_NUMBER LIKE ''%'' + @TERM + ''%'' OR 
          OA.DIVISION LIKE ''%'' + @TERM + ''%'' OR 
          OA.DEPARTMENT LIKE ''%'' + @TERM + ''%'' OR 
          OA.[SECTION] LIKE ''%'' + @TERM + ''%'' OR 
          OA.LINE LIKE ''%'' + @TERM + ''%'' OR 
          OA.GROUP_NAME LIKE ''%'' + @TERM + ''%'' OR 
          P.FULL_NAME LIKE ''%'' + @TERM + ''%'' OR 
          P.RECRUITMENT_BATCH LIKE ''%'' + @TERM + ''%'')';
          
    IF @DEPT_ID IS NOT NULL AND @DEPT_ID <> ''
        SET @SQL = @SQL + ' AND CONVERT(VARCHAR, OA.DEPARTMENT_ID) = @DEPT_ID';
        
    IF @DIV_ID IS NOT NULL AND @DIV_ID <> ''
        SET @SQL = @SQL + ' AND CONVERT(VARCHAR, OA.DIVISION_ID) = @DIV_ID';    
    
    IF @SEC_ID IS NOT NULL AND @SEC_ID <> ''
        SET @SQL = @SQL + ' AND CONVERT(VARCHAR, OA.SECTION_ID) = @SEC_ID';

    SET @SQL = @SQL + '
    )
    SELECT
        ROW_NUMBER() OVER (ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + ') AS NO,
        *,
        (SELECT COUNT(1) FROM PaginatedResults) AS COUNT
    FROM
        PaginatedResults
    ORDER BY ' + QUOTENAME(@OrderBy) + ' ' + @OrderDirection + '
    OFFSET @Offset ROWS
    FETCH NEXT @FetchNext ROWS ONLY;';

    EXECUTE sp_executesql @SQL,
        N'@Offset INT, @FetchNext INT, @TERM VARCHAR(100), @DEPT_ID VARCHAR(10), @DIV_ID VARCHAR(10), @SEC_ID VARCHAR(10)',
        @Offset = @PAGE,
        @FetchNext = @PageSize,
        @TERM = @TERM,
        @DEPT_ID = @DEPT_ID,
        @DIV_ID = @DIV_ID,
        @SEC_ID = @SEC_ID;
END;
GO
