/****** Object:  StoredProcedure [dbo].[SP_MASTER_ATTRIBUTE_GET_COMBOBOX]    Script Date: 21/10/2025 09:14:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MASTER_ATTRIBUTE_GET_COMBOBOX]
    @TERM AS VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
      ATTRIBUTE_CD AS id, 
      ATTRIBUTE_NAME + ' - ' + ATTRIBUTE_VALUE AS text 
    FROM TB_M_ATTRIBUTES
      WHERE ATTRIBUTE_NAME LIKE '%' + @TERM + '%'
      AND COALESCE(IS_ACTIVE, 1) = 1 
      AND COALESCE(IS_DELETED, 0) = 0
    ORDER BY ATTRIBUTE_NAME + ' - ' + ATTRIBUTE_VALUE ASC;
END
GO
